._form {
	width:400px;/*F*/
	padding:10px 16px!important;
	background:#edeff4;
	color:#6e6e6e;
	font-weight:normal;
	border:1px solid #d1d1d1;
	border-bottom:1px solid #c5c5c5;
	text-shadow:1px 1px 1px #fff;
}
._form #notice {
	margin:10px 0 0 -3px!important;
	padding:0;
	color:#a1a3a8;
	font-size:11px;
	font-family:helvetica,arial,sans-serif;
}
._form #notice a:link, ._form #notice a:visited {
	color:#a1a3a8;
	text-decoration:underline;
}
._form ._field,
._form ._field ._label,
._form ._type_radio,
._form ._type_checkbox,
._form ._type_captcha,
._form ._field table {
	background:none;
}
._form ._field  {
	position:relative;
	width:100%;
	cursor:default;
	font-style:normal;
	margin:0 0 0.8em!important;
	padding:0!important;
	overflow:hidden;
}
._form ._field input[type="text"],
._form ._field input[type="email"] {
	width:97%;
	margin:0!important;
	padding:4px!important;
	font-size:12px;
	background:#fff;
	border:1px solid #c9d4ed;
	border-top:1px solid #c0cbe3;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
._form ._field ._label {
	margin:0 0 0.6em!important;
	color:#203360;
	font-size:12px;
	font-family:verdana,arial,sans-serif;
	font-weight:700;
}
._form ._field ._option {
	margin:0;
	padding:0;
	color:#646464;
	font-size:13px;
	font-family:helvetica,arial,sans-serif;
	font-weight:normal;
	line-height:20px;
}
._form ._type_header ._label {
	width:100%;
	font-style:normal;
	font-size:18px!important;
	line-height:24px;
	color:#203360;
	margin:0 0 5px!important;
	padding:0 0 10px!important;
	overflow:hidden;
	background:none;
	border-bottom:1px solid #e0e0e0;
}
._form ._type_input ._option  textarea{
	width:98%!important;
	background:#fff;
	border:1px solid #c9d4ed;
	border-top:1px solid #c0cbe3;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
._form ._type_input ._option input[type="submit"],
._form ._type_input ._option input[type="button"] {
	width:auto;
	margin:10px 0 0!important;
	padding:2px 15px!important;
	cursor:pointer;
	font-family:verdana,arial,sans-serif;
	font-weight:700;
	font-size:12px;
	color:#fff;
	background:#72ac58 url(images/btn_bg.gif) repeat-x 0 0;
	border:1px solid #3b6e22;
	border-bottom:1px solid #2c5115;
	text-align:center;
}
._form ._type_input ._option input[type="submit"]:hover,
._form ._type_input ._option input[type="button"]:hover {
	background:#689d51 url(images/btn_bg.gif) repeat-x 0 0;
}
._form ._type_date ._option input[type="text"] {
	float:left;
	width:100px;
}
._form ._type_radio {
	background:none;
}
._form ._type_radio ._option label {
	display:inline;
	font-size:12px;
	font-weight:normal;
	line-height:22px;
	color:#646464;
}
._form ._type_radio ._option label input[type="radio"] {
	position:relative;
	width:13px;
	height:13px;
	margin:-4px 0 0!important;
	cursor:pointer;
	vertical-align:middle;
	background:#fff;
	border:none;
}
._form ._type_date ._option input[type="button"] {
	width:27px;
	height:27px;
	margin:0 0 0 5px!important;
	padding:-2px 0 0!important;
	background:url(images/icon_calendar.png) no-repeat;
	border:none;
	outline:none;
	text-indent:-9999px;
}
._form ._type_date ._option input[type="button"]:hover {
	background:url(images/icon_calendar.png) no-repeat;
}
._form ._field ._option select {
	display:block;
	margin:0;
	padding:0;
	width:auto;
	font-size:12px;
	border:1px solid #c9d4ed;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
._form ._type_captcha img {
	float:left;
	width:88px;
	height:44px;
	margin:0 6px 0 0;
	border:1px solid #cecece;
}
._form ._type_captcha input[type="text"] {
	float:left;
	margin:0!important;
	width:40%;
	font-size:12px;
}
._form ._field table {
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%!important;
	table-layout:fixed;
	margin-bottom:18px;
	font-size:13px!important;
	border-collapse:collapse;
	border-spacing:0;
}
._form ._field table td {
	padding:0 10px 0 0!important;
	line-height:18px;
	text-align:left;
	font-size:13px!important;
	color:#606060;
}
._form ._type_input ._option  table tbody#_forward_rcpt input {margin:0 0 5px 0!important; width:96%!important;}
._form ._type_input ._option  table tbody#_forward_rcpt img.image_addrcpt {cursor:pointer;}
.form_errors{
	text-align:center;
	font-size:15px;
	margin:10px;
	color:#900;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-bottom:20px;
}
