{if $size == "tiny"}
	{assign var=calendar_div_id value='calendar_month_view_tiny'}
{elseif $size == "small"}
	{assign var=calendar_div_id value='calendar_month_view_small'}
{else}
	{assign var=calendar_div_id value='calendar_month_view'}
{/if}

<div id="{$calendar_div_id}">

	<table cellspacing="0">

		<thead>

			<tr id="title">

				<th colspan="1" style="border-right: 0;">

					<a href="#" id="previous_link">&#171; {"Previous"|alang}</a>

				</th>

				<th colspan="1" style="border-left: 0; border-right: 0;">

				</th>

				<th colspan="3" id="date_header_display" style="border-left: 0; border-right: 0;"></th>

				<th colspan="1" style="border-left: 0; border-right: 0;"></th>
				<th colspan="1" style="border-left: 0;"><a href="#" id="next_link">{"Next"|alang} &#187;</a></th>

			</tr>

			<tr id="days">

				<th id="days-sun" class="sun">{"Sunday"|alang}</th>
				<th id="days-mon" class="mon">{"Monday"|alang}</th>
				<th id="days-tue" class="tue">{"Tuesday"|alang}</th>
				<th id="days-wed" class="wed">{"Wednesday"|alang}</th>
				<th id="days-thu" class="thu">{"Thursday"|alang}</th>
				<th id="days-fri" class="fri">{"Friday"|alang}</th>
				<th id="days-sat" class="sat">{"Saturday"|alang}</th>

			</tr>

		</thead>

		<tbody>

			<tr>
				<td id="cell0"></td>
				<td id="cell1"></td>
				<td id="cell2"></td>
				<td id="cell3"></td>
				<td id="cell4"></td>
				<td id="cell5"></td>
				<td id="cell6"></td>
			</tr>

			<tr>
				<td id="cell7"></td>
				<td id="cell8"></td>
				<td id="cell9"></td>
				<td id="cell10"></td>
				<td id="cell11"></td>
				<td id="cell12"></td>
				<td id="cell13"></td>
			</tr>

			<tr>
				<td id="cell14"></td>
				<td id="cell15"></td>
				<td id="cell16"></td>
				<td id="cell17"></td>
				<td id="cell18"></td>
				<td id="cell19"></td>
				<td id="cell20"></td>
			</tr>

			<tr>
				<td id="cell21"></td>
				<td id="cell22"></td>
				<td id="cell23"></td>
				<td id="cell24"></td>
				<td id="cell25"></td>
				<td id="cell26"></td>
				<td id="cell27"></td>
			</tr>

		</tbody>

		<tbody>

			<tr>
				<td id="cell28"></td>
				<td id="cell29"></td>
				<td id="cell30"></td>
				<td id="cell31"></td>
				<td id="cell32"></td>
				<td id="cell33"></td>
				<td id="cell34"></td>
			</tr>

		</tbody>

		<tbody>

			<tr>
				<td id="cell35"></td>
				<td id="cell36"></td>
				<td id="cell37"></td>
				<td id="cell38"></td>
				<td id="cell39"></td>
				<td id="cell40"></td>
				<td id="cell41"></td>
			</tr>

		</tbody>

	</table>

</div>

<div id="calendar_day_view" class="ac_hidden">

	<p><a href="#" onclick="calendar_hide_day()">{"&#171; Back to Month view"|alang}</a></p>

	<table width="100%">

		<tr>
			<th id="calendar_day_view_dayname" colspan="2"></th>
		</tr>

		<tr>
			<th rowspan="2" width="50">{"All Day"|alang}</th>
			<td id="events00" class="event1"><strong>{"Events:"|alang}</strong></td>
		</tr>

		<tr>
			<td id="tasks00" class="event2"><strong>{"Tasks:"|alang}</strong></td>
		</tr>

		{section name=foo loop=24}

			{assign var="loop_counter" value=$smarty.section.foo.iteration-1}

			{if $loop_counter == 0}

				{assign var="hour" value=12}
				{assign var="ap" value="am"}

			{elseif $loop_counter > 11}

				{if $loop_counter == 12}

					{assign var="hour" value=12}

				{else}

					{assign var="hour" value=$loop_counter-12}

				{/if}

				{assign var="ap" value="pm"}

			{else}

				{assign var="hour" value=$loop_counter}
				{assign var="ap" value="am"}

			{/if}

			<tr>
				<th rowspan="2" width="50">{$hour}{$ap}</th>
				<td id="top{$loop_counter}">&nbsp;</td>
			</tr>

			<tr>
				<td id="bottom{$loop_counter}">&nbsp;</td>
			</tr>

		{/section}

	</table>

</div>