<div id="log" class="ac_modal{*_log*}" align="center" style="display: none">
  <div class="ac_modal_inner">
    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="ac_dom_toggle_display('log', 'block'); ac_ui_anchor_set(cron_list_anchor())" />
    </div>
	<p>
		{"This page will show you the activity for all of the possible files that can be executed through a cron."|alang}
		{"By looking at this information you can see if your cronjobs are setup properly."|alang}
		{"Every time the cron file ran in the past 14 days will be listed."|alang}
	</p>
    <div>{"Log Entries:"|alang} <span id="log_count"></span></div>
    <br />
    <ol id="log_list" class="ac_hidden"></ol>
    <div id="log_empty" class="ac_block">{"File did not ever run."|alang}</div>
    <br />
	<p>
		<em>{"Please note that it is normal for cronjobs to have no ending time."|alang}</em>
	</p>
    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="ac_dom_toggle_display('log', 'block'); ac_ui_anchor_set(cron_list_anchor())" />
    </div>
  </div>
</div>
