{if !$errorLog}
<h1>{"Error Logs"|alang}</h1>
<h2>{"Errors Trapped: %d"|alang:$errorsCnt}</h2>
<h2>{"Unique Files: %d"|alang:$errors_filenameCnt}</h2>
<div class="h2_content">

	{foreach from=$errors_filename key=rf item=f}
		<h3 style="margin-top: 30px;">{$f}</h3>
		{foreach from=$errors item=e}
			{if $e.filename == $rf}
				<div class="trapperr" style="border: 1px solid #800000; padding: 4px; margin: 10px; width: 100%;">
					<i>{"File Location"|alang}:</i> <b>{$e.filename}</b><br />
					<i>{"Line"|alang}:</i> <b>{$e.linenum}</b><br />
					<span style="background-color: #ff6;"><i>{"Message"|alang}:</i> <b>{$e.errmessage}</b></span><br />
					<i>{"Error Type"|alang}:</i> <b>{$errorTypes[$e.errnumber]}</b>, <i>Error Number:</i> <b>{$e.errnumber}</b><br />
					<i>{"Address"|alang}:</i> <a href="{$e.url}" target="_blank">{$e.url}</a><br />
					<i>{"Session"|alang}:</i> <b>{$e.session}</b><br />
					<i>{"User"|alang}:</i> <b>{$e.userid}</b><br />
					<i>{"Host"|alang}:</i> <b>{$e.host}</b>, <i>{"IP"|alang}:</i> <b>{$e.ip}</b><br />
					<i>{"Referer"|alang}:</i> <b>{$e.referer}</b><br />
					<i>{"Date"|alang}:</i> <b>{$e.tstamp}</b><br />
					<a href="main.php?action=errorslog&id={$e.id}">{"Detailed"|alang}</a>
					&middot;
					<a href="main.php?action=errorslog&del={$e.id}" onclick="return confirm('{"Are you sure?"|alang|js}');">{"Remove"|alang}</a>
				</div>
			{/if}
		{/foreach}
	{/foreach}
	
	{foreach from=$errors item=e}

	{foreachelse}
		<div class="warning">{"No errors found so far."|alang}</div>
	{/foreach}
	
	{if $errorsCnt}
		<div>
			<a href="main.php?action=errorslog&del=-1" onclick="return confirm('{"Are you sure?"|alang|js}');">{"Remove All"|alang}</a>
		</div>
	{/if}
</div>

{else}

<h1>{"Showing Error"|alang}</h1>

<div class="trapperr" style="border: 1px solid #800000; padding: 4px; margin: 10px; width: 100%;">
	<i>{"File Location"|alang}:</i> <b>{$errorLog.filename}</b><br />
	<i>{"Line"|alang}:</i> <b>{$errorLog.linenum}</b><br />
	<i>{"Message"|alang}:</i> <b>{$errorLog.errmessage}</b><br />
	<i>{"Error Type"|alang}:</i> <b>{$errorTypes[$errorLog.errnumber]}</b>, <i>Error Number:</i> <b>{$errorLog.errnumber}</b><br />
	<i>{"Address"|alang}:</i> <a href="{$errorLog.url}" target="_blank">{$errorLog.url}</a><br />
	<i>{"Session"|alang}:</i> <b>{$errorLog.session}</b><br />
	<i>{"User"|alang}:</i> <b>{$errorLog.userid}</b><br />
	<i>{"Host"|alang}:</i> <b>{$errorLog.host}</b>, <i>{"IP"|alang}:</i> <b>{$errorLog.ip}</b><br />
	<i>{"Referer"|alang}:</i> <b>{$errorLog.referer}</b><br />
	<i>{"Date"|alang}:</i> <b>{$errorLog.tstamp}</b><br />
{if $errorLog.lines}
	<div class="trapperr_code" id="trapperr{$errorLog.id}code" style="border: 1px solid Black; margin: 4px 0;">
		<i>{"Code"|alang}:</i><br />
{foreach from=$errorLog.lines item=l}
		<pre style="margin:2px;;color:#{if $l.err}800{else}ccc{/if};">{$l.row|escape:'html'}</pre>
{/foreach}
	</div>
{/if}
	<a href="javascript:void(0)" onclick="var x = document.getElementById('trapperr{$errorLog.id}vars'); x.style.display = (x.style.display=='none' ? 'block' : 'none')">{"Vars"|alang}</a> &middot;
	<a href="javascript:void(0)" onclick="var x = document.getElementById('trapperr{$errorLog.id}trace'); x.style.display = (x.style.display=='none' ? 'block' : 'none')">{"Trace"|alang}</a> &middot;
	<a href="main.php?action=errorslog&del={$errorLog.id}" onclick="return confirm('{"Are you sure?"|alang|js}');">{"Remove"|alang}</a><br />
	<div class="trapperr_vars" id="trapperr{$errorLog.id}vars" style="display: none; border: 1px solid Black; margin: 4px 0;">
		<i>{"Vars"|alang}:</i><br />
		<pre>{$errorLog.vars}</pre>
	</div>
	<div class="trapperr_trace" id="trapperr{$errorLog.id}trace" style="display: none; border: 1px solid Black; margin: 4px 0;">
		<i>{"Backtrace"|alang}:</i><br />
		<pre>{$errorLog.backtrace}</pre>
	</div>
</div>

<div>
	<a href="main.php?action=errorslog">{"View All"|alang}</a>
</div>

{/if}