<div id="delete" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <span id="delete_message"></span>
    <br />
    <ul id="delete_list"></ul>
    <br />
	<div>
	  {"You can automatically add users to another group to take the place of this group.  If you want to do this, make your choice below."|alang}
	  <br/>
	  <br/>
	  <select id="delete_alt">
	  </select>
	  <br/>
	  <br/>
	  {"If you choose no group, any users who only belong to the deleted group will be assigned either to the default admin or user groups."|alang}
	  <br/>
	  <br/>
	</div>
    <div>
      <input type="button" class="ac_button_ok" value="{"OK"|alang}" onclick="group_delete(group_delete_id)" />
      <input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="ac_dom_toggle_display('delete', 'block'); ac_ui_anchor_set(group_list_anchor())" />
    </div>
  </div>
</div>
