<div id="list" class="ac_hidden">
  <form action="main.php?action=group" method="GET" onsubmit="group_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="ac_table_header_options">
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="group_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="group_list_clear()" />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td width="50">{"Options"|alang}</td>
		  <td>{ac_sortcol action="group" id="01" label="Title"|alang}</td>
		</tr>
      </thead>
      <tbody id="list_table">
      </tbody>
      <tbody id="list_noresults" class="ac_hidden">
        <tr>
          <td colspan="2" align="center">
            <div>{"Nothing found."|alang}</div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="2" align="left">
          <div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
            {"Loading. Please wait..."|alang}
          </div>
          <span id="selectXPageAllBox" class="ac_hidden">
            <span class="ac_hidden">{"All items are now selected."|alang}</span>
            <span class="ac_hidden">{"All items on this page are now selected."|alang}</span>
            <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all items."|alang}</a>
          </span>
        </td>
        <td align="right">&nbsp;
        </td>
      </tfoot>
    </table>

	  <div style="float:right;">{include file="pagination.js.tpl.htm" tabelize="group_list_tabelize" paginate="group_list_paginate"}</div>

  </form>


  {if $_group_can_add and !$demoMode}
  <input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
  {/if}
  {if $_group_can_delete and !$demoMode}
  <input type="button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
  {/if}
</div>
