{include file="message.tpl.htm"}

<h1>Plugin Manager</h1>
<div class="tab_nav"><a href="main.php?action=plugins">{"Plugins"|alang}</a> <a href="main.php?action=plugins&mode=hooks"><strong>{"Hooks"|alang}</strong></a></div>

<script type="text/javascript">
  var str = "Are you sure you want to delete this hook?  This action cannot be undone!";

  {literal}
  function delete_double_check() {
    return confirm(str);
  }
  {/literal}
</script>

<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tr class="row_header">
    <td>{"Options"|alang}</td>
    <td>{"Hook Location"|alang}</td>
    <td>{"Plugin"|alang}</td>
    <td>{"Priority"|alang}</td>
    <td>{"Description"|alang}</td>
    <td>{"Status"|alang}</td>
  </tr>
  {foreach from=$hooks item=h}
  <tr class="row_normal">
    <td>
      <a href="main.php?action=plugins&mode=edithook&id={$h.id}">Edit</a>
      <a href="main.php?action=plugins&mode=delhook&id={$h.id}" onclick="return delete_double_check();">Delete</a>
      <a href="{$site.p_link|html}/ac_global/functions/xml_export.php?hookid={$h.id}">Export</a>
    </td>
    <td>{$h.call|html}</td>
    <td>{$h.group|default:"None"|html}</td>
    <td>{$h.priority|default:'0'|html}</td>
    <td>{$h.description|html}</td>
    <td>{$h.status|capitalize|html}</td>
  </tr>
  {/foreach}
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="175"><form action="main.php" method="post">
      <input type="submit" value="Add Hook"/>
      <input type="hidden" name="action" value="{$get.action|html}" />
      <input type="hidden" name="mode" value="addhook" />
    </form></td>
    <td align="right"><form action="main.php" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Import" />
      <input type="hidden" name="action" value="{$get.action|html}" />
      <input type="hidden" name="mode" value="importhook" />
    </form></td>
  </tr>
</table>
