{* load javascript *}
<script>
{include file="import.js"}
</script>


<h1>{$pageTitle}</h1>

{if isset($import_header_template)}
	{if $import_header_template != ''}
    	{include file=$import_header_template}
   	{/if}
{/if}


<div id="import_area">

<form id="importRunForm" action="import.php?action={$importer}" method="post" target="importRunFrame">

<div id="import_src" class="ac_block">

<div class="h2_wrap_static">
	<h2>{"Import Options"|alang}</h2>
	<div id="importOptionsBox" class="h2_content">
		<div id="importIntoBox" class="ac_block">
{if count($rels) > 0}
			<h3 style="margin-top:0px;">{"Import Into"|alang}</h3>
{if $multiDestination}
			<select name="relid" id="relidField" onchange="import_relid_change(ac_form_select_extract(this));" size="10" multiple="multiple" style="width:415px; height:100px;">
{foreach from=$rels item=v key=k}
				<option value="{$k}" title="{$v|escape}">{$v|escape:'html'}</option>
{/foreach}
{else}
			<select name="relid" id="relidField" onchange="import_relid_change(ac_form_select_extract(this));">
				<option value="0">{"Select One"|alang}</option>
				{html_options options=$rels}
{/if}
			</select>
{if $multiDestination}
			{"Notice: Hold CTRL to select multiple destinations."|help}
			<div>
				{"Select:"|alang}
				<a href="#" onclick="ac_form_select_multiple_all($('relidField')); import_relid_change(ac_form_select_extract($('relidField'))); return false;">{"All"|alang}</a>
				&middot;
				<a href="#" onclick="ac_form_select_multiple_none($('relidField')); import_relid_change(ac_form_select_extract($('relidField'))); return false;">{"None"|alang}</a>
			</div>
{/if}
{else}
			<input type="hidden" name="relid" id="relidField" value="{$relid}" />
{/if}
		</div>


{if isset($import_destinations_template)}
	{if $import_destinations_template != ''}
    	{include file=$import_destinations_template}
   	{/if}
{/if}


		<h3>{"Import Settings"|alang}</h3>
		<div id="importOptions">
{foreach from=$opts item=o}
			<div id="importOption_{$o.id}" class="{if isset($o.hidden) and $o.hidden}ac_hidden{else}ac_block{/if}">
				<label>
					<input type="checkbox" name="import_option_{$o.id}" id="import_option_field_{$o.id}" value="1" {if isset($o.checked) and $o.checked}checked="checked"{/if} {if isset($o.disabled) and $o.disabled}disabled="disabled"{/if} />
{if isset($o.checked) and $o.checked and isset($o.disabled) and $o.disabled}
					<input type="hidden" name="import_option_{$o.id}" id="import_option_field_real_{$o.id}" value="1" />
{/if}
					{$o.name}
				</label>
{if $o.descript != ''}
				{$o.descript|help}
{/if}
			</div>
{/foreach}
		</div>

	</div>
</div>
<br />

<div class="h2_wrap_static">
	<h2>{"Import Source"|alang}</h2>
	<div id="importSourcesBox" class="h2_content">

		<input id="import_type" name="type" type="hidden" value="text" />
{*
		<div class="tab_nav">
			<ul class="navlist">
				<li id="import_tab_file" class="currenttab"><a href="#" onclick="import_src('file');return false;">{"Import from a file"|alang}</a></li>
				<li id="import_tab_text" class="othertab"><a href="#" onclick="import_src('text');return false;">{"Import using copy/paste"|alang}</a></li>
			</ul>
		</div>
*}


		{* IMPORT FILE *}
		<h3 id="import_tab_file" class="currenttab">
			<label>
				<input type="radio" name="source1" value="file" onclick="import_src(this.value);" />
				{"Import from a file"|alang}
			</label>
		</h3>
		<div id="import_src_file" class="ac_hidden" style="margin-left:26px;">
			{ac_upload id='import_file' name='import_file' action=$importer limit=1}
			<div style="float:right; color:#999999;">
				{"Recommended for large scale imports"|alang}
			</div>
			<div id="importOptionDelimiter_file">

				<select name="delimiter_file">
					<option value="comma">{"Delimiter: Comma"|alang}&nbsp;&nbsp;,</option>
					<option value="semicolon">{"Delimiter: Semicolon"|alang}&nbsp;&nbsp;;</option>
					<option value="tab">{"Delimiter: Tab"|alang}&nbsp;&nbsp;\t</option>
				</select>
				{"This is the character that separates the fields within the file. Usually this is a comma."|help}
			</div>
		</div>

		<hr size="1" width="100%" noshade />

		{* IMPORT TEXT *}
		<h3 id="import_tab_text" class="othertab">
			<label>
				<input type="radio" name="source1" value="text" onclick="import_src(this.value);" />
				{"Import using copy/paste"|alang}
			</label>
		</h3>
		<div id="import_src_text" class="ac_hidden" style="margin-left:26px;">
			<div>
				<textarea id="import_text" name="import_text" cols="65" rows="12" style="width:99%"></textarea>
			</div>
			<div style="float:right; color:#999999;">
				{"Recommended for small scale imports"|alang}
			</div>
			<div id="importOptionDelimiter_text">

				<select name="delimiter_text">
					<option value="comma">{"Delimiter: Comma"|alang}&nbsp;&nbsp;,</option>
					<option value="semicolon">{"Delimiter: Semicolon"|alang}&nbsp;&nbsp;;</option>
					<option value="tab">{"Delimiter: Tab"|alang}&nbsp;&nbsp;\t</option>
				</select>
				{"This is the character that separates the fields within the file. Usually this is a comma."|help}
			</div>

		</div>


	</div>
</div>

</div>



<div id="import_map" class="ac_hidden">

  <div class="h2_wrap_static">
    <h2>{"Select Fields to Map"|alang}</h2>
    <div id="syncFieldsBox" class="h2_content">

      <div class="ac_help_inline">{"Select which fields you wish to synchronize to their destinations."|alang}</div>

      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr class="ac_table_header">
          <td width="250">{"Your External Database"|alang}</td>
          <td>{"Map Into Field"|alang}</td>
        </tr>
        <tbody id="mappingTable"></tbody>
      </table>

    </div>
  </div>
</div>



<div id="import_run" class="ac_hidden">
	<div>
		<input name="test" type="hidden" value="0" id="importRunType" />
		<div id="importRunNotice" align="center">
			<div id="progressBar" class="ac_progressbar" align="left"></div>
			<div>{"Your import has been started... "|alang}</div><br />
			<div style="color:#999999;">{"You can monitor the progress here or leave this page and let it run in the background."|alang}</div>

		</div>
		<iframe id="importRunFrame" name="importRunFrame" class="ac_hidden" width="100%" height="300" scrolling="auto" src="about:blank" border="0" style="border:0px;"></iframe>
		<script>/* register iframe for autoexpand here */</script>
		<div id="importRunResult" class="ac_hidden" align="center">
			<div>{"Your import has been completed."|alang}</div><br />
			{if isset($site.is12all)}
			<div>
				<a href="main.php?action=subscriber">{"Manage Subscribers"|alang}</a>
				&nbsp; | &nbsp;
				<a href="main.php?action=subscriber_import">{"Import More Subscribers"|alang}</a>
				&nbsp; | &nbsp;
				<a href="#" onclick="return import_report();">{"View Report"|alang}</a>
			</div>
			{elseif isset($site.ishd)}
			<div>
				<a href="main.php?action=user">{"Manage Users"|alang}</a>
				&nbsp; | &nbsp;
				<a href="main.php?action=user_import">{"Import More Users"|alang}</a>
				&nbsp; | &nbsp;
				<a href="#" onclick="return import_report();">{"View Report"|alang}</a>
			</div>
			{/if}
		</div>
	</div>
</div>



</form>

</div>



<div id="stepsList" style="float: right;">
	{"Step:"|alang}
	<span id="step_src" class="currentstep">1</span>
	<span id="step_map" class="otherstep">2</span>
	<span id="step_run" class="otherstep">3</span>
</div>

<div class="bottom_nav_options" id="buttons">
	<input name="mode" type="hidden" id="modeField" value="import" />
{if !$demoMode}
	<input id="import_test" class="ac_hidden" type="button" value="{"Test"|alang}" onclick="import_next(true);" />
	<input id="import_next" class="ac_button_import" type="button" value="{"Import"|alang}" onclick="import_next(false);" />
{else}
	<span class="demoDisabled2">{"Disabled in demo"|alang}</span>
{/if}
	<input id="import_back" class="ac_hidden" type="button" value="{"Back"|alang}" onclick="import_back();" />
</div>

<div class="ac_hidden" id="backlink">
  {if isset($backlink) and $backlink}
  <a href='{$backlink}'>{"Manage these items"|alang}</a>
  {/if}
</div>
