<div id="checks" class="{if ( !$installer and $step == 4 ) or ( $installer and $step == 1 )}ac_block{else}ac_hidden{/if}">
	<h3>{"System Check"|alang}</h3>

	<form action="{if $installer}install{else}updater{/if}.php" method="post" name="reg" id="checksForm" onsubmit="{if $installer}install{else}updater{/if}_next(); return false;">
		<table border="0" cellspacing="5">
			<tr>
				<th>{"Option"|alang}</th>
				<th>{"Setting"|alang}</th>
				<th>{"Requirement"|alang}</th>
			</tr>
{if $phpProb}
			<tr>
				<td>{"PHP Version"|alang}</td>
				<td>{$systeminfo.phpversion}</td>
				<td>{$requirements.php}</td>
			</tr>
{/if}
{if $sessionProb}
			<tr>
				<td>{"Sessions"|alang}</td>
				<td>{"Do not work"|alang}</td>
				<td>{"Sessions need to be enabled in order for this application to work."|help}</td>
			</tr>
{/if}
{if $disabledFunctions != ''}
			<tr>
				<td valign="top">{"Disabled Functions"|alang}</td>
				<td>{$disabledFunctions|replace:',':'<br />'}</td>
				<td valign="top">{"Please check if any vital function is listed here."|help}</td>
			</tr>
{/if}
{if !$uploadAllowed}
			<tr>
				<td>{"File Uploads"|alang}</td>
				<td>{"Disabled"|alang}</td>
				<td>{"Attachments will be disabled."|help}</td>
			</tr>
{/if}
{if !$gdLib}
			<tr>
				<td>{"GD Library"|alang}</td>
				<td>{"Not Found"|alang}</td>
				<td>{"GD Library is needed to generate images from the application. Most common (and useful) use are CAPTCHA images."|help}</td>
			</tr>
{/if}
{if $safeMode}
			<tr>
				<td>{"Safe Mode"|alang}</td>
				<td>{"ON"|alang}</td>
				<td>
					{"Recommended: OFF"|alang}
					{"With safe mode on, the script will not be able to adjust the server configuration for optimal performance."|help}
				</td>
			</tr>
{if $execProb}
			<tr>
				<td>{"Maximum Execution Time"|alang}</td>
				<td>{$executionLimit}</td>
				<td>
					{"Needed: at least 30"|alang}
					{"Some scripts might not finish the execution within the allowed timeframe, which is set to a value lower than a default PHP value (30 seconds)."|help}
				</td>
			</tr>
{/if}
{if $memProb}
			<tr>
				<td>{"Memory Limit"|alang}</td>
				<td>{$memoryLimit}</td>
				<td>
					{"Needed: at least 64MB"|alang}
					{"Your server is set to allow less memory than this script requires."|help}
				</td>
			</tr>
{/if}
{/if}
{if $postProb}
			<tr>
				<td>{"Maximum POST Size"|alang}</td>
				<td>{$postLimit}</td>
				<td>{"This value is too low, and this server imposed limit cannot be changed."|help}</td>
			</tr>
{/if}
{if $uploadProb}
			<tr>
				<td>{"Maximum Upload File Size"|alang}</td>
				<td>{$uploadLimit}</td>
				<td>{"This value is too low, and this server imposed limit cannot be changed."|help}</td>
			</tr>
{/if}
		</table>

{if $requirementsMet}
		<hr />

		<div>
			<input type="button" value="{'Next &gt;'|alang}" class="ac_button_next" id="checksNext" onclick="{if $installer}install{else}updater{/if}_next();" />
		</div>
{else}
		<div class="ac_error_fatal">
{if $phpProb}
			<div>{"Your PHP version does not meet the minimum requirements."|alang}</div>
{/if}
{if $sessionProb}
			<div>{"Your server does not appear to be handling sessions properly."|alang}</div>
{/if}
{if $execProb}
			<div>{"Your server does not appear to be handling sessions properly."|alang}</div>
{/if}
		</div>
{/if}
	    <input type="submit" style="display:none" />
	</form>
</div>
