{include file="instup.checks.htm" installer=true}



<div id="engine" class="{if $step == 2}ac_block{else}ac_hidden{/if}">
	<h3>{"Database Information"|alang}</h3>

	<div>{"The MYSQL information requested may typically be requested from your web host or system administrator."|alang}</div><br />


	<form action="install.php" method="post" name="reg" id="engineForm" onsubmit="install_next();return false;">

		<div>{"Database Host **"|alang}</div>
		<div><input name="host" type="text" id="engineHost" value="localhost" size="60" tabindex="1" /></div>

		<div>{"Database Name"|alang}</div>
		<div>
			<input name="name" type="text" id="engineName" size="60" tabindex="2" />
			<label>
				<input name="create" type="checkbox" id="engineCreate" value="1" tabindex="6" />
				{"*Create"|alang}
			</label>
		</div>

		<div>{"Database Username"|alang}</div>
		<div><input name="user" type="text" id="engineUser" size="60" tabindex="3" /></div>

		<div>{"Database Password"|alang}</div>
		<div><input name="pass" type="password" id="enginePass" size="60" tabindex="4" /></div>
		<br />
		<div>
			<input type="button" value="{'Next &gt;'|alang}" tabindex="5" class="ac_button_next" id="engineNext" onclick="install_next();" />
		</div>
		<br />
	    <input type="submit" style="display:none" />
	</form>
	<hr />

	<div>{"* If checked the installer will attempt to create the database for you. Should not be checked if the database already exists."|alang}</div>
	<div>{"** This can usually be set to &quot;localhost&quot; by default."|alang}</div>
</div>


<div id="auth" class="{if $step == 3}ac_block{else}ac_hidden{/if}">
	<h3>{"Centralized Authentication"|alang}</h3>


	<p>
		{"%s uses ActiveCampaign's Centralized Authentication to allow it to share login information with other ActiveCampaign products."|alang:$appname}
		{"This allows %s to use existing user accounts from other ActiveCampaign products that support Centralized Authentication."|alang:$appname}
		{"This step is completely optional, and %s can also be configured to run completely standalone."|alang:$appname}
	</p>
	<p>
		{"If you have another product that has been installed with Centralized Authentication turned on, please specify it's database information below."|alang}
		{"Otherwise, choose the \"local\" option."|alang}
		{"Keep in mind that if you choose the \"local\" option and install other ActiveCampaign Software in the future that has support for Centralized Authentication, you can use this %s database as the Centralized Authentication database for those products."|alang:$appname}
	</p>

	<form action="install.php" method="post" name="reg" id="authForm" onsubmit="install_next(); return false;">
		<fieldset>
			<legend>{"Existing"|alang}</legend>
			<div>
				<label>
					<input type="radio" name="authtype" id="authtyperemote" value="remote" onchange="$('remoteauthinfo').className = ( !this.checked ? 'ac_hidden' : 'ac_block' );" />
					{"Use Existing Centralized Authentication Database"|alang}
				</label>
			</div>
			<div id="remoteauthinfo" class="ac_hidden">
				<div>{"Centralized Authentication Database Information"|alang}</div>
				<table border="0" cellspacing="5">
					<tr>
						<td>{"Database Host"|alang}</td>
						<td><input type="text" name="host" id="authHost" value="localhost" /></td>
					</tr>
					<tr>
						<td>{"Database Name"|alang}</td>
						<td><input type="text" name="name" id="authName" /></td>
					</tr>
					<tr>
						<td>{"Database Username"|alang}</td>
						<td><input type="text" name="user" id="authUser" /></td>
					</tr>
					<tr>
						<td>{"Database Password"|alang}</td>
						<td><input type="password" name="pass" id="authPass" /></td>
					</tr>
				</table>
			</div>
		</fieldset>
		<br />
		<fieldset>
			<legend>{"Local"|alang}</legend>
			<div>
				<label>
					<input type="radio" name="authtype" value="local" onchange="$('remoteauthinfo').className = ( this.checked ? 'ac_hidden' : 'ac_block' );" checked />
					{"Use Local Database For Authentication"|alang}
				</label>
			</div>

			{"You should also choose this option if you are setting up a new installation of %s and have no other ActiveCampaign Centralized Authentication Products, or you want this installation of %s to be standalone."|alang:$appname:$appname}

		</fieldset>
<br />

		<div>
			<input type="button" value="{'Next &gt;'|alang}" class="ac_button_next" id="authNext" onclick="install_next();" />
		</div>

	    <input type="submit" style="display:none" />
	</form>
</div>


<div id="settings" class="{if $step == 4}ac_block{else}ac_hidden{/if}">
	<h3>{"Software Settings"|alang}</h3>

	<form action="install.php" method="post" name="reg" id="siteForm" onsubmit="install_next(); return false;">

		<div>{"Specify the main URL of your %s software"|alang:$appname}</div>
		<div><input type="text" name="murl" id="murl" value="{$siteurl}" size="60" tabindex="1" /></div>
		<div>{"Do not include a trailing slash. Example = &quot;http://www.mysite.com/somepath&quot;"|alang}</div>
		<br />

		<div>{"Site Name"|alang}</div>
		<div><input name="site_name" type="text" id="site_name" value="{$sitename}" size="60" tabindex="2" /></div>
<br />

		<div>{"From Email Address"|alang}</div>
		<div><input name="emfrom" type="hidden" id="emfrom" value="{$appid}@{$d_h}" size="60" tabindex="3" /></div>
<br />

		<div>{"Default Time Zone"|alang}</div>
		<div>
			<select name="zoneid" size="1" id="zoneid" tabindex="4">
{foreach from=$timezones item=z}
				<option value="{$z.zoneid}" {$z.zoneid|ac_isselected:'America/Chicago'}>{$z.zoneid} (GMT {$z.offset_format})</option>
{/foreach}
			</select>
		</div>

		<div id="newinstalladmin" class="{if $showAdminBox}ac_block{else}ac_hidden{/if}">
		<br />

			<div>{"Your First Name"|alang}</div>
			<div><input name="firstname" type="text" id="firstname" size="60" tabindex="5" /></div>
<br />

			<div>{"Your Last Name"|alang}</div>
			<div><input name="lastname" type="text" id="lastname" size="60" tabindex="6" /></div>
<br />

			<div>{"Your E-mail Address"|alang}</div>
			<div><input name="email" type="text" id="email" size="60" tabindex="7" /></div>
		</div>

		<div id="oldinstalladmin" class="{if !$showAdminBox}ac_block{else}ac_hidden{/if}">
			<br />{"Enter your current admin password in order to continue the installation."|alang}
		</div>
<br />

		<div>{"Your Admin Username"|alang}</div>
		<div><input name="username" type="text" id="adminusername" size="60" value="admin" tabindex="8" readonly disabled="disabled" /></div>
<br />

		<div>{"Your Admin Password"|alang}</div>
		<div><input name="password" type="password" id="adminpassword" size="60" tabindex="9" /></div>

<br />

		<div>
			<input type="button" value="{'Next &gt;'|alang}" class="ac_button_next" id="settingsNext" tabindex="10" onclick="install_next();" />
		</div>

	    <input type="submit" style="display:none" />
	</form>
</div>

<div id="installer" class="ac_hidden">
	<h3>{"Installing %s"|alang:$appname}</h3>
	<iframe id="installeriframe" frameborder="0" marginheight="0" marginwidth="0" src="about:blank" width="100%" height="400"></iframe>
{if $subapps}
	<iframe id="subinstalleriframe" frameborder="0" marginheight="0" marginwidth="0" src="about:blank" width="100%" height="400" style="display:none;"></iframe>
{/if}
</div>
