{ac_js lib="really/simplehistory.js" base=$site.p_link}
<script type="text/javascript">
  {include file="loginsource.js"}
</script>

{if isset($loginsource_usersettings_header)}
	{include file="user-settings.header.inc.htm" userpage='loginsource'}
{else}
	<h1>{"Login Sources"|alang}</h1>
{/if}

{include file="loginsource.list.htm"}
{include file="loginsource.form.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(loginsource_process, true);
</script>
