<div class="warning">{"You do not have needed privileges to access this page."|alang}</div>

<p>
<input type="button" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1);">
<input type="button" class="ac_button_home" value="{"Home"|alang}" onclick="top.location = 'main.php';">
</p>
