<div class="resultMessage">{"You do not have needed privileges to access this page."|alang}</div>

<div class="bottom_nav_options">
	<input class="ac_button_back" type="button" value="{"Back"|alang}" onclick="window.history.go(-1);" />
	<input class="ac_button_home" type="button" value="{"Home"|alang}" onclick="jump('main.php');" />
</div>
