{ac_js lib="really/simplehistory.js" base=$site.p_link}
<script type="text/javascript">
  {include file="privatemessage.js"}
</script>

<h1>{"Private Messages"|alang}</h1>

{include file="privatemessage.list.htm"}
{include file="privatemessage.form.htm"}
{include file="privatemessage.delete.htm"}
{include file="privatemessage.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(privatemessage_process, true);
</script>
