<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="privatemessage_form_save(privatemessage_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
    <div id="view">
    	{*<h2 id="view_h2">{"View Message"|alang}</h2>*}
	    <table border="0" cellspacing="0" cellpadding="5" class="privatemessage_view">
	    	<tr>
	    		<th width="150">{"From:"|alang}</th>
	    		<td id="form_from_view"></td>
	    	</tr>
	     	<tr>
	    		<th>{"To:"|alang}</th>
	    		<td id="form_to_view"></td>
	    	</tr>
	     	<tr>
	    		<th>{"Sent:"|alang}</th>
	    		<td id="form_sent_view"></td>
	    	</tr>
	      <tr>
	    		<th>{"Subject:"|alang}</th>
	    		<td id="form_title_view"></td>
	    	</tr>
	      <tr>
	    		<th valign="top">{"Message:"|alang}</th>
	    		<td id="form_content_view"></td>
	    	</tr>
	    </table>
    </div>
    <div id="thread" class="ac_hidden">
    	<h2 id="thread_h2">{"Thread"|alang}</h2>
    </div>
    <div id="reply">
    	{*<h2 id="reply_h2">{"Reply"|alang}</h2>*}
	    <table border="0" cellspacing="0" cellpadding="5">
		 	  <tr>
					<td width="150"><b>{"Username of Recipient:"|alang}</b></td>
					<td>
						{include file="autocomplete.inc.htm" fieldPrefix="user" fieldAction="admin" fieldID="authorFilter" fieldName="author_autocomplete" fieldValue=$username}
						{"Begin typing their name and live results will be displayed."|help}
					</td>
			  </tr>
		 	  <tr>
					<td><b>{"Subject:"|alang}</b></td>
					<td><input type="text" name="title" id="form_title" style="width:175px;"/></td>
			  </tr>
		 	  <tr>
					<td valign="top"><b>{"Message:"|alang}</b></td>
					<td>
						{include file="tinymce.htm" js="0" id="content" name="content" ishtml=1 navlist=0 content="" width="600px" height="200px"}
					</td>
			  </tr>
	    </table>
		</div>
    <br />
    <div>
      <input type="button" id="form_submit" class="ac_button_submit" value="{"Send"|alang}" onclick="privatemessage_form_save(privatemessage_form_id)" />
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="privatemessage_form_history_back();" />
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>
