{* load javascript *}
<script>
<!--
{if !ac_site_is12all5() and !ac_site_isknowledgebuilder() and !ac_site_issupporttrio3()}
{include file="ac_strings.js"}
{/if}
{include file="settings_mail.js"}
-->
</script>

{include file="error.mailer.htm"}

{if isset($site.brand_links) and $site.brand_links}
	<div style="float:right; margin-top:-5px;"><strong><a href="http://activecampaign.smtp.com/" target="_blank" style="color:#009900">{"Need an SMTP server?"|alang}</a></strong><a href="http://activecampaign.smtp.com/" target="_blank" style="color:#009900; text-decoration:none;"> - {"Send email hassle free without delays & ISP limits"|alang}</a></div>
{/if}

<h1>{"Mail Sending Options"|alang} <span id="action2title"></span></h1>


<a name="list"></a>
{if $rotator}
<form>
<div id="mailconnList" class="h2_wrap">

<div class="h2_content">
{* LIST *}
<table width="100%"  border="0" cellspacing="0" cellpadding="0" id="mailconnListTable">
  <thead>
  <tr class="ac_table_header">
    <td align="center" width="20">
      <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onchange="ac_form_check_all(this);" />
    </td>
    <td width="16">&nbsp;</td>
    <td width="50">{"Options"|alang}</td>
    {* sorting example: <td><a href="{$this_link}mailconnsort=01{if $mailconnsort == '01'}D{/if}" style="background:url({if $mailconnsort == '01D'}images/desc.gif{/if}{if $mailconnsort == '01'}images/asc.gif{/if}); background-position:right; background-repeat:no-repeat;">{"Title"|alang}</a></td> *}
    <td width="55"><a href="#" id="sorter01" onclick="return mailconn_sort('01');" class="{if $mailconnsort == '01'}ac_sort_asc{elseif $mailconnsort == '01D'}ac_sort_desc{else}ac_sort_other{/if}">{"Type"|alang}</a></td>
    <td><a href="#" id="sorter02" onclick="return mailconn_sort('02');" class="{if $mailconnsort == '02'}ac_sort_asc{elseif $mailconnsort == '02D'}ac_sort_desc{else}ac_sort_other{/if}">{"Host"|alang}</a></td>
    <td><a href="#" id="sorter03" onclick="return mailconn_sort('03');" class="{if $mailconnsort == '03'}ac_sort_asc{elseif $mailconnsort == '03D'}ac_sort_desc{else}ac_sort_other{/if}">{"User"|alang}</a></td>
    <td width="100"><a href="#" id="sorter04" onclick="return mailconn_sort('04');" class="{if $mailconnsort == '04'}ac_sort_asc{elseif $mailconnsort == '04D'}ac_sort_desc{else}ac_sort_other{/if}">{"Emails Per Cycle"|alang}</a></td>
  </tr>
  </thead>
  <tfoot>
    <td colspan="7" align="left">
      <div id="loadingBar" class="ac_hidden" style="background:url(../ac_global/media/loader.gif); background-repeat:no-repeat; padding:5px; padding-left:20px; padding-top:2px; color:#999999; font-size:10px; margin:5px;">
        {"Loading. Please wait..."|alang}
      </div>
    </td>
  </tfoot>
{foreach from=$mailconnections item=mc name=mcloop}
  <tr class="ac_table_row" {if $smarty.foreach.mcloop.first} id="mailconnDefault" {/if}>
{if $smarty.foreach.mcloop.first}
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
{else}
    <td align="center"><input name="multi[]" type="checkbox" value="{$mc.id}" onchange="ac_form_check_selection_none(this, $('acSelectAllCheckbox'));" /></td>
    <td align="center" style="cursor: move;"><img src="{$plink}/ac_global/media/drag_icon.gif" align="absmiddle" /></td>
{/if}
    <td>
    <div class="ac_table_row_options">
{if $mc.id != 1}<a href="#delete-{$mc.id}" onclick="return mailconn_delete({$mc.id});">{"Delete"|alang}</a>
{else}{"Delete"|alang}{/if}
      &nbsp;
      <a href="#edit-{$mc.id}" onclick="return mailconn_show({$mc.id});">{"Edit"|alang}</a>
    </div>
    </td>
    <td>{if $mc.type == 1}{"SMTP"|alang}{elseif $mc.type == 3}{"Sendmail"|alang}{else}{"Mail()"|alang}{/if}</td>
    <td>{if $mc.type == 1}{$mc.host}:{$mc.port}{else}{"N/A"|alang}{/if}</td>
    <td>{if $mc.type == 1}{$mc.user}{else}{"N/A"|alang}{/if}</td>
    <td align="center">{if $mailconnCnt < 2}{"N/A"|alang}{else}{$mc.threshold}{/if}</td>
  </tr>
{if $smarty.foreach.mcloop.first}
  <tbody id="mailconnListBody">
{/if}
{/foreach}
</tbody>
</table>




<div class="bottom_nav_options">
{if !$demoMode}
  <table width="100%">
  	<tr>
  		<td align="right"><input class="ac_button_add" type="button" value="{"Add Connection"|alang}" onclick="mailconn_show(0);" /></td>
  	</tr>
  </table>
	<span id="listButtons" class="{if $mailconnCnt < 2}ac_hidden{else}ac_inline{/if}">
		<input class="ac_button_delete" type="button" value="{"Delete Selected"|alang}" onclick="return mailconn_delete_multiple();" />
		<input class="ac_button_order" type="button" value="{"Save Order"|alang}" id="save_order" onclick="saveConnectionOrder();" disabled="disabled" />
	</span>
{else}
	<span class="demoDisabled2">{"Disabled in demo"|alang}</span>
{/if}
</div>

</div>
</div>
</form>

{/if}


<a name="edit"></a>
<div id="mailconnItem" class="{if $rotator}ac_hidden{else}h2_wrap{/if}">
<div>
{if ac_site_is12all5()}
{* sending speed calculator *}
<div style="background-color: #ffffff; border: 1px solid #cccccc; margin: 5px; padding: 10px; font-size:10px; float:right;">
	{"Estimated Sending Speeds:"|alang}<br />

	{"Max. of emails per hour:"|alang} <span id="eph" class="changeableContent">{$speed.eph}</span><br />
	{"Max. of emails per minute:"|alang} <span id="epm" class="changeableContent">{$speed.epm}</span><br />
	{"Max. of emails per second:"|alang} <span id="eps" class="changeableContent">{$speed.eps}</span><br />
	{"An email every "|alang} <span id="spe" class="changeableContent">{$speed.spe}</span> {"seconds"|alang}
</div>
{/if}

{include file="settings_mail.form.htm"}

<div>
	<input type="hidden" id="mailconnid" name="id" value="{if $rotator}{$cfg.id}{else}1{/if}" />
{if !$demoMode}
	<input type="button" value="{"Save Changes"|alang}" onclick="mailconn_save();" />
{else}
	<span class="demoDisabled">{"Disabled in demo"|alang}</span>
{/if}
	<input class="ac_button_back" type="button" value="{"Back"|alang}" onclick="{if $rotator}mailconn_hide();{else}window.history.go(-1);{/if}" />
</div>

</div>
</div>


<script>

{literal}

if ( rotator ) {
	/* on load save initial order */
	var sorter_ids = "";
	var sorter_orders = "";
	setConnectionOrder();
	var orig_sorter_ids = sorter_ids;
	var orig_sorter_orders = sorter_orders;

	// create sorter
	Sortable.create("mailconnListBody", {ghosting: true, tag: 'tr', onUpdate: handleConnectionOrder});
	runPage();
}
{/literal}

</script>

