<table border="0" cellspacing="0" cellpadding="0" id="mailconnItemTable">
  <tr>
    <td width="25" valign="top"><input id="smmail" name="send" type="radio" value="0"{if $cfg.type == 0} checked="checked"{/if} onclick="if(this.checked) $('smtpInfo').className = 'ac_hidden';" /></td>
    <td><label><strong>{"Default Sending Method"|alang}</strong><br />
({"Will use the default MTA on your system. Such as sendmail, qmail, etc..."|alang})</label></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="25"> <input id="smsendmail" name="send" type="radio" value="3"{if $cfg.type == 3} checked="checked"{/if} onclick="if(this.checked) $('smtpInfo').className = 'ac_hidden';" />      </td>
    <td><label><strong>{"Sendmail"|alang}</strong></label></td>
  </tr>
  {*
  <tbody id="sendmailInfo" class="{if $cfg.type == 3}ac_table_rowgroup{else}ac_hidden{/if}">

	  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
    <td colspan="2" valign="top" bgcolor="#F3F3F3">{"Sendmail Path"|alang}<br />
        <input name="smhost" type="text" id="smhost" value="{$cfg.host}" size="20" />      </td>
  </tr>
  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
    <td colspan="2" valign="top" bgcolor="#F3F3F3">{"Leave this field blank if you wish to use system-defined path."|alang}</td>
  </tr>
  </tbody>
  *}

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="25"> <input id="smsmtp" name="send" type="radio" value="1"{if $cfg.type == 1} checked="checked"{/if} onclick="if(this.checked) $('smtpInfo').className = 'ac_table_rowgroup';" /></td>
    <td colspan="3"><strong>{"SMTP"|alang}</strong></td>
  </tr>
  <tbody id="smtpInfo" class="{if $cfg.type == 1}ac_table_rowgroup{else}ac_hidden{/if}">
  <tr>
  <td colspan="3">
  <table>
  {if isset($site.brand_links) and $site.brand_links}
  <tr>
    <td valign="top">&nbsp;</td>
    <td colspan="2" valign="top">
		<div class="ac_help_inline" style="font-size:11px;">
			<p><strong><font color="#333333">{"If using your own SMTP server information:"|alang}</font></strong> <br />
			{"You can send using any SMTP server that you have information for."|alang}</p>
			<ol>
			  <li>{"Enter your SMTP server, port # (typically 25), username, and password"|alang}</li>
			  <li>{"Some servers require a specific encryption to be set and/or require POP3 authentication"|alang}</li>
			  <li>{"Send a test email to verify your settings"|alang}</li>
			</ol>
			<p>{"If you do not have your SMTP information or have questions about your SMTP info you can contact your webmaster or server administrator."|alang}</p>

		</div>	</td>
    </tr>
{/if}
  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td width="100" valign="top">{"SMTP Server"|alang}<br />
      <input name="smhost" type="text" id="smhost" value="{$cfg.host}" size="30" tabindex="1" />    </td>
    <td valign="top">{"Port"|alang}<br />
      <input name="smport" type="text" id="smport" value="{if $cfg.port == ''}25{else}{$cfg.port}{/if}" size="8" tabindex="2" />    </td>
  </tr>
  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td colspan="2" valign="top" ></td>
  </tr>
  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td valign="top">
      {"Username"|alang}
      {"If authentication is not required, do not enter a username."|help}
      <br />
      <div style="padding-right: 10px;"><input name="smuser" type="text" id="smuser" value="{$cfg.user}" size="30" tabindex="3" /></div>    </td>
    <td valign="top">
    	{"Password"|alang}
    	{"If authentication is not required, do not enter a password."|help}
    	<br />
        <input name="smpass" type="password" id="smpass" value="{$cfg.pass}" size="30" tabindex="4" />    </td>
  </tr>
{if $mailer == 'swift'}
  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td colspan="2" valign="top"></td>
  </tr>
  <tr>
    <td width="25" valign="top">&nbsp;</td>
    <td valign="top">{"Encryption"|alang} <br />
      <select id="smenc" name="smenc" onchange="$('smport').value = ( this.value == 8 ? 25 : 465 );" tabindex="5">
        <option value="8" {if $cfg.encrypt == 8}selected{/if}>{"Off"|alang}</option>
        <option value="4" {if $cfg.encrypt == 4}selected{/if}>{"SSL"|alang}</option>
        <option value="2" {if $cfg.encrypt == 2}selected{/if}>{"TLS"|alang}</option>
      </select>    </td>
    <td valign="top">
    <label>
      {"Use POP3 Authentication"|alang}<br />
      <input name="smpop3b4" type="checkbox" id="smpop3b4"  value="1" {if $cfg.pop3b4smtp} checked="checked"{/if} tabindex="6" />
    </label>    </td>
  </tr>
{/if}
	</table>

	</td>
	</tr>
  </tbody>
{if $rotator}
  <tbody id="rotatorEdit" class="{if $mailconnCnt > 1}ac_table_rowgroup{else}ac_hidden{/if}">
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><hr /></td>
  </tr>
  <tr>
   	<td>&nbsp;</td>
	<td colspan="3">{"Emails Per Cycle:"|alang}
      <input name="smthres" type="text" id="smthres" value="{$cfg.threshold}" size="5" />
      {"(Optional) Specify how many emails you wish to send with this mail connection before looking for the next connection. If you only have one mail connection this setting does not matter."|help}
    </td>
  </tr>
  </tbody>

{if $innertemplate}{include file=$innertemplate}{/if}

{/if}
</table>
<br />



<div align="right" style="float:right;">
{if !$demoMode}
	<span id="testEmailMsg"></span>
	<input id="testEmailField" type="input" size="30" value="{$admin.email}" onFocus="this.select();" style="text-align: center;" />
	<input id="testEmailButton" class="ac_button_test" type="button" value="{"Send Test Email"|alang}" onClick="sendTestEmail();" />
{else}
	<span class="demoDisabled">{"Disabled in demo"|alang}</span>
{/if}
</div>
