<div id="syncFormPanel" class="ac_hidden">

<form action="main.php?action=sync" method="post" name="addSyncForm" id="addSyncForm">
<input type="hidden" name="id" id="syncFormIDfield" value="{$data.id}" />

<div id="syncDBHolder" class="h2_wrap">
  
  <div id="syncDBBox" class="h2_content">

		<h2>{"Sync Name"|alang}</h2>
		
		<div class="campaign_input">
			<input type="text" id="titleField" name="sync_name" class="form_input_name" value="{$data.sync_name}" onchange="somethingChanged = true;" />
		</div>

		<h2 style="margin-top: 20px;">{"Database Type"|alang}</h2>
		
		{if isset($__ishosted) and $__ishosted}
			<div class="campaign_help">				
				{"Your database user must be allowed to connect from hosts: "|alang}
				173.193.9.195,
			  173.193.9.196			
			</div>
		{/if}
		
		<div class="campaign_input">
			<select name="db_type" id="dbtypeField" onchange="somethingChanged = true;">
				{html_options options=$types}
			</select>
		</div>
		
		<h2 style="margin-top: 20px;">{"Database Connection Details"|alang}</h2>
		
		<div class="campaign_input">

      <p style="margin-top: 0;">
		    {"Database Host"|alang}
		    <br />
			 <input type="text" id="dbhostField" name="db_host" style="width: 300px;" value="{if $data.db_host == 'localhost'}{else}{$data.db_host}{/if}" onchange="somethingChanged = true;" />
      </p>

      <p>
	      {"Database Name"|alang}
	      <br />
	      <input type="text" id="dbnameField" name="db_name" style="width: 300px;" value="{$data.db_name}" onchange="somethingChanged = true;" />
      </p>

      <p>
	      {"Database Username"|alang}
	      <br />
	      <input type="text" id="dbuserField" name="db_user" style="width: 200px;" value="{$data.db_user}" onchange="somethingChanged = true;" />
      </p>
      
      <p>
        {"Database Password"|alang}
        <br />
        <input type="password" id="dbpassField" name="db_pass" style="width: 200px;" value="{$data.db_pass}" onchange="somethingChanged = true;" />
      </p>
      
      <p>
        {"Source Character Set"|alang}
        <br />
        <input type="text" id="sourcecharsetField" name="sourcecharset" value="{$data.sourcecharset|default:'utf-8'}" onchange="somethingChanged = true" />
      </p>

		</div>
		
		<h2 style="margin-top: 20px;">{"Sync Into List"|alang}</h2>
		
		<div class="campaign_input">
			<select name="relid" id="relidField" onchange="somethingChanged = true;sync_relid_change(ac_form_select_extract(this));">
			  <option value="0">{"Select One"|alang}</option>
			  {html_options options=$rels}
			</select>
		</div>

		{if isset($sync_destinations_template)}
			{if $sync_destinations_template != ''}
		 		{include file=$sync_destinations_template}
		  {/if}
		{/if}		

  </div>
  
</div>

<div id="syncTablesHolder" class="ac_hidden">

  <h2 onclick="ac_dom_toggle_class('syncTablesBox', 'h2_content', 'h2_content_invis');">{"Select Table"|alang}</h2>

  <div id="syncTablesBox" class="h2_content">

    <div>
      <div style="float: left; width: 45%;">
        <div style="font-weight: bold; margin-bottom: 5px;">{"Tables found in this database:"|alang}</div>
        <div id="syncTables" class="ac_radio_list">
{*foreach from=$rows item=row}
          <label><input type="radio" name="db_table" value="{$row.name}" onchange="$('syncQuery').className = 'ac_hidden';" /> {$row.name}</label>
{/foreach*}
        </div>
      </div>
      <div style="float: right; width: 45%;">
        <div style="font-weight: bold; margin-bottom: 5px;">{"Or enter a query you would like to use:"|alang}</div>
        <div id="syncCustom" class="ac_radio_list">
          <label><input id="syncCustomQueryRadio" type="radio" name="db_table" value="" onchange="$('syncQuery').className = ( this.checked ? 'ac_block' : 'ac_hidden' );" /> {"My Custom Query"|alang}</label><br />
	      	<div id="syncQuery" class="ac_hidden">
	        	<textarea id="queryField" name="db_query" onchange="somethingChanged = true;" style="height: 200px; width: 350px;">{if $data.db_table == ''}{$data.rules}{/if}</textarea>
	      	</div>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>

  </div>

</div>

<div id="syncFieldsHolder" class="ac_hidden">
  <h2>{"Select Fields to Map"|alang}</h2>
  <div id="syncFieldsBox" class="h2_content">

		<div class="ac_help_inline">	
    	{"Select which fields you wish to synchronize to their destinations."|alang}
		</div>

    <table cellpadding="10" width="100%">
      <tr bgcolor="#666666" style="color:white; font-weight:bold;">
        <td width="250">{"Your External Database"|alang}</td>
        <td>{"The Field To Sync In"|alang}</td>
      </tr>
      <tbody id="mappingTable"></tbody>
    </table>

  </div>
</div>

<div id="syncRulesHolder" class="ac_hidden">

  <h2>{"Select Query Rules"|alang}</h2>
  <div id="syncRuleBox" class="h2_content">

    <div id="queryResults" class="ac_hidden">
      <h3>{"Query Info"|alang}</h3>
      <div>{"Here is the sample query you entered:"|alang}</div>
      <div id="queryPreview"></div>
    </div>

    <div id="tableRules" class="ac_hidden">

      <h2 style="margin-top: 20px;">{"Current Rules"|alang}</h2>

			<div class="campaign_input">
	      <div id="rulesList"></div>
	      <div id="noRules" class="ac_block">{"No rules setup."|alang}</div>
	      <div id="removeRules" class="ac_hidden"><a href="#" onclick="return sync_rules_remove();">{"Remove All Rules"|alang}</a></div>
      </div>

      <h2 style="margin-top: 20px;">{"Add Rule"|alang}</h2>

			<div id="rulesForm">

				<div class="campaign_input">
					{"Where"|alang}
					<select id="rule_field"></select>
					<select id="rule_cond">
					  <option value="=">{"Equals (Is)"|alang}</option>
					  <option value="!=">{"Does Not Equal (Is Not)"|alang}</option>
					  <option value="&gt;=">{"Is Greater Than Or Equal To"|alang}</option>
					  <option value="&lt;=">{"Is Less Than Or Equal To"|alang}</option>
					  <option value="&gt;">{"Is Greater Than"|alang}</option>
					  <option value="&lt;">{"Is Less Than"|alang}</option>
					  <option value="CSIS">{"Case-Sensitive Equals (Is)"|alang}</option>
					  <option value="CONTAINS">{"Contains"|alang}</option>
					  <option value="DCONTAINS">{"Does NOT Contain"|alang}</option>
					  <option value="CSCONTAINS">{"Case-Sensitive Contains"|alang}</option>
					  <option value="CSDCONTAINS">{"Case-Sensitive Does NOT Contain"|alang}</option>
					  <option value="INLIST">{"Is in (comma separated) list"|alang}</option>
					  <option value="NOTINLIST">{"Is NOT in (comma separated) list"|alang}</option>
					</select>
					<input type="text" id="rule_value" />
					<script>$('rule_value').onkeypress = ac_ui_stopkey_enter;</script>
					<input type="button" value="{"Add"|alang}" onclick="sync_rules_add();" />
					{"You are responsible for escaping! Also, if constructing a LIST, then strings should be encapsulated with quotes."|help}
				</div>

			</div>

    </div>

    <div id="syncOptions">

      <h2 style="margin-top: 20px;">{"Sync Options"|alang}</h2>

      <div id="syncOption_delete_all" class="ac_block">
      	<div class="campaign_help">
      		{"Extra users that were not part of the sync will be removed."|alang}
      	</div>
      	<div class="campaign_input">
	        <label>
	          <input type="checkbox" name="sync_option_delete_all" id="import_option_field_delete_all" />
	          {"Delete all items that are not affected by the sync each time the sync runs."|alang}
	        </label>
        </div>
      </div>

			{foreach from=$opts item=o}
				<br />
	      <div id="syncOption_{$o.id}" class="{if isset($o.hidden) and $o.hidden}ac_hidden{else}ac_block{/if}">
	      	{if $o.descript != ''}
		      	<div class="campaign_help">
		      		{$o.descript|alang}
		      	</div>
	      	{/if}
	        <div class="campaign_input">
		        <label>
		          <input type="checkbox" name="sync_option_{$o.id}" id="import_option_field_{$o.id}" value="1" {if isset($o.checked) and $o.checked}checked="checked"{/if} {if isset($o.disabled) and $o.disabled}disabled="disabled"{/if} />
		          {$o.name}
		        </label>
					</div>
				</div>
			{/foreach}

    </div>
    
  </div>

</div>

<div id="stepsList" style="display: none;">
	{"Step:"|alang}
	<span id="stepDB" class="currentstep">1</span>
	<span id="stepTables" class="otherstep">2</span>
	<span id="stepFields" class="otherstep">3</span>
	<span id="stepRules" class="otherstep">4</span>
</div>

<div class="bottom_nav_options">
	<input name="mode" type="hidden" id="modeField" value="{if $data.id == 0}add{else}edit{/if}" />
{if !$demoMode}
	<input id="syncWizardDone" class="ac_hidden" type="button" value="{"Save"|alang}" onclick="sync_save();" />
	<input id="syncWizardTest" class="ac_hidden" type="button" value="{"Test"|alang}" onclick="sync_run(0, true);" />
	<input id="syncWizardRun" class="ac_hidden" type="button" value="{"Run"|alang}" onclick="sync_run(0, false);" />
    <input id="syncWizardNext" class="ac_button_next" type="button" value="{"&raquo; Next Step"|alang}" onclick="sync_next();" />
{else}
	<span class="demoDisabled2">{"Disabled in demo"|alang}</span>
{/if}
	<input type="button" value="{"Back"|alang}" onclick="window.history.go(-1);" />
</div>

</form>


</div>
