{if !isset($tag)}{assign var=tag value=pre}{/if}
{if !isset($__)}{assign var=__ value=$site.p_link}{/if}
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shCore.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushAppleScript.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushAS3.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushBash.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushColdFusion.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushCpp.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushCSharp.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushCss.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushDelphi.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushDiff.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushErlang.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushGroovy.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushJava.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushJavaFX.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushJScript.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushPerl.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushPhp.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushPlain.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushPowerShell.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushPython.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushRuby.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushSass.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushScala.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushSql.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushVb.js"></script>
<script type="text/javascript" src="{$__}/ac_global/syntaxhighlighter/js/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="{$__}/ac_global/syntaxhighlighter/css/shCoreDefault.css"/>
<script type="text/javascript">{if $tag != 'pre'}SyntaxHighlighter.config.tagName='{$tag}';{/if}SyntaxHighlighter.all();</script>
