<div id="auth" class="{if $step == 1}ac_block{else}ac_hidden{/if}">
	<form action="updater.php" method="post" name="reg" id="checksForm" onsubmit="auth_check(); return false;">
		<h3>{"Please authenticate in order to continue"|alang}</h3>
		<div>{"Username"|alang}</div>
		<div><input type="text" name="username" id="authUsername" value="admin" tabindex="3" readonly /></div>
		<div>{"Password"|alang}</div>
		<div><input type="password" name="password" id="authPassword" value="" tabindex="1" /></div>

		<div>
			<input type="button" value="{'Next &gt;'|alang}" tabindex="2" class="ac_button_next" id="authNext" onclick="auth_check();" />
		</div>

	    <input type="submit" style="display:none" />
	</form>
</div>

<div id="backend" class="{if $step == 2}ac_block{else}ac_hidden{/if}">
	<form action="{$protocol}://www.activatelicense.com/activate/index.php" method="post" name="reg" id="reg">
		<p><strong>{"Serial:"|alang}</strong><br />
			<input name="dl_s" type="text" id="dl_s" size="60" value="{$serial}" tabindex="1" style="width:98%;" />
		</p>
{if $license}
		<p>
			<strong>{"License Terms"|alang}</strong><br />
			<textarea name="textfield" cols="61" rows="10" wrap="VIRTUAL" tabindex="3" style="width:98%;" id="license" readonly>{$license}</textarea>
		</p>
{/if}
		<p>
			<input type="submit" class="ac_buttom_submit" value="{'Next &gt;'|alang}" tabindex="2" />
			<input name="dl_d" type="hidden" id="dl_d" value="{$d_r}" />
			<input name="dl_h" type="hidden" id="dl_h" value="{$d_h}" />
			<input name="rd7" type="hidden" id="rd7" value="{$rd7}" />
			<input name="rd8" type="hidden" id="rd8" value="{$rd8}" />
			<input name="rd9" type="hidden" id="rd9" value="{$rd9}" />
			<input name="t" type="hidden" id="t" value="{$appid}" />
			<input name="si" type="hidden" id="si" value="{$sysinfo}" />
		</p>
	</form>
</div>
