<div id="group" class="ac_modal" align="center" style="display:none; overflow: auto">
  <div class="ac_modal_inner_groups">
  	<h1>{"Add a new group"|alang}</h1>
	<table border="0" cellspacing="1" cellpadding="1">
	  <tr>
		<td>{"Group Name"|alang}</td>
		<td><input type="text" name="title" id="user_form_group_name"></td>
	  </tr>
	  <tr>
		<td>{"Group Description"|alang}</td>
		<td><textarea name="descript" id="user_form_group_descript"></textarea></td>
	  </tr>
	  {if isset($group_file)}
	  {include file=$group_file}
	  {/if}
	</table>
	<br>

	<div>
	  <input type="button" onclick="user_group_save()" value='{"Add Group"|alang}'>
	  <input type="button" onclick="ac_dom_toggle_display('group', 'block')" value='{"Cancel"|alang}'>
	</div>
	<br />

  </div>
</div>
