{if isset($user_delete_js_file)}
<script type="text/javascript">
  {include file=$user_delete_js_file}
</script>
{/if}

<div id="delete" class="ac_modal" align="center" style="display:none">
  <div class="ac_modal_inner">
    <span id="delete_message"></span>
    <br />
	<div id="delete_extra"></div>
    <ul id="delete_list"></ul>
    <br />
	<div style="text-align: right">
	  <input type="button" class="ac_button_ok" value='{"OK"|alang}' onclick="user_delete(user_delete_id)">
	  <input type="button" class="ac_button_cancel" value='{"Cancel"|alang}' onclick="user_delete_check_cancel()">
	</div>
  </div>
</div>
