<script type="text/javascript">
  {include file="widget.js"}
</script>

<h1>{"Public Side Widgets"|alang}</h1>
<div class="ac_help_inline">{"To add a widget simply drag a widget box from the available widgets (the left section) to the installed widget box (the right section)  You can then configure your widget by clicking the down arrow in the installed widgets section."|alang}</div>
<br />

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
{if $publicwidgets}
			<div style="font-weight:bold;">{"Available Widgets"|alang}</div>
			<br style="clear:both;" />

			<div id="public_widgets" class="widget_list">
{foreach from=$publicwidgets item=w}
				<div id="public-widget-{$w.widget}" class="widget_draggable">
					<div class="widget_list_title">
						{$w.name}
					</div>
					{if $w.description}
					<div class="widget_list_descript">
						{$w.description|truncate:130|nl2br}
					</div>
					{/if}
				</div>
{/foreach}
			<br  clear="all"/>
			</div>
{else}
			<div class="ac_warning">{"There are no available widgets at this time."|alang}</div>
{/if}


		</td>
		<td valign="top" width="275">
			<div id="public_widget_clear" onclick="widget_uninstallall('public');">{"Remove All"|alang}</div>
			<div id="public_widget_loading"><img src="images/loading.gif" alt="{'Loading...'|alang}" /></div>
			<div style="font-weight:bold;">{"Installed Widgets"|alang}</div>
			<br style="clear:both;" />
			<div id="public_dropzone" class="widget_dropzone">
{foreach from=$publicinstalled item=w}
				<div id="widget_{$w.id}" class="widget_draggable">
					<div class="widget_opener">
						<img src="images/menu-down.gif" border="0" onclick="widget_open({$w.id});" />
					</div>
					<div class="widget_title">
						{$allwidgets[$w.widget].name}
					</div>
					<div id="config_{$w.id}" class="ac_hidden">
						<div class="widget_instance_title">
							{"Title:"|alang}
							<input id="title_{$w.id}" type="text" name="widget_title" value="{$w.title}" />
						</div>
						<br />

						<div id="options_{$w.id}"><img id="loading_{$w.id}" src="images/loading.gif" alt="{'Loading...'|alang}" /></div>

						<br />
						<div class="widget_instance_bars">
							{"Show In:"|alang}<br />
							<div class="widget_instance_bars_list">
{foreach from=$allwidgets[$w.widget].bars.public item=v key=k}
								<div>
									<label>
										<input id="bar_{$w.id}_{$k}" type="checkbox" name="widget_bars[{$k}]" value="{$k}" {if !$w.bars or in_array($k, explode(',', $w.bars))}checked="checked"{/if} />
										{$v}
									</label>
								</div>
{/foreach}
							</div>
						</div>

						<br />
						<div style="float:right;padding-top:4px;">
							<a href="#" onclick="widget_uninstall({$w.id});return false;">{"Remove"|alang}</a>
							|
							<a href="#" onclick="widget_open({$w.id});return false;">{"Cancel"|alang}</a>
						</div>
						<div>
							<input id="save_{$w.id}" type="button" value="{'Save'|alang}" onclick="widget_save({$w.id});" />
						</div>
					</div>
				</div>
{/foreach}
			</div>
		</td>
	</tr>
</table>

<br />


<h1>{"Admin Side Widgets"|alang}</h1>
<div class="ac_help_inline">{"To add a widget simply drag a widget box from the available widgets (the left section) to the installed widget box (the right section)  You can then configure your widget by clicking the down arrow in the installed widgets section."|alang}</div>
<br />


<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
{if $adminwidgets}
			<div style="font-weight:bold;">{"Available Widgets"|alang}</div>
			<br style="clear:both;" />

			<div id="admin_widgets" class="widget_list">
{foreach from=$adminwidgets item=w}
				<div id="admin-widget-{$w.widget}" class="widget_draggable">
					<div class="widget_list_title">
						{$w.name}
					</div>
					{if $w.description}
					<div class="widget_list_descript">
						{$w.description|truncate:130|nl2br}
					</div>
					{/if}
				</div>
{/foreach}
			<br  clear="all"/>
			</div>
{else}
			<div class="ac_warning">{"There are no available widgets at this time."|alang}</div>
{/if}


		</td>
		<td valign="top" width="275">
			<div id="admin_widget_clear" onclick="widget_uninstallall('admin');">{"Remove All"|alang}</div>
			<div id="admin_widget_loading"><img src="images/loading.gif" alt="{'Loading...'|alang}" /></div>
			<div style="font-weight:bold;">{"Installed Widgets"|alang}</div>
			<br style="clear:both;" />
			<div id="admin_dropzone" class="widget_dropzone">
{foreach from=$admininstalled item=w}
				<div id="widget_{$w.id}" class="widget_draggable">
					<div class="widget_opener">
						<img src="images/menu-down.gif" border="0" onclick="widget_open({$w.id});" />
					</div>
					<div class="widget_title">
						{$allwidgets[$w.widget].name}
					</div>
					<div id="config_{$w.id}" class="ac_hidden">
						<div class="widget_instance_title">
							{"Title:"|alang}
							<input id="title_{$w.id}" type="text" name="widget_title" value="{$w.title}" />
						</div>
						<br />

						<div id="options_{$w.id}"><img id="loading_{$w.id}" src="images/loading.gif" alt="{'Loading...'|alang}" /></div>

						<br />
						<div class="widget_instance_bars">
							{"Show In:"|alang}<br />
							<div class="widget_instance_bars_list">
{foreach from=$allwidgets[$w.widget].bars.admin item=v key=k}
								<div>
									<label>
										<input id="bar_{$w.id}_{$k}" type="checkbox" name="widget_bars[{$k}]" value="{$k}" {if !$w.bars or in_array($k, explode(',', $w.bars))}checked="checked"{/if} />
										{$v}
									</label>
								</div>
{/foreach}
							</div>
						</div>

						<br />
						<div style="float:right;padding-top:4px;">
							<a href="#" onclick="widget_uninstall({$w.id});return false;">{"Remove"|alang}</a>
							|
							<a href="#" onclick="widget_open({$w.id});return false;">{"Cancel"|alang}</a>
						</div>
						<div>
							<input id="save_{$w.id}" type="button" value="{'Save'|alang}" onclick="widget_save({$w.id});" />
						</div>
					</div>
				</div>
{/foreach}
			</div>
		</td>
	</tr>
</table>



<script type="text/javascript">
{literal}
	var publicWidgetsArr = $$('#public_widgets .widget_draggable');
	for ( var i = 0; i < publicWidgetsArr.length; i++ ) {
		new Draggable(
			publicWidgetsArr[i].id,
			{
				ghosting: true,
				revert: true,
				handle: 'widget_list_title',
				onEnd: function() { window.setTimeout(function() { widget_sort_init('public'); }, 1000); }
			}
		);
	}
	//Droppables.add('public_dropzone', { onDrop: widget_install_public, containment: 'public_widgets' });
	widget_sort_init('public');

	var adminWidgetsArr = $$('#admin_widgets .widget_draggable');
	for ( var i = 0; i < adminWidgetsArr.length; i++ ) {
		new Draggable(
			adminWidgetsArr[i].id,
			{
				ghosting: true,
				revert: true,
				handle: 'widget_list_title',
				onEnd: function() { window.setTimeout(function() { widget_sort_init('admin'); }, 1000); }
			}
		);
	}
	//Droppables.add('admin_dropzone', { onDrop: widget_install_admin, containment: 'admin_widgets' });
	widget_sort_init('admin');
{/literal}
</script>
