<div id="api_parameters_account_cancel" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Account Name"|alang}:</td>
      <td>
        <input type="text" name="account_cancel_param_account" id="account_cancel_param_account" value="" class="settings_api_param_general2" />
      </td>
    </tr>
  </table>
</div>