<div id="api_parameters_branding_view" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Group ID"|alang}:</td>
      <td>
        <input type="text" name="branding_view_param_id" id="branding_view_param_id" value="" class="settings_api_param_id" />
      </td>
    </tr>
  </table>
</div>