<div id="api_parameters_campaign_status" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Campaign"|alang}:</td>
      <td>
        <select name="campaign_status_param_id" id="campaign_status_param_id">
          {foreach from=$campaigns item=c}
            <option value="{$c.id}">{$c.name}</option>
          {/foreach}
        </select>
        <input type="text" name="campaign_status_param_id" id="campaign_status_param_id2" class="settings_api_param_id" placeholder="{"Any ID"|alang}" />
      </td>
    </tr>
    <tr>
      <td>{"New Status"|alang}:</td>
      <td>
        <select name="campaign_status_param_status">
          <option value="0">{"Draft"|alang}</option>
          <option value="1">{"Scheduled"|alang}</option>
          <option value="2">{"Sending"|alang}</option>
          <option value="3">{"Paused"|alang}</option>
          <option value="4">{"Stopped"|alang}</option>
          <option value="5">{"Completed"|alang}</option>
          <option value="6">{"Disabled"|alang}</option>
        </select>
      </td>
    </tr>
  </table>
</div>