<div id="api_parameters_form_html" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Form ID"|alang}:</td>
      <td>
        <input type="text" name="form_html_param_id" id="form_html_param_id" value="" class="settings_api_param_id" />
      </td>
    </tr>
  </table>
</div>