<div id="api_parameters_list_field_edit" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Field ID"|alang}:</td>
      <td>
        <input type="text" name="list_field_edit_postvar_id" id="list_field_edit_postvar_id" value="" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">12</span>
      </td>
    </tr>
    <tr>
      <td>{"Internal Name"|alang}:</td>
      <td>
        <input type="text" name="list_field_edit_postvar_title" id="list_field_edit_postvar_title" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Field Type"|alang}:</td>
      <td>
        <select name="list_field_edit_postvar_type">
          <option value="1">{"Text Field"|alang}</option>
          <option value="2">{"Text Box"|alang}</option>
          <option value="3">{"Checkbox"|alang}</option>
          <option value="4">{"Radio"|alang}</option>
          <option value="5">{"Dropdown"|alang}</option>
          <option value="6">{"Hidden"|alang}</option>
          <option value="7">{"List Box"|alang}</option>
          <option value="9">{"Date"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Required?"|alang}</td>
      <td>
        <input type="radio" name="list_field_edit_postvar_req" id="list_field_edit_postvar_req_yes" value="1" checked="checked" />
        <label for="list_field_edit_postvar_req_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="list_field_edit_postvar_req" id="list_field_edit_postvar_req_no" value="0" />
        <label for="list_field_edit_postvar_req_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Show on Subscriber Page?"|alang}</td>
      <td>
        <input type="radio" name="list_field_edit_postvar_show_in_list" id="list_field_edit_postvar_show_in_list_yes" value="1" checked="checked" />
        <label for="list_field_edit_postvar_show_in_list_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="list_field_edit_postvar_show_in_list" id="list_field_edit_postvar_show_in_list_no" value="0" />
        <label for="list_field_edit_postvar_show_in_list_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Personalization Tag"|alang}:</td>
      <td>
        <input type="text" name="list_field_edit_postvar_perstag" id="list_field_edit_postvar_perstag" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"List(s)"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          {if $smarty.foreach.counter.iteration < 3}
            <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
              <input type="checkbox" value="{$l}" name="list_field_edit_postvar_p[{$l}]" id="list_field_edit_postvar_p_{$l}" checked="checked" />
              <label for="list_field_edit_postvar_p_{$l}">{$list.name} (ID: {$l})</label>
            </div>
          {/if}
        {/foreach}
      </td>
    </tr>
  </table>
</div>