<div id="api_parameters_list_paginator" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Sort"|alang}:</td>
      <td>
        <input type="text" name="list_paginator_param_sort" id="list_paginator_param_sort" value="01" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">01D</span>
      </td>
    </tr>
    <tr>
      <td>{"Offset"|alang}:</td>
      <td>
        <input type="text" name="list_paginator_param_offset" id="list_paginator_param_offset" value="0" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">20</span>
      </td>
    </tr>
    <tr>
      <td>{"Limit"|alang}:</td>
      <td>
        <input type="text" name="list_paginator_param_limit" id="list_paginator_param_limit" value="5" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">20</span>
      </td>
    </tr>
    <tr>
      <td>{"Filter"|alang}:</td>
      <td>
        <input type="text" name="list_paginator_param_filter" id="list_paginator_param_filter" value="0" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">5</span>
      </td>
    </tr>
  </table>
</div>