<div id="api_parameters_list_edit" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"List ID"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_id" id="list_edit_postvar_id" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">36</span>
      </td>
    </tr>
    <tr>
      <td>{"Name"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_name" id="list_edit_postvar_name" value="" class="settings_api_param_general1" />
        <b>{"Example"|alang}:</b> <span class="code">{"List 2"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"New Subscription Notifications"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_subscription_notify" id="list_edit_postvar_subscription_notify" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">me1@test.com, me2@test.com</span>
      </td>
    </tr>
    <tr>
      <td>{"New UNsubscription Notifications"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_unsubscription_notify" id="list_edit_postvar_unsubscription_notify" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">me1@test.com, me2@test.com</span>
      </td>
    </tr>
    <tr>
      <td>{"Generic Subscriber Name"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_to_name" id="list_edit_postvar_to_name" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"Subscriber"|alang}</span> or <span class="code">{"List Member"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Carbon Copy Mailings To"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_carboncopy" id="list_edit_postvar_carboncopy" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">me1@test.com, me2@test.com</span>
      </td>
    </tr>
    <tr>
      <td>{"Use Google Analytics Read Tracking?"|alang}:</td>
      <td>
        <input type="checkbox" value="1" name="list_edit_postvar_p_use_analytics_read" style="margin-left: 20px;" />
      </td>
    </tr>
    <tr>
      <td>{"Google Analytics Account Number (UA)"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_analytics_ua" id="list_edit_postvar_analytics_ua" value="" class="settings_api_param_general1" />
        <b>{"Example"|alang}:</b> <span class="code">UA-xxxxxxx-y</span>
      </td>
    </tr>
    <tr>
      <td>{"Use Google Analytics Link Tracking?"|alang}:</td>
      <td>
        <input type="checkbox" value="1" name="list_edit_postvar_p_use_analytics_link" style="margin-left: 20px;" />
      </td>
    </tr>
    <tr>
      <td>{"Google Analytics Source Name"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_analytics_source" id="list_edit_postvar_analytics_source" value="" class="settings_api_param_general1" />
        <b>{"Example"|alang}:</b> <span class="code">{"List 2"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Google Analytics Domains"|alang}:</td>
      <td>
        <input type="text" name="list_edit_postvar_analytics_domains[]" id="list_edit_postvar_analytics_domains1" value="" class="settings_api_param_general2" />
        <br />
        <br />
        <input type="text" name="list_edit_postvar_analytics_domains[]" id="list_edit_postvar_analytics_domains2" value="" class="settings_api_param_general2" />
        <br />
        <br />
        <b>{"Example"|alang}:</b> <span class="code">{"example.com"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Send Last Campaign to New Subscribers?"|alang}:</td>
      <td>
        <input type="checkbox" value="1" name="list_edit_postvar_send_last_broadcast" style="margin-left: 20px;" />
      </td>
    </tr>
    <tr>
      <td>{"Sender Address"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>
              {"Company or Organization"|alang}
            </td>
            <td>
              <input type="text" name="list_edit_postvar_sender_name" id="list_edit_postvar_sender_name" value="" class="settings_api_param_general2" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              {"Street Address"|alang}
            </td>
            <td>
              <input type="text" name="list_edit_postvar_sender_addr1" id="list_edit_postvar_sender_addr1" value="" class="settings_api_param_general2" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              {"City"|alang}
            </td>
            <td>
              <input type="text" name="list_edit_postvar_sender_city" id="list_edit_postvar_sender_city" value="" class="settings_api_param_general1" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              {"State or Region"|alang}
            </td>
            <td>
              <input type="text" name="list_edit_postvar_sender_state" id="list_edit_postvar_sender_state" value="" class="settings_api_param_general1" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              {"Zip or Postal Code"|alang}
            </td>
            <td>
              <input type="text" name="list_edit_postvar_sender_zip" id="list_edit_postvar_sender_zip" value="" class="settings_api_param_general1" />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              {"Country"|alang}
            </td>
            <td>
              <input type="text" name="list_edit_postvar_sender_country" id="list_edit_postvar_sender_country" value="" class="settings_api_param_general1" />
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>