<div id="api_parameters_message_delete_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Message ID(s)"|alang}:</td>
      <td>
        <input type="text" name="message_delete_list_param_ids" id="message_delete_list_param_ids" value="" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2,3</span>
      </td>
    </tr>
  </table>
</div>