<div id="api_parameters_singlesignon" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"User"|alang}:</td>
      <td>
        <input type="text" name="singlesignon_param_sso_user" id="singlesignon_param_sso_user" value="{$admin.username}" readonly="readonly" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"IP Address"|alang}:</td>
      <td>
        <input type="text" name="singlesignon_param_sso_addr" id="singlesignon_param_sso_addr" value="127.0.0.1" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Duration (in minutes)"|alang}:</td>
      <td>
        <input type="text" name="singlesignon_param_sso_duration" id="singlesignon_param_sso_duration" value="20" class="settings_api_param_id" />
      </td>
    </tr>
  </table>
</div>