<div id="api_parameters_subscriber_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Subscriber ID(s)"|alang}:</td>
      <td>
        <input type="text" name="subscriber_list_param_ids" id="subscriber_list_param_ids" value="all" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2</span> or <span class="code">3,5</span> or <span class="code">all</span>
      </td>
    </tr>
    <tr>
      <td>{"Show Abbreviated Data?"|alang}</td>
      <td>
        <input type="checkbox" value="0" name="subscriber_list_param_full" />
        ({"Check to return only a small portion of data."|alang})
      </td>
    </tr>
    <tr>
      <td>{"Filters (Optional)"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>{"First Name"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[first_name]" id="subscriber_list_param_filters_first_name" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">Jim</span></td>
          </tr>
          <tr>
            <td>{"Last Name"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[last_name]" id="subscriber_list_param_filters_last_name" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">Smith</span></td>
          </tr>
          <tr>
            <td>{"Email Address"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[email]" id="subscriber_list_param_filters_email" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">jim@test.com</span> or <span class="code">jim@</span> or <span class="code">test.com</span></td>
          </tr>
          <tr>
            <td>{"List ID(s)"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[listid]" id="subscriber_list_param_filters_listid" value="" class="settings_api_param_ids" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">22</span> or <span class="code">6,13,5</span></td>
          </tr>
          <tr>
            <td>{"Segment ID"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[segmentid]" id="subscriber_list_param_filters_segmentid" value="" class="settings_api_param_id" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">22</span></td>
          </tr>
          <tr>
            <td>{"Status"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[status]" id="subscriber_list_param_filters_status" value="" class="settings_api_param_id" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">1</span> or <span class="code">1,2</span></td>
          </tr>
          <tr>
            <td>{"Date/Time"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[datetime]" id="subscriber_list_param_filters_datetime" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">2011-10-22</span> or <span class="code">-10-22</span></td>
          </tr>
          <tr>
            <td>{"Since Date/Time"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[since_datetime]" id="subscriber_list_param_filters_since_datetime" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">2011-10-22</span></td>
          </tr>
          <tr>
            <td>{"Until Date/Time"|alang}:</td>
            <td><input type="text" name="subscriber_list_param_filters[until_datetime]" id="subscriber_list_param_filters_until_datetime" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">2011-12-22</span></td>
          </tr>
          <tr>
            <td>{"Custom Fields"|alang}:</td>
            <td>
              {foreach from=$api_explorer_fields item=f name=counter}
                {* only show 2 fields - no need to go crazy here *}
                {if $smarty.foreach.counter.iteration < 3}
                  <input type="text" name="subscriber_list_param_filters[fields][%{$f.perstag}%]" id="subscriber_list_param_field_{$f.id}" value="" class="settings_api_param_general1" placeholder="{$f.title}" />
                  <br />
                  <br />
                {/if}
              {/foreach}
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>{"Sort"|alang}:</td>
      <td>
        <select name="subscriber_list_param_sort">
          <option value="id">{"Subscriber ID"|alang}</option>
          <option value="datetime">{"Date Added (to List)"|alang}</option>
          <option value="first_name">{"First Name"|alang}</option>
          <option value="last_name">{"Last Name"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Sort Direction"|alang}:</td>
      <td>
        <select name="subscriber_list_param_sort_direction">
          <option value="ASC">{"Ascending (top to bottom)"|alang}</option>
          <option value="DESC">{"Descending (bottom to top)"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Page (20 per page)"|alang}:</td>
      <td>
        <input type="text" name="subscriber_list_param_page" id="subscriber_list_param_page" value="1" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">2</span>
      </td>
    </tr>
  </table>
</div>