<div id="api_parameters_subscriber_delete_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Subscriber ID(s)"|alang}:</td>
      <td>
        <input type="text" name="subscriber_delete_list_param_ids" id="subscriber_delete_list_param_ids" value="" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2,3</span>
      </td>
    </tr>
    <tr>
      <td>{"Lists"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
            <input type="checkbox" value="{$l}" name="subscriber_delete_list_param_listids[{$l}]" id="subscriber_delete_list_param_listids_{$l}" />
            <label for="subscriber_delete_list_param_listids_{$l}">{$list.name} (ID: {$l})</label>
          </div>
        {/foreach}
      </td>
    </tr>
  </table>
</div>