<div id="api_parameters_subscriber_view_hash" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Hash"|alang}:</td>
      <td>
        <input type="text" name="subscriber_view_hash_param_hash" id="subscriber_view_hash_param_hash" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">26899ca0d3e23d1d2531ec281b899099</span>
      </td>
    </tr>
  </table>
</div>