<div id="api_parameters_subscriber_view" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Subscriber ID"|alang}:</td>
      <td>
        <input type="text" name="subscriber_view_param_id" id="subscriber_view_param_id" value="" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">345</span>
      </td>
    </tr>
  </table>
</div>