<div id="api_parameters_subscriber_edit" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Subscriber ID"|alang}:</td>
      <td>
        <input type="text" name="subscriber_edit_postvar_id" id="subscriber_edit_postvar_id" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">213</span>
      </td>
    </tr>
    <tr>
      <td>{"Email Address"|alang}:</td>
      <td>
        <input type="text" name="subscriber_edit_postvar_email" id="subscriber_edit_postvar_email" value="" class="settings_api_param_email" />
      </td>
    </tr>
    <tr>
      <td>{"First Name"|alang}:</td>
      <td>
        <input type="text" name="subscriber_edit_postvar_first_name" id="subscriber_edit_postvar_first_name" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Last Name"|alang}:</td>
      <td>
        <input type="text" name="subscriber_edit_postvar_last_name" id="subscriber_edit_postvar_last_name" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Lists and Settings"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
	        <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
	          <input type="checkbox" value="{$l}" name="subscriber_edit_postvar_p[]" id="subscriber_edit_postvar_p_{$l}" onchange="subscriber_edit_list_check(this.checked, {$l});" />
	          <label for="subscriber_edit_postvar_p_{$l}">{$list.name} (ID: {$l})</label>
	        </div>
	        <br />
	        <div id="subscriber_edit_list_details_{$l}" style="display: none;">
	         <table cellspacing="0" cellpadding="0" border="0">
	           <tr>
	            <td>{"List Status"|alang}:</td>
	            <td>
	              <select name="subscriber_edit_postvar_status[{$l}]" id="subscriber_edit_postvar_status_{$l}">
	                <option value="">{"Choose..."|alang}</option>
	                <option value="1">{"Active"|alang}</option>
	                <option value="2">{"Unsubscribed"|alang}</option>
	              </select>
	            </td>
	            <td></td>
	           </tr>
	         </table>
	         <br />
	         <input type="checkbox" value="1" name="subscriber_edit_postvar_instantresponders[{$l}]" id="subscriber_edit_postvar_instantresponders_{$l}" />
	         <label for="subscriber_edit_postvar_instantresponders_{$l}">{"Send Instant Responders?"|alang}</label>
	         <br />
	         <input type="checkbox" value="1" name="subscriber_edit_postvar_noresponders[{$l}]" id="subscriber_edit_postvar_noresponders_{$l}" />
	         <label for="subscriber_edit_postvar_noresponders_{$l}">{"Disable Future Responders?"|alang}</label>
	         <br />
	         <input type="checkbox" value="1" name="subscriber_edit_postvar_lastmessage[{$l}]" id="subscriber_edit_postvar_lastmessage_{$l}" />
	         <label for="subscriber_edit_postvar_lastmessage_{$l}">{"Send Last Campaign?"|alang}</label>
	         <br />
	         <br />
	         <table cellspacing="0" cellpadding="0" border="0">
	           <tr>
	             <td>{"Form ID"|alang}:</td>
	             <td><input type="text" name="subscriber_edit_postvar_form" id="subscriber_edit_postvar_form_{$l}" class="settings_api_param_id" /></td>
	             <td><b>{"Example"|alang}:</b> <span class="code">1001</span></td>
	           </tr>
	           <tr>
	             <td>{"IP Address"|alang}:</td>
	             <td><input type="text" name="subscriber_edit_postvar_ip4" id="subscriber_edit_postvar_ip4_{$l}" class="settings_api_param_general1" /></td>
	             <td><b>{"Example"|alang}:</b> <span class="code">262.907.23.21</span></td>
	           </tr>
	           <tr>
	             <td>{"Subscription Date"|alang}:</td>
	             <td><input type="text" name="subscriber_edit_postvar_sdate[{$l}]" id="subscriber_edit_postvar_sdate_{$l}" class="settings_api_param_general1" /></td>
	             <td><b>{"Example"|alang}:</b> <span class="code">2012-07-01</span></td>
	           </tr>
	           <tr>
	             <td>{"Unsubscription Reason"|alang}:</td>
	             <td><input type="text" name="subscriber_edit_postvar_unsubreason[{$l}]" id="subscriber_edit_postvar_unsubreason_{$l}" class="settings_api_param_general1" /></td>
	             <td><b>{"Example"|alang}:</b> <span class="code">{"No longer interested"|alang}</span></td>
	           </tr>
	         </table>
	         <br />
	         <br />
	         <br />
	        </div>
        {/foreach}
      </td>
    </tr>
    <tr>
      <td>{"Custom Fields"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          {foreach from=$api_explorer_fields item=f name=counter}
	          <tr>
	            <td>{$f.title}:</td>
	            <td>
                <input type="text" name="subscriber_edit_postvar_field[%{$f.perstag}%,0]" id="subscriber_edit_postvar_field_{$f.id}" value="" class="settings_api_param_general1" />
                <br />
                <br />
                <input type="checkbox" id="subscriber_edit_postvar_field_{$f.id}_empty" />
                <label for="subscriber_edit_postvar_field_{$f.id}_empty">{"Set to empty?"|alang}</label>
              </td>
	            <td></td>
	          </tr>
          {/foreach}
        </table>
      </td>
    </tr>
    <tr>
      <td>{"Overwrite All Data?"|alang}</td>
      <td>
        <input type="checkbox" value="1" name="subscriber_edit_param_overwrite" checked="checked" />
        ({"UNcheck to overwrite only the supplied fields/values."|alang})
      </td>
    </tr>
  </table>
</div>