<div id="api_parameters_user_view_email" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"User Email"|alang}:</td>
      <td>
        <input type="text" name="user_view_email_param_email" id="user_view_email_param_email" value="{$admin.email}" class="settings_api_param_email" readonly="readonly" />
      </td>
    </tr>
  </table>
</div>