<div id="api_parameters_user_view_username" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Username"|alang}:</td>
      <td>
        <input type="text" name="user_view_username_param_username" id="user_view_username_param_username" value="{$admin.username}" readonly="readonly" class="settings_api_param_general2" />
      </td>
    </tr>
  </table>
</div>