<div id="api_parameters_user_delete" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"User ID"|alang}:</td>
      <td>
        <input type="text" name="user_delete_param_id" id="user_delete_param_id" value="" class="settings_api_param_id" />
      </td>
    </tr>
    <tr>
      <td>{"Delete Related Data (such as Lists, Campaigns, etc)?"|alang}</td>
      <td>
        <select name="user_delete_param_extra" id="user_delete_param_extra">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </td>
    </tr>
  </table>
</div>