
/* PAGE DEFAULTS */
/* Setting the main body, font, color, and link defaults */
body{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#333333; margin:0px; padding:0px; }

input{ font-size:10px; font-weight:normal; }

a, a:visited{ color:#666666; }
a:hover{ color:#333333; }

hr{ background:#CCCCCC; color:#CCCCCC; height:1px; border:0px; }

/* Login Box For Index Page (usually the admin index) */
.ac_login_container{ }
.ac_login_box_container{ padding-top:75px; width:300px; }
	.ac_login_box_container a, .ac_login_box_container a:visited{ color:#999999; }
	.ac_login_box{ background:#FFFFFF;	border:1px solid #93A5B8; text-align:left; padding:20px; margin-top:5px; }
	.ac_login_box input{ font-size:19px; }
	.ac_login_box_remember_me{ float:right; padding-top:5px;}
	.ac_copyright_text{ color:#999999; font-size:10px; margin-top:5px; }

/* Core Layout Of ADMIN Section */
/* Public section layouts are in the product's css folder */
#ac_admin_container{ }
	#ac_admin_header{ height:45px; background:#0364BE; padding:15px; padding-left:0px; }
		#ac_admin_header_logo{ height:50px; width:200px; overflow:hidden; text-align:center; vertical-align:middle; }
	#ac_admin_inner_container{ background:#D4E2F0; padding:15px; }
	#ac_admin_side{ float:left; width:140px; background:#EEF3F9; padding:15px; padding-top:0px; }
		#ac_admin_side h1{ background:#C2D6EB; color: #7D8FA2; padding:15px; font-size:16px; margin:-15px; margin-top:0px; margin-bottom:10px; padding-top:7px; padding-bottom:7px; font-weight:normal; border-bottom:1px solid #A7C5E4; }
		#ac_admin_side a, #ac_admin_side a:visited{ color: #7D8FA2; border-bottom:1px solid #DFE8F2; display:block; margin-bottom:5px; padding-bottom:3px; }
		#ac_admin_side h2{ color: #7D8FA2; font-size:11px; font-weight:normal; display:block; margin-bottom:5px; padding-bottom:3px; }
		#ac_admin_side h1 a, #ac_admin_side h1 a:visited{ border:none; display:inline; margin:0; padding:0; text-decoration:none; }
	#ac_admin_content{ text-align:left; background:#ffffff; min-height:400px; padding-top: 1em; margin-left: 185px; padding:15px;}
		#ac_admin_content h1{ font-size:16px; font-family: Helvetica, Verdana, Arial, sans-serif; margin:-15px; color:#8D8C85; margin-bottom:15px; border-bottom:1px solid #80C449; padding:15px; padding-top:7px; padding-bottom:7px; font-weight:normal; word-spacing:-1px; background-color:#EFEDDF;   }
		#ac_admin_content h2{ background:url(../media/ac_h2_arrows.gif); background-position:right; background-repeat:no-repeat; background-color:#EFEDDE; color: #A7A6A0; font-size:12px; margin:0px; padding:5px; cursor:pointer;  }
		#ac_admin_content .h2_static{ background-color:#EFEDDE; color: #A7A6A0; font-size:12px; margin:0px; padding:5px;  }
		#ac_admin_content .h2_wrap_static h2 { cursor: default; }

		#ac_admin_content .h2_wrap{ margin-bottom:10px; }
		#ac_admin_content .h2_wrap_static{ margin-bottom:10px; }
		#ac_admin_content .h2_content{ border:1px solid #EFEDDE; padding:10px; }
		#ac_admin_content .h2_content_invis{ display:none; margin-bottom:10px; }

	#ac_admin_footer{ clear: both; background:#EEF3F9; padding:15px; padding-top:5px; padding-bottom:5px; color:#999999; }
	#footer_links{ float:right; }
		#ac_admin_footer a, #ac_admin_footer a:visited{ color:#999999; }

.ac_table_box_header{ background:#C2D6EB; padding:5px; font-weight:bold; color: #8D9DAE;}
.ac_table_box_content{ border:1px solid #C2D6EB; padding:5px; }

.ac_table_header_options td{ background-color:#F8F8F8; padding:5px; color: #666666; border:1px solid #DEE7EF; border-bottom:0px; }
	.ac_table_header_options td a, .ac_table_header td a:visited{ color: #666666; display:block; }
	.ac_table_header_options select{ font-size:10px; border:1px solid #DEE7EF }
	.ac_table_header_options input{ font-size:10px; border:1px solid #DEE7EF; background:#ffffff;}

.ac_table_header td{ background:url(../media/ac_table_header.gif); background-position:top; background-repeat:repeat-x; background-color:#DEE7EF; padding:5px; color: #666666; border-top:1px solid #DEE7EF; border-bottom:1px solid #D0DBE5; border-left:1px solid #DEE7EF; }
	.ac_table_header td a, .ac_table_header td a:visited{ color: #666666; display:block; }
.ac_table_row td{ padding:5px; border-bottom: 1px solid #DEE7EF; padding-top:3px; padding-bottom:3px; }
	.ac_table_row td a, .ac_table_header td a:visited{ color: #666666; }

/* Help Icons */
div.ac_help { z-index: 999; /*display: none;*/ position:absolute; border: 1px solid #B4CDE6; padding: 10px; width:200px; margin-top:6px; font-size:10px; background:#F0F6FB; color:#333333; }
	a.ac_help {	background: url(../media/ac_help_default.gif) no-repeat center;	padding: 1px; }
	a.ac_help:hover { background: url(../media/ac_help_hover.gif) no-repeat center; padding: 1px; }


.ac_no_text_decoration a, .ac_no_text_decoration a:visited{ text-decoration:none; }

/* Stars */
a.ac_star_none { background: url(../media/ac_star_none.gif) no-repeat center; padding:1px; }
a.ac_star_half { background: url(../media/ac_star_half.gif) no-repeat center; padding:1px; }
a.ac_star_full { background: url(../media/ac_star_full.gif) no-repeat center; padding:1px; }
a.ac_star_hover { background: url(../media/ac_star_hover.gif) no-repeat center; padding:1px; }
.ac_star_rating { font-size: 8px; font-style: italic };

fieldset{
	border:1px solid #CCCCCC;
}
legend{
	color:#666666;
}


.tab_nav{
	border-bottom: 1px solid #CCCCCC; padding: 5px; padding-left:0px;
}

.tab_nav a {
	padding:5px;
	background-color:#F6F6F6;
	text-decoration: none;
	margin-right:10px;
	border: 1px solid #cccccc;
}
.tab_nav a:hover {
	padding:5px;
	background-color:#cccccc;
	text-decoration: none;

}
tr.row_normal td{
	background-color: #F2FCFF;
	font-size: 11px;
	padding: 5px;
}

.row_header td{
	background-color: #83BBFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px;
	color: #FFFFFF;
}


.field_dropdown_head{
	border:1px solid #7599BA;
	padding:3px;
	background:url(../media/dropdown_down_arrow.gif);
	background-position:right;
	background-repeat:no-repeat;

}

.field_dropdown_value{
	border-left:1px solid #999999;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	padding:3px;
	margin-left:15px;
}

.field_dropdown_value div{
	padding:4px;
	padding-left:15px;
	background:url(../media/drag_icon.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:move;

}

.field_dropdown_value div img{
	float:left;
	padding-top:2px;
	padding-right:7px;
}

.field_radio_value{
	border-left:1px solid #999999;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	border-top:1px solid #999999;
	padding:3px;

}
.field_radio_value div{
	padding:4px;
	padding-left:15px;
	background:url(../media/drag_icon.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:move;

}
.field_radio_value div img{
	float:left;
	padding-top:2px;
	padding-right:7px;
}


/* Result Message - Used for erros, confirmations, etc.. */
.resultMessage{
	border:1px solid #999999;
	background:#FFFDE6;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
}



.top_nav_options {
	float: right;
	padding: 5px 10px 0 0;
}
.bottom_nav_links {
	text-align: right;
	padding: 20px;
	padding-left: 0;
	float: right;
}
.bottom_nav_options {
	margin-top: 20px;
	margin-right: 0;
	/*padding: 20px;
	border: 2px solid #657887;*/
}
.top_nav_button,
.bottom_nav_button {
	border: 1px solid black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	font-weight: bold;
}





.ac_icon_select { width: 410px; height: 60px; overflow: auto; padding: 2px; border: 1px solid #cccccc;  }
.ac_icon_select a { display: block; float: left; margin: 2px; border: 1px solid #ffffff; }
.ac_icon_select img { margin: 4px; width: 16px; height: 16px; border: none; }
.ac_icon_select a:hover { background-color: #F0F6FB; }
a.ac_icon_selected { background-color: #F0F6FB; border: 1px solid #000; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
#categoryIcon { margin: 4px; width: 16px; height: 16px; border: none; }

.ac_hidden { display: none; }
.ac_block { display: block; }
.ac_inline { display: inline; }
.ac_table_cell { display: table-cell; }
.ac_table_row { display: table-row; }
.ac_table_rowgroup { display: table-row-group; }

.ac_offer {
	position: absolute;
	display: block;
	border: 2px solid #8FE04E;
	margin: 0;
	right: 10px;
	width: 400px;
	background-color: #DCFFC0;
	padding: 4px;
}



#dhtmltooltip{
	font-size:10px;
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid #C7C3A5;
	padding: 2px;
	background-color: #FCFBF6;
	visibility: hidden;
	color:#666666;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}



.ac_paginator {
	font-size:10px;
	margin-top:5px;
}

.ac_paginator select,
.ac_paginator option {
	font-size:10px;
}

.ac_paginator span,
.ac_paginator span strong,
.ac_paginator span a {
	margin: 0;
	padding: 0;
	padding-left: 4px;
}

.ac_paginator a.paginatorPageLink {
	margin: 0;
	padding: 0;
	padding-left:2px;
}

.invisible{
display:none;
}


#ac_result_bar { border-top: 1px solid #0C0; text-align: center; position: fixed; z-index: 999; width: 100%; height: 32px; }
#ac_result_text {  background-color: #0C0; color: White; font-weight: bold; padding: 8px 8px 0 8px; }

#ac_error_bar { border-top: 1px solid Red; text-align: center; position: fixed; z-index: 999; width: 100%; height: 32px; }
#ac_error_text {  background-color: Red; color: White; font-weight: bold; padding: 8px 8px 0 8px; }

#ac_loading_bar { border-top: 1px solid #FF9900; text-align: center; position: fixed; z-index: 999; width: 100%; height: 32px; }
#ac_loading_text {  background-color: #FF9900; color: White; font-weight: bold; padding: 8px 8px 0 8px; }

#liveedit { text-align: right; position: fixed; top: 0px; right: 200px; z-index: 999; padding: 4px 10px 0 0; border: none; }
#liveedit_a {  color: White; font-weight: bold; font-size: 10px; }

.ac_sort_asc { background:url(../media/asc.gif); background-position:right; background-repeat:no-repeat; }
.ac_sort_desc { background:url(../media/desc.gif); background-position:right; background-repeat:no-repeat; }
.ac_sort_other { background: none; }

div.ac_autocomplete {
	width: 350px;
	background: #fff;
}
div.ac_autocomplete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
	cursor: pointer;
}
div.ac_autocomplete ul li {
	margin:0;
	padding:3px;
	cursor: pointer;
	text-align: left;
}
div.ac_autocomplete ul li.selected {
	background-color: #ffb;
	background-color:#F0F6FB;
}
div.ac_autocomplete ul strong.highlight {
	color: #333;
	background-color:#B4CDE6;
	margin:0;
	padding:0;
}





/* tabbed interface - tabs start */


.navlist {
	padding: 3px 0 2px 1em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 7px;
	border-bottom: 1px solid #778;
	font: normal bold 11px Verdana, Helvetica, sans-serif;
}

.navlist ul {
	display: inline;
	padding: 3px 1em 3px 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 7px;
	/*font: normal bold 11px Verdana, Helvetica, sans-serif;*/
}

.navlist li,
.navlist li.othertab {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	margin-right:5px;
	color: #cccccc;
	/*background: #EEEEEE;*/
	background: #FCFCFC;
	text-decoration: none;
	font-weight:normal;
}
.navlist li a,
.navlist li.othertab a {
	color: #cccccc;
	padding: 2px 4px;
	margin-left: -1px;
	margin-right: -2px;
	border: 1px solid #778;
	/*background: #EEEEEE;*/
	background: #FCFCFC;
	text-decoration: none;
	display:inline;
	font-weight:normal;

}
.navlist li a:link,
.navlist li a:visited,
.navlist li.othertab a:link,
.navlist li.othertab a:visited {
	color: #999999;
	text-decoration: none;
	font-weight:normal;
	background: #FCFCFC;
}

.navlist li a:hover,
.navlist li.othertab a:hover {
	background: #FCFCFC;
	background: #EEEEEE;
	border-color: #227;
	text-decoration: none;
	font-weight:normal;
}
.navlist li a:active,
.navlist li.othertab a:active {
	border: 1px solid #778;
	border-bottom: 2px solid #FFFFFF;
	background: #FCFCFC;
}
.navlist li.currenttab a {
	background: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	padding: 5px 6px 1px 7px;
	margin-left: -4px;
	margin-right: -4px;
	color:	#000000;
	font-weight:bold;

}
.navlist li.currenttab a:hover {
	background: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	cursor: default;
}

.navlist li.disabledtab a {
	display:none;
/*
	background: #DDDDDD;
	margin-left: -1px;
	margin-right: -2px;
	border: 1px solid #778;
	border-bottom: none;
	padding: 2px 4px;
	cursor: default;
	font-style: italic;
	color: #999;
*/
}
.navlist li.disabledtab a:hover {
	background: #DDDDDD;
	margin-left: -1px;
	margin-right: -2px;
	border: 1px solid #778;
	border-bottom: none;
	padding: 2px 4px;
	cursor: default;
	font-style: italic;
}
.navlist li ul.invisible {
	display: none;
}

.navlist li.notatab,
.navlist li.notatab a {
	background-color: transparent;
	border: none;
	color: #000;
}

/* tabbed interface - tabs end */

/* tabbed interface - panels start */

.visibletab {
	display: block;
	border: 1px solid #778;
	border-top: 0px;
	margin: 0px;
	margin-top:0px;
	padding: 20px;
}
.visibletab legend{
	font-size:10px;
}
.hiddentab {
	display: none;
}

/* tabbed interface - panels end */



.ac_upload_box {
	border: 1px solid red;
}
.ac_upload_frame {
	border-width: 0px;
	height: 40px;
	width: 400px;
	vertical-align:top;
	border: 1px solid yellow;
}
.ac_upload_list_item {
	border: 1px solid Maroon;
}

.ac_greyout {
	color: #ccc;
}
.ac_table_row_options a,
.ac_table_row_options span {
	margin-right: 3px;
}

.width300{
	width:300px;
}
.width400{
	width:400px;
}
.width500{
	width:500px;
}
.ac_modal_text{

	background:url(../images/loader.gif);
	background-repeat:no-repeat;
	padding-left:25px;
}

.ac_radio_list label { display: block; }

/* sync stuff */
#syncTables label, #syncCustom label { border-top: 1px solid #ccc; padding: 4px; }

.ac_table_row_options {
	white-space:nowrap;
	padding-right:10px;
};

.ac_mapped_column {
	background-color: #ccc;
}
