<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="abuse.js"}
</script>

<h1>{"Abuse Complaints"|alang}</h1>

{include file="abuse.list.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(abuse_process, true);
</script>
