<tr>
	<td valign="top" class="streaminfo">
		<div class="twitter">11</div>
		<p>{"Twitter mentions"|alang}<br /><small>11 {"minutes ago"|alang}</small></p>
	</td>
	<td valign="top">
		<div class="avatarstream">
			
			<a href="#"><img src="images/def-profile-2.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-3.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-56.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-4.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-5.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-6.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-7.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-8.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-9.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-10.png" height="25" /></a>
            <a href="#"><img src="images/def-profile-11.png" height="25" /></a>
		</div>
	</td>
</tr>





<tr>
	<td valign="top" class="streaminfo">
		<div class="acalert">416</div>
		<p>{"Opens"|alang}<br /><small>17 {"minutes ago"|alang}</small></p>
	</td>

	<td valign="top" class="viewer"><span class="inlinebar sparkme">3,5,1,0,7,8,8,4,9,3,6,1,0,0,2,4,6,9,5,3,1,0,0,0,3,5,2,7,1,0,0,0,1,0,2,0,4,0,6,7,9,3,5,4,4,3,1,0,0,2,0,4,7,8,9,4,2,1,0,5</span></td>

</tr>


<tr>
	<td valign="top" class="streaminfo">
		<div class="acalert">127</div>
		<p>{"Click-thru"|alang}<br /><small>19 {"minutes ago"|alang}</small></p>
	</td>
	<td valign="top">
		<div class="avatarstream">
			<a href="#"><img src="images/def-profile-12.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-13.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-14.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-15.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-16.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-17.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-18.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-19.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-20.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-21.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-22.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-23.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-24.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-25.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-26.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-27.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-28.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-29.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-30.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-31.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-32.png" height="25" /></a>

		</div>
	</td>
</tr>


<tr>
	<td valign="top" class="streaminfo faded">
		<div class="unsub">4</div>
		<p>{"Unsubscribed"|alang}<br /><small>31 {"minutes ago"|alang}</small></p>
	</td>
	<td valign="top" class="viewer faded">
		<div class="avatarstream">
			<a href="#"><img src="images/def-profile-33.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-34.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-35.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-36.png" height="25" /></a>
		</div>
	</td>
</tr>

<tr>
	<td valign="top" class="streaminfo">
		<div class="facebook">7</div>
		<p>{"Facebook shares"|alang}<br /><small>1 {"hour ago"|alang}</small></p>
	</td>
	<td valign="top">
		<div class="avatarstream">
			<a href="#"><img src="images/def-profile-37.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-38.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-39.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-40.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-41.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-42.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-43.png" height="25" /></a>
		</div>
	</td>
</tr>


<tr>
	<td valign="top" class="streaminfo">
		<div class="acalert">13</div>
		<p>{"New subscribers"|alang}<br /><small>2 {"hours ago"|alang}</small></p>
	</td>
	<td valign="top">
		<div class="avatarstream">
			<a href="#"><img src="images/def-profile-44.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-45.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-46.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-47.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-48.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-49.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-50.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-51.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-52.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-53.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-54.png" height="25" /></a>
			<a href="#"><img src="images/def-profile-55.png" height="25" /></a>
			<a href="#"><img src="images/gravatar_default_25.gif" height="25" /></a>
		</div>
	</td>
</tr>
