{ac_js lib="really/simplehistory.js"}
<script type="text/javascript">
  {include file="approval.js"}
</script>

<h1>{"Campaign Approval Queue"|alang}</h1>

{include file="approval.list.htm"}
{* include file="approval.view.htm" *}
{* include file="approval.delete.htm" *}
{* include file="approval.search.htm" *}

<script type="text/javascript">
  ac_ui_rsh_init(approval_process, true);
</script>
