<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="batch.js"}
</script>

{if $formSubmitted}
<script>
ac_result_show('{"Subscribers removed"|alang|js}');
</script>
{/if}

{* load javascript calendar *}
{ac_calendar base=".."}

<h1>{"Batch Actions"|alang}</h1>

<form id="form" method="POST">

	<input type="hidden" name="batch_action" id="batch_action" />

  <div class="h2_wrap_static">
		<h2 style="margin-top: 20px;">{"Perform action in these lists:"|alang}</h2>

		<div id="parentsList" class="ac_checkboxlist" style="margin-left: 15px;">
			{foreach from=$listsList item=p}
				<div>
					<label>
						<input type="checkbox" id="p_{$p.id}" name="p[{$p.id}]" value="{$p.id}" {if count($listsList) == 1}checked="checked"{/if} />
						{$p.name|truncate:50}
					</label>
				</div>
			{/foreach}
		</div>

	</div>

	<br />

  <div class="h2_wrap">
    <h2 style="margin-top: 20px;" onclick="ac_dom_toggle_class('batchremovepanel', 'h2_content_invis', 'h2_content');">{"Remove a select list of addresses (enter emails in box - one per line)"|alang}</h2>
    <div id="batchremovepanel" class="h2_content">
      <textarea name="emailBox" id="emailBox" rows="10" cols="60" style="margin-left: 15px; width: 80%;"></textarea>
  		<br />
  		<br />
      <input style="margin-left: 15px;" type="submit" id="batchremovepanel_start" class="ac_button_start" name="removelist" value="{"Delete addresses listed in above text box"|alang}" onclick="batch_exec('batchremovepanel'); return false;" />
    </div>
  </div>

	<div class="h2_wrap">
		<h2 style="margin-top: 30px;" onclick="ac_dom_toggle_class('batchoptimizepanel', 'h2_content_invis', 'h2_content');">{"Remove all non-confirmed subscribers from these lists"|alang}</h2>
		<div id="batchoptimizepanel" class="h2_content">

			<div class="ac_warning" style="margin-left: 15px;">{"Warning: This will delete all subscribers who have not confirmed their subscription for these lists."|alang}</div>
			<br />
			<div style="margin-left: 15px;">{"All subscribers who subscribed (but did not confirm their subscription) before:"|alang}</div>
			<div style="margin: 10px 0 20px 15px;">
				<input name="batchoptimizepanel_field" type="text" size="20" id="batchoptimizepanel_field" tabindex="5" value="{$start_date}" onchange="somethingChanged = true;" />
				<a href="#" onclick='return false;' id="batchoptimizepanel_calendar"><img src="../images/calendar.png" border="0" /></a>
			</div>

			<input style="margin-left: 15px;" type="submit" id="batchoptimizepanel_start" class="ac_button_start" name="removeall" value="{"Delete all non-confirmed subscribers"|alang}" onclick="batch_exec('batchoptimizepanel'); return false;" />
		</div>
	</div>

  <div class="h2_wrap">
    <h2 style="margin-top: 30px;" onclick="ac_dom_toggle_class('batchoptimizepanel2', 'h2_content_invis', 'h2_content');">{"Remove all subscribers from these lists"|alang}</h2>
    <div id="batchoptimizepanel2" class="h2_content">

      <div class="ac_warning" style="margin-left: 15px;">{"Warning: This will delete all addresses in these lists and your subscriber count will be zero for those lists once complete."|alang}</div>
     <br />
	  <input style="margin-left: 15px;" type="submit" id="batchoptimizepanel2_start" class="ac_button_start" name="removeall" value="{"Delete all subscribers from these lists"|alang}" onclick="batch_exec('batchoptimizepanel2'); return false;" />
    </div>
  </div>

</form>

<script type="text/javascript">
{literal}
	Calendar.setup({inputField: "batchoptimizepanel_field", ifFormat: '%Y/%m/%d', button: "batchoptimizepanel_calendar", showsTime: true, timeFormat: "24"});
{/literal}
  //ac_ui_rsh_init(batch_process, true);
</script>
