<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="bounce_management.js"}
</script>

<div style="float: right;">
  <a href="main.php?action=bounce_code">{"Bounce Codes"|alang}</a>
</div>
<h1>{"Bounce Settings"|alang}</h1>

{include file="bounce_management.list.htm"}
{include file="bounce_management.form.htm"}
{include file="bounce_management.delete.htm"}
{include file="bounce_management.search.htm"}
{include file="bounce_management.log.htm"}
{include file="help.bounce.inc.htm"}


<script type="text/javascript">
  ac_ui_rsh_init(bounce_management_process, true);
</script>
