<div id="log" class="ac_modal{*_log*}" align="center" style="display: none">
  <div class="ac_modal_inner">
    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="ac_dom_toggle_display('log', 'block'); ac_ui_anchor_set(bounce_management_list_anchor())" />
    </div>
    <div id="log_result_box" class="ac_hidden">
      <div>
        {"Date:"|alang}
        <span id="log_date"></span>
      </div>
      <div>
        {"E-mail:"|alang}
        <span id="log_email"></span>
      </div>
      <div id="log_campaign_box">
        {"Campaign:"|alang}
        <span id="log_campaign"></span>
      </div>
      <div>
        {"Result:"|alang}
        <span id="log_result"></span>
      </div>
      <div>
        {"Email source:"|alang}<br />
        <textarea id="log_source" style="width: 99%; height: 200px;"></textarea>
      </div>
      <div style="text-align: right;">
        <a href="#" onclick="return bounce_management_log_hide();">{'Back...'|alang}</a>
      </div>
    </div>
    <div id="log_list_box" class="ac_block">
      <p>
        {"This page will show you the last 50 emails that arrived and got parsed by the system."|alang}
        {"By looking at this information you can see if your Bounce Management is setup properly."|alang}
        {"Every time the email arrives, whether a legal bounce email or not, is stored and listed here."|alang}
      </p>
      <div>{"Log Entries:"|alang} <span id="log_count"></span></div>
      <br />
      <ul id="log_list" class="ac_hidden"></ul>
      <div id="log_empty" class="ac_block">{"This Bounce Settings has never processed bounces."|alang}</div>
    </div>
    <br />
    <p>
      <em>{"Please note that not more than one bounce per subscriber email will be logged in one day."|alang}</em><br />
      {"This restricts the system from accidentally removing the subscriber if his server/network is offline for an extended period of time."|alang}
    </p>
    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="ac_dom_toggle_display('log', 'block'); ac_ui_anchor_set(bounce_management_list_anchor())" />
    </div>
  </div>
</div>
