<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="bounce_management_form_save(bounce_management_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
    <div class="h2_wrap_static">
      <h2>{"Method To Deal With Bounced E-Mails"|alang}</h2>
      <div class="h2_content">
          <div>
            <label>
              <input name="type" id="bouncetypeFieldNone" type="radio" value="none" onchange="$('bounceform').className = ( !this.checked ? 'ac_block' : 'ac_hidden' );" />
              <strong>{"No Bounced E-mail Management"|alang}</strong>
              {"(Default)"|alang}
            </label>
          </div>
          <div class="ac_greyout">{"Bounced E-mail Messages will be sent to the From sender of the mailing. No configuration is needed. Recommended for novice users."|alang}</div>

          <div>
            <label>
              <input name="type" id="bouncetypeFieldPipe" type="radio" value="pipe" onchange="$('bounceform').className = ( this.checked ? 'ac_block' : 'ac_hidden' ); $('bouncepop3').className = 'ac_hidden';" />
              <strong>{"Pipe from Email Address"|alang}</strong>
            </label>
          </div>

          <div>
            <label>
              <input name="type" id="bouncetypeFieldPOP3" type="radio" value="pop3" onchange="$('bounceform').className = ( this.checked ? 'ac_block' : 'ac_hidden' ); $('bouncepop3').className = 'ac_table_rowgroup';" />
              <strong>{"Use POP3 Account"|alang}</strong>
            </label>
          </div>
      <div id="bounceform" class="ac_hidden">
        <table border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td>{"E-mail Address"|alang}</td>
            <td><input name="email" type="text" id="bounceemailField" value="" size="50" /></td>
          </tr>
          <tbody id="bouncelists" class="ac_table_rowgroup">
            <tr valign="top">
              <td>{"Used in Lists:"|alang}</td>
              <td>

								<div id="parentsList_div" class="ac_checkboxlist">
									{foreach from=$listsList item=p}
										<div>
											<label>
												<input type="checkbox" id="p_{$p.id}" class="parentsList" name="p[]" value="{$p.id}" {if count($listsList) == 1}checked="checked"{/if} />
												{$p.name|truncate:50}
											</label>
										</div>
									{/foreach}
								</div>
							  <div>
									{"Select:"|alang}
									<a href="#" onclick="parents_box_select(1, 0); return false;">{"All"|alang}</a>
									&middot;
									<a href="#" onclick="parents_box_select(0, 0); return false;">{"None"|alang}</a>
							  </div>

              </td>
          </tr>
          </tbody>
          <tbody id="bouncepop3">
            <tr>
              <td>{"POP3 Host"|alang}<br />{"(IE: pop.example.com)"|alang}</td>
              <td valign="top"><input name="host" type="text" id="bouncehostField" value="" size="50" /></td>
            </tr>
            <tr>
              <td>{"POP3 Port"|alang}<br />{"(Default is 110)"|alang}</td>
              <td><input name="port" type="text" value="" id="bounceportField" size="8" /></td>
            </tr>
            <tr>
              <td>{"POP3 Username"|alang}</td>
              <td><input name="user" type="text" id="bounceuserField" value="" size="50" /></td>
            </tr>
            <tr>
              <td>{"POP3 Password"|alang}</td>
              <td><input name="pass" type="password" id="bouncepassField" value="" size="50" /></td>
            </tr>
            <tr>
              <td>{"Number of emails to process at one time"|alang}</td>
              <td><input name="emails_per_batch" type="text" id="bouncebatchField" value="" size="8" /></td>
            </tr>
          </tbody>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          {*<tr>
            <td colspan="2"><strong>{"Bounce Management Options"|alang}</strong></td>
          </tr>*}
          <tr>
            <td valign="top"><strong>{"Bounce Management Options"|alang}</strong></td>
            <td>
              {"Number of times an address may soft bounce before being removed"|alang}<br />
              <input name="limit_soft" type="text" id="bouncesoftField" value="" size="8" />
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              {"Number of times an address may hard bounce before being removed"|alang}<br />
              <input name="limit_hard" type="text" id="bouncehardField" value="" size="8" />
            </td>
          </tr>
        </table>
        </div>

        <br />
        <div>
          <input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="bounce_management_form_save(bounce_management_form_id)" />
          <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
        </div>
        <input type="submit" style="display:none"/>
      </div>
    </div>
  </form>
</div>
