<script type="text/javascript">
	{include file="campaign_new.shared.js" step="template"}
	{include file="campaign_new_template.js"}
</script>

<form id="campaignform" method="POST" action="main.php" onsubmit="return false">
	{include file="campaign_new.header.htm" step="template" highlight=2}
	<input type="hidden" name="action" value="campaign_new_template">
	<input type="hidden" name="basetemplateid" id="campaign_basetemplateid" value="{$campaign.basetemplateid}">
	<input type="hidden" name="basemessageid" id="campaign_basemessageid" value="{$campaign.basemessageid}">
	<input type="text" name="dummy" style="display:none">

	<div class="h2_wrap_static">
		<h2>{"Select a template to base your email off of..."|alang}</h2>
		{include file="template.list.inc.htm"}
	</div>

	<br clear="all">

	<script type="text/javascript">
		campaign_save_auto_runagain();
		campaign_template_display();
{literal}
		$J(document).ready(function() {
				campaign_progress_linkup();
		});
{/literal}
	</script>
</form>

<div id="alreadyselected" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Selecting a new template"|alang}</h1>

		{"You already have a template/message that you were working on."|alang}
		{"By selecting a new template, you will overwrite your existing template/message."|alang}
		{"Are you sure you to start with this new template?  You will lose your current message!"|alang}

		<br>
		<br>

		<div>
			<input type="button" value='{"Yes - Select This New Template"|alang}' onclick="campaign_save(campaign_template_afterstep)" style="font-weight: bold;">
			<input type="button" value='{"No - Use Existing"|alang}' onclick="campaign_template_useexisting()">
		</div>
	</div>
</div>