<div id="message_fetch" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Fetch From URL"|alang}</h1>

		<div class="ac_help_inline">{"Use HTML from any URL you specify as the contents of your email."|alang}</div>

		<br />
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td>{"URL"|alang}</td>
				<td width="15">&nbsp;</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<input type="text" name="fetchurl_temp" id="fetchurl" value="{$fetchurl}" style="width:99%;" />
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					{"When should we fetch this?"|alang}
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input id="fetchnow" name="fetch_temp" type="radio" value="now" onclick="campaign_fetch_radiochoose(this.value)" {if $fetch == "now"}checked{/if} />
						{"Fetch now and put it into the editor so I can edit before sending"|alang}
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input id="fetchsend" name="fetch_temp" type="radio" value="send" onclick="campaign_fetch_radiochoose(this.value)" {if $fetch == "send" or $fetch == "cust"}checked{/if} />
						{"Fetch at time of sending"|alang}
					</label>
				</td>
			</tr>
		</table>
		<br />

		<div>
			<input id="message_fetch_ok" type="button" {if $fetch == "now"}value='{"Insert"|alang}'{else}value='{"Save"|alang}'{/if} onclick="campaign_fetch_insert();" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('message_fetch').hide()">
			<input type="hidden" id="fetchwhat" name="fetchurl" value="{$fetchurl}" />
			<input type="hidden" id="fetchwhen" name="fetch" value="{if $fetch == 'now'}now{else}send{/if}" />
		</div>
	</div>
</div>
