<script type="text/javascript">
	{include file="campaign_new.shared.js" step="splitmessage"}
	{include file="campaign_new_splitmessage.js"}
</script>

<form id="campaignform" method="POST" action="main.php" onsubmit="return false">
	{include file="campaign_new.header.htm" step="splitmessage" highlight=2}
	<input type="hidden" name="action" value="campaign_new_splitmessage">
	<input type="hidden" name="managetext" id="campaign_managetextid" value="{$campaign.managetext}">
	<input type="hidden" name="messageid" value="{$message.id}">
	<input type="hidden" id="campaign_post_action" name="post_action" value="">
	<input type="hidden" id="campaign_post_m" name="post_m" value="">
	<input type="hidden" id="campaign_post_from" name="post_from" value="">
<h2>{"Create your messages to be included in this split test campaign"|alang}</h2>
	<div style="float: left; width: 175px; z-index:900;">
		{foreach from=$tabs item=e name=tabforeach}
		<div {if $message.id == $e.id}class="campaign_split_tab_selected"{else}class="campaign_split_tab"{/if}>
			{$smarty.foreach.tabforeach.iteration} -
			<a href="#" onclick="campaign_navigate('load', {$e.id}, {$message.id}); return false">{if $e.subject}{$e.subject}{else}<em>{"-- no subject --"|alang}</em>{/if}</a>
			{if count($tabs) > 1}
			(<a href="#" onclick="if (!confirm(campaign_message_str_reallydelete)) return false; campaign_navigate('del', {$e.id}, {$message.id}); return false">x</a>)
			{/if}
		</div>
		{/foreach}

		<div style="margin-top: 10px; margin-left: 25px;">
			<a href="#" onclick="campaign_navigate('new', 0, {$message.id}); return false" style="color:#999;">{"add new message"|alang}</a>
		</div>
	</div>

	<div style="margin-left:175px; z-index:999; border:1px solid #b7db61; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; background:#edf4db; padding:5px;">
    <div style="padding:10px; background:#fff; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="48%" valign="top">
					<h2>{"From Name"|alang}</h2>
					<div class="campaign_help">
						{"It is suggested to use your company or personal name here."|alang}
					</div>
					<div  class="campaign_input">
						<input tabindex="1" type="text" name="fromname" id="campaign_fromname" onkeyup="campaign_different()" value="{$message.fromname}" style="width: 99%">
					</div>
				</td>
				<td width="4%" valign="top">&nbsp;</td>
				<td width="48%" valign="top">
					<h2>{"From Email"|alang}</h2>
					<div class="campaign_help">
						{"Enter an email that this campaign should be sent as. You can also set a"|alang} <a href="#" onclick="ac_dom_toggle_display('replyto', 'block'); return false">{"reply-to"|alang}</a>.
					</div>
					<div  class="campaign_input">
						<input tabindex="2" type="text" name="fromemail" id="campaign_fromemail" onkeyup="campaign_different()" value="{$message.fromemail}" style="width: 99%">
					</div>

					<div id="replyto" style="{if !$message.reply2 or $message.fromemail == $message.reply2}display:none;{/if}">
						<h2 style="margin-top:15px;">{"Reply-To Email"|alang}</h2>
						<div  class="campaign_input border_top_5">
							<input type="text" name="reply2" id="campaign_reply2" onkeyup="campaign_different();" value="{$message.reply2}" style="width: 100%">
						</div>
					</div>
				</td>
			</tr>
		</table>



		<h2 style="margin-top:20px;">{"Subject & Message"|alang}</h2>
		<div class="campaign_help">
			{"This is the subject your subscribers will see.  We suggest a brief yet informative sentence.  This is what will engage your subscriber to open your email."|alang}
		</div>

		<div  class="campaign_input">
			{if $admin.limit_attachment != 0}
			<div style="float:right; padding-top:4px;" onclick="$('message_attach').show()"><img id="attachimg" src="images/mesg-attach.gif" style="cursor:pointer;" /></div>
			<div style="margin-right:15px;">
				{/if}
				<input tabindex="3" type="text" name="subject" id="campaign_subject" onkeyup="campaign_different()" value="{$message.subject|escape}" style="width: 99%;">
				{if $admin.limit_attachment != 0}
			</div>
			{/if}
		</div>

		<div class="campaign_input">
			<div class="ac_help_inline" id="editorfetch" {if $fetch == "now"}style="display:none"{/if}>
				<div style="font-size: 12px">
					{"When your campaign is sent, its HTML content will be fetched from"|alang}
					<a id="fetchhelplink" target="_blank" href="{$fetchurl}">{$fetchurl}</a>.
				</div>

				<div style="margin-top: 15px;">
					<input type="button" value='{"Edit"|alang}' onclick="campaign_fetch_open()">
					<input type="button" value='{"Do not fetch"|alang}' onclick="campaign_fetch_stop()">
				</div>
			</div>

			<div id="editordiv" {if $fetch != "now"}style="display:none"{/if}>
				<div id="editorhtml">
					<div style="margin:0px; padding-bottom:0px;">

						<div style="float:right; margin-bottom:3px;">
							<div align="right" style="vertical-align: middle;">
								{if $campaign.type != "activerss"}
								<a href="#" onclick="campaign_fetch_open(); return false" style="padding:2px; background:url(images/editor_fetch.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Fetch From URL'|alang}</a>
								<a href="#" onclick="campaign_activerss_open(); return false;" style="padding:2px; background:url(images/editor_activerss.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert RSS'|alang}</a>
								{/if}
								<a href="#" onclick="campaign_conditional_open(); return false;" style="padding:2px; background:url(images/editor_conditional.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Conditional Content'|alang}</a>
								<a href="#" onclick="campaign_personalization_open(); return false;" style="  padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
							</div>
						</div>

						<div>
							<ul class="navlist" style="padding-left:4px; margin-top: 3px; border-bottom:0px;">

								<li id="messageEditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
								<a href="#" onclick="return campaign_message_toggle_editor('message', true, ac_editor_init_word_object); return false" style="border-bottom:0px;"><span>{"Visual Editor"|alang}</span></a>
								</li>
								<li id="messageEditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
								<a href="#" onclick="return campaign_message_toggle_editor('message', false, ac_editor_init_word_object); return false" style="border-bottom:0px;"><span>{"Code Editor"|alang}</span></a>
								</li>

							</ul>
						</div>

						<div id="messageEditorLinkDefault" style="display:none;padding:2px; padding-left:4px; font-size:10px; background:none; border-top:1px solid #CCCCCC; background:#FFFFD5; ">
							<a href="#" onclick="return campaign_message_setdefaulteditor('message');" style="color:#666666;">{"Set as default editor mode"|alang}</a>
						</div>
					</div>
				</div>

				<textarea tabindex="4" name="html" id="messageEditor" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px;  margin-right:0px;" onblur="messageChanged=true;"></textarea>
				{if $admin.htmleditor}<script>campaign_message_toggle_editor('message', true, ac_editor_init_word_object);</script>{/if}
			</div>
		</div>
	</div>
	</div>

	<div class="campaign_input border_top_5" style="margin-top:15px; font-size:12px; color:#666;">
		<div id="askmanagetext" style="{if $campaign.managetext}display:none{/if}">
			{"We will automatically create nicely formatted text-only versions of your messages for you."|alang}

			<div style="float: right">
				<a href="#" onclick="campaign_managetext(1); campaign_different(); return false" style="color:#999;">{"Let me manage the text only version"|alang}</a>
			</div>
		</div>

		<div id="willmanagetext" style="{if !$campaign.managetext}display: none{/if}">
			{"You have chosen to manage the text versions of your messages."|alang}

			<div style="float: right">
				<a href="#" onclick="campaign_managetext(0); campaign_different(); return false" style="color:#999;">{"No, I'd rather let it be generated automatically"|alang}</a>
			</div>
		</div>
	</div>

	<div style="margin-top: 15px;">
		<h2>{"Choose how split testing should work"|alang}</h2>

		<div class="campaign_input border_top_5">
			<table cellpadding="5" cellspacing="0" border="0" style="font-size:12px;">
				<tr>
					<td valign="top"><input {if $campaign.split_type == "even"}checked{/if} name="splittype" id="splittypeeven" type="radio" value="even" onclick="campaign_split_type(this.value);" /></td>
					<td valign="top">
						<label for="splittypeeven">
							<strong>{"Do not determine the winner"|alang}</strong>
							{"- The chosen messages will be sent to the specified % of emails. You can then view split testing reports to see which message performed best."|alang}
						</label>
					</td>
				</tr>
				<tr>
					<td valign="top"><input {if $campaign.split_type != "even"}checked{/if} name="splittype" id="splittypewinner" type="radio" value="winner" onclick="campaign_split_type(this.value);" /></td>
					<td valign="top">
						<label for="splittypewinner">
							<strong>{"Determine (and send using) the winner"|alang}</strong>
							{"- The chosen messages will be sent to the specified % of emails. After a set timeframe the remaining emails will be sent using the winning message."|alang}
						</label>
					</td>
				</tr>
				<tbody id="splittypewinnerbox" {if $campaign.split_type == "even"}style="display:none"{/if}>
					<tr>
						<td valign="top">&nbsp;</td>
						<td valign="top">
							<div class="h2_wrap_static">
								<h2>{"How should the winning message be determined?"|alang}</h2>
								<div class="h2_content">
									<table cellpadding="5" cellspacing="0" border="0" style="font-size:12px;">
										<tr>
											<td valign="top"><input {if $campaign.split_type == "click"}checked{/if} name="splitwinnertype" id="splitwinnertypeclick" type="radio" value="click" /></td>
											<td valign="top">
												<label for="splitwinnertypeclick">
													<strong>{"Best Click Rate"|alang}</strong>
													{"- The winning email will be the message with the best click rate (on the links in your message)"|alang}
												</label>
											</td>
										</tr>
										<tr>
											<td valign="top"><input {if $campaign.split_type == "read"}checked{/if} name="splitwinnertype" id="splitwinnertyperead" type="radio" value="read" /></td>
											<td valign="top">
												<label for="splitwinnertyperead">
													<strong>{"Best Open Rate"|alang}</strong>
													{"- The winning email will be the message with the best open/read rate."|alang}
												</label>
											</td>
										</tr>
										<tr>
											<td valign="top">&nbsp;</td>
											<td valign="top">{"Determine the winning message (and send the remaining emails) after:"|alang}<br />
												<input name="splitoffset" id="splitoffset" type="text" value="{$campaign.split_offset}" size="3">
												<select name="splitoffsettype" id="splitoffsettype" size="1">
													<option {if $campaign.split_offset_type == "hour"}selected{/if} value="hour">{"Hours"|alang}</option>
													<option {if $campaign.split_offset_type == "day"}selected{/if} value="day">{"Days"|alang}</option>
													<option {if $campaign.split_offset_type == "week"}selected{/if} value="week">{"Weeks"|alang}</option>
													<option {if $campaign.split_offset_type == "month"}selected{/if} value="month">{"Months"|alang}</option>
												</select>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</td>
					</tr>
				</tbody>

			</table>

		</div>
	</div>

	<div id="splitwinner" class="h2_wrap_static">
		<br />
		<h2>{"Set the percent of emails to send each message to"|alang}</h2>
		<div class="campaign_input border_top_5">
			<div>{"Messages selected above will be sent to subscribers on this list with ratios:"|alang}</div>
			<table border="0" cellpadding="5" cellspacing="0" style="font-size:12px;">
				<tbody id="messagesplitlist">
					{foreach from=$tabs item=e}
					<tr>
						<td width="15" valign="top">
							<input class="splitmessageidclass" type="hidden" name="splitmessageid" value="{$e.id}">
							<input class="splitratioclass" {if $campaign.split_type == "even"}disabled{/if} name="splitratio" id="splitratio{$e.id}" value="{$e.percentage}" type="text" style="width: 20px;" onchange="message_split_recalculate_input(this)">
						</td>
						<td width="10" valign="center">%</td>


						<td width="300">
							<div style="border: 1px solid #9ec73d; background: #f0f3e8">
								<div id="splitbar{$e.id}" style="background:#D5E6AC;width:{$e.percentage300}px;margin-left:0px;">&nbsp;</div>
							</div>
						</td>
					</tr>
					{/foreach}
				</tbody>
				<tbody id="winneronly" {if $campaign.split_type == "even"}style="display:none"{/if}>
					<tr>
						<td width="10" valign="top"><input name="winnerratio" id="winnerratio" type="text" value="{$winnerval}" size="3" style="width:20px;" readonly="readonly" disabled="disabled" /></td>
						<td width="10" valign="center">%</td>

						<td width="300"><div style="border:1px solid #9EC73D;background:#F0F3E8;"><div id="winnerbar" style="background:#D5E6AC;width:{$winnerpx}px;margin-left:0;">&nbsp;</div></div></td>
                        <td style="color:#999;">({"Winning email"|alang})</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
                        <td>&nbsp;</td>
						<td colspan="3" style="font-color: #999999;">{"(Winning email will be chosen %s after campaign is sent based on the %s rate)"|alang:'<span id="splitoffsetlabel"></span>':'<span id="splitoffsettypelabel"></span>'}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<script type="text/javascript">
		campaign_save_auto_runagain();

{literal}
if (message_obj.html != "") {
	ac_form_value_set($("messageEditor"), message_obj.html);
}
message_split_recalculate();
		$J(document).ready(function() {
				campaign_progress_linkup();
		});
{/literal}
</script>

{include file="campaign_new_message.attach.htm"}
{include file="campaign_new_message.fetch.htm"}
</form>

{include file="campaign_new_message.personalize.htm"}
{include file="campaign_new_message.conditional.htm"}
{include file="campaign_new_message.activerss.htm"}