<script type="text/javascript">
	{include file="campaign_new.shared.js" step="splittext"}
	{include file="campaign_new_splittext.js"}
</script>

<form id="campaignform" method="POST" action="main.php" onsubmit="return false">
	{include file="campaign_new.header.htm" step="splittext" highlight=2}
	<input type="hidden" name="action" value="campaign_new_splittext">
	<input type="hidden" name="messageid" value="{$message.id}">
	<input type="hidden" id="campaign_post_action" name="post_action" value="">
	<input type="hidden" id="campaign_post_m" name="post_m" value="">
	<input type="hidden" id="campaign_post_from" name="post_from" value="">

	<h2>{"Text version of your message"|alang}</h2>

	<div style="float: left; width: 175px; z-index:900;">
		{foreach from=$tabs item=e name=tabforeach}
		<div {if $message.id == $e.id}class="campaign_split_tab_selected"{else}class="campaign_split_tab"{/if}>
			{$smarty.foreach.tabforeach.iteration} -
			<a href="#" onclick="campaign_navigate('load', {$e.id}, {$message.id}); return false">{if $e.subject}{$e.subject}{else}<em>{"-- no subject --"|alang}</em>{/if}</a>
		</div>
		{/foreach}
	</div>

	<div style="margin-left:175px; z-index:999; border:1px solid #b7db61; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; background:#edf4db; padding:5px;">
    <div style="padding:10px; background:#fff; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;">
		<div  class="campaign_input">
			<div class="ac_help_inline" id="editorfetch" {if $fetch == "now"}style="display:none"{/if}>
				<div style="font-size: 12px">
					{"When your campaign is sent, its HTML content will be fetched from"|alang}
					<a id="fetchhelplink" target="_blank" href="{$fetchurl}">{$fetchurl}</a>.
				</div>

				<div style="margin-top: 15px;">
					<input type="button" value='{"Edit"|alang}' onclick="campaign_fetch_open()">
					<input type="button" value='{"Do not fetch"|alang}' onclick="campaign_fetch_stop()">
				</div>
			</div>

			<div id="editordiv" {if $fetch != "now"}style="display:none"{/if}>
				<div align="right" style=" margin-bottom:7px;">
					<div align="right" style="vertical-align: middle;">
						{if $campaign.type != "activerss"}
						<a href="#" onclick="campaign_fetch_open(); return false" style="padding:2px; background:url(images/editor_fetch.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Fetch From URL'|alang}</a>
						<a href="#" onclick="campaign_activerss_open(); return false;" style="padding:2px; background:url(images/editor_activerss.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert RSS'|alang}</a>
						{/if}
						<a href="#" onclick="campaign_conditional_open(); return false;" style="padding:2px; background:url(images/editor_conditional.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Conditional Content'|alang}</a>
						<a href="#" onclick="campaign_personalization_open(); return false;" style=" padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
					</div>
				</div>

				<textarea name="text" id="messageEditor" style="background: url(images/text_ruler.gif); width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px; border:1px solid #CCCCCC; margin:0px;" onblur="messageChanged=true;"></textarea>
			</div>
		</div>
	</div>
    </div>

	<script type="text/javascript">
		campaign_save_auto_runagain();

		{literal}
		if (message_obj.text != "") {
			$("messageEditor").value = message_obj.text;
			default_editor_value = $("messageEditor").value;
		}
		$J(document).ready(function() {
				campaign_progress_linkup();
		});
		{/literal}
		</script>
		{include file="campaign_new_message.fetch.htm"}
	</form>

	{include file="campaign_new_message.personalize.htm"}
	{include file="campaign_new_message.conditional.htm"}
	{include file="campaign_new_message.activerss.htm"}