{if isset($campaign)}


{* load javascript calendar *}
{ac_calendar base=".."}
<script type="text/javascript">
  {include file="campaign_use.js"}
</script>

{if $formSubmitted}

<div class="ac_help_inline">{$submitResult.message}</div>

{if $submitResult.succeeded}

<input value="{'View Campaigns'|alang}" type="button" onclick="window.location = 'main.php?action=campaign';" style="font-size:14px;" />

{else}

<input value="{'Back'|alang}" type="button" onclick="window.history.go(-1);" style="font-size:14px;" />

{/if}

{else}

<h1>{"Reuse an Existing Campaign"|alang}</h1>

{if !$campaign}

<div class="warning">
	{"Campaign not found."|alang}
	<a href="main.php?action=campaign">{"Find a campaign you wish to reuse here."|alang}</a>
</div>

{else}

<form id="campaignform" method="POST" onsubmit="return form_check();">
	<input type="hidden" name="id" id="form_id" value="{$campaign.id}" />

	<div class="h2_wrap_static">
		<h2>{"Summary"|alang}</h2>
		<div class="h2_content">
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="26" valign="top"><img src="images/checkbox-16-16.png" width="16" height="16" /></td>
              <td width="125" valign="top" style="font-weight:bold;">{"Campaign Name"|alang}</td>
              <td>
                <span id="summary_campaign_label_box" class="ac_inline">
                  <span id="summary_campaign_label">{$campaign.name}</span>
                  <a href="#" onclick="campaignname();return false;">{"(change)"|alang}</a>
                </span>
                <span id="summary_campaign_input_box" style="display:none">
                  <input type="text" id="summary_campaign_input" name="campaign_name" value="{$campaign.name}" size="25" />
                  <input type="button" value="{'Set'|alang}" onclick="campaignname();" />
                </span>
              </td>
            </tr>
            <tr>
              <td width="26" valign="top"><img src="images/checkbox-16-16.png" width="16" height="16" /></td>
              <td width="125" valign="top" style="font-weight:bold;">{"List(s)"|alang}</td>
              <td id="summary_lists">
{foreach from=$campaign.lists item=l}
                {$l.name}<br />
{/foreach}
              </td>
            </tr>
            <tr>
              <td width="26" valign="top"><img src="images/checkbox-16-16.png" width="16" height="16" /></td>
              <td width="125" valign="top" style="font-weight:bold;">{"Filter"|alang}</td>
              <td id="summary_filter">
{if $campaign.filterid}
                {$campaign.filter.name}
{else}
                {"None"|alang}
{/if}
              </td>
            </tr>
            <tr>
              <td width="26" valign="top"><img src="images/checkbox-16-16.png" width="16" height="16" /></td>
              <td width="125" valign="top" style="font-weight:bold;">{"Message(s)"|alang}</td>
              <td id="summary_messages">
{foreach from=$campaign.messages item=m}
                <span onmouseover='ac_tooltip_show("\"{$m.fromname}\" <{$m.fromemail}>", 250, "");' onmouseout="ac_tooltip_hide();">
                  {$m.subject}
                </span>
                <br />
{/foreach}
              </td>
            </tr>
            <tr>
              <td width="26" valign="top"><img src="images/checkbox-16-16.png" width="16" height="16" /></td>
              <td width="125" valign="top" style="font-weight:bold;">{"Will Send"|alang}</td>
              <td id="summary_schedule">
{if $campaign.type == 'single' or $campaign.type == 'split' or $campaign.type == 'activerss'}
	{if $campaign.sdate > AC_CURRENTDATETIME}
                {$campaign.sdate|acpdate:$site.dateformat} {"at"|alang} {$campaign.sdate|acpdate:$site.timeformat}
	{else}
                {"Immediately"|alang}
	{/if}
{elseif $campaign.type == 'recurring'}
                {"Immediately"|alang}
                {"(Since this mailing is a recurring one, this new mailing will be set as 'single')."|alang}
{else}
                {"This campaign will be sent to every subscriber individually based on their subscription date/time."|alang}
{/if}
              </td>
            </tr>
            <tr>
              <td width="26" valign="top"><img src="images/checkbox-16-16.png" width="16" height="16" /></td>
              <td width="125" valign="top" style="font-weight:bold;">{"Recipients"|alang}</td>
              <td id="summary_recipients">{$total}{*$campaign.total_amt*}</td>
            </tr>
          </table>
		</div>
	</div>

	<br />

{if $total > 0}
	{if $mode == 'unread'}
	<div class="ac_help_inline">{"New campaign will be sent to subscribers who have not read/opened this campaign"|alang}</div>
	{elseif $mode == 'newsub'}
	<div class="ac_help_inline">{"New campaign will be sent to new subscribers (since this campaign was originally sent)"|alang}</div>
	{/if}
{else}
	{if $mode == 'unread'}
	<div class="ac_help_inline" style="color: red;">{"There are no subscribers who have not read this campaign."|alang}</div>
	{elseif $mode == 'newsub'}
	<div class="ac_help_inline" style="color: red;">{"There are no new subscribers to resend this campaign to."|alang}</div>
	{/if}
{/if}

	<br />

	<div>
		<input type="hidden" name="filter" value="{$filter}" />
		<input value="{'Back'|alang}" type="button" onclick="window.history.go(-1);" style="font-size:14px;" />
		{if $total > 0}
			{if $admin.pg_message_send}
				<input value="{'Send Now'|alang}" type="submit" style="font-weight:bold; font-size:14px;" />
			{/if}
		{/if}
	</div>

</form>

{/if}

{/if}

{else}

	<div>This campaign can not be reused because it contains a filter that uses OR pattern.</div>

{/if}