{ac_calendar base=".."}
<script type="text/javascript">
	var campaign_count = {jsvar var=$count};
	{include file="campaign_new.shared.js" step="summary"}
	{include file="campaign_new_summary.js"}
</script>

{include file="error.mailer.htm"}

<form id="campaignform" method="POST" action="main.php" onsubmit="return false">
	{include file="campaign_new.header.htm" step="summary" highlight=3}
	<input type="hidden" name="action" value="campaign_new_summary" />
	<input type="hidden" id="campaign_public" name="public" value="{$campaign.public}" />
	<input type="hidden" id="campaign_autopost" name="autopost" value="{if $campaign.tweet or $campaign.facebook}1{else}0{/if}" />
	<input type="hidden" id="campaign_tweet" name="tweet" value="{$campaign.tweet}" />
	<input type="hidden" id="campaign_facebook" name="facebook" value="{$campaign.facebook}" />
	<input type="hidden" id="campaign_tracking" name="tracking" value="{if $campaign.trackreads or $campaign.tracklinks != 'none'}1{else}0{/if}" />
	<input type="hidden" id="campaign_schedule" name="schedule" value="{$campaign.schedule}" />
	<input type="hidden" id="campaign_responder_existing" name="responder_existing" value="{$campaign.responder_existing}">
	<input type="hidden" id="campaign_willrecur" name="willrecur" value="{$campaign.willrecur}">

	<h2>{"Summary &amp; Options"|alang}</h2>

	<div class="h2_wrap_static">
		<div class="campaign_summary">
			<div class="campaign_summary_options">
				<a href="main.php?action=campaign_new_list&id={$campaign.id}">{"edit"|alang}</a>
			</div>
			<div>
				{if $campaign.lists|@count gt 1}
					{"Sending to lists"|alang}
				{else}
					{"Sending to list"|alang}
				{/if}
				<strong>{$listnames}</strong>
				{if $segmentname != ""}
				{"with segment"|alang}
				<strong>{$segmentname}</strong>
				{/if}
				{if $campaign.type != 'responder'}
				{"(A total of"|alang} <strong>{$subtotal|numformat:0:'.':','}</strong> {"subscribers)"|alang}
				{/if}
			</div>
		</div>

		<div class="campaign_summary">
			<div class="campaign_summary_options">
				{if $campaign.type == "split"}
				<a href="main.php?action=campaign_new_splitmessage&id={$campaign.id}">{"edit"|alang}</a>
				{elseif $campaign.type == "text"}
				<a href="main.php?action=campaign_new_text&id={$campaign.id}">{"edit"|alang}</a>
				{else}
				<a href="main.php?action=campaign_new_message&id={$campaign.id}">{"edit"|alang}</a>

				{/if}
			</div>
			<div class="campaign_summary_options" style="margin-right:10px;">
				{if !isset($__is_our_demo)}
				<a href="#" onclick="campaign_open_preview(); return false">{"preview"|alang}</a>
				{/if}
			</div>
			<div>
				{if $campaign.type == 'split'}
					{"The message subjects will be"|alang}
				{else}
					{"The message subject will be"|alang}
				{/if}
				<strong>
					{foreach from=$messages item=e name=msgloop}
					{if $e.subject == "" and ($e.htmlfetch == "send" or $e.textfetch == "send")}
					{"Determined by page title when fetched"|alang}
					{else}
					{$e.subject|truncate:75}{if !$smarty.foreach.msgloop.last},{/if}
					{/if}
					{/foreach}
				</strong>
			</div>
		</div>

		<div id="campaign_tracking_yes" class="campaign_summary" style=" {if (!$campaign.trackreads and $campaign.tracklinks == 'none')}display:none{/if}">
			<div class="campaign_summary_options">
				<a href="#" onclick="ac_dom_toggle_display('campaign_trackopts', 'block');ac_dom_toggle_class('campaign_tracking_yes', 'campaign_summary', 'campaign_summary_top');return false">{"options"|alang}</a>
			</div>
			<div class="campaign_summary_options" style="margin-right:10px;">
				<a href="#" onclick="campaign_markreads(false); campaign_different(); return false">{"disable"|alang}</a>
			</div>
			<div id="campaign_tracking_yes_message1" style="{if !$campaign.trackreads || $campaign.tracklinks == 'none' || $linkcount == 0 || $campaign.type == 'text'}display: none;{/if}">
				{* Read tracking ON, and link tracking ON (and links found in message) *}
				{"Reads (opens) and/or link clicks will be tracked"|alang}.
			</div>
			<div id="campaign_tracking_yes_message2" style="{if !$campaign.trackreads || $campaign.tracklinks != 'none' || $linkcount == 0 || $campaign.type == 'text'}display: none;{/if}">
				{* Read tracking ON, and link tracking OFF (but links found in message) *}
				{"Reads (opens) will be tracked. Link clicks will NOT be tracked"|alang}.
			</div>
			<div id="campaign_tracking_yes_message3" style="{if !$campaign.trackreads || $linkcount > 0 || $campaign.type == 'text'}display: none;{/if}">
				{* Read tracking ON, and link tracking ON or OFF (but no links found in message) *}
				{"Reads (opens) will be tracked. There are no links found for tracking"|alang}.
			</div>
			<div id="campaign_tracking_yes_message4" style="{if ($campaign.type != 'text' || $linkcount == 0) && ($campaign.trackreads || $campaign.tracklinks == 'none' || $linkcount == 0)}display: none;{/if}">
				{* Read tracking OFF, and link tracking ON (and links found in message) *}
				{"Reads (opens) will NOT be tracked. Link clicks will be tracked"|alang}.
			</div>
			<div id="campaign_tracking_yes_message5" style="{if ($campaign.type != 'text' || $linkcount > 0) && ($campaign.trackreads || $campaign.tracklinks == 'none' || $linkcount > 0)}display: none;{/if}">
				{* Read tracking OFF, and link tracking ON (but no links found in message) *}
				{"Reads (opens) will NOT be tracked. There are no links found for tracking"|alang}.
			</div>
		</div>

		<div id="campaign_trackopts" style="display: none;" class="campaign_summary_bottom">
			<div style="margin-bottom: 6px;{if $campaign.type == "text"}display: none;{/if}">
				<label>
					<input type="checkbox" name="trackreads" id="campaign_trackreads_checkbox" value="1" onchange="campaign_checktrackopts()" {if $campaign.type != 'text' && $campaign.trackreads}checked="checked"{/if} />
					{"Enable Read/Open Tracking"|alang}
				</label>
				(<a href="#" onclick="campaign_action_load(0); return false"><span id="actioncount0">{$readactioncount}</span> {"Actions"|alang}</a>)
			</div>

			<div style="margin-bottom: 6px;{if $campaign.type != 'text' && $linkcount == 0}display: none;{/if}">
				<div style="margin-bottom: 6px;{if $linkcount == 0}display: none;{/if}">
					<label>
						<input type="checkbox" name="tracklinks" id="campaign_tracklinks_checkbox" onchange="campaign_checktrackopts()" {if ($campaign.tracklinks != 'none' and $linkcount > 0) || ($campaign.type == 'text' && $linkcount > 0)}checked="checked"{/if} />
						{"Enable Link Tracking"|alang}
					</label>
				</div>

				<div id="linksdiv" style="margin-left:25px; {if $campaign.type != 'text' && ($campaign.tracklinks == 'none' or $linkcount == 0)}display:none;{/if}">
					<table cellpadding="5" cellspacing="0" border="0" class="campaign_new_links">
						<tr>
							<td align="center"><input id="linksselectall" name="linksselectall" type="checkbox" value="1" checked="checked" onclick="ac_form_check_selection_element_all('tlinkshtmllist', this.checked);" /></td>
							<td colspan="2">{"Link/URL"|alang}</td>
							<td width="70">{"Actions"|alang}</td>
							<td>{"Short Name (Optional - For Reports Only)"|alang}</td>
						</tr>

						<tbody id="tlinkshtmllist">
							{foreach from=$messages item=m}
							{if count($messages) > 1 and count($m.links) > 0}
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td><strong>{$m.subject}</strong></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							{/if}
							{foreach from=$m.links item=e}
							<tr>
								<td>
									<input type="hidden" name="linkid[{$e.id}]" value="{$e.id}" />
									<input type="checkbox" name="linktracked[{$e.id}]" value="1" {$e.tracked|ac_ischecked} />
								</td>
								<td>
									<a href="{$e.link}" target="_blank"><img src="images/windows-16-16.png" border="0" /></a>
								</td>
								<td>{$e.link}</td>
								<td>
									<a href="#" onclick="campaign_action_load({$e.id}); return false"><span id="actioncount{$e.id}">{$e.actioncount}</span> {"Action(s)"|alang}</a>
								</td>
								<td>
									<input type="text" name="linkname[{$e.id}]" value="{$e.name}" />
								</td>
							</tr>
							{/foreach}
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>

			{if $showgread}
				<div style="margin-bottom: 6px;">
					<label>
						<input type="checkbox" id="trackreadsanalytics" name="trackreadsanalytics" value="1" {$campaign.trackreadsanalytics|ac_ischecked} />
						{"Enable Google Analytics Read/Open Tracking"|alang}
					</label>
				</div>
			{/if}

			{if $showglink and $linkcount > 0}
				<div style="">
					<label>
						<input type="checkbox" id="tracklinksanalytics" name="tracklinksanalytics" value="1" {$campaign.tracklinksanalytics|ac_ischecked} />
						{"Enable Google Analytics Link Tracking"|alang}
					</label>
				</div>
			{/if}
		</div>

		<div id="campaign_tracking_no" class="campaign_summary" style=" {if $campaign.trackreads or ( $campaign.tracklinks != 'none' or ($campaign.tracklinks != 'none' and $linkcount > 0) )}display:none{/if}">
			<div class="campaign_summary_options">
				<a href="#" onclick="campaign_markreads(true); campaign_different(); return false">{"enable"|alang}</a>
			</div>
			<div>
				{"Reads (opens) and link clicks will NOT be tracked"|alang}.
			</div>
		</div>

		{if $isShareable and ( $isTweetable or $isFacebookable )}
		<div id="campaign_autopost" class="campaign_summary">
			<div class="campaign_summary_options">
				{if $isTweetable}
				<a href="#" id="campaign_tweet_link_yes" onclick="campaign_summary_option_dual('tweet', 'facebook', 0, 'autopost'); campaign_different(); return false" style="{if !$campaign.tweet}display:none;{/if}">{"disable twitter"|alang}</a>
				<a href="#" id="campaign_tweet_link_no" onclick="campaign_summary_option_dual('tweet', 'facebook', 1, 'autopost'); campaign_different(); return false" style="{if $campaign.tweet}display:none;{/if}">{"enable twitter"|alang}</a>
				{/if}
				{if $isTweetable and $isFacebookable}
				&nbsp;
				{/if}
				{if $isFacebookable}
				<a href="#" id="campaign_facebook_link_yes" onclick="campaign_summary_option_dual('facebook', 'tweet', 0, 'autopost'); campaign_different(); return false" style="{if !$campaign.facebook}display:none;{/if}">{"disable facebook"|alang}</a>
				<a href="#" id="campaign_facebook_link_no" onclick="campaign_summary_option_dual('facebook', 'tweet', 1, 'autopost'); campaign_different(); return false" style="{if $campaign.facebook}display:none;{/if}">{"enable facebook"|alang}</a>
				{/if}
			</div>
			{if $isTweetable and $isFacebookable}
			<div id="campaign_autopost_label_yes" style="{if !( $campaign.tweet and $campaign.facebook)}display:none;{/if}">
				{"This campaign will automatically be posted to Twitter &amp; Facebook"|alang}
			</div>
			{/if}
			{if $isTweetable}
			<div id="campaign_autopost_label_tweet" style="{if !( $campaign.tweet and !$campaign.facebook )}display:none;{/if}">
				{"This campaign will automatically be posted to Twitter"|alang}
			</div>
			{/if}
			{if $isFacebookable}
			<div id="campaign_autopost_label_facebook" style="{if !( !$campaign.tweet and $campaign.facebook )}display:none;{/if}">
				{"This campaign will automatically be posted to Facebook"|alang}
			</div>
			{/if}
			<div id="campaign_autopost_label_no" style="{if $campaign.tweet or $campaign.facebook}display:none;{/if}">
				{if $isTweetable and $isFacebookable}
				{"This campaign will NOT be posted to Twitter &amp; Facebook"|alang}
				{elseif $isTweetable}
				{"This campaign will NOT be posted to Twitter"|alang}
				{elseif $isFacebookable}
				{"This campaign will NOT be posted to Facebook"|alang}
				{/if}
			</div>
		</div>
		{/if}

		{if $isForPublic}
		<div id="campaign_public_yes" class="campaign_summary" style="{if !$campaign.public}display:none{/if}">
			<div class="campaign_summary_options">
				<a href="#" onclick="campaign_summary_option('public', 0); campaign_different(); return false">{"make private"|alang}</a>
			</div>
			<div>
				{"This campaign will be shown in your public archive."|alang}
			</div>
		</div>

		<div id="campaign_public_no" class="campaign_summary" style="{if $campaign.public}display:none{/if}">
			<div class="campaign_summary_options">
				<a href="#" onclick="campaign_summary_option('public', 1); campaign_different(); return false">{"make public"|alang}</a>
			</div>
			<div>
				{"This campaign will not be shown in your public archive."|alang}
			</div>
		</div>
		{/if}


		<div id="campaign_inboxpreview" class="campaign_summary">
			<div class="campaign_summary_options">
				{if !isset($__is_our_demo)}
				<a href="#" onclick="campaign_open_inboxpreview(); return false">{"view inbox preview"|alang}</a>
				{/if}
			</div>
			<div id="inboxpreview_result">{"Checking your email design..."|alang} {if isset($__is_our_demo)}(DISABLED IN DEMO){/if}</div>
		</div>
		<script>campaign_run_inboxpreview();</script>


		<div id="campaign_spamcheck" class="campaign_summary">
			<div id="spamcheck_details_link" class="campaign_summary_options" style="display:none;">
				<a href="#" onclick="campaign_spamcheck_toggle(); return false">{"view details"|alang}</a>
			</div>
			<div id="spamcheck_result">{"Checking your email against spam filters..."|alang} {if isset($__is_our_demo)}(DISABLED IN DEMO){/if}</div>
		</div>
		<div id="spamcheck_details" class="campaign_summary_bottom" style="display:none;">
			<div>{"Things that could cause your message to be flagged as spam:"|alang}</div>
			<div id="spamcheck_table"></div>
		</div>
		{if !isset($__is_our_demo)}
		<script>campaign_run_spamcheck();</script>
		{/if}


		{if $campaign.type == 'activerss'}
		<div id="campaign_activerss" class="campaign_summary">
			{"This campaign will check for new posts (and will send if new posts are found) every"|alang}
			<select name="activerss_interval" id="activerss_interval" onchange="campaign_different();">
				{foreach from=$recur_intervals key=k item=v}
				<option id="activerss_interval_option_{$k}" value="{$k}" {$campaign.activerss_interval|ac_isselected:$k}>{$v}</option>
				{/foreach}
			</select>
		</div>
		{/if}


		<div id="campaign_schedule_div" {if $campaign.type == "reminder" or $campaign.type == "responder"}style="display:none"{/if}>
			<div id="campaign_schedule_no" class="campaign_summary_green" style="{if $campaign.schedule}display:none{/if}">
				<div class="campaign_summary_options">
					<a href="#" onclick="campaign_summary_option('schedule', 1); campaign_set_send(1); campaign_different(); return false;">{"schedule"|alang}</a>
				</div>
				<div>
					{"This campaign will send immediately."|alang}
				</div>
			</div>

			<div id="campaign_schedule_yes" class="campaign_summary_green" style="{if !$campaign.schedule}display:none{/if}">
				<div class="campaign_summary_options">
					<a href="#" onclick="campaign_summary_option('schedule', 0); campaign_set_send(0); campaign_different(); return false;">{"send immediately"|alang}</a>
				</div>
				<div>
					{"This campaign will be sent out on"|alang}
					<input type="text" id="campaign_scheduledate" name="scheduledate">
					<input id="campaign_scheduledateCalendar" type="button" value="{" + "|alang}" />
					<script>
						{literal}
						Calendar.setup({inputField: "campaign_scheduledate", ifFormat: '%Y/%m/%d', button: "campaign_scheduledateCalendar", showsTime: false, timeFormat: "24"});
						{/literal}
					</script>
					{"at the time of"|alang}
					<select id="campaign_schedulehour" name="schedulehour">
						{foreach from=$hours item=e}
						<option value="{$e}">{$e}</option>
						{/foreach}
					</select>
					:
					<select id="campaign_scheduleminute" name="scheduleminute">
						{foreach from=$minutes item=e}
						<option value="{$e}">{$e}</option>
						{/foreach}
					</select>

					({$admin.local_zoneid}, GMT {$tzoffset})
				</div>
			</div>
		</div>

		<div id="campaign_willrecur_div" {if ($campaign.type != "single" and $campaign.type != "recurring") or (!$hasfetch and !$hasrss)}style="display:none"{/if}>
			<div id="campaign_willrecur_no" class="campaign_summary" style="{if $campaign.willrecur}display:none{/if}">
				<div class="campaign_summary_options">
					<a href="#" onclick="campaign_summary_option('willrecur', 1); campaign_different(); return false">{"enable"|alang}</a>
				</div>
				<div>
					{"This campaign will not automatically recur."|alang}
				</div>
			</div>

			<div id="campaign_willrecur_yes" class="campaign_summary" style="{if !$campaign.willrecur}display:none{/if}">
				<div class="campaign_summary_options">
					<a href="#" onclick="campaign_summary_option('willrecur', 0); campaign_different(); return false">{"disable"|alang}</a>
				</div>
				<div>
					{"This campaign will automatically recur every"|alang}
					<select id="campaign_recurring" name="recurring">
						<option value="day1">{"Every Day"|alang}</option>
						<option value="day2">{"Every Other Day"|alang}</option>
						<option value="week1">{"Every Week"|alang}</option>
						<option value="week2">{"Every Other Week"|alang}</option>
						<option value="month1">{"Every Month"|alang}</option>
						<option value="month2">{"Every Other Month"|alang}</option>
						<option value="quarter1">{"Every Quarter"|alang}</option>
						<option value="quarter2">{"Every Other Quarter"|alang}</option>
						<option value="year1">{"Every Year"|alang}</option>
						<option value="year2">{"Every Other Year"|alang}</option>
					</select>
				</div>
			</div>
		</div>

		<div id="campaign_date_based_options" {if $campaign.type != "reminder"}style="display:none"{/if}>
			<div class="campaign_summary_green_top">
				<div>
					<div>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td style="font-size:12px;">{"Will send when the subscribers"|alang}</td>
								<td>
									<select name="reminder_field" id="reminder_field" onchange="campaign_reminder_compile();campaign_reminder_issystem();" style="margin: 0 5px;">
										<optgroup label="{'Standard Subscriber Fields'|alang}">
											<option value="sdate">{"Subscription Date"|alang}</option>
											<option value="cdate">{"Creation Date"|alang}</option>
										</optgroup>
										<optgroup label="{'Global Subscriber Fields'|alang}">
											{foreach from=$fields item=f}
											<option value="{$f.id}">{$f.title}</option>
											{/foreach}
										</optgroup>
										<optgroup label="{'List-Related Fields'|alang}"></optgroup>
									</select>
								</td>
								<td><span id="reminder_format_nonsystem" style="display:none;">{"using the format"|alang}</span></td>
								<td>
									<select name="reminder_format" id="reminder_format" style="display:none;">
										<option value="yyyy-mm-dd">{"yyyy-mm-dd"|alang}</option>
										<option value="yyyy/mm/dd">{"yyyy/mm/dd"|alang}</option>
										<option value="yyyymmdd">{"yyyymmdd"|alang}</option>
										<option value="mm/dd/yyyy">{"mm/dd/yyyy"|alang}</option>
										<option value="dd/mm/yyyy">{"dd/mm/yyyy"|alang}</option>
										<option value="dd.mm.yyyy">{"dd.mm.yyyy"|alang}</option>
									</select>
								</td>
								<td style="font-size:12px;">{"matches the current"|alang}</td>
								<td>
									<select name="reminder_type" id="reminder_type" onchange="campaign_reminder_compile()" style="margin: 0 5px;">
										<option value="month_day">{"month & day"|alang}</option>
										<option value="year_month_day">{"year, month & day"|alang}</option>
									</select>
								</td>
								<td>
									<select name="reminder_offset_sign" id="reminder_offset_sign" onchange="campaign_reminder_compile()">
										<option value="=">{"exactly"|alang}</option>
										<option value="-">{"minus"|alang}</option>
										<option value="+">{"plus"|alang}</option>
									</select>
								</td>
								<td>
									<input name="reminder_offset" id="reminder_offset" type="text" value="0" size="3" onkeyup="campaign_reminder_compile();" style="margin-left: 5px;" />
									<select name="reminder_offset_type" id="reminder_offset_type" size="1" onchange="campaign_reminder_compile()">
										<option value="day">{"Days"|alang}</option>
										<option value="week">{"Weeks"|alang}</option>
										<option value="month">{"Months"|alang}</option>
										<option value="year">{"Years"|alang}</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div id="campaign_reminder_example" class="campaign_summary_green_bottom" style="font-style:italic; text-align:center;">
				{$reminder_example}
			</div>
		</div>

		<div id="campaign_responder_options" {if $campaign.type != "responder"}style="display:none"{/if}>
			<div id="campaign_responder_existing_no" class="campaign_summary" {if $campaign.responder_existing}style="display:none"{/if}>
				<div class="campaign_summary_options">
					<a href="#" onclick="campaign_summary_option('responder_existing', 1); campaign_different(); return false">{"send to existing subscribers"|alang}</a>
				</div>
				<div>
					{"Existing %s subscribers (past any specific timeframe configured below) will not receive this auto responder campaign."|alang:$subtotal}
				</div>
			</div>

			<div id="campaign_responder_existing_yes" class="campaign_summary" {if !$campaign.responder_existing}style="display:none"{/if}>
				<div class="campaign_summary_options">
					<a href="#" onclick="campaign_summary_option('responder_existing', 0); campaign_different(); return false">{"don't send to existing subscribers"|alang}</a>
				</div>
				<div>
					{"Any existing subscriber may receive this auto responder campaign."|alang}
				</div>
			</div>

			<div class="campaign_summary_green">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>{"This auto responder will send"|alang}&nbsp;</td>
						<td>
							<select id="campaign_responder_timeframe" onchange="campaign_responder_switch(this.value)">
								<option value="immed">{"immediately"|alang}</option>
								<option value="specific">{"after a specific timeframe"|alang}</option>
							</select>
						</td>
						<td>
							<span id="campaign_responder_inputs">
								&nbsp;(
								<input name="respondday" id="respondday" type="text" value="0" size="5" style="width:20px;">
								{"days"|alang}
								&amp;
								<input name="respondhour" id="respondhour" type="text" value="0" size="5" style="width:20px;">
								{"hours"|alang}
								) &nbsp;
							</span>
						</td>
						<td>{"when a subscriber subscribes"|alang}.</td>
					</tr>
				</table>
			</div>
		</div>

		<h2 style="margin-top:20px;">{"Send a test email"|alang}</h2>

		<div class="campaign_summary">

			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						{include file='autocomplete.inc.htm' fieldPrefix='subscriber' fieldID='subscriberEmailTestField' fieldName='testemail' fieldSize='25' fieldValue=$admin.email fieldStyle='width:250px;'}
						<script>$('subscriberEmailTestField').onkeypress = ac_ui_stopkey_enter;</script>

						<select name="testemailtype" id="testemailtype" size="1" style="display:none;">
							<option value="mime">{"HTML and TEXT"|alang}</option>
							<option value="html">{"HTML"|alang}</option>
							<option value="text">{"Text"|alang}</option>
						</select>

						<select name="testemailsplit" id="testemailsplit" size="1" {if $campaign.type != 'split'}style="display:none"{/if} onchange="campaign_set_emailtest(this.value);">
							{foreach from=$messages item=e}
							<option value="{$e.id}">{$e.subject|truncate:50}</option>
							{/foreach}
						</select>
						<input type="button" value='{"Send Test Email"|alang}{if $demoMode} (Disabled){/if}' onclick="campaign_send_emailtest();" class="ac_button_ok" {if $demoMode}disabled="disabled"{/if} />
					</td>
				</tr>
			</table>
		</div>




	</div>

	<br />

	<script type="text/javascript">
		campaign_save_auto_runagain();
		</script>
	</form>

	{foreach from=$messages item=m}
	{foreach from=$m.links item=e}
	<div id="link_actions{$e.id}" class="ac_modal" align="center" style="display:none;">
		<div class="ac_modal_inner" align="left">
			<form action="main.php" method="POST">
				<h1>{"When this link is clicked..."|alang}</h1>
				<input type="hidden" name="id" value="{$e.actionid}">
				<input type="hidden" name="campaignid" value="{$campaign.id}">
				<input type="hidden" name="linkid" value="{$e.id}">
				<input type="hidden" name="type" value="link">
				<p>{"What should happen when this action takes place?"|alang}</p>

				<div id="link_actions_div{$e.id}"></div>

				<div style=" margin-top:10px; margin-bottom:10px;">
					<a href="#" onclick="campaign_action_new({$e.id}, campaign_action_actioncount++, 'subscribe', 0, 0); return false;" style="display:block; background:url(images/add2-16-16.png); background-repeat:no-repeat; background-position:left; padding-left:20px; padding-top:2px; padding-bottom:2px;">{"Add additional action"|alang}</a>
				</div>

				<input type="button" id="form_submit" class="ac_button_ok" value="{"Save"|alang}" onclick="campaign_action_save({$e.id})">
				<input type="button" class="ac_button_cancel" value='{"Cancel"|alang}' onclick="campaign_action_hide({$e.id})">
			</form>
		</div>
	</div>
	{/foreach}
	{/foreach}

	<div id="link_actions0" class="ac_modal" align="center" style="display:none;">
		<div class="ac_modal_inner" align="left">
			<form action="main.php" method="POST">
				<h1>{"When this message is opened..."|alang}</h1>
				<input type="hidden" name="id" value="{$readactionid}">
				<input type="hidden" name="campaignid" value="{$campaign.id}">
				<input type="hidden" name="linkid" value="0">
				<input type="hidden" name="type" value="link">
				<p>{"What should happen when this action takes place?"|alang}</p>

				<div id="link_actions_div0"></div>

				<div style=" margin-top:10px; margin-bottom:10px;">
					<a href="#" onclick="campaign_action_new(0, campaign_action_actioncount++, 'subscribe', 0, 0); return false;" style="display:block; background:url(images/add2-16-16.png); background-repeat:no-repeat; background-position:left; padding-left:20px; padding-top:2px; padding-bottom:2px;">{"Add additional action"|alang}</a>
				</div>

				<input type="button" id="form_submit" class="ac_button_ok" value="{"Save"|alang}" onclick="campaign_action_save(0)">
				<input type="button" class="ac_button_cancel" value='{"Cancel"|alang}' onclick="campaign_action_hide(0)">
			</form>
		</div>
	</div>




    <div id="sendModal" class="modal show" style="display:none;">
        <div class="modal-header">
            <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
            <h3>{"Are You Sure You Want to Send Your Campaign Now?"|alang}</h3>
        </div>

        <div class="modal-body">
            <div class="sendcampaign">
                <p>{"Your campaign is ready to be sent. To send your campaign, press the <strong>Send Campaign Now</strong> button and we'll send it right away."|alang}</p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
            <a href="#" onclick="campaign_save('next'); return false" class="btn send">{"Send Campaign Now"|alang}</a>
        </div>
    </div>


	<script type="text/javascript">
		$("campaign_scheduledate").value = '{$currentdate}';
		$("campaign_schedulehour").value = '{$currenthour}';
		$("campaign_scheduleminute").value = '{$currentminute}';

		var respondday = Math.floor({$campaign.responder_offset} / 24);
		var respondhour = {$campaign.responder_offset} % 24;

		$("respondday").value = respondday;
		$("respondhour").value = respondhour;

{literal}
if (respondday == 0 && respondhour == 0) {
	$("campaign_responder_timeframe").value = "immed";
} else {
	$("campaign_responder_timeframe").value = "specific";
}

		$J(document).ready(function() {
				campaign_progress_linkup();

				switch (campaign_obj.type) {
					case "responder":
					case "reminder":
					case "activerss":
						$J('.btn.next').html('<span>' + campaign_str_finish + '</span>');
						break;

					default:
						campaign_set_send(campaign_obj.schedule);
				}

				$J('.btn.next').addClass('send');
		});

{/literal}

campaign_responder_switch($("campaign_responder_timeframe").value);

$("reminder_field").value = '{$campaign.reminder_field}';
$("reminder_format").value = '{$campaign.reminder_format}';
$("reminder_type").value = '{$campaign.reminder_type}';
$("reminder_offset").value = '{$campaign.reminder_offset}';
$("reminder_offset_type").value = '{$campaign.reminder_offset_type}';
$("reminder_offset_sign").value = '{$campaign.reminder_offset_sign}';

if ($("reminder_offset").value == 0 && $("reminder_offset_sign").value == "+")
$("reminder_offset_sign").value = "=";

$("campaign_recurring").value = '{$campaign.recurring}';

campaign_reminder_compile();
</script>