<div id="list_nobody" class="ac_modal" align="center" {if !isset($smarty.get.nobody)}style="display:none;"{/if}>
	<div class="ac_modal_inner" align="left" style="width: 500px">
		{"None of the lists you've chosen will send to any subscribers."|alang}
		{if isset($smarty.get.nobody)}{"It is probable that the list segment you've chosen to use will not match anybody with these lists."|alang}{/if}
		{"What do you want to do?"|alang}

		<div style="margin-top: 15px">
			<input type="button" value="{'Add a subscriber'|alang}" onclick="campaign_safe(); window.location.href = 'main.php?action=subscriber#form-0'">
			<input type="button" value="{'Import subscribers'|alang}" onclick="campaign_safe(); window.location.href = 'main.php?action=subscriber_import'">
			<input type="button" value="{'Choose something else'|alang}" onclick="$('list_nobody').hide()">
		</div>
	</div>
</div>

<script type="text/javascript">
	{include file="campaign_new.shared.js" step="list"}
{include file="campaign_new_list.js"}
</script>

<form id="campaignform" method="POST" action="main.php" onsubmit="return false">
	{include file="campaign_new.header.htm" step="list" highlight=1}
	<input type="hidden" name="action" value="campaign_new_list">

	<div id="filter_group_condlen_div" style="display:none">
	</div>

	<div class="h2_wrap_static">
		<h2>{"Select the list(s) to send to..."|alang}</h2>
		<div class="">

			<div class="campaign_input border_top_5" style="padding:5px;">
				<div style="padding:10px; padding-bottom:1px; background:#FFFFFF; font-size:14px;" class="border_5">
					{foreach from=$lists item=e}
					<label>
						<div style="float:left; margin-top:-2px; margin-right:5px;"><input type="checkbox" name="listid"  value="{$e.id}" class="listsList" onclick="campaign_filters(); campaign_different();"></div>
						<div style="margin-bottom:10px;">{$e.name|truncate:100} <span style="color:#666;">({$e.count} {"subscribers"|alang})</span></div>
					</label>
					{/foreach}
				</div>
			</div>

			<div id="segmentlink" style="display:none; margin-left:23px; margin-right:10px; background:#f5f4ef; padding:6px; padding-bottom:8px; color:#9a9993; padding-left:10px; font-size:12px;"><span onclick="campaign_filter_toggle(); campaign_different();" style="text-decoration:underline; cursor: pointer">{"Segment my selected list(s)"|alang}</span> <span style="color:#9a9993;">- {"Allows you to filter your campaign to subscribers who match certain conditions."|alang}</span></div>

			<div id="campaignfilterbox" class="border_bottom_5" style="border: 3px solid #f5f4ef; border-top:0px; padding: 10px; margin-left:23px; margin-right:10px; display:none">


				<table cellpadding="0" cellspacing="0" border="0" style="font-size:12px;">
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>
							<div id="segments" class="ac_checkboxlist" style="max-height: 250px; width: 550px; display:none">
							</div>

							<div id="addsegmentdiv" style="display:none">
								<a href="#" onclick="campaign_filters_add(); campaign_different(); return false">{"Use a new segment"|alang}</a>
							</div>

							<div id="usefilterbox" style="display:none">
								<br />{"Select an existing / past segment:"|alang}<br />
								<br>
								<div id="filterDiv" class="ac_checkboxlist">
								</div>
								<input type="button" value="{'Create a new segment'|alang}" onclick="campaign_filter_create();" style="margin:0px; border:1px solid #AAB7C3; background:#EEF0E9; border-top:0px;" />
							</div>
							<div id="filternew" style="display:none; ">
								{ac_calendar base=".."}
								<table border="0" cellspacing="0" cellpadding="5" class="filter_add_edit" style="border-bottom:0px;">
									<tr>
										<td>{"Name This Segment:"|alang}</td>
										<td><input type="text" name="filter_name" id="form_filter_name"></td>
									</tr>

									<tr>
										<td>{"Match Type:"|alang}</td>
										<td>
											<select name="filter_logic" id="form_filter_logic">
												<option value="and">{"Subscribers who match all of the following groups"|alang}</option>
												<option value="or" >{"Subscribers who match any of the following groups"|alang}</option>
											</select>
										</td>
									</tr>
								</table>

								<div class="filter_add_edit" id="filter_form">

									<br />
									<br />
									<div style="display:none">
										<div class="filter_group_title"><div style="float:right;"><img class="form_filter_group_delete" src="images/selection_delete-16-16.png" width="16" height="16" /></div>{"Group"|alang} <span class="filter_group_title_number"></span></div>
										<div class="filter_group" id="test">
											<select name="filter_group_logic[]" class="form_filter_group_logic">
												<option value="and">{"Subscribers who match all these conditions"|alang}</option>
												<option value="or" >{"Subscribers who match any of these conditions"|alang}</option>
											</select>
											<br />
											<br />
											<table border="0" cellspacing="0" cellpadding="0">
												<tbody class="form_filter_condcontainer"></tbody>
											</table>
											<div style="margin-top:8px;"><a href="#" class="filter_group_addcond" style="display:block; background:url(images/add2-16-16.png); background-repeat:no-repeat; background-position:left; padding-left:20px; padding-top:2px; padding-bottom:2px;">{"Add another condition"|alang}</a></div>
										</div>
										<table>
											<tbody id="form_filter_examplecond">
												<tr>
													<td>
														<select name="filter_group_cond_lhs" style="width:160px;" class="form_filter_cond_lhs">
															<optgroup label="{"Subscriber Details"|alang}">
																<option value="standard:email">{"Email Address"|alang}</option>
																<option value="standard:first_name">{"First Name"|alang}</option>
																<option value="standard:last_name">{"Last Name"|alang}</option>
																<option value="standard:*fullname">{"Full Name"|alang}</option>
																<option value="standard:*cdate">{"Date Subscribed"|alang}</option>
																<option value="standard:*ctime">{"Time Subscribed"|alang}</option>
																<option value="standard:*ip">{"IP Address"|alang}</option>
																<option value="standard:*status">{"Status"|alang}</option>
															</optgroup>
															<optgroup label="{"Custom Fields"|alang}" class="form_filter_cond_lhs_fields">
																{foreach from=$filter_fields item=c}
																<option value="custom:{$c.id}">{$c.title|escape}</option>
																{/foreach}
															</optgroup>
															<optgroup label="{"Actions"|alang}">
																<option value="action:linkclicked">{"Has clicked on a link"|alang}</option>
																<option value="action:linknotclicked">{"Has not clicked on a link"|alang}</option>
																<option value="action:opened">{"Has opened/read"|alang}</option>
																<option value="action:notopened">{"Has not opened/read"|alang}</option>
																<option value="action:social">{"Has shared socially"|alang}</option>
																<option value="action:inlist">{"In list"|alang}</option>
																<option value="action:notinlist">{"Not in list"|alang}</option>
																<option value="action:subform">{"Subscribed with subscription form"|alang}</option>
																<option value="action:notsubform">{"Did not subscribe with subscription form"|alang}</option>
																<option value="action:forwarded">{"Has forwarded"|alang}</option>
																<option value="action:notforwarded">{"Has not forwarded"|alang}</option>
															</optgroup>
														</select>
													</td>
													<td>
														<select name="filter_group_cond_op" class="form_filter_cond_op" style="width: 200px">
														</select>
													</td>
													<td>
														<div class="form_filter_cond_rhs">
														</div>
													</td>
													<td width="5">&nbsp;</td>
													<td><img src="images/selection_delete-16-16.png" width="16" height="16" class="form_filter_cond_delete" /></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="filter_groupcontainer"></div>

									<div class="filter_group_options">
										<a href="#" style="color:#999999;" onclick="filter_form_addgroup('and', true, 0); return false">{"Add another group of conditions"|alang}</a></div>
									<br clear="left" />
									<br />

									<div id="filter_buttons" style="display:none">
										<input type="button" id="form_back" class="ac_button_back" value="{"Cancel"|alang}" onclick="campaign_filter_create();" />
										<input type="hidden" name="included" value="1" />
									</div>
									<input type="submit" style="display:none"/>

								</div>
							</div>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>





	<br />

	<div id="nosubscribersmodal" class="ac_modal" align="center" style="display:none;">
		<div class="ac_modal_inner" align="left">
			<h1>{"There are no subscribers in your selected list(s)"|alang}</h1>

			<div class="ac_help_inline">{"In order to send a campaign you will need to add a subscriber to your selected list."|alang}</div>

			<br />

			<div>
				<input type="button" value='{"Add Subscriber"|alang}' onclick="window.location.href='main.php?action=subscriber#form-0';" style="font-weight:bold;" />
				<input type="button" value='{"Import Subscribers"|alang}' onclick="window.location.href='main.php?action=subscriber_import';" />
				<input type="button" value='{"Cancel"|alang}' onclick="ac_dom_toggle_display('nosubscribersmodal', 'block');" />
			</div>
		</div>
	</div>

	<script type="text/javascript">
		campaign_save_auto_runagain();
		campaign_lists();
		campaign_filters();
{literal}
		$J(document).ready(function() {
				campaign_progress_linkup();
		});
{/literal}
		</script>
	</form>
