<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="design_form_save(design_form_id); return false" id="designSettings">
    <input type="hidden" name="id" id="form_id" />

    <table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="100" valign="top">{"Software Name"|alang}</td>
				<td valign="top">
					<div class="ac_help_inline">{"The software name is used for the title of the application and on some default & notification style emails."|alang}</div>
					<input type="text" name="site_name" id="site_name" style="width:400px;" />
				</td>
			</tr>
			<tbody id="design_logo_row" class="ac_table_rowgroup">
			<tr>
			  <td valign="top">&nbsp;</td>
			  <td valign="top">&nbsp;</td>
			  </tr>
			<tr>
				<td valign="top">{"Logo"|alang}</td>
				<td valign="top">
					<div class="ac_help_inline">{"The logo is only shown on the main login page for logging into the admin area of your software."|alang}</div>
					<select name="logo_source" id="logo_source" onchange="design_toggle_source(this.value);">
						<option value="upload">{"Upload"|alang}</option>
						<option value="url">{"URL"|alang}</option>
					</select>
					<span id="design_upload_div">
						{ac_upload id='_attachments_' action='design_upload' relid=0 limit=1}					</span>
					<span id="design_url_div">
						<input type="text" name="design_url" id="design_url" onblur="design_preview_url();" style="width:327px;" />

							<div id="design_image_div">
		<img id="design_image" /><!--src="images/logo.gif"-->
	</div>
					</span>			  </td>
			</tr>
			</tbody>
			<tr>
			  <td valign="top">&nbsp;</td>
			  <td valign="top">&nbsp;</td>
	  </tr>
			<tr>
				<td valign="top">{"E-mail Header"|alang}</td>
				<td valign="top">
				<div class="ac_help_inline">{"You are able to specify a block of content that will be included at the top of all emails sent for this user group."|alang}</div>
					<div>
						<input name="header_text" id="header_text" type="checkbox" value="text" onclick="design_toggle_editor('header', 'text')" /> <label for="header_text">{"Enable non-removable header for text messages"|alang}</label>
					</div>

					<div id="header_text_div">
						<textarea name="header_text_value" id="header_text_value" class="text_ruler" cols="" rows="" style="width:97%; height:150px;"></textarea>
					</div>

					<div>
						<input name="header_html" id="header_html" type="checkbox" value="html" onclick="design_toggle_editor('header', 'html')" /> <label for="header_html">{"Enable non-removable header for HTML messages"|alang}</label>
					</div>

					<div id="header_html_div">
						{include file="tinymce.htm" id="header_html_value" name="header_html_valueEditor" ishtml=$admin.htmleditor content="" width="100%" height="150px"}
					</div>
			</td>
		</tr>
		<tr>
			  <td valign="top">&nbsp;</td>
			  <td valign="top">&nbsp;</td>
	  </tr>
			<tr>
				<td valign="top">{"E-mail Footer"|alang}</td>
				<td valign="top">
				<div class="ac_help_inline">{"You are able to specify a block of content that will be included at the bottom of all emails sent for this user group."|alang}</div>
					<div>
						<input name="footer_text" id="footer_text" type="checkbox" value="text" onclick="design_toggle_editor('footer', 'text')" /> <label for="footer_text">{"Enable non-removable footer for text messages"|alang}</label>
					</div>

					<div id="footer_text_div">
						<textarea name="footer_text_value" id="footer_text_value" class="text_ruler" cols="" rows="" style="width:97%; height:150px;"></textarea>
					</div>

					<div>
						<input name="footer_html" id="footer_html" type="checkbox" value="html" onclick="design_toggle_editor('footer', 'html')" /> <label for="footer_html">{"Enable non-removable footer for HTML messages"|alang}</label>
					</div>

					<div id="footer_html_div">
						{include file="tinymce.htm" id="footer_html_value" name="footer_html_valueEditor" ishtml=$admin.htmleditor content="" width="100%" height="150px"}
					</div>
				</td>
			</tr>

			<tr>
			  <td valign="top">&nbsp;</td>
			  <td valign="top">&nbsp;</td>
	  </tr>
			<tr>
				<td valign="top">{"Templates & Styles"|alang}</td>
				<td valign="top">
<div class="ac_help_inline">{"Customize the layout of the public and/or admin software.  Override CSS classes to apply custom styles and/or customize the actual HTML template."|alang}</div>
    <div>
      <label>
        <input type="checkbox" id="admin_form_template_show" name="admin_template_show" value="1" onclick="$('admin_box_template').className=this.checked?'ac_blockquote':'ac_hidden';" />
        {"Customize Admin Section Template"|alang}      </label>
    </div>
    <div id="admin_box_template" class="ac_hidden">
      <div style="background:#F0F0F0; padding:5px; border:1px solid #CCCCCC; border-bottom:0px;">
        <select size="1" style="float: right; margin:0px; margin-top:-3px;" onclick="ac_form_insert_cursor($('admin_form_template'), this.value);this.selectedIndex=0;">
          <option value="" selected="selected">{"Insert Tag..."|alang}</option>
          <option value="%PAGECONTENT%">{"Page Content"|alang}</option>
          <option value="%HEADERNAV%">{"Header Navigation"|alang}</option>
		  <option value="%FOOTER%">{"Footer"|alang}</option>
          <option value="%SITENAME%">{"Site Name"|alang}</option>
          <option value="%SITEURL%">{"Site URL"|alang}</option>
        </select>
        <a href="#" onclick="var obj=$('admin_form_template');obj.value=admin_template_htm;obj.focus();return false;">{"Reset to default template"|alang}</a>      </div>
      <div style="border:1px solid #CCCCCC;">
        <textarea id="admin_form_template" name="admin_template" style="width:100%; height:350px; border:0px;"></textarea>
      </div>
    </div>

    <div>
      <label>
        <input type="checkbox" id="admin_form_style_show" name="admin_style_show" value="1" onclick="$('admin_box_style').className=this.checked?'ac_blockquote':'ac_hidden';" />
        {"Customize Admin Section CSS Styles"|alang}      </label>
    </div>
    <div id="admin_box_style" class="ac_hidden">
      <div class="ac_help_inline">{"All CSS styles added will override any existing styles.  For instance if you wish to change the background color to red you would put"|alang}: {literal}<em>body{ background-color:red; }{/literal}</em></div>
      <div style="background:#F0F0F0; padding:5px; border:1px solid #CCCCCC; border-bottom:0px;">
        <a href="#" onclick="var obj=$('admin_form_style');obj.value='';obj.focus();return false;">{"Clear all custom CSS styles"|alang}</a>
	  </div>
      <div style="border:1px solid #CCCCCC;">
        <textarea id="admin_form_style" name="admin_style" style="width:100%; height:350px; border:0px;"></textarea>
      </div>
    </div>

    <div>
      <label>
        <input type="checkbox" id="public_form_template_show" name="public_template_show" value="1" onclick="$('public_box_template').className=this.checked?'ac_blockquote':'ac_hidden';" />
        {"Customize Public Section Template"|alang}</label>
    </div>
    <div id="public_box_template" class="ac_hidden">
      <div style="background:#F0F0F0; padding:5px; border:1px solid #CCCCCC; border-bottom:0px;">
        <select size="1" style="float: right; margin:0px; margin-top:-3px;" onclick="ac_form_insert_cursor($('public_form_template'), this.value);this.selectedIndex=0;">
          <option value="" selected="selected">{"Insert Tag..."|alang}</option>
          <option value="%PAGECONTENT%">{"Page Content"|alang}</option>
          <!--
          <option value="%HEADERNAV%">{"Header Navigation"|alang}</option>
          <option value="%FOOTERNAV%">{"Footer Navigation"|alang}</option>
          -->
          <option value="%SITENAME%">{"Site Name"|alang}</option>
          <option value="%SITEURL%">{"Site URL"|alang}</option>
        </select>
        <a href="#" onclick="var obj=$('public_form_template');obj.value=public_template_htm;obj.focus();return false;">{"Reset to default template"|alang}</a>      </div>
      <div style="border:1px solid #CCCCCC;">
        <textarea id="public_form_template" name="public_template" style="width:100%; height:350px; border:0px;"></textarea>
      </div>
    </div>

    <div>
      <label>
        <input type="checkbox" id="public_form_style_show" name="public_style_show" value="1" onclick="$('public_box_style').className=this.checked?'ac_blockquote':'ac_hidden';" />
        {"Customize Public Section CSS Styles"|alang}      </label>
    </div>
    <div id="public_box_style" class="ac_hidden">
      <div class="ac_help_inline">{"All CSS styles added will override any existing styles.  For instance if you wish to change the background color to red you would put"|alang}: {literal}<em>body{ background-color:red; }{/literal}</em></div>
      <div style="background:#F0F0F0; padding:5px; border:1px solid #CCCCCC; border-bottom:0px;">
        <a href="#" onclick="var obj=$('public_form_style');obj.value='';obj.focus();return false;">{"Clear all custom CSS styles"|alang}</a>      </div>
      <div style="border:1px solid #CCCCCC;">
        <textarea id="public_form_style" name="public_style" style="width:100%; height:350px; border:0px;"></textarea>
      </div>
    </div>

    	  </td>
		</tr>

		{if $siteroot}
		<tr>
		  <td valign="top">&nbsp;</td>
		  <td valign="top">&nbsp;</td>
		</tr>

		<tr>
			<td width="100" valign="top">{"Favicon"|alang}</td>
			<td valign="top">
				<div class="ac_help_inline">{"The favicon image is used for the icon shown next to the page URL, and on the icon for the bookmarked page."|alang}</div>
				<input type="text" name="favicon" id="favicon" style="width:400px;" />
			</td>
		</tr>
		{/if}

		<tr>
		  <td valign="top">&nbsp;</td>
		  <td valign="top">&nbsp;</td>
		</tr>

		<tr>
		  <td valign="top"><a href="javascript: design_advanced_toggle();">{"Advanced Options"|alang}</a></td>
		  <td valign="top">&nbsp;</td>
		</tr>

		<tr>
		  <td valign="top">&nbsp;</td>
		  <td valign="top">&nbsp;</td>
		</tr>

		<tbody id="design_advanced_tbody" style="display: none;">
			<tr>
				<td valign="top">{"Other Options"|alang}</td>
				<td valign="top">
					<div class="ac_help_inline">{"You can hide application information such as the company who developed the application, links to external sites, etc.. This is useful if you are reselling the software as a service to your clients and want to keep all branding only referencing your company."|alang}</div>
				  <label><input type="checkbox" name="copyright" id="copyright" /> {"Hide copyright notice"|alang}</label>
				  {"License agreement does not allow you to set your own copyright, but you may opt to have the copyright invisibe to public/non-code view. Copyrights may never be removed from the actual code."|help}<br />
				  <label><input type="checkbox" name="version" id="version" /> {"Hide version number"|alang}</label><br />
				  <label><input type="checkbox" name="links" id="links" /> {"Hide product links"|alang}</label><br />
				  
				  	<label><input type="checkbox" name="demo" id="demo" onclick="design_demomode_alert();" /> {"Enable demo mode"|alang}</label>
				  	{"If selected, the software will disable most functions such as deleting, sending and more."|help}
			
				</td>
			</tr>

		</tbody>

		<tr>
		  <td valign="top">&nbsp;</td>
		  <td valign="top">&nbsp;</td>
	  </tr>

    </table>

    <br />
    <div>
	  {if !$demoMode}
      <input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="design_form_save(design_form_id)" />
	  {else}
	  <span class="demoDisabled2">{"Disabled in demo"|alang}</span>
	  {/if}
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
      {*
      <input type="button" id="form_back" class="ac_button_back" value="{"Back To Manage Groups"|alang}" onclick="window.location = 'main.php?action=group'" />
      *}
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>
