<div id="message_personalize" class="ac_modal" align="center" style="display:none;">
  <div class="ac_modal_inner" align="left">
  
	<div style="float:right; font-size:11px; color:#555;">{"Click the item you would like to insert."|alang}</div>
	<h1>{"Personalize Message"|alang}</h1>

	<div>
		<ul class="navlist" style="padding-left:0px;">
		<li id="subinfo_tab" class="currenttab"><a href="#" onclick="form_editor_personalization_show('personalize_subinfo'); return false">{"Subscriber Info"|alang}</a></li>
		<li id="message_tab"><a href="#" onclick="form_editor_personalization_show('personalize_message'); return false">{"Message Options & Links"|alang}</a></li>
		<li id="socmedia_tab"><a href="#" onclick="form_editor_personalization_show('personalize_socmedia'); return false">{"Social Media"|alang}</a></li>
		<li id="other_tab"><a href="#" onclick="form_editor_personalization_show('personalize_other'); return false">{"Other"|alang}</a></li>
		</ul>
	</div>
	
	<div id="personalizelist">
	  <div id="personalize_subinfo" class="personalizelistsection">
		<div id="personalize_subinfo_top"></div>
		<div id="personalize_subinfo_field_global"></div>
		<div id="personalize_subinfo_field"></div>
		<div id="personalize_subinfo_bottom"></div>
		<div id="personalize_senderinfo"></div>
	  </div>
	  <div id="personalize_message" class="personalizelistsection" style="display:none"></div>
	  <div id="personalize_socmedia" class="personalizelistsection" style="display:none"></div>
	  <div id="personalize_other" class="personalizelistsection" style="display:none"></div>
	</div>

    <div>
    {*<input type="button" value='{"Insert"|alang}' onclick="form_editor_personalize_insert();" class="ac_button_ok" />*}
      <input type="button" value='{"Close"|alang}' onclick="ac_dom_toggle_display('message_personalize', 'block');" />
      <input type="hidden" value="text" id="personalize4" />
      <input type="hidden" value="" id="personalize2" />
    </div>
  </div>
</div>
