<div id="log" class="ac_modal{*_log*}" align="center" style="display: none">
  <div class="ac_modal_inner">
    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="ac_dom_toggle_display('log', 'block'); ac_ui_anchor_set(emailaccount_list_anchor())" />
    </div>
    <div id="log_source_box" class="ac_hidden">
      <div>
        {"Date:"|alang}
        <span id="log_date"></span>
      </div>
      <div>
        {"E-mail:"|alang}
        <span id="log_email"></span>
      </div>
      <div>
        {"Result:"|alang}
        <span id="log_result"></span>
      </div>
      <div>
        {"Email source:"|alang}<br />
        <textarea id="log_source" style="width: 99%; height: 200px;"></textarea>
      </div>
      <div style="text-align: right;">
        <a href="#" onclick="return emailaccount_log_hide();">{'Back...'|alang}</a>
      </div>
    </div>
    <p>
      {"This page will show you the last 50 emails that arrived and got parsed by the system."|alang}
      {"By looking at this information you can see if your Subscriptions/Unsubscriptions by Email are setup properly."|alang}
      {"Every time the email arrives, whether a legal (un)subscription email or not, is stored and listed here."|alang}
    </p>
    <div>{"Log Entries:"|alang} <span id="log_count"></span></div>
    <br />
    <ul id="log_list" class="ac_hidden"></ul>
    <div id="log_empty" class="ac_block">{"This Email Account has never processed (un)subscriptions."|alang}</div>
    <br />
    <p>
      <em>{"Please note that this does not indicate that the subscriber has been (un)subscribed."|alang}</em><br />
      {"It merely indicates if the email has received, the FROM email address was properly processed, and pushed to the (un)subscription system."|alang}
    </p>
    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="ac_dom_toggle_display('log', 'block'); ac_ui_anchor_set(emailaccount_list_anchor())" />
    </div>
  </div>
</div>
