<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="emailaccount.js"}
</script>

<h1>{"Subscriptions by Email"|alang}</h1>

{include file="emailaccount.list.htm"}
{include file="emailaccount.form.htm"}
{include file="emailaccount.delete.htm"}
{include file="emailaccount.search.htm"}
{include file="emailaccount.log.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(emailaccount_process, true);
</script>
