<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="exclusion_form_save(exclusion_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
	<div>
	  <h2>{"Exclude address that"|alang}</h2>
	  <div class="ac_blockquote">
		<select id="matchtype" name="matchtype">
		  <option value="exact">{"exactly matches"|alang}</option>
		  <option value="begin">{"begins with"|alang}</option>
		  <option value="end">{"ends with"|alang}</option>
		</select>
		<input type="text" name="address" id="form_address">
	  </div>
	</div>

	<h2>{"This exclusion applies to"|alang}</h2>

	<div class="ac_blockquote">
	  <div class="ac_radiolist" id="targetdiv">
		{if ac_admin_ismain()}
		<input type="radio" class="target_field" name="target" id="allradio" value="all" onchange="$('listbox').hide()"> {"All lists"|alang}<br>
		{/if}
		<input type="radio" class="target_field" name="target" value="several" onchange="$('listbox').show()"> {"One or more specific lists"|alang}
	  </div>

	  <div id="listbox" style="display:none; margin-top: 15px">
		<h2>{"Lists"|alang}</h2>
		<div class="ac_blockquote">
		  <div class="ac_checkboxlist">
			{foreach from=$listsList item=p}
			<label>
			  <input type="checkbox" value="{$p.id}" name="p" class="listid_field">
			  {$p.name|truncate:50}
			</label>
			{/foreach}
		  </div>
		  <div>
			{"Select:"|alang}
			<a href="#" onclick="$$('.listid_field').each(function(e) {literal}{ e.checked = true; }{/literal}); return false">{"All"|alang}</a>
			&middot;
			<a href="#" onclick="ac_dom_boxclear('listid_field'); return false">{"None"|alang}</a>
		  </div>
		</div>
	  </div>
	</div>

    <br />
    <div>
      <input type="button" id="form_submit" class="ac_button_submit" value="{"Add"|alang}" onclick="exclusion_form_save(exclusion_form_id)" />
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>
