<div id="list" class="ac_hidden">
  <form action="main.php?action=exclusion" method="GET" onsubmit="exclusion_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="ac_table_header_options">
        <td>
    <select name="listid" id="JSListManager" size="1" onchange="exclusion_list_search()">
      <option value="0">{"List Filter..."|alang}</option>
{foreach from=$listsList item=p}
      <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
    </select>
        </td>
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="exclusion_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="exclusion_list_clear()" />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td width="50">{"Options"|alang}</td>
          <td>{ac_headercol action="exclusion" id="01" label="Email Matching Pattern"|alang}</td>
          <td width="50">{ac_headercol action="exclusion" id="02" label="List(s)"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="ac_hidden">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="exclusion_list_tabelize" paginate="exclusion_list_paginate"}
    </div>
    <div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="ac_hidden">
      <span class="ac_hidden">{"All Exclusion Patterns are now selected."|alang}</span>
      <span class="ac_hidden">{"All Exclusion Patterns on this page are now selected."|alang}</span>
      <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
  <div>
{if $admin.pg_list_add}
    <input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
{/if}
{if $admin.pg_list_delete}
    <input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
{/if}
	&nbsp;&nbsp;&nbsp;
    <input type="button" value="{"Export..."|alang}" onclick="exclusion_list_export();" />

	<div id="exportOffer" class="ac_hidden">
	  <div class="ac_modal" align="center">
		<div class="ac_modal_inner">
		  <h1>{"Export Exclusion List"|alang}</h1>
		  <div>
			{"Format:"|alang}<br />
			<select id="list_export_type" name="type" size="1" onchange="exclusion_list_exportformat(this.value)">
			  <option value="csv" selected>{"CSV"|alang}</option>
			  <option value="xls">{"XLS"|alang}</option>
			  <option value="xml">{"XML"|alang}</option>
			</select>
		  </div>
		  <br />
		  <div>
			<div>{"Fields:"|alang}</div>
			<div class="exclusion_export_fieldlist">

			  <div>
				<label><input type="checkbox" name="fields[]" value="id" checked /> {"ID#"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="pattern" checked /> {"E-mail Pattern"|alang}</label>
			  </div>
			</div>
			<br clear="left" />
		  </div>
		  <br />
		  <div>
			{"How Many:"|alang}<br />
			<select name="what" id="exportOfferWhat" size="1">
			  <option value="page">{"This Page Only"|alang}</option>
			  <option value="list" selected id="exportOfferAllPages">{"All Pages"|alang}</option>
			</select>
		  </div>
		  <br />

		  <div>
			<input type="button" value="{"Export"|alang}" onclick="exclusion_list_export_build();" class="ac_button_ok" />
			<input type="button" value="{"Close"|alang}" onclick="exclusion_list_export(); ac_ui_anchor_set(exclusion_list_anchor())" />
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
