<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="exclusion.js"}
</script>

<h1>{"Exclusion List"|alang}<span id="exclusion_list_count" class="ac_hidden"></span></h1>

{include file="exclusion.list.htm"}
{include file="exclusion.form.htm"}
{include file="exclusion.delete.htm"}
{include file="exclusion.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(exclusion_process, true);
</script>
