<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
{ac_calendar base=".."}

<form id="fieldform" method="POST" action="main.php" onsubmit="field_errorcheck()">
	<input type="hidden" name="action" value="field">
	<input type="hidden" id="field_movefieldid" name="movefieldid" value="0">
	<input type="hidden" id="field_movefielddir" name="movefielddir" value="">
	<script type="text/javascript">
		var $J = jQuery.noConflict();
		{include file="field.js"}
	</script>
		<div style="float:right">
			<input type="button" onclick="field_safe(); field_errorcheck()" value="{'Save Changes'|alang}">
		</div>
	<h1>
		{"Subscriber fields for"|alang}
		<select id="field_list" name="listid" onchange="field_listchange(this.value)">
			{foreach from=$lists item=e}
			<option value="{$e.id}" {if $listid == $e.id}selected{/if}>{$e.name}</option>
			{/foreach}
		</select>
	</h1>

	{if isset($submitResult) and !$submitResult.status}
	<div class="ac_warning">{$submitResult.message}</div>
	{/if}

	<table cellspacing="0" class="field_table" width="100%" border="0" cellpadding="0">
		<tr class="field_table_header">
			<td width="100">{"Options"|alang}</td>
			<td width="50">{"Type"|alang}</td>
			<td width="">{"Name"|alang}</td>
			<td width="165">{"Personalization Tag"|alang}</td>
			<td width="40">{"Required"|alang}</td>
			<td width="25">{"Order"|alang}</td>
		</tr>

		<tr>
			<td>
				<span class="field_disabled_link">{"Options"|alang}</span> &nbsp;&nbsp;
				<span class="field_disabled_link">{"Delete"|alang}</span>
			</td>
			<td>{"Text"|alang}</td>
			<td class="field_name"><input type="text" value='{"Email"|alang}' class="field_disabled_input" readonly="readonly"></td>
			<td class="field_personalize">%<input type="text" value="EMAIL" class="field_disabled_input" readonly="readonly">%</td>
			<td align="center"><input type="checkbox" checked disabled></td>
            <td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<a href="#" onclick="field_defname_load(); return false">{"Options"|alang}</a> &nbsp;&nbsp;
				<span class="field_disabled_link">{"Delete"|alang}</span>
			</td>
			<td>{"Text"|alang}</td>
			<td class="field_name"><input type="text" value='{"First name"|alang}' class="field_disabled_input" readonly="readonly"></td>
			<td class="field_personalize">%<input type="text" value="FIRSTNAME" class="field_disabled_input" readonly="readonly">%</td>
			<td align="center"><input name="namereq" id="firstreq" onchange="field_different(); field_namereq(this.checked)" {if $namereq}checked{/if} type="checkbox" value="1"></td>
            <td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<a href="#" onclick="field_defname_load(); return false">{"Options"|alang}</a> &nbsp;&nbsp;
				<span class="field_disabled_link">{"Delete"|alang}</span>
			</td>
			<td>{"Text"|alang}</td>
			<td class="field_name"><input type="text" value='{"Last name"|alang}' class="field_disabled_input" readonly="readonly"></td>
			<td class="field_personalize">%<input type="text" value="LASTNAME" class="field_disabled_input" readonly="readonly">%</td>
			<td align="center"><input id="lastreq" onchange="field_different(); field_namereq(this.checked)" {if $namereq}checked{/if} type="checkbox" value="1"></td>
            <td>&nbsp;</td>
		</tr>

		{foreach from=$fields item=e name=fieldeach}
		<tr>
			<td>
				<input type="hidden" name="isrequired[{$e.id}]" value="0">
				<input type="hidden" class="field_hidden_origtag" value="{$e.perstag|escape}">
				<input type="hidden" class="field_hidden_fieldid" value="{$e.id}">
				<input type="hidden" class="field_hidden_origname" value="{$e.title|escape}">
				<a href="#" onclick="field_options_load({$e.id}); return false">{"Options"|alang}</a> &nbsp;&nbsp;
				<a href="main.php?action=field&listid={$listid}&deletefield={$e.id}" onclick="return confirm('{"Are you sure you want to delete this field?"|alang|js}')">{"Delete"|alang}</a>
			</td>
			<td>{$e.type|fieldtype}</td>
			<td class="field_name">
				<input class="field_input_name" name="fieldname[{$e.id}]" type="text" value="{$e.title|escape}" onkeyup="field_different()">
			</td>
			<td class="field_personalize">%<input class="field_input_perstag" type="text" name="perstag[{$e.id}]" value="{$e.perstag|escape}" onkeyup="field_different()">%</td>
			<td align="center"><input value="1" name="isrequired[{$e.id}]" {if $e.isrequired}checked{/if} type="checkbox" onchange="field_different()"></td>
			<td>
				{if $smarty.foreach.fieldeach.iteration != 1}
				<a href="#" onclick="field_move_up({$e.id}); return false"><img src="images/asc.gif" border="0"></a>
				{/if}
				{if $smarty.foreach.fieldeach.iteration < $smarty.foreach.fieldeach.total}
				<a href="#" onclick="field_move_down({$e.id}); return false"><img src="images/desc.gif" border="0"></a>
				{/if}
			</td>
		</tr>
		{if count($e.options) > 0}
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan="4">
			  <div id="choices{$e.id}"></div>
				<div style="margin:20px 0 10px!important;"><a class="add_choice" href="#" onclick="field_different(); choice_add('{$e.id}', '{$e.type}'); return false">{"Add Choice"|alang}</a></div>
			</td>
		</tr>
		{/if}
		{/foreach}
	</table>

	<div style=" margin-top:15px">
		<div style="float:right">
			<input type="button" onclick="field_safe(); field_errorcheck()" value="{'Save Changes'|alang}">
		</div>
		<a id="btnadd" href="#" onclick="field_add(); return false"><span>{"Add a New Custom Field"|alang}</span></a>
	</div>

	{include file="field.modal.htm"}
</form>

<div id="field_defname" class="ac_modal" align="center" style="display:none">
	<div class="ac_modal_inner" align="left">
		<form id="defnameform" method="POST" action="main.php">
			<input type="hidden" name="listid" id="defname_listid" value="{$listid}">

			<h1>{"Default Subscriber Name"|alang}</h1>

			<div class="spaced">
				<input type="text" name="defname" id="defname_value">
			</div>

			<div class="spaced">
				<input type="button" value='{"Save"|alang}' onclick="field_defname_save()" class="ac_button_ok" />
				<input type="button" value='{"Cancel"|alang}' onclick="$('field_defname').hide()">
			</div>
		</form>
	</div>
</div>

<div id="field_options" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<form id="optionform" method="POST" action="main.php">
			<input type="hidden" name="fieldid" id="option_fieldid" value="0">
			<input type="hidden" name="listid" id="option_listid" value="{$listid}">

			<h1>{"Custom field options"|alang}</h1>

			<div style="margin-top: 10px">
				{"Default value"|alang}
			</div>

			<div id="option_defval_text_div" style=" display: none">
				<input type="text" name="defval" id="option_defval_text">
			</div>

			<div id="option_defval_date_div" style=" display: none">
				<input type="text" name="defval_date" id="option_defval_date">
				<input id="option_defval_calendar" type="button" value="{" + "|alang}" />
				<script>
					{literal}
					Calendar.setup({inputField: "option_defval_date", ifFormat: '%Y-%m-%d', button: "option_defval_calendar", showsTime: false, timeFormat: "24"});
					{/literal}
				</script>
			</div>

			<div id="option_defval_dropdown_div" style=" display: none">
				<select name="defval_dropdown" id="option_defval_dropdown">
				</select>
			</div>

			<div id="option_rowcol_div" style="margin-top: 10px; display: none">
				<table>
					<tr>
						<td>{"Rows"|alang}</td>
						<td><input type="text" name="rows" id="option_rows"></td>
					</tr>
					<tr>
						<td>{"Columns"|alang}</td>
						<td><input type="text" name="cols" id="option_cols"></td>
					</tr>
				</table>
			</div>

			<div style="margin-top: 10px;  padding-top:10px; border-top:1px dotted #ccc;">
				{"Available in the lists"|alang}
			</div>

			<div style="margin-top: 4px; margin-left:8px;">
			  {if ac_admin_ismaingroup()}
					<input type="hidden" name="inlist" value="0,0">
					<label>
						<input type="checkbox" name="inlist" value="0,1" id="option_list0" onchange="if (this.checked) field.uncheck_other_lists()"> {"All lists"|alang}<br>
					</label>
				{/if}
				{foreach from=$lists item=e}
				<input type="hidden" name="inlist" value="{$e.id},0">
				<label>
					<input type="checkbox" name="inlist" value="{$e.id},1" id="option_list{$e.id}" onchange="if (this.checked) field.uncheck_all_option()"> {$e.name}<br>
				</label>
				{/foreach}
			</div>

			<div style="margin-top: 10px; padding-top:10px; border-top:1px dotted #ccc;">
				<label>
					<input type="checkbox" name="visible" value="1" id="option_visible">
					{"Visible to subscribers"|alang}
				</label>
				<br>
				<label>
					<input type="checkbox" name="show_in_list" value="1" id="option_showinlist">
					{"Show subscriber value on the subscriber list page"|alang}
				</label>
			</div>

			<div style="margin-top: 10px">
				<input type="button" value='{"Save"|alang}' onclick="field_options_save()" class="ac_button_ok" />
				<input type="button" value='{"Cancel"|alang}' onclick="$('field_options').hide()">
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	{foreach from=$fields item=e}
	{foreach from=$e.options item=o}
	field_newchoice(choice_counter++, {$e.id}, '{$o.value|js}', '{$e.type}');
	{/foreach}
	{/foreach}
</script>
