<div id="field_modal_addhidden" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"Name your custom field"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="field_modal_hidden_title">
		</div>
<div style="display:none;">
		<div style="margin-top: 10px">
			{"Choose a personalization tag (put this in campaigns to personalize them)"|alang}
		</div>

		<div style="margin-top: 10px">
			% <input type="text" id="field_modal_hidden_perstag"> %
		</div>
</div>
		<div style="margin-top: 10px">
			<input id="field_modal_hidden_save_button" type="button" value='{"Save"|alang}' onclick="field_modal_save_hidden()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_addhidden').hide()">
		</div>
	</div>
</div>
