<div id="field_modal_adddropdown" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"Name your custom field"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="field_modal_dropdown_title">
		</div>

		<div id="dropdown_opts" style="margin-top: 10px">
		</div>

		<div style="margin-top:10px">
			<a href="#" onclick="dropdown_newopt(dropdown_counter++, '{"new option"|alang|js}'); return false" style="font-size:10px;">{"add another option"|alang}</a>
		</div>

		<br clear="all">
<div style="display:none;">
		<div style="margin-top: 10px">
			{"Choose a personalization tag (put this in campaigns to personalize them)"|alang}
		</div>

		<div style="margin-top: 10px">
			% <input type="text" id="field_modal_dropdown_perstag"> %
		</div>
</div>
		<div style="margin-top: 10px">
			<input id="field_modal_dropdown_save_button" type="button" value='{"Save"|alang}' onclick="field_modal_save_dropdown()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_adddropdown').hide()">
		</div>
	</div>
</div>

<script type="text/javascript">
	{literal}
	var dropdown_counter = 4;

	function dropdown_newopt(inc, defval) {
		var rval;

		rval = 
			sprintf("<div id='dropdown_opt%s'>", inc) +
			sprintf("<a href='#' class='choice_opt_delete' onclick='dropdown_delete(\"%s\"); return false'>x</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_up' onclick='dropdown_moveup(\"%s\"); return false'>^</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_down' onclick='dropdown_movedn(\"%s\"); return false'>v</a>", inc) + " " +
			sprintf("<input type='text' class='field_modal_dropdown_option' value='%s'>", defval) +
			"</div>";

		$J("#dropdown_opts").append(rval);
	}

	function dropdown_delete(inc) {
		if ($("dropdown_opt" + inc)) {
			$("dropdown_opts").removeChild($("dropdown_opt" + inc));
		}
	}

	function dropdown_moveup(inc) {
		var thisone = $("dropdown_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("dropdown_opt" + inc).previousSibling;

		if (!thatone)
			return;

		$("dropdown_opts").insertBefore(thisone, thatone);
	}

	function dropdown_movedn(inc) {
		var thisone = $("dropdown_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("dropdown_opt" + inc).nextSibling;

		if (!thatone)
			return;

		$("dropdown_opts").insertBefore(thatone, thisone);
	}

	dropdown_newopt(1, {/literal}'{"option"|alang|js} 1'{literal});
	dropdown_newopt(2, {/literal}'{"option"|alang|js} 2'{literal});
	dropdown_newopt(3, {/literal}'{"option"|alang|js} 3'{literal});
	{/literal}
</script>
