<script type="text/javascript">
	{include file="field.modal.js"}
</script>

{include file="field.modal.checkbox.htm"}
{include file="field.modal.date.htm"}
{include file="field.modal.dropdown.htm"}
{include file="field.modal.hidden.htm"}
{include file="field.modal.listbox.htm"}
{include file="field.modal.radio.htm"}
{include file="field.modal.text.htm"}
{include file="field.modal.textarea.htm"}

<div id="field_modal_addtype" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"What type of field would you like to add?"|alang}
		</div>

		<div style="margin-top: 10px">
			<label><input name="type" type="radio" class="field_modal_type" value="text" checked> {"Text input"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="textarea"> {"Text area (allows multiple lines)"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="date"> {"Date"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="dropdown"> {"Drop down"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="listbox"> {"List box"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="radio"> {"Radio button"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="checkbox"> {"Check box(es)"|alang}</label><br>
			<label><input name="type" type="radio" class="field_modal_type" value="hidden"> {"Hidden field"|alang}</label>
		</div>

		<div style="margin-top: 10px">
			<input id="field_modal_next_button" type="button" value='{"Next"|alang}' onclick="field_modal_next()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_addtype').hide()">
		</div>
	</div>
</div>