{ac_calendar base=".."}
<table border="0" cellspacing="0" cellpadding="5" {if $included}class="filter_add_edit" style="border-bottom:0px;"{/if}>
  {if !$included}
  <tr valign="top">
	<td>{"Used in Lists:"|alang}</td>
	<td>

		<div id="parentsList_div" class="ac_checkboxlist">
			{foreach from=$listsList item=p}
				<div>
					<label>
						<input type="checkbox" id="p_{$p.id}" class="parentsList" name="listid[]" value="{$p.id}" {if count($listsList) == 1}checked="checked"{/if} />
						{$p.name|truncate:50}
					</label>
				</div>
			{/foreach}
		</div>
	  <div>
			{"Select:"|alang}
			<a href="#" onclick="parents_box_select(1, 0); return false;">{"All"|alang}</a>
			&middot;
			<a href="#" onclick="parents_box_select(0, 0); return false;">{"None"|alang}</a>
	  </div>

	</td>
  </tr>
  <tr>
  	<td colspan="2">&nbsp;</td>
  </tr>
  {/if}
  <tr>
	<td>{"Name This Segment:"|alang}</td>
	<td><input type="text" name="filter_name" id="form_filter_name"></td>
  </tr>

  <tr>
  	<td>{"Match Type:"|alang}</td>
	<td>
		  <select name="filter_logic" id="form_filter_logic">
			<option value="and">{"Subscribers who match all of the following groups"|alang}</option>
			<option value="or" >{"Subscribers who match any of the following groups"|alang}</option>
		  </select>
	</td>
  </tr>
</table>

<div class="filter_add_edit" id="filter_form">

  <br />
  <br />
  <div style="display:none">
	<div class="filter_group_title"><div style="float:right;"><img class="form_filter_group_delete" src="images/selection_delete-16-16.png" width="16" height="16" /></div>{"Group"|alang} <span class="filter_group_title_number"></span></div>
	<div class="filter_group" id="test">
	  <select name="filter_group_logic[]" class="form_filter_group_logic">
		<option value="and">{"Subscribers who match all these conditions"|alang}</option>
		<option value="or" >{"Subscribers who match any of these conditions"|alang}</option>
	  </select>
	  <br />
	  <br />
	  <table border="0" cellspacing="0" cellpadding="0">
		<tbody class="form_filter_condcontainer"></tbody>
	  </table>
	  <div style="margin-top:8px;"><a href="#" class="filter_group_addcond" style="display:block; background:url(images/add2-16-16.png); background-repeat:no-repeat; background-position:left; padding-left:20px; padding-top:2px; padding-bottom:2px;">{"Add another condition"|alang}</a></div>
	</div>
	<table>
	  <tbody id="form_filter_examplecond">
		<tr>
		  <td>
			<select name="filter_group_cond_lhs[]" style="width:160px;" class="form_filter_cond_lhs">
			  <optgroup label="{"Subscriber Details"|alang}">
				<option value="standard:email">{"Email Address"|alang}</option>
				<option value="standard:first_name">{"First Name"|alang}</option>
				<option value="standard:last_name">{"Last Name"|alang}</option>
				<option value="standard:*fullname">{"Full Name"|alang}</option>
				<option value="standard:*cdate">{"Date Subscribed"|alang}</option>
				<option value="standard:*ctime">{"Time Subscribed"|alang}</option>
				<option value="standard:*ip">{"IP Address"|alang}</option>
				<option value="standard:*status">{"Status"|alang}</option>
			  </optgroup>
			  <optgroup label="{"Custom Fields"|alang}">
				{foreach from=$filter_fields item=c}
				<option value="custom:{$c.id}">{$c.title|escape}</option>
				{/foreach}
			  </optgroup>
			  <optgroup label="{"Actions"|alang}">
				<option value="action:linkclicked">{"Has clicked on a link"|alang}</option>
				<option value="action:linknotclicked">{"Has not clicked on a link"|alang}</option>
				<option value="action:opened">{"Has opened/read"|alang}</option>
				<option value="action:notopened">{"Has not opened/read"|alang}</option>
				<option value="action:social">{"Has shared socially"|alang}</option>
				<option value="action:inlist">{"In list"|alang}</option>
				<option value="action:notinlist">{"Not in list"|alang}</option>
				<option value="action:subform">{"Subscribed with subscription form"|alang}</option>
				<option value="action:notsubform">{"Did not subscribe with subscription form"|alang}</option>
				<option value="action:forwarded">{"Has forwarded"|alang}</option>
				<option value="action:notforwarded">{"Has not forwarded"|alang}</option>
			  </optgroup>
			</select>
		  </td>
		  <td>
			<select name="filter_group_cond_op[]" class="form_filter_cond_op" style="width: 200px">
			</select>
		  </td>
		  <td>
			<div class="form_filter_cond_rhs">
			</div>
		  </td>
		  <td width="5">&nbsp;</td>
		  <td><img src="images/selection_delete-16-16.png" width="16" height="16" class="form_filter_cond_delete" /></td>
		</tr>
	  </tbody>
	</table>
  </div>
  <div id="filter_groupcontainer"></div>

  <div class="filter_group_options">
	<a href="#" style="color:#999999;" onclick="filter_form_addgroup('and', true, 0); return false">{"Add another group of conditions"|alang}</a></div>
  <br clear="left" />
  <br />

  {if !$included}
  <div>
	<input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="filter_form_save(filter_form_id, false)" />
	<input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
  </div>
  {else}
  <div>
	<input type="button" id="form_submit" class="ac_button_save" value="{"Save"|alang}" onclick="filter_form_save(filter_form_id, true);" />
	<input type="button" id="form_back" class="ac_button_back" value="{"Cancel"|alang}" onclick="campaign_filter_create();" />
	<input type="hidden" name="included" value="1" />
  </div>
  {/if}
  <input type="submit" style="display:none"/>

</div>
