<div id="form" class="ac_block" style="display:none;">
  <form method="POST" onsubmit="filter_form_save(filter_form_id); return false">
    <input type="hidden" name="id" id="form_filter_id" />

	{include file="filter.form.inc.htm" included=0}

    <input type="submit" style="display:none"/>
  </form>
</div>
