{include file="field.modal.htm"}

<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
  {include file="form_settings.js"}
	{literal}
	var $J = jQuery.noConflict();
	var $I = function(x) {
		return $J("#" + x).get(0);
	};

	$J(document).ready(function() {
			form_settings_changelist();
	});
	{/literal}
</script>


<div class="formbuilder_options">
	<span class="saving" style="display: none;">{"Saving"|alang}</span>
	<a class="save" onclick="form_save_button(); return false" href="#"><span>{"Save"|alang}</span></a>
</div>

<h1>{"Subscription Form Settings"|alang}</h1>

<div class="form_content_outer">
	<div class="form_content">
		<div class="campaign_help">
			{"Enter your form name.  This is only used for your own reference.  Your visitors will not see this."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<input type="text" name="name" id="form_name" value="{$form.name|html}" class="form_input_name" onchange="form_save_name()">
		</div>


		<div class="form_content_side">
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_settings_submit('edit')" style="cursor: pointer">
					{"Build your subscription form"|alang}
				</div>
			</div>

			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_settings_submit('theme')" style="cursor: pointer">
					{"Theme & style options"|alang}
				</div>
			</div>
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_settings_submit('optin')" style="cursor: pointer">
					{"Opt-in confirmation email"|alang}
				</div>
			</div>


			<div class="form_content_tab_selected">
				<div class="header">
					{"Form settings"|alang}
				</div>
			</div>

			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_settings_submit('code')" style="cursor: pointer">
					{if $form.facebookurl}
                    <div style="float: right">
                        <a href="{$form.facebookurl}" target="_blank"><img border="0" src="images/facebook_grey.gif" height="16" width="16"></a>
                    </div>
                    {/if}

                    {"Integrate with your site"|alang}
				</div>
			</div>
			<br clear="all">
		</div>

		<div class="form_content_preview">
			<div class="form_content_preview_inner">

				<form action="main.php" method="POST" id="settingsform">
					<input type="hidden" name="action" value="form_settings">
					<input type="hidden" name="id" value="{$form.id}">
					<input type="hidden" id="form_settings_next" name="next" value="list">

					<div class="settingsforminfo">
						<div class="spaced">
							{"When your subscriber submits their form, they may encounter the following"|alang}
						</div>

						<div class="spaced">
							<ul>
								<li>
								{"They will be directed to your"|alang}
								{if $form.sendoptin}
								<a href="main.php?action=formsub_result">{"subscription confirmation page"|alang}</a>
								{else}
								<a href="main.php?action=formsub_confirm_result">{"subscription confirmation page"|alang}</a>
								{/if}
								</li>

								{if $form.sendoptin}
								<li>
								{"They will receive an"|alang}
								<a href="main.php?action=form_optin&id={$form.id}">{"opt-in email"|alang}</a>
								{"to confirm their subscription"|alang}
								</li>
								{/if}

								<li>
								{"If there is an error with their request, they will be directed to your"|alang}
								<a href="main.php?action=formsub_error">{"subscription error confirmation page"|alang}</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="formsettinglists">
						<h1 class="spaced">{"Lists"|alang}</h1>

						<div class="spaced form_settings_bigtext">
							{foreach from=$lists item=e}
							<label><input class="form_settings_list" type="checkbox" name="listid[]" value="{$e.id}" onchange="form_settings_changelist(); form_settings_save();" {if $e.selected}checked{/if}> {$e.name}</label>
							{/foreach}
						</div>

						{if $lists_checked > 0}
						<div id="havemultiple" class="spaced">
							<p>{"As you have multiple lists selected for this form we will be using the confirmation settings from your list"|alang}</p>
							<select name="useconf" id="select_useconf" onchange="form_settings_changelist(); form_settings_save();">
								{foreach from=$lists item=e}
								<option value="{$e.id}" {if $e.useconf}selected{/if}>{$e.name|escape}</option>
								{/foreach}
							</select>
						</div>
						{/if}
					</div>

				</form>

			</div>
		</div>

	</div>
</div>
