<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	{literal}
	var $J = jQuery.noConflict();
	var $I = function(x) {
		return $J("#" + x).get(0);
	};
	{/literal}
  {include file="form_theme.js"}
</script>
<h1>{"Subscription Form"|alang}</h1>

<div class="form_content_outer">
	<div class="form_content">
		<div style="margin-top: 15px; margin-bottom: 10px">
			<input type="text" name="name" value="{$form.name|html}" class="form_input_name">
		</div>

		<div class="form_content_preview">
			<div id="preview"></div>
		</div>

		<div class="form_content_side">
			<div class="form_content_fields_hanger">
				<div class="form_content_fields_header_gray" onclick="window.location.href = 'main.php?action=form_edit&id={$form.id}'" style="cursor: pointer">
					{"Build your subscription form"|alang}
				</div>
			</div>

			<div class="form_content_fields_hanger">
				<div class="form_content_fields_header_gray" onclick="window.location.href = 'main.php?action=form_optin&id={$form.id}'" style="cursor: pointer">
					{"Opt-in confirmation email"|alang}
				</div>
			</div>

			<div class="form_content_fields_hanger">
				<div class="form_content_fields_header_gray" onclick="window.location.href = 'main.php?action=form_theme&id={$form.id}'" style="cursor: pointer">
					{"Theme &amp; style options"|alang}
				</div>
			</div>

			<div class="form_content_fields">
				<div class="form_content_fields_header" onclick="window.location.href = 'main.php?action=form_settings&id={$form.id}'" style="cursor: pointer">
					{"Form settings"|alang}
				</div>
			</div>
		</div>

		<br clear="all">

	</div>
</div>
