{include file="field.modal.htm"}

<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	{literal}
	var $J = jQuery.noConflict();
	var $I = function(x) {
		return $J("#" + x).get(0);
	};
{/literal}
{include file="form_code.js"}
</script>

<div class="formbuilder_options">
	<span class="saving" style="display: none;">{"Saving"|alang}</span>
	<a class="save" onclick="form_save_button(); return false" href="#"><span>{"Save"|alang}</span></a>
</div>

<h1>{"Subscription Form Code"|alang}</h1>

<div class="form_content_outer">
	<div class="form_content">
		<div class="campaign_help">
			{"Enter your form name.  This is only used for your own reference.  Your visitors will not see this."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<input type="text" name="name" id="form_name" value="{$form.name|html}" class="form_input_name" onchange="form_save_name()">
		</div>


		<div class="form_content_side">
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_code_submit('edit')" style="cursor: pointer">
					{"Build your subscription form"|alang}
				</div>
			</div>

			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_code_submit('theme')" style="cursor: pointer">
					{"Theme & style options"|alang}
				</div>
			</div>
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_code_submit('optin')" style="cursor: pointer">
					{"Opt-in confirmation email"|alang}
				</div>
			</div>


			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_code_submit('settings')" style="cursor: pointer">
					{"Form settings"|alang}
				</div>
			</div>

			<div class="form_content_tab_selected">
				<div class="header">
					{if $form.facebookurl}
					<div style="float: right">
						<a href="{$form.facebookurl}" target="_blank"><img border="0" src="images/facebook_grey.gif" height="16" width="16"></a>
					</div>
					{/if}

					{"Integrate with your site"|alang}
				</div>
			</div>
			<br clear="all">
		</div>

		<div class="form_content_preview">
			<div class="form_content_preview_inner">

				<h1 class="spaced">{"Form Link"|alang}</h1>
				<div class="spaced form_url">
					{if $site.general_url_rewrite}
					<a href="{$site.p_link}/form/{$form.id}">{$site.p_link}/form/{$form.id}</a>
					{else}
					<a href="{$site.p_link}/index.php?action=form&id={$form.id}">{$site.p_link}/index.php?action=form&id={$form.id}</a>
					{/if}
				</div>

				<div id="integrateset">

					<ul id="navtabs">
						{if $admin.brand_links}<li><a href="#fb">{"Add to Facebook"|alang}</a></li>{/if}
						<li><a href="#ss">{"Social Sharing"|alang}</a></li>
						<li><a href="#qrc">{"QR Code"|alang}</a></li>
					</ul>
                    {if $admin.brand_links}
					<div id="fb" class="sets">
						<div class="set" style="padding-right:20px; float:left;">

							<div>
								<a class="btnsmall fb" href="#" onclick="window.open('{$fb_c}','FB','width=575,height=300,resizable=yes,scrollbars=no');return false;"><span>{"Add to Page"|alang}</span></a>
							</div>
						</div>
						<div>
							<div>{"Add your subscription form to your Facebook page as a page tab allowing your Facebook followers to easily subscribe."|alang}</div>
						</div>
						<div class="clearfix"></div>

                        <div id="facebookpages" style="display:none;">
						<table style="margin-top:20px;" width="100%" border="0" cellspacing="0" cellpadding="0">
						<thead id="list_head">
							<tr class="ac_table_header">
								<td colspan="2">{"My Integrated Page"|alang}</td>
							</tr>
						</thead>
						<tbody id="fbtblcode">
							<tr class="ac_table_row">
								<td valign="middle" width="15%"><a class="btnsmall" href="#">{"Disconnect"|alang}</a></td>
								<td valign="middle">{"My First Facebook Page"|alang}</td>
							</tr>
							<tr class="ac_table_row">
								<td valign="middle" width="15%"><a class="btnsmall" href="#">{"Disconnect"|alang}</a></td>
								<td valign="middle">{"Second Facebook Page"|alang}</td>
							</tr>
							<tr class="ac_table_row">
								<td valign="middle" width="15%"><a class="btnsmall" href="#">{"Disconnect"|alang}</a></td>
								<td valign="middle">{"This Facebook Page"|alang}</td>
							</tr>
						</tbody>
						</table>
                        </div>
					</div><!--//sets -->
                    {/if}
					<div id="ss" class="sets">
						<div class="set" style="width:99%;">
							<div align="center">
							<a class="btnsmall fb" href="http://www.facebook.com/share.php?u={$url_encoded}" target="_blank"><span>{"Post To Facebook"|alang}</span></a> &nbsp;&nbsp; <a class="btnsmall tw" href="http://twitter.com/share?text=Subscribe%20to%20our%20newsletter!&url={$url_encoded}" target="_blank"><span>{"Post To Twitter"|alang}</span></a> &nbsp;&nbsp; <a class="btnsmall gp" href="https://plus.google.com/share?url={$url_encoded}" target="_blank"><span>{"Post To Google&#43;"|alang}</span></a>
                            </div>
						</div>
					</div><!--//sets -->
					<div id="qrc" class="sets">
						<div class="set">

								<div style="float:left; margin-right:20px; padding:0px;"><img id="qrimg" src="https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl={$qrurl}" style="border:1px solid #ccc;" /></div>
								<div style="margin-bottom:8px;">

									<p>{"When someone scans this code with their mobile device they will be directed to your subscription form."|alang}  <a href="#" target="_blank" style="display:none;">{"Learn More"|alang}</a></p>
									<div><strong>{"Download Size"|alang}:</strong></div>
									<div style="margin-top:7px;">
										<a class="btnsmall" href="main.php?action=form_code&id={$form.id}&qr=download&dimensions=200x200">{"200px"|alang}</a> <a class="btnsmall" href="main.php?action=form_code&id={$form.id}&qr=download&dimensions=100x100">{"100px"|alang}</a> <a class="btnsmall" href="main.php?action=form_code&id={$form.id}&qr=download&dimensions=75x75">{"75px"|alang}</a> <a class="btnsmall" href="main.php?action=form_code&id={$form.id}&qr=download&dimensions=50x50">{"50px"|alang}</a>
									</div>
								</div>
							</div>

					</div><!--//sets -->
				</div><!--//integrateset -->

				<h1 class="spaced">
					{"Embeddable HTML"|alang}
				</h1>
				<div style="font-size:11px;color:#666;">{"Click on textarea to select code. Press CTRL+C to copy."|alang}</div>
				<!-- Try to avoid spacing here -->
				<textarea style="width:100%; height:270px; cursor:pointer;" id="textarea" class="spaced" onClick="SelectAll('textarea');" readonly="readonly">{$html|replace:'</textarea>':'&lt;/textarea>'}</textarea>
				<script type="text/javascript">
				{literal}
					function SelectAll(id) {
						document.getElementById(id).focus();
						document.getElementById(id).select();
					}
					$J(document).ready(function () {
						var tabContainers = $J('#integrateset > div');
						tabContainers.hide().filter(':first').show();
						$J('#integrateset ul#navtabs a').click(function () {
							tabContainers.hide();
							tabContainers.filter(this.hash).show();
							$J('#integrateset ul#navtabs a').removeClass('selected');
							$J(this).addClass('selected');
							return false;
						}).filter(':first').click();
					});
				{/literal}
				</script>

			</div>
		</div>
	</div>
</div>
