{include file="field.modal.htm"}
{ac_calendar base=".."}

<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	var showtheme = {$showtheme};
{literal}
var $J = jQuery.noConflict();
var $I = function(x) {
	return $J("#" + x).get(0);
};
$J(document).ready(function() {
		form_compile(form_obj.id);
		form_theme_apply(form_obj.theme);
		if (showtheme)
		form_show_theme();
		});
{/literal}
{include file="form_edit.js"}
</script>



<div class="formbuilder_options">
	<span class="saving" style="display: none;">{"Saving"|alang}</span>
	<a class="save" onclick="form_save_button(); return false" href="#"><span>{"Save"|alang}</span></a>
</div>


<h1>{"Name your form"|alang}</h1>

<div class="form_content_outer">
	<div class="form_content">

		<div class="campaign_help">
			{"Enter your form name.  This is only used for your own reference.  Your visitors will not see this."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<input type="text" name="name" id="form_name" value="{$form.name|html}" class="form_input_name" onchange="form_save_name()">
		</div>

		<a name="form_top" id="form_top"></a>
		<div class="form_content_side"   >
			<div id="form_content_builddiv" class="form_content_tab_selected">
				<div id="form_content_build_headerdiv" class="header" onclick="form_show_preview(); form_mode = 'build'" style="cursor: pointer">
					{"Build your subscription form"|alang}
				</div>

				<div id="fieldsdiv" class="form_side_content" >
					<div id="part_firstlastname" class="form_content_fields_item" onclick="form_part_insert_builtin('firstlastname')">
						<span>{"First &amp; Last Name"|alang}</span>
					</div>
					<div id="part_fullname" class="form_content_fields_item" onclick="form_part_insert_builtin('fullname')">
						<span>{"Full Name"|alang}</span>
					</div>

					<div id="fieldcontainer">
						{foreach from=$fields item=e}
						<div id="part_{$e.id}" class="form_content_fields_item part_{$e.type}" onclick="form_part_insert_field({$e.id})">
							<span>{$e.title}</span>
						</div>
						{/foreach}
					</div>

					<div class="form_content_fields_item_add" onclick="field_modal_open(); return false" align="center">
						<span>{"Add a new field"|alang}</span>
					</div>

					<br clear="all">


					<div style="margin-top:15px; border-top:1px solid #edf4db; padding-top:5px;">

						{if count($lists) > 1}
						<div id="part_listselector" class="form_content_fields_item" onclick="form_part_insert_builtin('listselector')">
							<span>{"List selector"|alang}</span>
						</div>
						{/if}
						<div id="part_captcha" class="form_content_fields_item" onclick="form_part_insert_builtin('captcha')">
							<span>{"Captcha"|alang}</span>
						</div>
						<div id="part_header" class="form_content_fields_item" onclick="form_part_insert_builtin('header')">
							<span>{"Header"|alang}</span>
						</div>
						<div class="form_content_fields_item part_freeform" onclick="form_part_insert_builtin('freeform')">
							<span>{"Free form HTML"|alang}</span>
						</div>
						<div id="part_unsubscribe" class="form_content_fields_item" onclick="form_part_insert_builtin('unsubscribe')">
							<span>{"Unsubscribe"|alang}</span>
						</div>
						<div id="part_image" class="form_content_fields_item" onclick="form_part_insert_builtin('image')">
							<span>{"Image"|alang}</span>
						</div>

					</div>

					<br clear="all">
				</div>

				<div id="editpart" class="form_side_content" style="display:none;">
					<input type="hidden" name="partid" id="edit_partid">

					<div id="edit_header_div">
						<div class="spaced">
							{"Field header"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="header" id="edit_header">
						</div>
					</div>

					<div id="edit_firstlastname_div">
						<div class="spaced">
							{"First Name header"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="headerfirst" id="edit_headerfirst">
						</div>

						<div class="spaced">
							{"Last Name header"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="headerlast" id="edit_headerlast">
						</div>
					</div>

					<div id="edit_freeform_div" style="display:none">
						<div class="spaced">
							{"Free-form HTML content"|alang}
						</div>

						<div class="spaced">
							<textarea id="edit_freeformEditor" name="freeform" style="width:100%"></textarea>
							<script>form_toggle_editor('edit_freeform', true, ac_editor_init_freeform_object);</script>
						</div>
					</div>

					<div id="edit_button_div" style="display:none">
						<div class="spaced">
							{"Button label"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="buttoncontent" id="edit_button">
						</div>
					</div>

					<div id="edit_image_upload_div" style="display:none">
						<form action="main.php" method="POST" enctype="multipart/form-data" id="imageform">
							<input type="hidden" name="action" value="form_edit">
							<input type="hidden" name="imageupload" value="1">
							<input type="hidden" name="id" value="{$form.id}">
							<input type="hidden" name="partid" value="0" id="image_partid">

							<div class="spaced">
								{"Choose an image file"|alang}
							</div>

							<div class="spaced">
								<input type="file" name="imagefile">
							</div>

							<div class="spaced">
								{"Alt text"|alang}
							</div>

							<div class="spaced">
								<input type="text" name="imagealt" id="image_alt">
							</div>

							<div class="spaced">
								{"Alignment"|alang}
							</div>

							<div class="spaced">
								<select name="imagealign" id="image_align">
									<option value="left">{"Left"|alang}</option>
									<option value="center">{"Center"|alang}</option>
									<option value="right">{"Right"|alang}</option>
								</select>
							</div>
						</form>
					</div>

					<div class="spaced">
						<input id="message_fetch_ok" type="button" value='{"Update"|alang}' onclick="form_part_edit()" class="ac_button_ok" />
						<input type="button" value='{"Cancel"|alang}' onclick="form_part_edit_hide()">
					</div>
				</div>


			</div>



			<div id="form_content_themediv" class="form_content_tab">
				<div id="form_content_theme_headerdiv" class="form_content_fields_header_gray" onclick="form_show_theme(); form_mode = 'theme'" style="cursor: pointer">
					{"Theme & style options"|alang}
				</div>

				<div id="themediv" class="form_side_content" style="display:none; padding:1px;">

					{foreach from=$themes item=e}
					<div id="theme_{$e.name|escape}" class="form_content_theme_item {if $e.selected}form_content_theme_item_selected{/if}" onclick="form_theme_apply('{$e.name|js}')">
						<img src="{$e.preview}">
					</div>
					{/foreach}<br clear="all" />

					<div id="form_width_default" class="form_content_theme_width">
						<div id="form_width_specify" align="center" style="display:none">
							<a href="#" onclick="$J('#form_width_custom').show(); $J('#form_width_specify').hide(); return false">{"Specify a custom width for this form."|alang}</a>
						</div>

						<div id="form_width_custom" align="center" style="display:none">
							{"The width of this form should be"|alang} <input id="form_widthpx" value="{$form.widthpx}" onchange="form_save_widthpx(this.value)" /> {"pixels"|alang}.
						</div>
					</div>

				</div>
			</div>
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="window.location.href = 'main.php?action=form_optin&id={$form.id}'" style="cursor: pointer">
					{"Opt-in confirmation email"|alang}
				</div>
			</div>
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="window.location.href = 'main.php?action=form_settings&id={$form.id}'" style="cursor: pointer">
					{"Form settings"|alang}
				</div>
			</div>

			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="window.location.href = 'main.php?action=form_code&id={$form.id}'" style="cursor: pointer">
					{if $form.facebookurl}
                    <div style="float: right">
                        <a href="{$form.facebookurl}" target="_blank"><img border="0" src="images/facebook_grey.gif" height="16" width="16"></a>
                    </div>
                    {/if}
                    {"Integrate with your site"|alang}
				</div>
			</div>
		</div>

		<div class="form_content_preview" align="center">
			<div class="form_content_preview_inner" align="center">
				<div id="preview" class="_form"></div>
			</div>
		</div>
	</div>
</div>
