<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="form.js"}
</script>

<h1 id="form_header">{"Subscription Forms"|alang}</h1>
<form id="filterList">
	<select name="listid" id="JSListManager" size="1" onchange="form_switch_list(this.value);">
		<option value="0">{"All Lists"|alang}</option>
		{foreach from=$listsList item=p}
		<option value="{$p.id}"{if $listid == $p.id} selected="selected"{/if}>{$p.name|truncate:50}</option>
		{/foreach}
	</select>
</form>

<div id="noforms" style="display: none;">
	<div class="ac_listing_empty">
		<h2><a href="#" onclick="form_list_addmodal(); return false;">{"Create a new form"|alang}</a></h2>
		<p>{"Get more subscribers. Easily build a custom form in seconds and embed into your website."|alang}</p>
	</div>
	<div class="mscdftmsgscreenshot">
		<p>{"Turn your website visitors into subscribers. Build a form that matches the look and feel of your website."|alang}</p>
		<img src="images/formlist.default.png" onclick="form_list_addmodal(); return false;" style="cursor:pointer;" />
	</div>
</div>

<div id="noforms_nolists" style="display: none;">

	{if $canAddList}
	<div class="ac_listing_empty">
		<h2>{"Looking to create a form?"|alang} <a href="main.php?action=list&new">{"Create a list first"|alang}</a></h2>
		<p>{"To create a subscription form,"|alang} {"please first create a list."|alang}</p>
	</div>
	{/if}
	<div class="mscdftmsgscreenshot">
		<p>{"You currently do not have any lists. Forms allow subscribers to join your lists."|alang}</p>
		<img src="images/mscdftmsglist.png" onclick="location.href='main.php?action=list&new'" style="cursor:pointer;" />
	</div>

</div>

<div id="list_forms" class="rows">
	{foreach from=$forms item=e}

	  {* AT LEAST ONE FORM EXISTS *}

		<div class='formpreview'>
			<div class='formpreviewimg'>
				<img src='{$e.url}' width='225' height='190' />
				<div class='wrap formpreviewoptions'>
					<ul>
						<li><a class='mf' href='main.php?action=form_edit&id={$e.id}'>{"Edit this form"|alang}</a></li>
						<li><a class='pf' href='{$e.formurl}' onclick="window.open('{$e.formurl}', 'preview', 'height=600,width=800,menubar=no,location=no,resizable=yes,scrollbars=yes,status=yes'); return false;">{"Preview this form"|alang}</a></li>
						<li><a class='oc' href='main.php?action=form_optin&id={$e.id}'>{"Opt-in confirmation email"|alang}</a></li>
						<li><a class='fc' href='main.php?action=form_code&id={$e.id}'>{"Integrate with your site"|alang}</a></li>
						<li><a class='df' href='main.php?action=form&delete={$e.id}' onclick='return confirm("{'Are you sure you want to delete this form?'|alang|js}")'>{"Delete this form"|alang}</a></li>
					</ul>
				</div>
			</div>
			<div class='formpreviewinfo'>
				<span class='themename'>{$e.name|truncate:25}</span>
				<span class='subsinfo'>{$e.subcount|numformat:0} {"Subscriptions"|alang}</span>
			</div>
		</div>
		<script type="text/javascript">
			{literal}
			  $J(document).ready(function() {
			    $J("form_header").show();
			    $J("noforms").hide();
			    $J("noforms_nolists").hide();
			    $J("div.formpreviewoptions").each(function(){
			      $J(this).css("opacity", 0);
			      $J(this).css("width", $J(this).siblings("img").width());
			      $J(this).parent().css("width", $J(this).siblings("img").width());
			      $J(this).css("display", "block");
			    });
			    $J("div.formpreviewimg").hover(function(){
			      $J(this).children(".formpreviewoptions").stop().fadeTo(250, 1);},
			      function(){
			      $J(this).children(".formpreviewoptions").stop().fadeTo(250, 0);
			    });
			    
			    // show "Create a list" message?
	        if (!total_lists_user) {
	          $("noforms").hide();
	          $J("#form_header").hide();
	          $J("#list_forms").hide();
	          $J("#noforms_nolists").show();
	          $J("#noforms_nolists > h1").css("margin", 0);
	        }
			    
			  });
		  {/literal}
		</script>

  {foreachelse}
  
    {* NO FORMS EXIST *}
  
		<script type="text/javascript">
			{literal}
				$J(document).ready(function() {
		
				// show "Create a list" message?
					if (total_lists_user) {
						$("noforms").show();
					}
					else {
						$("noforms").hide();
						$J("#form_header").hide();
						$J("#list_forms").hide();
						$J("#noforms_nolists").show();
						$J("#noforms_nolists > h1").css("margin", 0);
					}
		
				});
			{/literal}
		</script>

  {/foreach}
	</div>
	<div class="clearfix"></div>

	<script type="text/javascript">
		{literal}
		$J(document).ready(function() {
			$J("a[rel=tip]").twipsy({
				"placement": "left"
			});
		});
		{/literal}
	</script>
</div>
