{include file="field.modal.htm"}
{ac_calendar base=".."}

<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	var showtheme = {$showtheme};
	{literal}
	var $J = jQuery.noConflict();
	var $I = function(x) {
		return $J("#" + x).get(0);
	};
$J(document).ready(function() {
		form_compile(form_obj.id);
		form_theme_apply(form_obj.theme);
		if (showtheme)
			form_show_theme();
		if (form_obj.redirecturl !== null && form_obj.redirecturl != "")
			form_show_redirect();
		form_tab_highlight(["sub", 2], {/literal}{$listid}{literal});
		});
{/literal}
{include file="formsub_error.js"}
</script>



{include file="form.inc.htm"}
<div class="form_redirect_section">
	<div class="form_chooseredirect">
		<a href="#" onclick="form_show_redirect(); return false">{"Redirect to URL instead"|alang}</a>
	</div>
	<div class="form_choosenoredir">
		<a href="#" onclick="form_hide_redirect(); return false">{"Use your own form instead"|alang}</a>
	</div>
	<div class="form_explain_noredir">
		{"This is the result message that your susbcriber will see when they confirm their subscription."|alang}
	</div>
	<div class="form_explain_redir">
		{"When people reach this form, they will be redirected to the URL below."|alang}
	</div>
</div>

<div class="form_redirect_input" id="useredirect" align="center">
	<form action="main.php" method="POST" enctype="multipart/form-data" id="redirectform">
		<div class="form_useredirect_message" align="center">
			<input class="input_redirecturl" type="text" name="redirecturl" style="width:600px;" value="{$form.redirecturl}">
			<input type="hidden" name="action" value="formsub_error">
			<input type="hidden" name="formid" value="{$form.id}">
			<input type="hidden" name="listid" value="{$listid}">
			<input type="hidden" name="redirecting" value="1">
			<input type="button" value='{"Save"|alang}' onclick="form_save_redirect()">
		</div>
	</form>
</div>

<div class="form_content_outer">
	<div class="form_content">

		<a name="form_top" id="form_top"></a>
		<div class="form_content_side">
			<div id="form_content_builddiv" class="form_content_tab_selected">
				<div id="form_content_build_headerdiv" class="header" onclick="form_show_preview(); form_mode = 'build'" style="cursor: pointer">
					{"Build your page"|alang}
				</div>

				<div id="fieldsdiv" class="form_side_content">
					<div>
						<div id="part_header" class="form_content_fields_item" onclick="form_part_insert_builtin('header')">
							<span>{"Header"|alang}</span>
						</div>
						<div class="form_content_fields_item part_freeform" onclick="form_part_insert_builtin('freeform')">
							<span>{"Free form HTML"|alang}</span>
						</div>
						<div id="part_image" class="form_content_fields_item" onclick="form_part_insert_builtin('image')">
							<span>{"Image"|alang}</span>
						</div>
					</div>

					<br clear="all">
				</div>

				<div id="editpart" class="form_side_content" style="display:none;">
					<input type="hidden" name="partid" id="edit_partid">

					<div id="edit_header_div">
						<div class="spaced">
							{"Field header"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="header" id="edit_header">
						</div>
					</div>

					<div id="edit_firstlastname_div">
						<div class="spaced">
							{"First Name header"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="headerfirst" id="edit_headerfirst">
						</div>

						<div class="spaced">
							{"Last Name header"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="headerlast" id="edit_headerlast">
						</div>
					</div>

					<div id="edit_freeform_div" style="display:none">
						<div class="spaced">
							{"Free-form HTML content"|alang}
						</div>

						<div class="spaced">
							<textarea id="edit_freeformEditor" name="freeform" style="width:100%"></textarea>
							<script>form_toggle_editor('edit_freeform', true, ac_editor_init_freeform_object);</script>
						</div>
					</div>

					<div id="edit_button_div" style="display:none">
						<div class="spaced">
							{"Button label"|alang}
						</div>

						<div class="spaced">
							<input type="text" name="buttoncontent" id="edit_button">
						</div>
					</div>

					<div id="edit_image_upload_div" style="display:none">
						<form action="main.php" method="POST" enctype="multipart/form-data" id="imageform">
							<input type="hidden" name="action" value="formsub_error">
							<input type="hidden" name="imageupload" value="1">
							<input type="hidden" name="id" value="{$form.id}">
							<input type="hidden" name="listid" value="{$listid}">
							<input type="hidden" name="partid" value="0" id="image_partid">

							<div class="spaced">
								{"Choose an image file"|alang}
							</div>

							<div class="spaced">
								<input type="file" name="imagefile">
							</div>

							<div class="spaced">
								{"Alt text"|alang}
							</div>

							<div class="spaced">
								<input type="text" name="imagealt">
							</div>

							<div class="spaced">
								{"Alignment"|alang}
							</div>

							<div class="spaced">
								<select name="imagealign">
									<option value="left">{"Left"|alang}</option>
									<option value="center">{"Center"|alang}</option>
									<option value="right">{"Right"|alang}</option>
								</select>
							</div>
						</form>
					</div>

					<div class="spaced">
						<input id="message_fetch_ok" type="button" value='{"Update"|alang}' onclick="form_part_edit()" class="ac_button_ok" />
						<input type="button" value='{"Cancel"|alang}' onclick="form_part_edit_hide()">
					</div>
				</div>


			</div>

			<div id="form_content_themediv" class="form_content_tab">
				<div id="form_content_theme_headerdiv" class="form_content_fields_header_gray" onclick="form_show_theme(); form_mode = 'theme'" style="cursor: pointer">
					{"Theme &amp; style options"|alang}
				</div>

				<div id="themediv" class="form_side_content" style="display:none; padding:1px;">

					{foreach from=$themes item=e}
					<div id="theme_{$e.name|escape}" class="form_content_theme_item {if $e.selected}form_content_theme_item_selected{/if}" onclick="form_theme_apply('{$e.name|js}')">
						<img src="{$e.preview}">
					</div>
					{/foreach}<br clear="all" />

					<div id="form_width_default" class="form_content_theme_width">
						<div id="form_width_specify" align="center" style="display:none">
							<a href="#" onclick="$J('#form_width_custom').show(); $J('#form_width_specify').hide(); return false">{"Specify a custom width for this form."|alang}</a>
						</div>

						<div id="form_width_custom" align="center" style="display:none">
							{"The width of this form should be"|alang} <input id="form_widthpx" value="{$form.widthpx}" onchange="form_save_widthpx(this.value)" /> {"pixels"|alang}.
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="form_content_preview">
			<div class="form_content_preview_inner" align="center">
				<div id="preview" class="_form"></div>
			</div>
		</div>
	</div>
</div>
