<div id="message_personalize" class="ac_modal" align="center" style="display:none;">
  <div class="ac_modal_inner" align="left">

	<div style="float:right; font-size:11px; color:#555;">{"Click the item you would like to insert."|alang}</div>
	<h1>{"Personalize Message"|alang}</h1>

	<div>
		<ul class="navlist" style="padding-left:0px;">
			<li id="subinfo_tab" class="currenttab"><a href="#" onclick="form_optin_personalization_show('personalize_subinfo'); return false">{"Subscriber Info"|alang}</a></li>
			<li id="other_tab"><a href="#" onclick="form_optin_personalization_show('personalize_other'); return false">{"Other"|alang}</a></li>
		</ul>
	</div>

	<div id="personalizelist">
	  <div id="personalize_subinfo" class="personalizelistsection">
			<ul>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%EMAIL%'); return false">{"Email Address"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%FIRSTNAME%'); return false">{"First Name"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%LASTNAME%'); return false">{"Last Name"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%FULLNAME%'); return false">{"Full Name"|alang}</a></li>
				<!-- fields -->
				{foreach from=$fields item=e}
				<li>
				<a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('{if $e.perstag != ""}%{$e.perstag|escape}%{else}{$e.tag}{/if}'); return false">{$e.title|escape}</a>
				</li>
				{/foreach}
				<!-- the rest -->
				<li>
				<a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%SUBDATE%'); return false">{"Date Subscribed"|alang}</a>
				<div>{"The date that this subscriber subscribed."|alang}</div>
				</li>
				<li>
				<a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%SUBTIME%'); return false">{"Time Subscribed"|alang}</a>
				<div>{"The time of the day the subscriber subscribed."|alang}</div>
				</li>
			</ul>
	  </div>
		<div id="personalize_other" class="personalizelistsection" style="display:none">
			<ul>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%TODAY%'); return false">{"Today's Date"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%TODAY*%'); return false">{"Today's Date +/- X day(s)"|alang}</a></li>
				<li><a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%SENDER-INFO%'); return false">{"List Sender Info"|alang}</a></li>
				<li>
				<a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%SUBSCRIBERIP%'); return false">{"Subscriber's IP Address"|alang}</a>
				<div>{"The IP Address of the subscriber when they subscribed to this list."|alang}</div>
				</li>
				<li>
				<a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%LISTNAME%'); return false">{"Subscriber's List"|alang}</a>
				<div>{"Show the name of the list that this email was sent to."|alang}</div>
				</li>
				<li>
				<a href="#" style="font-weight: bold" onclick="form_optin_personalization_insert('%SUBSCRIBERID%'); return false">{"Subscriber ID"|alang}</a>
				<div>{"Display the ID # of the subscriber."|alang}</div>
				</li>
			</ul>
		</div>
	</div>

    <div>
    {*<input type="button" value='{"Insert"|alang}' onclick="form_optin_personalization_insert();" class="ac_button_ok" />*}
      <input type="button" value='{"Close"|alang}' onclick="ac_dom_toggle_display('message_personalize', 'block');" />
      <input type="hidden" value="text" id="personalize4" />
      <input type="hidden" value="" id="personalize2" />
    </div>
  </div>
</div>
