<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="header.js"}
</script>

<h1>{"Custom Email Headers"|alang}</h1>

{include file="header.list.htm"}
{include file="header.form.htm"}
{include file="header.delete.htm"}
{include file="header.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(header_process, true);
</script>
