    <div style="padding-top: 10px; margin-top: 10px; border-top: 1px solid #ccc;">
      <div class="h2_wrap">
        <h2 onclick="ac_dom_toggle_class('popfaqpanel', 'h2_content_invis', 'h2_content');">{"POP Frequently Asked Questions"|alang}</h2>
        <div id="popfaqpanel" class="h2_content_invis">
          <div class="question">{"Do the bounced e-mails stay on my POP server even after I check for Bounced mail via the control panel?"|alang}</div>
          <div class="answer">{"No. If the bounced e-mail message is detected, the system will flag that e-mail address and delete that message."|alang}</div>

          <div class="question">{"Does this process affect any other mail in my pop account?"|alang}</div>
          <div class="answer">{"Yes. It will delete all emails in your pop account."|alang}</div>

          <div class="question">{"What does flagging mean or what does it mean when you say the system will flag an e-mail address?"|alang}</div>
          <div class="answer">
            {"An e-mail address is flagged when it is found to have bounced."|alang}
            {"Every time that e-mail address bounces, the system keeps track of the flags."|alang}
            {"Upon being flagged 3 times, the e-mail address is removed from the system."|alang}
            {"The amount of flags before removal may be modified."|alang}
          </div>

          <div class="question">{"It does not appear to be working, what should I do?"|alang}</div>
          <div class="answer">{"Ensure that your POP3 information is entered correctly."|alang}</div>
        </div>
      </div>
    </div>
