<iframe id="helpframe" name="helpframe" width="100%" height="500" scrolling="auto" src="{$helpurl}" border="0" style="border:0px;"></iframe>
<br />
<script language="JavaScript" type="text/javascript">
/* register iframe for autoexpand here */
//ac_IFrameIDs.push("helpframe");
</script>
