

<div style="float:right;">
 
    
	<div class="search_input">
		<input type="text" name="search" id="search_box" onkeypress="{literal}ac_dom_keypress_doif( event, 13, function() { main_search($('search_box').value) } );{/literal}" />
	</div>
    
	<div class="search_button" onclick="main_search($('search_box').value);">
		{"Search"|plang}
	</div>
    
    

</div>


