<div id="uxheader">
	<div class="hdrwrap">

		<div class="logo"><a href="main.php"><img src="{$admin.brand_site_logo}" alt="%SITENAME%" border="0" style="max-height:45px;" /></a></div>
		<div class="act_menu">
			<ul>
				<li><a class="sts" href="#" onclick="return false;"><span>{"Status"|alang}</span></a>{if $statuses_count}<div id="statuses_count" class="alert">{$statuses_count}</div>{/if}
					<ul class="status">

						{* STATUS SYSTEM *}
						{foreach from=$statuses item=s}
						<li id="status_row_{$s.id}" class="status_{$s.type}">
							<span class="status_delete"><a href="#" onclick="return status_remove({$s.id});">x</a></span>
							<span class="status_date">
								{$s.tstamp_created|timeago}
							</span>
							<span class="status_title">
								{if $s.link}<a id="status_link_{$s.id}" href="{$s.link}" target="_blank" onclick="status_click({$s.id});">{/if}{$s.title}{if $s.link}</a>{/if}
							</span>
						</li>
						{foreachelse}
						<li class="nostatuses">{"There are no notifications at this time."|alang}</li>
						{/foreach}

						{* LIMIT GRAPHS *}
						{if $admin.limit_subscriber > 0 or $admin.limit_mail > 0}
						<li>
							<div class="wrap" style="margin-top:12px!important;">

								{if $admin.limit_subscriber > 0}
								<div class="graphcont{if $admin.limit_mail <= 0} graphcontfull{/if}">
									<span style="width:155px!important;">{"Subscriber Limit"|alang}</span>
									<div class="graph" title="{'%s left.'|alang:$availLeftSub}"><strong class="bar" style="width:{$percLimitSub}%;">{$percLimitSub}%</strong></div>
								</div>
								{/if}

								{if $admin.limit_mail > 0}
								<div class="graphcont{if $admin.limit_subscriber <= 0} graphcontfull{/if}">
									<span>{"Sending Limit"|alang}</span>
									<div class="graph" title="{'%s left.'|alang:$availLeft}"><strong class="bar" style="width:{$percLimitMail}%;">{$percLimitMail}%</strong></div>
								</div>
								{/if}

							</div>
						</li>
						{/if}

					</ul>
				</li><!--/status-->

				{if $admin.brand_links}
				<li id="help"><a class="hlp" href="javascript:void(0);"><span>{"Help"|alang}</span></a>
					<ul>

						<li><a href="http://www.activecampaign.com/help/downloaded/" target="_blank">{"Articles & Tutorials"|alang}</a></li>

						<li><a href="https://www.activecampaign.com/support/contact/downloaded.php" target="_blank">{"Email Support"|alang}</a></li>
						<li><a href="http://www.activecampaign.com/forum/forumdisplay.php?f=24" target="_blank">{"Community Forum"|alang}</a></li>
					</ul>
				</li>
				{/if}

                
				<li id="account" class="acct"><a class="last acct" href="#" onclick="return false;"><div class="acct_img" style=" background-image:url({$site.p_link}/gravatar.php?h={$admin.email}&s=20);">&nbsp;</div><span style="background:none; padding-left:28px;">{"Account"|alang}</span></a>
					<ul>
						<li><a href="main.php?action=settings">{"Your Settings"|alang}</a></li>
						{if ac_admin_ismaingroup()}<li><a href="main.php?action=design#list-01-0-0">{"Design Settings"|alang}</a></li>{/if}
						<li class="divider"></li>
						{if $admin.pg_user_add || $admin.pg_user_edit || $admin.pg_user_delete}
						<li><a href="main.php?action=user#list-01-0-0">{"Users"|alang}</a></li>
						<li class="divider"></li>
						{/if}
						{if $admin.pg_list_bounce}
						<li><a href="main.php?action=bounce_management#list-01-0-0">{"Bounce Settings"|alang}</a></li>
						{if !ac_admin_ismaingroup()}
						<li class="divider"></li>
						{/if}
						{/if}
						{if ac_admin_ismaingroup()}
						{if $processesCnt}
						<li><a href="main.php?action=processes#list-01-0-0">{"Processes (%s)"|alang:$processesCnt}</a></li>
						{elseif $pausedProcessesCnt}
						<li><a href="main.php?action=processes#list-01-0-0">{"Paused Processes (%s)"|alang:$pausedProcessesCnt}</a></li>
						{/if}
						<li><a href="main.php?action=cron#list-01-0-0">{"Scheduled Tasks"|alang}</a></li>
						<li class="divider"></li>
						{/if}
						<li><a href="index.php?action=logout">{"Logout"|alang}</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/act_menu-->
	</div><!--/hdrwrap-->

	{if !isset($usemainmenu) or $usemainmenu == 1}
	{include file="menu.htm"}
	{/if}

	<div class="clearfix"></div>
</div><!--/uxheader-->