<div>
{"To have your password reset, please enter the following fields:"|alang}
</div>
<br />

<form action="index.php" method="post" name="log_user" id="log_user">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><div align="left">{"Username"|alang}<br />
              <input name="user" type="text" id="user" style="width:97%;" value="" />
              <br />
      </div></td>
    </tr>
    <tr>
      <td><div align="left"><br />
        {"E-mail Addresss"|alang}<br />
        <input name="email" type="text" id="email" style="width:97%;" />
      </div></td>
    </tr>
    <tr>
      <td>
      <br />
      <input type="submit" class="ac_button_submit" value="{"Submit"|alang}" />
      <input type="hidden" name="action" id="f" value="account_lookup" />
      </td>
    </tr>
  </table>
</form>

