<br />

<div class="campaign_input">
  <label>
    <input type="checkbox" value="1" name="p_use_analytics_read" id="analyticsreadPField" onclick="ac_dom_toggle_class('analyticsread', 'ac_hidden', 'ac_block');" />
    {"Google Analytics Read Tracking"|alang}
  </label>
</div>

<div id="analyticsread" class="ac_hidden" style="margin-left:23px;">
  <div class="campaign_help">
  	{"The Analytics account number should appear in the format UA-xxxxxxx-y. The '-y' towards the end refers to the profile number."|alang}
  	<a href="http://support.google.com/analytics/bin/answer.py?hl=en&answer=1032385" target="_blank">{"Get help with finding your Analytics number"|alang}</a>.
  </div>
  <div class="campaign_input">
		<label for="analyticsuaField">{"Your Analytics Account Number (UA):"|alang}</label>
  	<input type="text" name="analytics_ua" id="analyticsuaField" class="form_input_name" />
  </div>
</div>

<br />

<div class="campaign_input">
  <label>
    <input type="checkbox" value="1" name="p_use_analytics_link" id="analyticslinkPField" onclick="ac_dom_toggle_class('analyticslink', 'ac_hidden', 'ac_block');" />
    {"Google Analytics Link Tracking"|alang}
  </label>
</div>

<div id="analyticslink" class="ac_hidden" style="margin-left:23px;">
  <div class="campaign_help">
  	{"This will appear in your Analytics account as a source of site visits. This is usually the name of the list."|alang}
  </div>
  <div class="campaign_input">
  	<label>{"Source Name:"|alang}</label>
    <input type="text" name="analytics_source" id="analyticssourceField" class="form_input_name" />
  </div>
  <br />
  <div>
  	<div class="campaign_input">
  		<label>{"Add domains that use Analytics for tracking site traffic."|alang}</label>
  	</div>
    <div class="campaign_help">
	  	{"For wildcard characters, use '%'.<br />For example, to match all subdomains for the domain \"example.com\", type \"%.example.com\"<br />or, to match all IP addresses starting with 192.168, enter \"192.168.%\""|alang}
	  </div>
    <div class="cloner" id="analyticsClonerDiv">
      <div class="campaign_input listRow">
        <input type="text" name="analytics_domains[]" value="" class="form_input_name" />
        <input type="button" class="ac_button_remove" onclick="remove_element(this.parentNode); return false;" value="{'Remove'|alang}" />
      </div>
    </div>
    <div class="campaign_input">
    	<input type="button" class="ac_button_add" onclick="clone_1st_div($('analyticsClonerDiv')); return false;" value="{'Add Domain or IP'|alang}" />
    </div>
  </div>
</div>

<br />

{if $pass}

   <div class="campaign_help">
   	{"Campaigns sent to this list will be auto-posted to Twitter with a link to your campaign web copy."|alang}
   </div>
   <div id="twitter_checkbox" class="campaign_input">
     <label>
       <input type="checkbox" value="1" name="p_use_twitter" id="twitterPField" onclick="$J('#twitter').toggle(this.checked);" />
       {"Twitter"|alang}
     </label>
   </div>

	<div id="twitter_disabled" style="display: none; border:1px solid #F1DF0A; margin-bottom:10px; margin-top: 20px; font-size:13px; padding:10px; background-color:#FFFDE6;">
		<div style="background:url(../ac_global/media/sign_warning.png); background-position:left; background-repeat:no-repeat; padding: 5px 0 5px 42px;">
  		{"Twitter authentication is disabled until you verify your"|alang} <a href="main.php?action=service">{"Twitter application keys"|alang}</a>.
  	</div>
 	</div>

	<div id="twitter" style="margin-left: 23px;">

		<div id="twitter_confirmed">
			<div class="campaign_input">
				{"Logged in to Twitter as:"|alang}
				<a href="" id="twitter_confirmed_screenname" target="_blank"></a>
			</div>
			<div class="campaign_help">
				{"To update a different Twitter account, uncheck Twitter above, save, then come back and re-enter your information."|alang}
			</div>
			<div id="twitter_token_diff" class="campaign_input">
				{if ac_admin_ismaingroup()}
					<p>
						<a href="javascript: list_form_external_twitter_mirror();">{"Use this Twitter account for all Lists"|alang}</a>
					</p>
					<div class="campaign_help">
						{"This will mirror Twitter authentication from this list to all lists, meaning all mailings will update to this Twitter account."|alang}
					</div>
				{else}
					<input type="hidden" id="twitter_token_diff" />
				{/if}
			</div>
		</div>

		<div id="twitter_unconfirmed">
			<div class="campaign_input">
				<a href="" id="twitter_register_url">{"Login to Twitter"|alang}</a>
			</div>
			<div class="campaign_help">
				{"After logging into Twitter, you will be asked to confirm that ActiveCampaign is allowed to update your Twitter account. You will then be redirected back to this page."|alang}
			</div>
		</div>

	</div>

	<br />

   <div class="campaign_help">
   	{"Campaigns sent to this list will be auto-posted to Facebook with a link to your campaign web copy."|alang}
   </div>
   <div class="campaign_input">
     <label>
       <input type="checkbox" value="1" name="p_use_facebook" id="facebookPField" onclick="list_form_external_facebook_toggle();" />
       {"Facebook"|alang}
     </label>
   </div>

	<div id="facebook" style="margin-left:23px;">

		<div id="facebook_confirmed">
			<div class="campaign_input">
				<b>{"Logged-in to Facebook as:"|alang}</b>
				<a href="" id="facebook_account_profile" target="_blank"></a>
				<div style="margin: 15px 0;">
					<input type="checkbox" name="facebook_accounts_toupdate[]" id="facebook_accounts_toupdate_me" value="me" class="facebook_accounts_item" onchange="list_form_facebook_toupdate_toggle(this.checked);" checked="checked" />
					<label for="facebook_accounts_toupdate_me" id="facebook_accounts_toupdate_me_label" style="display: inline;">{"Update the above profile"|alang}</label>
				</div>
				<div id="facebook_accounts_none_error" style="display: none;">
					<div style="border:1px solid #F1DF0A; margin-bottom:10px; margin-top: 20px; font-size:13px; padding:10px; background-color:#FFFDE6;">
						<div style="background:url(../ac_global/media/sign_warning.png); background-position:left; background-repeat:no-repeat; padding: 5px 0 5px 42px;">
				  		{"Other Facebook pages that you manage may need to be reset. Please log-out of Facebook by clicking the link below, then log back in."|alang}
				  	</div>
			  	</div>
				</div>
				<div id="facebook_accounts" class="campaign_help" style="display: none; margin-top: 20px;">
					<p>{"Below are other Facebook accounts you manage (such as pages and applications). You can choose to auto-update any of these accounts along with your profile."|alang}</p>
					<div id="facebook_accounts_available"></div>
				</div>
				<div style="margin-top: 20px;">
					<img src="images/selection_delete-16-16.png" style="float: left; margin-right: 10px;" />
					<a href="" id="facebook_account_logout_url">{"Logout of this Facebook account"|alang}</a>
				</div>
			</div>
		</div>

		<div id="facebook_unconfirmed">
			{if ($site.facebook_app_id && $site.facebook_app_secret)}
				<div class="campaign_input">
					<a href="" id="facebook_account_login_url">{"Login to Facebook"|alang}</a>
				</div>
				<div class="campaign_help">
					{"After logging-in to Facebook, you will be asked to confirm that ActiveCampaign is allowed to access and update your Facebook account. You will then be redirected back to this page."|alang}
				</div>
			{else}
				<p>
					<a href="main.php?action=service">{"Configure your Facebook application on the External Services page"|alang}</a>.
				</p>
				<input type="hidden" name="facebook_account_login_url" id="facebook_account_login_url" />
			{/if}
		</div>

		<div id="facebook_invalid" class="external_form_help">
			<p>
				{"Please save your list before setting up Facebook auto-sharing."|alang}
			</p>
		</div>

	</div>

{else}

	<div style="border:1px solid #F1DF0A; margin-bottom:10px; margin-top: 20px; font-size:13px; padding:10px; background-color:#FFFDE6;">
		<div style="background:url(../ac_global/media/sign_warning.png); background-position:left; background-repeat:no-repeat; padding: 5px 0 5px 42px;">
  		{"Twitter and Facebook integration server requirements: cURL, HMAC, JSON, PHP 5+."|alang}
  	</div>
 	</div>

   <div id="twitter">

		<input type="checkbox" name="p_use_twitter" id="twitterPField" class="ac_hidden" />
		<input type="hidden" name="twitter_checkbox" id="twitter_checkbox" />
		<input type="hidden" name="twitter_confirmed" id="twitter_confirmed" />
		<input type="hidden" name="twitter_unconfirmed" id="twitter_unconfirmed" />
		<input type="hidden" name="twitter_status_confirmed" id="twitter_status_confirmed" />
		<input type="hidden" name="twitter_status_unconfirmed" id="twitter_status_unconfirmed" />
		<input type="hidden" id="twitter_token_diff" />

	</div>

   <div id="facebook">

		<input type="checkbox" name="p_use_facebook" id="facebookPField" class="ac_hidden" />
		<input type="hidden" name="facebook_confirmed" id="facebook_confirmed" />
		<input type="hidden" name="facebook_unconfirmed" id="facebook_unconfirmed" />
		<input type="hidden" name="facebook_account_logout_url" id="facebook_account_logout_url" />
		<input type="hidden" name="facebook_account_login_url" id="facebook_account_login_url" />
		<input type="hidden" name="facebook_invalid" id="facebook_invalid" />

	</div>

{/if}
