  <tr>
    <td colspan="4"><hr /></td>
  </tr>
  <tr>
   	<td>&nbsp;</td>
	<td colspan="3">
	  <label>
	    <input name="ltype" id="dontstop" type="radio" value="dontstop" {if $cfg.pause + $cfg.frequency + $cfg.limit == 0}checked="checked"{/if} onclick="$('sdbox').className='ac_hidden';$('limbox').className='ac_hidden';" />
	    {"Send without limitations."|alang}
	  </label>
    </td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
  </tr>
  <tr>
   	<td>&nbsp;</td>
	<td colspan="3">
	  <label>
	    <input name="ltype" id="sd" type="radio" value="sd" {if $cfg.pause + $cfg.frequency > 0}checked="checked"{/if} onclick="$('sdbox').className='ac_block';$('limbox').className='ac_hidden';" />
	    {"Enable sending throttling and pausing."|alang}
	  </label>
      {"(Optional) This option will automatically pause your mailing after a certain number of messages.  This helps reduce your mail servers load."|help}
      <div id="sdbox" class="{if $cfg.pause + $cfg.frequency > 0}ac_block{else}ac_hidden{/if}" style="margin-left:40px;">
        {"Your sending will pause for"|alang}
        <input type="text" name="sdnum" id="sdnum" value="{if $cfg.pause > 0}{$cfg.pause}{/if}" size="3" onchange="calculateSendingSpeed();" />
        {"seconds after"|alang}
        <input type="text" name="sdfreq" id="sdfreq" value="{if $cfg.frequency > 0}{$cfg.frequency}{/if}" size="3" onchange="calculateSendingSpeed();" />
        {"emails are sent."|alang}
      </div>
    </td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
  </tr>
  <tr>
   	<td>&nbsp;</td>
	<td colspan="3">
	  <label>
	    <input name="ltype" id="lim" type="radio" value="lim" {if $cfg.limit > 0}checked="checked"{/if} onclick="$('sdbox').className='ac_hidden';$('limbox').className='ac_block';" />
	    {"Limit number of emails to send for a specific time period"|alang}
	  </label>
      {"(Optional) You can specify a limit of the number of emails to send in a certain time period. (Example = Only allow 1,000 emails per hour)"|help}
      <div id="limbox" class="{if $cfg.limit > 0}ac_block{else}ac_hidden{/if}" style="margin-left:40px;">
        <input name="sdlim" type="text" id="sdlim" value="{if $cfg.limit > 0}{$cfg.limit}{/if}" size="5" onchange="calculateSendingSpeed();" />
        <select name="sdspan" id="sdspan" size="1" onchange="calculateSendingSpeed();">
          <option value="hour" {if $cfg.limitspan == 'hour'}selected="selected"{/if}>{"Per Hour"|alang}</option>
          <option value="day" {if $cfg.limitspan == 'day'}selected="selected"{/if}>{"Per Day"|alang}</option>
        </select>
      </div>
    </td>
  </tr>

    <td colspan="4"><hr /></td>
  </tr>
        <tr valign="top">
          <td>&nbsp;</td>
          <td>
            {"Used by User Groups:"|alang}<br />
            <select name="p" id="parentsList" size="10" multiple="multiple" style="width:215px; height:65px;">
{foreach from=$groupsList item=p}
              <option value="{$p.id}" title="{$p.descript}">{$p.title}</option>
{/foreach}
            </select>
            {"Notice: This message will be a member of each selected group! Hold CTRL to select multiple group."|help}
            <div>
              {"Select:"|alang}
              <a href="#" onclick="return ac_form_select_multiple_all($('parentsList'));">{"All"|alang}</a>
                &middot;
              <a href="#" onclick="return ac_form_select_multiple_none($('parentsList'));">{"None"|alang}</a>
            </div>
          </td>
        </tr>

<script language="JavaScript">
<!--

var serverLimit = '{"Server is the limit."|alang|escape:"javascript"}';

var noGroupsSelected = '{"You did not select any groups. Do you wish to use all groups instead?"|alang|escape:"javascript"}';

//var tryDotFix = 1;

{literal}

// settings2limits
function calculateSendingSpeed() {
	var sdnumObj = $('sdnum');
	var sdfreqObj = $('sdfreq');
	var sdepmObj = $('sdlim');
	var ephObj = $('eph');
	var epmObj = $('epm');
	var epsObj = $('eps');
	var speObj = $('spe');
	var sdObj = $('sd');
	var limObj = $('lim');
	var spanObj = $('sdspan');
	// infinite check
	var infinite = false;
	if ( !sdObj.checked ) infinite = true;
	if ( Math.floor(sdfreqObj.value) == 0 ) infinite = true;
	if ( Math.round(sdnumObj.value) == 0 ) infinite = true;
	// infinite EPM check
	var infiniteEPM = false;
	if ( !limObj.checked ) infiniteEPM = true;
	if ( Math.floor(sdepmObj.value) == 0 ) infiniteEPM = true;

	var perMinEPM = 0;

	if ( !isNaN(parseFloat(sdepmObj.value)) ) {
		// convert to hours
		perMinEPM = sdepmObj.value / 60;
		// convert to days
		if ( spanObj.value == 'day' ) perMinEPM /= 24;
	}

	// can we fix it to decimal check
	var canFix = 10;
	canFix = canFix.toFixed;
	// if infinite
	if ( infinite ) {
		// if EPM is also infinite
		if ( infiniteEPM ) {
			// really infinite
			canFix = false;
			var perSec = serverLimit;
			var perMin = serverLimit;
			var perHour = serverLimit;
			var perEml = 0;
		} else {
			// use EPM
			var perMin = perMinEPM;
			var perSec = perMin / 60;
			var perHour = perMin * 60;
			var perEml = 1 / perSec;
		}
	} else {
		// calculate per second
		var perSec = sdfreqObj.value / sdnumObj.value;
		var perEml = 1 / perSec;
		// turn into minutes
		var perMin = perSec * 60;
		// turn into hours
		var perHour = perMin * 60;
		// check if less than EPM
		if ( perMin > perMinEPM && perMinEPM > 0 ) {
			// use EPM
			perMin = perMinEPM;
			perSec = perMin / 60;
			perHour = perMin * 60;
			perEml = 1 / perSec;
		}
	}
	// done with calculating
	// fill the destination object
	if ( canFix ) {
		ephObj.innerHTML = perHour.toFixed(2);
		epmObj.innerHTML = perMin.toFixed(2);
		epsObj.innerHTML = perSec.toFixed(2);
		speObj.innerHTML = perEml.toFixed(2);
	} else {
		ephObj.innerHTML = perHour;
		epmObj.innerHTML = perMin;
		epsObj.innerHTML = perSec;
		speObj.innerHTML = perEml;
	}
}

function mailconn_save_post(post) {
	post.p = ac_form_select_extract($('parentsList'));
	if ( !post.p.length ) {
		if ( !confirm(noGroupsSelected) ) {
			return false;
		}
	}
	if ( rotator ) {
		if ( $('sd')  && !$('sd').checked ) {
			post.num  = ac_b64_encode('0');
			post.freq = ac_b64_encode('0');
		}
		if ( $('lim') && !$('lim').checked ) {
			post.lim  = ac_b64_encode('0');
		}
		//post.dotfix = 0;
	}
	return post;
}

function mailconn_load_post(src) {
	if ( src.groupslist ) {
		ac_form_select_multiple($('parentsList'), ( src.groupslist + '').split(','));
	} else {
		ac_form_select_multiple_all($('parentsList'));
	}

	calculateSendingSpeed();
}

{/literal}

calculateSendingSpeed();

-->
</script>
