<h1>{$pageTitle}</h1>
 {if $canAddList}
<div class="ac_listing_empty">
	<h2>{"Sending a campaign?"|alang} <a href="main.php?action=list&new">{"Create a list first"|alang}</a></h2>
	<p>{"To send your first campaign,"|alang} {"please first create a list and add subscribers to continue."|alang}</p>
</div>
{/if}
<div class="mscdftmsgscreenshot">
	<p>{"You currently do not have any lists. Campaigns are sent using a list of specified subscribers."|alang}</p>
	<img src="images/mscdftmsglist.png" onclick="location.href='main.php?action=list&new'" style="cursor:pointer;" />
</div>