<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="recipient.js"}
</script>

<h1>{"Campaign Recipients"|alang}</h1>

{include file="recipient.list.htm"}
{include file="recipient.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(recipient_process, true);
</script>
