        <div id="redirections" class="ac_block">

          <table border="0" cellspacing="0" cellpadding="5">
          	<tbody id="redirection_subscription">
	            <tr>
	              <td valign="top"><strong>{"Subscription"|alang}</strong></td>
	              <td valign="top">&nbsp;</td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="sub1">{"Successful Subscription"|alang}</label></td>
	              <td valign="top">
		              <select name="sub1" id="sub1" onchange="form_completion_change('sub1_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
				  				<div id="sub1EditorDiv">
				  					{include file="tinymce.htm" id="sub1" name="sub1Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
				  				<input name="sub1_redirect" id="sub1_redirect" style="width:500px;" />
				  			</td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="sub2">{"Awaiting Confirmation"|alang}</label></td>
	              <td valign="top">
		              <select name="sub2" id="sub2" onchange="form_completion_change('sub2_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="sub2EditorDiv">
										{include file="tinymce.htm" id="sub2" name="sub2Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="sub2_redirect" id="sub2_redirect" style="width:500px;" />
	              </td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="sub3">{"Confirmed Subscription"|alang}</label></td>
	              <td valign="top">
		              <select name="sub3" id="sub3" onchange="form_completion_change('sub3_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="sub3EditorDiv">
										{include file="tinymce.htm" id="sub3" name="sub3Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="sub3_redirect" id="sub3_redirect" style="width:500px;" />
	              </td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="sub4">{"Subscription Error"|alang}</label></td>
	              <td valign="top">
		              <select name="sub4" id="sub4" onchange="form_completion_change('sub4_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="sub4EditorDiv">
										{include file="tinymce.htm" id="sub4" name="sub4Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="sub4_redirect" id="sub4_redirect" style="width:500px;" />
				  			</td>
	            </tr>
            </tbody>

            <tbody id="redirection_unsubscription">
	            <tr>
	              <td valign="top"><strong>{"UnSubscription"|alang}</strong></td>
	              <td valign="top">&nbsp;</td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="unsub1">{"Successful UnSubscription"|alang}</label></td>
	              <td valign="top">
		              <select name="unsub1" id="unsub1" onchange="form_completion_change('unsub1_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="unsub1EditorDiv">
										{include file="tinymce.htm" id="unsub1" name="unsub1Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="unsub1_redirect" id="unsub1_redirect" style="width:500px;" />
	              </td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="unsub2">{"Awaiting Confirmation"|alang}</label></td>
	              <td valign="top">
		              <select name="unsub2" id="unsub2" onchange="form_completion_change('unsub2_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="unsub2EditorDiv">
										{include file="tinymce.htm" id="unsub2" name="unsub2Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="unsub2_redirect" id="unsub2_redirect" style="width:500px;" />
	              </td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="unsub3">{"Confirmed UnSubscription"|alang}</label></td>
	              <td valign="top">
		              <select name="unsub3" id="unsub3" onchange="form_completion_change('unsub3_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="unsub3EditorDiv">
										{include file="tinymce.htm" id="unsub3" name="unsub3Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="unsub3_redirect" id="unsub3_redirect" style="width:500px;" />
	              </td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="unsub4">{"UnSubscription Error"|alang}</label></td>
	              <td valign="top">
		              <select name="unsub4" id="unsub4" onchange="form_completion_change('unsub4_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="unsub4EditorDiv">
										{include file="tinymce.htm" id="unsub4" name="unsub4Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="unsub4_redirect" id="unsub4_redirect" style="width:500px;" />
	              </td>
	            </tr>
            </tbody>

            <tbody id="redirection_other">
	            <tr>
	              <td valign="top"><strong>{"Other"|alang}</strong></td>
	              <td valign="top">&nbsp;</td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="up1">{"Request to update subscription details"|alang}</label></td>
	              <td valign="top">
		              <select name="up1" id="up1" onchange="form_completion_change('up1_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="up1EditorDiv">
										{include file="tinymce.htm" id="up1" name="up1Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="up1_redirect" id="up1_redirect" style="width:500px;" />
	              </td>
	            </tr>
	            <tr>
	              <td valign="top"><label for="up2">{"Updated subscription details"|alang}</label></td>
	              <td valign="top">
		              <select name="up2" id="up2" onchange="form_completion_change('up2_' + this.value)">
						<option value="default">{"Default Message"|alang}</option>
						<option value="custom">{"Custom Message"|alang}</option>
						<option value="redirect" selected="selected">{"Redirect to URL"|alang}</option>
		              </select>
					  			<div id="up2EditorDiv">
										{include file="tinymce.htm" id="up2" name="up2Editor" ishtml=0 content="" width="100%" height="150px"}
									</div>
									<br />
					  			<input name="up2_redirect" id="up2_redirect" style="width:500px;" />
	              </td>
	            </tr>
            </tbody>

  				</table>
        </div>
