<div id="unopen" class="ac_hidden">
  <div class="startup_box_container">
	<div class="startup_box_container_inner">
	  <table border="0" cellspacing="0" cellpadding="0">
		<tr>
		  <td style="font-size:19px;"><span id="unopen_opens_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Total Opens"|alang} <span id="unopen_opens_p" style="color:#999999;">(0.00%)</span></td>
		  <td width="35">&nbsp;</td>
		  <td style="font-size:19px;"><span id="unopen_uniqueopens_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Unique Opens"|alang} <span id="unopen_uniqueopens_p" style="color:#999999;">(0.00%)</span> </td>
		  <td width="35">&nbsp;</td>
		  <td style="font-size:19px;"><span id="unopen_unopens_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Un-Opened"|alang} <span id="unopen_unopens_p" style="color:#999999;">(0.00%)</span></td>
		</tr>
	  </table>
	</div>
  </div>
  <br />

  <form action="main.php?action=report_campaign" method="GET" onsubmit="unopen_list_search(); return false">
	{if isset($smarty.get.print) and $smarty.get.print == 1} <div style="display:none"> {/if}
	  <table cellspacing="0" cellpadding="0" width="100%">
		<tr class="ac_table_header_options">
		  <td>
			{literal} <select name="opened" id="unopen_opened" size="1" onchange="if (this.value == 'opened') { report_campaign_list_mode = 'open'; ac_ui_anchor_set(report_campaign_list_anchor()); }"> {/literal}
			  <option value="opened" selected>{"Opened"|alang}</option>
			  <option value="unopened">{"Unopened"|alang}</option>
			</select>
		  </td>
		  <td align="right">
			<div>
			  <input type="text" name="qsearch" id="unopen_search" />
			  <input type="button" value='{"Search"|alang}' onclick="unopen_list_search()" />
			  <input type="button" value='{"Clear"|alang}' id="unopen_clear" style="display:none" onclick="unopen_list_clear()" />
			</div>
		  </td>
		</tr>
	  </table>
	  {if isset($smarty.get.print) and $smarty.get.print == 1} </div> {/if}
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="unopen_head">
		<tr class="ac_table_header">
		  <td>{ac_headercol action="unopen" idprefix="unopen_list_sorter" id="01" label="Email"|alang}</td>
		  <td>{ac_headercol action="unopen" idprefix="unopen_list_sorter" id="02" label="Date"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="unopen_table">
	  </tbody>
	</table>
	<div id="unopen_noresults" class="ac_hidden">
	  <div align="center">{"Nothing found."|alang}</div>
	</div>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" paginator=$paginator_unopen tabelize="unopen_tabelize" paginate="unopen_paginate"}
	</div>
	<div id="unopen_loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
  </form>
</div>
