<div id="bounce" class="ac_hidden">
  <div class="startup_box_container">
	<div class="startup_box_container_inner">
	  <table border="0" cellspacing="0" cellpadding="0">
		<tr>
		  <td style="font-size:19px;"><span id="bounce_total_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Total Bounces"|alang} <span id="bounce_total_p" style="color:#999999;">(0.00%)</span></td>
		  <td width="15">&nbsp;</td>
		  <td style="font-size:19px;"><span id="bounce_hard_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Hard Bounces"|alang} <span id="bounce_hard_p" style="color:#999999;">(0.00%)</span> </td>
		  <td width="15">&nbsp;</td>
		  <td style="font-size:19px;"><span id="bounce_soft_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Soft Bounces"|alang} <span id="bounce_soft_p" style="color:#999999;">(0.00%)</span></td>
		</tr>
	  </table>
	</div>
  </div>
  <br />

  <form action="main.php?action=report_campaign" method="GET" onsubmit="bounce_list_search(); return false">
	{if isset($smarty.get.print) and $smarty.get.print == 1} <div style="display:none"> {/if}
	  <table cellspacing="0" cellpadding="0" width="100%">
		<tr class="ac_table_header_options">
		  <td align="right">
			<div>
			  <input type="text" name="qsearch" id="bounce_search" />
			  <input type="button" value='{"Search"|alang}' onclick="bounce_list_search()" />
			  <input type="button" value='{"Clear"|alang}' id="bounce_clear" style="display:none" onclick="bounce_list_clear()" />
			</div>
		  </td>
		</tr>
	  </table>
	  {if isset($smarty.get.print) and $smarty.get.print == 1} </div> {/if}
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="bounce_head">
		<tr class="ac_table_header">
		  <td>{ac_headercol idprefix="bounce_list_sorter" action="bounce" id="01" label="Email"|alang}</td>
		  <td>{ac_headercol idprefix="bounce_list_sorter" action="bounce" id="02" label="Date"|alang}</td>
		  <td>{ac_headercol idprefix="bounce_list_sorter" action="bounce" id="03" label="Code"|alang}</td>
		  <td>{ac_headercol idprefix="bounce_list_sorter" action="bounce" id="04" label="Type"|alang}</td>
		  <td>{ac_headercol idprefix="bounce_list_sorter" action="bounce" id="05" label="Description"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="bounce_table">
	  </tbody>
	</table>
	<div id="bounce_noresults" class="ac_hidden">
	  <div align="center">
		{if isset($bouncesetup) and !$bouncesetup}
		{"Bounces were not detected as you have not set up bounced email management."|alang}
		<a href="main.php?action=bounce_management">{"Click here to setup."|alang}</a>
		{else}
		{"Nothing found."|alang}
		{/if}
	  </div>
	</div>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" paginator=$paginator_bounce tabelize="bounce_tabelize" paginate="bounce_paginate"}
	</div>
	<div id="bounce_loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
  </form>
</div>
