<div id="social" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <h1>{"Social Share"|alang}</h1>
	<div>
	  {"Use these links to share this campaign on social networks."|alang}
	</div>

	<div style="margin: 15px 0;">
		{foreach from=$socialshare_links key=source item=info}
			{$info.share_link_icon16_html}
		{/foreach}
	</div>

    <div>
      <input type="button" class="ac_button_close" value="{"Close"|alang}" onclick="campaign_social_toggle(); ac_ui_anchor_set(report_campaign_list_anchor())" />
    </div>
  </div>
</div>
