<div id="share" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <h1>{"Share Reports"|alang}</h1>
	<div>
	  {"Use this link to share reports for this campaign."|alang}<br>
	  <input type="text" id="share_link" style="width: 100%"></span><br><br>
	  {"Or email the share link to someone else."|alang}<br>
	</div>
	<table border="0" cellspacing="1" cellpadding="1">
	  <tr>
		<td>{"Recipient email address"|alang}</td>
		<td><input type="text" name="addrto" id="share_addrto"></td>
	  </tr>
	  <tr>
		<td>{"Recipient name"|alang}</td>
		<td><input type="text" name="nameto" id="share_nameto"></td>
	  </tr>
	  <tr>
		<td>{"From email address"|alang}</td>
		<td><input type="text" name="addrfrom" id="share_addrfrom"></td>
	  </tr>
	  <tr>
		<td>{"From name"|alang}</td>
		<td><input type="text" name="namefrom" id="share_namefrom"></td>
	  </tr>
	  <tr>
		<td>{"Subject"|alang}</td>
		<td><input type="text" name="subject" id="share_subject"></td>
	  </tr>
	  <tr>
		<td>{"Message"|alang}</td>
		<td>
		  <textarea rows="8" style="width: 100%" name="message" id="share_message">{"Please view your mailing campaign reports at"|alang}

			%REPORTLINK%</textarea>
		  {"%REPORTLINK% is shorthand for the shared report link that you see above."|help}
		</td>
	  </tr>
	</table>
    <div>
      <input type="button" class="ac_button_ok" value="{"OK"|alang}" onclick="campaign_share(campaign_share_id)" />
      <input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="ac_dom_toggle_display('share', 'block'); ac_ui_anchor_set(report_campaign_list_anchor())" />
    </div>
  </div>
</div>
