{* load javascript calendar *}
{ac_calendar base=".."}
<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="report_user.js"}
{if !$group}
{include file="report_user.group.inc.js"}
{else}
{include file="report_user.user.inc.js"}
{/if}
</script>

{if !isset($smarty.get.print) or $smarty.get.print == 0}
<div style="float:right;">
  <div style="float:right; border:1px solid #CCCCCC; padding:5px;  font-weight:bold; text-decoration:underline;">
	<a href="#" id="datetimelabel" onclick="ac_dom_toggle_class('datetimefilter', 'ac_block', 'ac_hidden');return false;">
	  {if $datefilter == 'today'}
	  {"Today"|alang}
	  {elseif $datefilter == 'week'}
	  {"This Week"|alang}
	  {elseif $datefilter == 'month'}
	  {"This Month"|alang}
	  {elseif $datefilter == 'year'}
	  {"This Year"|alang}
	  {elseif $datefilter == 'range'}
	  {$datefrom}-{$dateto}
	  {*"Date Range"|alang*}
	  {else}
	  {*if $datefilter == 'all'*}
	  {"All Time"|alang}
	  {/if}
	</a>
	<div id="datetimefilter" class="ac_hidden" style="position:absolute; background:#FFFFFF; border:1px solid #999999; padding:10px; margin-top:5px; margin-left:-6px;">
	  <select id="datetimeselect" name="datetimefilter" size="1" onchange="$('datetimerange').className=(this.value=='range'?'ac_block':'ac_hidden');">
		<option value="all"{if $datefilter == 'all'} selected="selected"{/if}>{"All Time"|alang}</option>
		<option value="today"{if $datefilter == 'today'} selected="selected"{/if}>{"Today"|alang}</option>
		<option value="week"{if $datefilter == 'week'} selected="selected"{/if}>{"This Week"|alang}</option>
		<option value="month"{if $datefilter == 'month'} selected="selected"{/if}>{"This Month"|alang}</option>
		<option value="year"{if $datefilter == 'year'} selected="selected"{/if}>{"This Year"|alang}</option>
		<option value="range"{if $datefilter == 'range'} selected="selected"{/if}>{"Date Range"|alang}</option>
	  </select>
	  <div id="datetimerange" class="ac_hidden" style="margin-top:10px;">
		{"From:"|alang}<br />
		<input type="text" name="from" id="fromfilterField" value="{$datefrom|acpdate:$site.dateformat}" size="10" />
		<input id="fromfilterCalendar" type="button" value="{" + "|alang}" />
		<br />
		{"To:"|alang}<br />
		<input type="text" name="to" id="tofilterField" value="{$dateto|acpdate:$site.dateformat}" size="10" />
		<input id="tofilterCalendar" type="button" value="{" + "|alang}" />
	  </div>
	  <div style="margin-top:10px;">
		<input name="Go" value="{'Go'|alang}" type="button" onclick="report_user_filter_datetime();" />
	  </div>
	</div>
  </div>

  <div style="float:right; border:1px solid #ffffff; padding:5px;  margin-right:20px; font-weight:bold; text-decoration:underline;">
	<a href="#" onclick="report_user_export(); return false">{"Export"|alang}</a>
  </div>
  <div id="printbutton" style="float:right; padding:5px;  font-weight:bold; text-decoration:underline; margin-right:10px;">
	<a href="#" onclick="report_user_print(); return false">{"Print"|alang}</a>
  </div>
</div>
<script>
  {literal}
  Calendar.setup({inputField: "fromfilterField", ifFormat: '%Y/%m/%d', button: "fromfilterCalendar", showsTime: false, timeFormat: "24"});
  Calendar.setup({inputField: "tofilterField", ifFormat: '%Y/%m/%d', button: "tofilterCalendar", showsTime: false, timeFormat: "24"});
  {/literal}
</script>
{/if}

{if !isset($smarty.get.print) or $smarty.get.print == 0}
<h1>{"User Group Sending Activity"|alang}</h1>
<div style="margin-bottom:10px; margin-top:-4px; color:#999999;">
  <a href="main.php?action=report_user">{"User Group Reports"|alang}</a>
  &gt;
  <a href="main.php?action=report_user">{"Sending Activity"|alang}</a>
  {if $group}
  &gt;
  <a href="main.php?action=report_user&id={$gid}" title="{$group.descript}">{"Group '%s'"|alang:$group.title}</a>
  {/if}
</div>
{/if}

<div id="general" class="ac_hidden">

  <div id="mainpanel">
	<div class="startup_box_container">
	  <div class="startup_box_title">
		<span id="general_emailslabel" class="startup_selected"><a href="#" onclick="report_user_showdiv_general('chart_emails_bydate', 'general_emailslabel');return false;">{"Emails Sent"|alang}</a></span>
		<span id="general_campaignslabel"><a href="#" onclick="report_user_showdiv_general('chart_campaigns_bydate', 'general_campaignslabel');return false;">{"Campaigns Sent"|alang}</a></span>
	  </div>

	  <div class="startup_box_container_inner">
		<script type="text/javascript" src="../ac_global/amline/swfobject.js"></script>
		{ac_amchart type="line" divid="chart_emails_bydate" location="admin" url="graph.php?g=emails_bydate&id=`$gid`&mode=`$context`&filterid=`$filterid`" width="100%" height="175" bgcolor="#FFFFFF"}
		{ac_amchart type="line" display=false divid="chart_campaigns_bydate" location="admin" url="graph.php?g=campaigns_bydate&id=`$gid`&mode=`$context`&filterid=`$filterid`" width="100%" height="175" bgcolor="#FFFFFF"}
	  </div>

	</div>

  </div>

  <br />

  <input type="hidden" name="gid" value="{$gid}" id="list_id" />

  <form action="main.php?action=report_user{if $group}&id={$gid}{/if}" method="GET" onsubmit="report_user_list_search(); return false">
	<table cellspacing="0" cellpadding="0" width="100%">
	  <tr class="ac_table_header_options">
		<td>
		  {if $group and ac_admin_ismaingroup()}
		  <input type="button" value='{"&laquo; Back"|alang}' onclick="window.location.href='main.php?action=report_user';" />
		  {/if}
		  <select name="listid" id="JSListManager" size="1" onchange="report_user_list_search()">
			<option value="0">{"List Filter..."|alang}</option>
			{foreach from=$listsList item=p}
			<option value="{$p.id}">{$p.name|truncate:50}</option>
			{/foreach}
		  </select>
		</td>
		<td align="right">
		  <div>
			<input type="text" name="qsearch" id="list_search" />
			<input type="button" value='{"Search"|alang}' onclick="report_user_list_search()" />
			<input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="report_user_list_clear()" />
		  </div>
		</td>
	  </tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="list_head">
		<tr class="ac_table_header">
		  {if $group}
		  <td>{ac_headercol action="report_user" id="01" label="User"|alang}</td>
		  <td width="100" align="center">{"Total Campaigns"|alang}</td>
		  <td width="100" align="center">{"Total Emails Sent"|alang}</td>
		  <td width="100" align="center">{"Avg. Sent Per Day"|alang}</td>
		  {else}
		  <td>{ac_headercol action="report_user" id="01" label="Group"|alang}</td>
		  <td width="100" align="center">{ac_headercol action="report_user" id="02" label="Total Campaigns"|alang}</td>
		  <td width="100" align="center">{ac_headercol action="report_user" id="03" label="Total Emails Sent"|alang}</td>
		  <td width="100" align="center">{ac_headercol action="report_user" id="04" label="Avg. Sent Per Day"|alang}</td>
		  <td width="100" align="center">{"Limits"|alang}</td>
		  {/if}
		</tr>
	  </thead>
	  <tbody id="list_table">
	  </tbody>
	</table>
	<div id="list_noresults" class="ac_hidden">
	  <div align="center">{"Nothing found."|alang}</div>
	</div>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" tabelize="report_user_list_tabelize" paginate="report_user_list_paginate"}
	</div>
	<div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
  </form>

</div>

<script type="text/javascript">
  ac_ui_rsh_init(report_user_process, true);
</script>
