<div id="socialsharing" class="ac_hidden">

	<div id="socialsharing_notenabled" style="display: none; border:1px solid #F1DF0A; margin-bottom:10px; font-size:13px; padding:10px; background-color:#FFFDE6;">
		<div style="background:url(../ac_global/media/sign_warning.png); background-position:left; background-repeat:no-repeat; padding: 5px 0 5px 42px;">
			{"Your server does not support cURL. In order to ensure the most accurate Social Sharing reporting, please enable cURL."|alang}
		</div>
	</div>

	<div id="socialsharing_webcopy" style="display: none; font-size: 14px; margin-bottom: 10px;">{$webcopy_seo}</div>

	<div class="startup_box_container">
		<div class="startup_box_container_inner">

		  <table border="0" cellspacing="0" cellpadding="0">
				<tr>
				  <td style="font-size:19px;"><span id="socialsharing_twitter_total_t">0</span></td>
				  <td width="10">&nbsp;</td>
				  <td>{"Twitter Mentions"|alang} <span id="socialsharing_twitter_total_p" style="color:#999999; display: none;">(0.00%)</span></td>
				  <td width="15">&nbsp;</td>
				  <td style="font-size:19px;"><span id="socialsharing_facebook_total_t">0</span></td>
				  <td width="10">&nbsp;</td>
				  <td>{"Facebook Shares"|alang} <span id="socialsharing_facebook_total_p" style="color:#999999; display: none;">(0.00%)</span></td>
				</tr>
		  </table>

		</div>
	</div>

	<br />

	<form action="main.php?action=report_campaign" method="GET" onsubmit="socialsharing_list_search(); return false">
		{if isset($smarty.get.print) and $smarty.get.print == 1} <div style="display:none"> {/if}
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr class="ac_table_header_options">
			  <td style="border-right: none;">
					<select name="socialsharing_filter_source" id="socialsharing_filter_source" size="1" onchange="socialsharing_toggle(this.value);">
					  <option value="all" selected="selected">{"All"|alang}</option>
					  <option value="facebook">{"Facebook"|alang}</option>
					  <option value="twitter">{"Twitter"|alang}</option>
					</select>
			  </td>
				<td align="right" style="border-left: none;">
					<div>
					<input type="text" name="qsearch" id="socialsharing_search" />
					<input type="button" value='{"Search"|alang}' onclick="socialsharing_list_search()" />
					<input type="button" value='{"Clear"|alang}' id="socialsharing_clear" style="display:none" onclick="socialsharing_list_clear()" />
					</div>
				</td>
			</tr>
		</table>
		{if isset($smarty.get.print) and $smarty.get.print == 1} </div> {/if}
		<table width="100%" border="0" cellspacing="0" cellpadding="1">
			<thead id="socialsharing_head">
				<tr class="ac_table_header">
					<td width="55">&nbsp;</td>
					<td>{"Content"|alang}</td>
					<td width="100">{ac_headercol action="socialsharing" idprefix="socialsharing_list_sorter" id="01" label="Published"|alang}</td>
				</tr>
			</thead>
			<tbody id="socialsharing_table">
			</tbody>
			<tbody id="socialsharing_table_facebook_external">
				<tr class="ac_table_row">
					<td height="40"></td>
					<td style="font-size:12px;">
						<span id="facebook_external_total">0</span>
						<span id="facebook_external_total_people">{"people"|alang}</span>
						<span id="facebook_external_total_person">{"person"|alang}</span>
						{"that"|alang}
						<span id="facebook_external_total_are">{"are"|alang}</span>
						<span id="facebook_external_total_is">{"is"|alang}</span>
						{"not subscribed to your list shared this campaign on Facebook"|alang}.
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div id="socialsharing_noresults" class="ac_hidden">
		<div align="center">{"Nothing found."|alang}</div>
		</div>
		<div style="float:right">
			{include file="pagination.js.tpl.htm" paginator=$paginator_socialsharing tabelize="socialsharing_tabelize" paginate="socialsharing_paginate"}
		</div>
		<div id="socialsharing_loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
			{"Loading. Please wait..."|alang}
		</div>
	</form>

</div>
