<div id="service_facebook">
	<h2>{"Application ID"|alang}:</h2>
	<div class="campaign_input">
		<input type="text" class="form_input_name" name="service_facebook_id" id="service_facebook_id" />
	</div>
	<h2 style="margin-top:20px;">{"Application Secret"|alang}:</h2>
	<div class="campaign_input">
		<input type="text" class="form_input_name" name="service_facebook_secret" id="service_facebook_secret" />
	</div>

	<div class="campaign_input">
		<input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="service_form_save(service_form_id)" />
	</div>
	
	<h2 style="margin-top:20px;">{"Facebook List Connections"|alang}:</h2>
	<div class="campaign_help">
		{"Campaigns sent to any connected lists will auto-post to the chosen Facebook accounts. You must connect your Lists to Facebook accounts on the"|alang}
		<a href="main.php?action=list">{"List Settings page"|alang}</a> ({"click Options, then Advanced Settings"|alang}), {"or click a list name below to go right to the settings page"|alang}.
	</div>
	<div class="campaign_input">
		{foreach from=$lists item=l}
			<b><a href="main.php?action=list&settingsid={$l.id}">{$l.name}</a>:</b>
			{if $l.p_use_facebook && $l.facebook_session}
				<span style="color: green;">{"Connected"|alang}</span> ({$l.facebook_session_accounts_toupdate})
			{else}
				<span style="color: red;">{"Not Connected"|alang}</span>
			{/if}
			<br />
			<br />
		{/foreach}
	</div>
	
	<h1 style="margin-top:30px; padding-top:30px; border-top:3px solid #ccc; text-align:center;">{"Facebook Application Setup Instructions"|alang}:</h1>

	<div class="howto" style="margin-top:20px;">

		<div class="steps">
			<div class="number">1</div>
			<div class="details">
				<h3>{"Include Application Keys"|alang}</h3>
				<p>
					{"In order to send auto-updates to Facebook, you must first include your own application keys that correspond to your domain."|alang}
					<a href="http://developers.facebook.com/setup/">{"Register an application on Facebook"|alang}</a>,
	  			{"then include your application keys here."|alang}
	  			<b>{"Your App Domain should be the same as your ActiveCampaign domain, otherwise you will get an error when authenticating to Facebook."|alang}</b>
					({"NOTE: You will have to update your list settings if these values are changed."|alang})
				</p>
				<br />
				<p>
					{"For example, your email marketing application could be installed on MY.DOMAIN.COM"|alang}.
					{"Your App Domain is the root domain, and your Site URL is the sub-domain"|alang}:
				</p>
				<p><img src="images/facebook_application_settings.jpg" /></p>
				<p>{"This will allow any email marketing user accessing your installation at MY.DOMAIN.COM to have their own Facebook account authorize your Facebook application (so your email marketing software can perform Facebook updates on their behalf)"|alang}.</p>
			</div>
		</div>

	</div>

</div>