<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="service.js"}
</script>

<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	{literal}
	var $J = jQuery.noConflict();
	{/literal}
</script>

<div id="service_description" style="display: none; float:right; background:#f8f8f8; max-width:500px; font-size:10px; text-align:right; padding:8px; color:#666; border:1px solid #eae9e4; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; margin-top:-6px;"></div>
<h1 id="service_header">{"External Services"|alang}</h1>


{include file="service.list.htm"}
{include file="service.form.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(service_process, true);
</script>
