<div id="noforms_nolists" style="display: none;">
	{if $canAddList}
		<div class="ac_listing_empty">
			<h2>{"Looking to integrate with external services?"|alang}
				<a href="main.php?action=list&new">{"Create a list first"|alang}</a>
			</h2>
			<p>{"To access external integration options, please create a list first."|alang}</p>
		</div>
	{/if}
	<div class="mscdftmsgscreenshot">
		<p>{"You currently do not have any lists. A list is required to integrate with external services."|alang}</p>
		<img src="images/mscdftmsglist.png" style="cursor:pointer;" />
	</div>
</div>

<div id="list" style="display: none;">
	<div class="rows" style="margin-left:-15px;">
    {if $admin.brand_links}
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_shopify.gif" alt="Shopify" />
					<div class="type"><a href="main.php?action=service#form-5">{"Configure Settings"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=service#form-5"><span class="configure">{"Configure Settings"|alang}</span></a>
			{if $services_connected.shopify}<span class="appinfo connected">{"Connected"|alang}</span>{/if}
		</div>
        {/if}
        
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_unbounce.gif" alt="Unbounce" />
					<div class="type"><a href="main.php?action=service#form-3">{"Configure Settings"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=service#form-3"><span class="configure">{"Configure Settings"|alang}</span></a>
			{if $services_connected.unbounce}<span class="appinfo connected">{"Connected"|alang}</span>{/if}
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_wufoo.gif" alt="Wufoo" />
					<div class="type"><a href="main.php?action=service#form-4">{"Configure Settings"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=service#form-4"><span class="configure">{"Configure Settings"|alang}</span></a>
			{if $services_connected.wufoo}<span class="appinfo connected">{"Connected"|alang}</span>{/if}
		</div>

    {if $admin.brand_links}
			<div class="service">
				<div class="view">
					<div class="viewoptions">
						<img src="images/extservices_surveymonkey.gif" alt="SurveyMonkey" />
						<div class="type"><a href="main.php?action=service#form-6">{"Configure Settings"|alang}</a></div>
					</div>
				</div>
				<a class="btn" href="main.php?action=service#form-6"><span class="configure">{"Configure Settings"|alang}</span></a>
				{if $services_connected.surveymonkey}<span class="appinfo connected">{"Connected"|alang}</span>{/if}
			</div>
    {/if}

		{if ac_admin_ismaingroup()}
			<div class="service">
				<div class="view">
					<div class="viewoptions">
						<img src="images/extservices_facebook.gif" alt="Facebook" />
						<div class="type"><a href="main.php?action=service#form-1">{"Configure Settings"|alang}</a></div>
					</div>
				</div>
				<a class="btn" href="main.php?action=service#form-1"><span class="configure">{"Configure Settings"|alang}</span></a>
				{if $services_connected.facebook}<span class="appinfo connected">{"Connected"|alang}</span>{/if}
			</div>
			<div class="service">
				<div class="view">
					<div class="viewoptions">
						<img src="images/extservices_twitter.gif" alt="Twitter" />
						<div class="type"><a href="main.php?action=service#form-2">{"Configure Settings"|alang}</a></div>
					</div>
				</div>
				<a class="btn" href="main.php?action=service#form-2"><span class="configure">{"Configure Settings"|alang}</span></a>
				{if $services_connected.twitter}<span class="appinfo connected">{"Connected"|alang}</span>{/if}
			</div>
		{/if}

		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_salesforce.gif" alt="Salesforce" />
					<div class="type"><a href="main.php?action=subscriber_import&source=salesforce">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=salesforce"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_sugarcrm.gif" alt="SugarCRM" />
					<div class="type"><a href="main.php?action=subscriber_import&source=sugarcrm">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=sugarcrm"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_highrise.gif" alt="Highrise" />
					<div class="type"><a href="main.php?action=subscriber_import&source=hr">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=hr"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_capsule.gif" alt="Capsule CRM" />
					<div class="type"><a href="main.php?action=subscriber_import&source=capsule">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=capsule"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_freshbooks.gif" alt="FreshBooks" />
					<div class="type"><a href="main.php?action=subscriber_import&source=freshbooks">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=freshbooks"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_tactilecrm.gif" alt="Tactile CRM" />
					<div class="type"><a href="main.php?action=subscriber_import&source=tactile">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=tactile"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_batchbook.jpg" alt="Batchbook CRM" />
					<div class="type"><a href="main.php?action=subscriber_import&source=batchbook">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=batchbook"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_heap.gif" alt="Heap CRM" />
					<div class="type"><a href="main.php?action=subscriber_import&source=heapcrm">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=heapcrm"><span class="import">{"Import"|alang}</span></a>
		</div>
		{if $admin.brand_links}
			<div class="service">
				<div class="view">
					<div class="viewoptions">
						<img src="images/extservices_wordpress.gif" alt="Wordpress" />
						<div class="type"><a href="http://www.activecampaign.com/extend-wordpress.php" target="_blank">{"Download this Plugin"|alang}</a></div>
					</div>
				</div>
				<a class="btn" href="http://www.activecampaign.com/extend-wordpress.php" target="_blank"><span class="download">{"Download"|alang}</span></a>
			</div>
			<div class="service">
				<div class="view">
					<div class="viewoptions">
						<img src="images/extservices_vbulletin.gif" alt="vBulletin" />
						<div class="type"><a href="http://www.activecampaign.com/extend-vbulletin.php" target="_blank">{"Download this Plugin"|alang}</a></div>
					</div>
				</div>
				<a class="btn" href="http://www.activecampaign.com/extend-vbulletin.php" target="_blank"><span class="download">{"Download"|alang}</span></a>
			</div>
			<div class="service">
				<div class="view">
					<div class="viewoptions">
						<img src="images/extservices_joomla.gif" alt="Joomla" />
						<div class="type"><a href="http://www.activecampaign.com/extend-joomla.php" target="_blank">{"Download this Plugin"|alang}</a></div>
					</div>
				</div>
				<a class="btn" href="http://www.activecampaign.com/extend-joomla.php" target="_blank"><span class="download">{"Download"|alang}</span></a>
			</div>
		{/if}
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_zohocrm.gif" alt="ZOHO CRM" />
					<div class="type"><a href="main.php?action=subscriber_import&source=zohocrm">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=zohocrm"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_googdocs.gif" alt="Google Docs" />
					<div class="type"><a href="main.php?action=subscriber_import&source=google_spreadsheets">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=google_spreadsheets"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_googcontacts.gif" alt="Google Contacts" />
					<div class="type"><a href="main.php?action=subscriber_import&source=google_contacts">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=google_contacts"><span class="import">{"Import"|alang}</span></a>
		</div>
		<div class="service">
			<div class="view">
				<div class="viewoptions">
					<img src="images/extservices_zendesk.png" alt="Zendesk" />
					<div class="type"><a href="main.php?action=subscriber_import&source=zendesk">{"Import Subscribers"|alang}</a></div>
				</div>
			</div>
			<a class="btn" href="main.php?action=subscriber_import&source=zendesk"><span class="import">{"Import"|alang}</span></a>
		</div>
	</div>

<script type="text/javascript">
{literal}
$J("div.type").each(function(){
    $J(this).css("opacity", 0);
    $J(this).css("width", $J(this).siblings("img").width());
    $J(this).parent().css("width", $J(this).siblings("img").width());
    $J(this).css("display", "block");
	});
$J("div.viewoptions").hover(function(){
	$J(this).children(".type").stop().fadeTo(250, 0.85);},
	function(){
		$J(this).children(".type").stop().fadeTo(250, 0);
});
{/literal}
</script>

</div>
