<div class="h2_wrap">
<div id="accountInfo" class="h2_content">
  <table border="0" cellspacing="0" cellpadding="0" class="usersettings">

    <tr valign="top">
      <td width="120">{"Username"|alang}</td>
      <td><input name="user00000" type="text" id="user00000" value="{$admin.username}"  readonly  style="background:#eeece8; color:#888;" />
    </td>
   </tr>
    <tr valign="top">
      <td>{"E-mail"|alang}</td>
      <td><input name="email" type="text" id="email" value="{$admin.email}" /></td>
   </tr>
    <tr valign="top">
      <td>{"First Name"|alang}</td>
      <td><input name="first_name" type="text" id="first_name" value="{$admin.first_name}" />
    </td>
   </tr>
    <tr valign="top">
      <td>{"Last Name"|alang}</td>
      <td><input name="last_name" type="text" id="last_name" value="{$admin.last_name}" /></td>
   </tr>
    <tbody id="account_password_rows">
    <tr valign="top">
      <td>{"Password"|alang}<br />
    </td>
      <td><input name="pass" type="password" id="pass" autocomplete="off" />
       <br />
        <small>({"Leave blank if you do not want to change"|alang})</small></td>
   </tr>
    <tr valign="top">
      <td>{"Repeat Password"|alang}<br />
    </td>
      <td><input name="pass_r" type="password" id="pass_r" autocomplete="off" /></td>
   </tr>
   </tbody>
</table>
</div>
</div>

<div class="h2_wrap">
	<div id="accountSettings" class="h2_content_invis">
		<table border="0" cellspacing="0" cellpadding="0" class="usersettings">
  
		<tr>
		  <td width="120">{"Time Zone"|alang}</td>
		  <td>
			<select name="local_zoneid">
			  {foreach from=$zones item=z}
			  <option value="{$z.zoneid}" {$z.zoneid|ac_isselected:$admin.local_zoneid}>{$z.zoneid} (GMT {$z.offset_format})</option>
			  {/foreach}
			</select>
		</td>
		</tr>
		<tr valign="top">
		  <td>{"Language"|alang}</td>
		  <td>
			<select name="lang_ch" id="lang" style="width:200px;">
			  {html_options options=$languages selected=$admin.lang}
		   </select>
		</td>
		</tr>
		</table>
	</div>
</div>

