<div id="api" class="settingset">
	<div class="h2_wrap">
		<div class="h2_content">
			<table border="0" cellspacing="0" cellpadding="0" class="usersettings">
				<tr valign="top">
					<td width="120">{"API URL"|alang}</td>
					<td>
						<input type="text" id="settings_api_url" value="{$apiurl}" readonly style="background:#eeece8; color:#888; width: 500px;" onclick="ac.highlight(this)" tabindex="1" />
					</td>
				</tr>
				<tr valign="top">
					<td width="120">{"API Key"|alang}</td>
					<td>
						<input name="apikey" id="settings_api_key" type="text" value="{$admin.apikey}" readonly style="background:#eeece8; color:#888; width: 500px;" onclick="ac.highlight(this)" tabindex="2" />
						<input type="button" id="settings_reset_button" value='{"Reset"|alang}' onclick="$J('#apimodal').modal('show')">
					</td>
				</tr>
				{if $admin.brand_links}
	        <tr valign="top">
	          <td width="120">{"API Reference"|alang}</td>
	          <td>
	            <p><a href="http://www.activecampaign.com/api/" target="_blank">{"View our public API reference section"|alang}</a></p>
	          </td>
	        </tr>
        {/if}
				<tr valign="top">
					<td width="120" style="vertical-align: top;">{"API Explorer"|alang}</td>
					<td>

						<select id="api_common">
						  <option value="">{"Individual Actions"|alang}</option>
							<optgroup label="{"Lists"|alang}">
								<option value="list_list">{"View Lists"|alang}</option>
								<option value="list_add">{"Add List"|alang}</option>
								<option value="list_edit">{"Edit List"|alang}</option>
								<option value="list_delete">{"Delete List"|alang}</option>
						  </optgroup>
						  <optgroup label="{"Subscribers"|alang}">
								<option value="subscriber_list">{"View Subscribers"|alang}</option>
								<option value="subscriber_add">{"Add Subscriber"|alang}</option>
								<option value="subscriber_edit">{"Edit Subscriber"|alang}</option>
								<option value="subscriber_delete">{"Delete Subscriber"|alang}</option>
								<option value="list_field_view">{"View Subscriber Field"|alang}</option>
								<option value="list_field_add">{"Add Subscriber Field"|alang}</option>
								<option value="list_field_edit">{"Edit Subscriber Field"|alang}</option>
							</optgroup>
							<optgroup label="{"Templates"|alang}">
							 <option value="message_template_list">{"View Email Templates"|alang}</option>
							 <option value="message_template_add">{"Add Email Template"|alang}</option>
							 <option value="message_template_edit">{"Edit Email Template"|alang}</option>
							 <option value="message_template_delete">{"Delete Email Template"|alang}</option>
							</optgroup>
							<optgroup label="{"Campaigns"|alang}">
                <option value="message_list">{"View Email Messages"|alang}</option>
								<option value="message_add">{"Add Email Message"|alang}</option>
								<option value="message_edit">{"Edit Email Message"|alang}</option>
								<option value="message_delete">{"Delete Email Message"|alang}</option>
								<option value="campaign_list">{"View Campaigns"|alang}</option>
								<option value="campaign_create">{"Create Campaign"|alang}</option>
								<option value="campaign_delete">{"Delete Campaign"|alang}</option>
						  </optgroup>
						  <optgroup label="{"Reports"|alang}">
						    <option value="campaign_report_totals">{"View Campaign Totals"|alang}</option>
						    <option value="campaign_report_open_list">{"View Campaign Opens"|alang}</option>
						    <option value="campaign_report_bounce_list">{"View Campaign Bounces"|alang}</option>
						  </optgroup>
              <optgroup label="{"Integration Forms"|alang}">
                <option value="form_getforms">{"View Forms"|alang}</option>
                <option value="form_html">{"View Form HTML"|alang}</option>
              </optgroup>
						  <optgroup label="{"Design and Branding"|alang}">
						    <option value="branding_view">{"View Design Settings (by Group)"|alang}</option>
						    <option value="branding_edit">{"Edit Design Settings"|alang}</option>
						  </optgroup>
						  <optgroup label="{"Users and Groups"|alang}">
								<option value="group_add">{"Add User Group"|alang}</option>
								<option value="group_edit">{"Edit User Group"|alang}</option>
								<option value="user_list" selected="selected">{"View Users"|alang}</option>
								<option value="user_view" selected="selected">{"View User (by ID)"|alang}</option>
								<option value="user_view_email" selected="selected">{"View User (by Email)"|alang}</option>
								<option value="user_view_username" selected="selected">{"View User (by Username)"|alang}</option>
								<option value="user_add" selected="selected">{"Add User"|alang}</option>
								<option value="user_edit" selected="selected">{"Edit User"|alang}</option>
								<option value="user_delete" selected="selected">{"Delete User"|alang}</option>
							</optgroup>
							<optgroup label="{"Authentication"|alang}">
							 <option value="singlesignon">{"Single Sign-On"|alang}</option>
							</optgroup>
						</select>

						<select id="api_methods">
							<option value="">{"API Methods"|alang}</option>
							{foreach from=$api_files key=method item=details}
								<option value="{$method}"{if $method == "user_view"} selected="selected"{/if}>{$method}</option>
							{/foreach}
						</select>
						
            <select id="api_apps" style="width: 175px;">
              <option value="">{"Apps"|alang}</option>
            </select>
            
            <div id="app_description" style="display: none;">
              <p class="settings_api_section" style="background-color: #008080;">{"App Description"|alang}</p>
              <span id="app_description_text"></span>
            </div>

            <input type="hidden" id="app_id" value="0" />
            <h3 id="app_step" style="display: none; font-size: 23px; margin-top: 20px;">{"Step"|alang} <span id="app_step_int">0</span></h3>

						{foreach from=$api_files key=method item=details}
							<div id="api_method_details_{$method}" class="api_method_details" style="display: none; margin-top: 10px;">
								<p class="settings_api_section">{"Description"|alang}</p>
								{$details.description}
								<p class="settings_api_section">{"Request Method"|alang}</p>
								<span id="api_method_details_{$method}_request_method">{$details.request_method}</span>
							</div>
						{/foreach}

						<div style="margin-top: 30px;">
							<p class="settings_api_section">{"Request URL"|alang}</p>
							<input type="hidden" id="apiexample_root" value="{$apiurl}/admin/api.php?api_key={$admin.apikey}" />
							<textarea name="apiexample" id="apiexample" readonly="readonly" onclick="ac.highlight(this);" style="background:#eeece8; color: #888; height: 90px; width: 635px;"></textarea>
							<br />
							<br />
							<input type="button" id="apiexample_view_window" value="{"View in new window"|alang}" />
						</div>

						<div id="apiexample_response_postvars_div" style="display: none; margin-top: 30px;">
							<p class="settings_api_section">{"POST Parameters"|alang}</p>
							<textarea id="apiexample_response_postvars" style="height: 100px; width: 635px;"></textarea>
						</div>

						<div id="apiexample_response_div" style="display: none; margin-top: 30px;">
							<p class="settings_api_section">{"Response"|alang}</p>
							<textarea id="apiexample_response" style="height: 100px; width: 635px;"></textarea>
						</div>
						
            <div id="apiexample_sequence_div" style="display: none; margin-top: 30px;">
              <p class="settings_api_section">{"App Output"|alang}</p>
              <textarea id="apiexample_sequence" style="height: 100px; width: 635px;"></textarea>
            </div>

						<div id="apiexample_response_parse_div" style="display: none; margin-top: 30px;">
						  <p class="settings_api_section">{"Request and Parse"|alang}</p>
							<p>
								<select id="apiexample_response_parse_lang" onchange="apiexample_response_parse_lang_toggle(this.value);">
									<option value="php">PHP</option>
									<!--<option value="rails">Rails</option>-->
								</select>
								<span id="apiexample_response_parse_ref_php"><a href="https://github.com/ActiveCampaign/activecampaign-api-php" target="_blank">{"using our official API library"|alang}</a>.</span>
								<span id="apiexample_response_parse_ref_rails" style="display: none;"><a href="http://api.rubyonrails.org/classes/ActiveResource/Base.html" target="_blank">{"using ActiveResource"|alang}</a>:</span>
							</p>
							<div id="apiexample_response_parse_default_php" style="display: none;">&lt;?php

define("ACTIVECAMPAIGN_URL", "{$apiurl}");
define("ACTIVECAMPAIGN_API_KEY", "{$admin.apikey}");
require_once("../activecampaign-api-php/includes/ActiveCampaign.class.php");
$ac = new ActiveCampaign(ACTIVECAMPAIGN_URL, ACTIVECAMPAIGN_API_KEY);</div>

              <div id="apiexample_response_parse_default2_php" style="display: none;">{literal}echo "<pre>";
print_r($response);
echo "</pre>";

if ((int)$response->success) {

  // successful request

  $items = array();

  foreach ($response as $key => $value) {
    if (is_int($key)) {
      $items[] = $value;
    }
  }
  
  if (count($items) == 20) {
    // fetch next page
  }
}
else {
  // request error
  echo $response->error;
}{/literal}
?&gt;</div>
              <div id="apiexample_response_parse_default_rails" style="display: none;">1</div>
              <div id="apiexample_response_parse_default2_rails" style="display: none;">2</div>
							<textarea wrap="off" id="apiexample_response_parse" style="font-family: Courier; height: 175px; width: 635px; white-space: nowrap; overflow: scroll;"></textarea>
						</div>

						<div id="api_parameters" style="margin-top: 30px;">

							<p class="settings_api_section">{"Method Parameters"|alang}</p>

              {include file="api-explorer/account_add.htm"}
              {include file="api-explorer/account_cancel.htm"}
              {include file="api-explorer/account_edit.htm"}
              {include file="api-explorer/account_list.htm"}
              {include file="api-explorer/account_name_check.htm"}
              {include file="api-explorer/account_plans.htm"}
              {include file="api-explorer/branding_view.htm"}
              {include file="api-explorer/campaign_create.htm"}
              {include file="api-explorer/campaign_list.htm"}
              {include file="api-explorer/campaign_report_bounce_list.htm"}
              {include file="api-explorer/campaign_report_open_list.htm"}
              {include file="api-explorer/campaign_report_totals.htm"}
              {include file="api-explorer/campaign_send.htm"}
              {include file="api-explorer/campaign_status.htm"}
              {include file="api-explorer/form_html.htm"}
              {include file="api-explorer/group_add.htm"}
              {include file="api-explorer/group_edit.htm"}
              {include file="api-explorer/list_add.htm"}
              {include file="api-explorer/list_edit.htm"}
              {include file="api-explorer/list_delete.htm"}
              {include file="api-explorer/list_field_add.htm"}
              {include file="api-explorer/list_field_edit.htm"}
              {include file="api-explorer/list_field_view.htm"}
              {include file="api-explorer/list_list.htm"}
              {include file="api-explorer/list_paginator.htm"}
              {include file="api-explorer/message_add.htm"}
              {include file="api-explorer/message_delete.htm"}
              {include file="api-explorer/message_delete_list.htm"}
              {include file="api-explorer/message_edit.htm"}
              {include file="api-explorer/message_list.htm"}
              {include file="api-explorer/message_view.htm"}
              {include file="api-explorer/message_template_add.htm"}
              {include file="api-explorer/message_template_delete.htm"}
              {include file="api-explorer/message_template_delete_list.htm"}
              {include file="api-explorer/message_template_edit.htm"}
              {include file="api-explorer/message_template_export.htm"}
              {include file="api-explorer/message_template_import.htm"}
              {include file="api-explorer/message_template_list.htm"}
              {include file="api-explorer/message_template_view.htm"}
              {include file="api-explorer/singlesignon.htm"}
              {include file="api-explorer/subscriber_add.js"}
              {include file="api-explorer/subscriber_add.htm"}
              {include file="api-explorer/subscriber_delete.htm"}
              {include file="api-explorer/subscriber_delete_list.htm"}
              {include file="api-explorer/subscriber_edit.htm"}
              {include file="api-explorer/subscriber_sync.htm"}
              {include file="api-explorer/subscriber_list.htm"}
              {include file="api-explorer/subscriber_paginator.htm"}
              {include file="api-explorer/subscriber_view.htm"}
              {include file="api-explorer/subscriber_view_email.htm"}
              {include file="api-explorer/subscriber_view_hash.htm"}
              {include file="api-explorer/user_delete.htm"}
              {include file="api-explorer/user_delete_list.htm"}
              {include file="api-explorer/user_add.htm"}
              {include file="api-explorer/user_edit.htm"}
              {include file="api-explorer/user_list.htm"}
              {include file="api-explorer/user_view.htm"}
              {include file="api-explorer/user_view_email.htm"}
              {include file="api-explorer/user_view_username.htm"}

						</div>

            <div style="margin: 30px 0;">
              <input type="button" id="apiexample_view" value="{"View API Response"|alang}" style="color: green; font-weight: bold; height: 40px; width: 260px; font-size: 20px" />
              <input type="checkbox" id="apiexample_view_test" checked="checked" style="margin-left: 20px;" />
              <label for="apiexample_view_test">{"Test mode? (Will only show parameters.)"|alang}</label>
            </div>

					</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="apimodal" class="modal show" style="display:none">
		<div class="modal-header">
			<a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
			<h3>{"Are you sure?"|alang}</h3>
		</div>
		<div class="modal-body">
			{"If you reset this API key, any API calls you have developed will stop working until you update them with your new key."|alang}
		</div>
		<div class="modal-footer">
			<a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Close"|alang}</a>
			<a href="#" onclick="user.resetapi({$admin.id}); return false" class="btn" data-dismiss="modal">{"Reset"|alang}</a>
		</div>
	</div>
</div>