<h1>{"Automatic Abuse Management"|alang}</h1>
<div style="padding:10px; border: 1px solid #e0dfdc; margin-bottom:20px;">
      <input type="checkbox" id="mail_abuse" name="mail_abuse" value="1" {if $site.mail_abuse}checked="checked"{/if} onclick="ac_dom_toggle_class('mail_abuse_help', 'ac_block', 'ac_hidden');" /> <label for="mail_abuse">{"Enable Abuse Management"|alang}</label>

        <div id="mail_abuse_help" class="{if $site.mail_abuse}ac_block{else}ac_hidden{/if}">
        <br />

          {"The report abuse link can be added to each user groups mandatory footer (thus adding it to all their outgoing emails)."|alang}
          {"When clicked it will verify that they wish to report abuse and unsubscribe them from the list if they choose to continue with reporting abuse."|alang}
          <br />
          <br />
          {"To include a report abuse link add the following:"|alang}
          <br />
          &lt;a href=&quot;%REPORTABUSE%&quot;&gt;{"Click here to report this email"|alang}&lt;/a&gt;
		<br /><br />


		  <table width="100%" border="0" cellspacing="0" cellpadding="1">
			<thead id="abuselist_head">
			  <tr class="ac_table_header">
				<td width="50">{"Options"|alang}</td>
				<td>{ac_sortcol action="group" id="01" label="Group"|alang}</td>
				<td>{"# Abuses"|alang}</td>
				<td>{"% Of Abuses"|alang}</td>
			  </tr>
			</thead>
			<tbody id="abuselist_table">
			</tbody>
			<tbody id="abuselist_noresults" style="display:none">
			  <tr>
				<td colspan="4" align="center">
				  <div>{"Nothing found."|alang}</div>
				</td>
			  </tr>
			</tbody>
			<tfoot>
			  <td colspan="4" align="left">
				<div id="abuseloadingBar" style="display:none; background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
				  {"Loading. Please wait..."|alang}
				</div>
			  </td>
			</tfoot>
		  </table>
		  <div style="float:right;">{include file="pagination.js.tpl.htm" tabelize="group_list_tabelize" paginate="group_list_paginate" paginator=$paginator_abuse}</div>
		  <br clear="all" />
		</div>
		</div>
