{if $admin.pg_form_edit and $listsListCnt}
 <a class="btn" href="#" onclick="form_list_addmodal(); return false;"><span class="create">{"Create New Form"|alang}</span></a>
{/if}



<div id="form_integration_settings" class="menu_section">
	<h5 class="headtitle">{"Integration Settings"|alang}</h5>
	<ul>
		<li><a href="main.php?action=formsub_result">{"Subscriptions"|alang}</a></li>
		<li><a href="main.php?action=formunsub_result">{"Unsubscribes"|alang}</a></li>
		<li><a href="main.php?action=formdetails_edit">{"Subscription Updates"|alang}</a></li>
		<li><a href="main.php?action=formforward_edit">{"Forward to a Friend"|alang}</a></li>
		<li><a href="main.php?action=formarchive_edit">{"Campaign Archive"|alang}</a></li>
	</ul>
</div>

<div class="menu_section" {if !$listsListCnt}style="margin-top:0px;"{/if}>
	<h5 class="headtitle">{"Other Options"|alang}</h5>
	<ul>
    	{if $admin.brand_links}
		<li><a href="main.php?action=form_facebook">{"Facebook Subscription Form"|alang}</a>
	      <p>{"Add a subscription form to your Facebook page."|alang}</p></li>
        {/if}
		{if ac_admin_ismaingroup()}
		<li><a href="main.php?action=service">{"External Services"|alang}</a>
		<p>{"Integrate your email marketing with third-party services such as Facebook, Wufoo, Shopify, and more."|alang}</p></li>
		{if $admin.brand_links}
		<li><a href="main.php?action=settings#tab_api">{"ActiveCampaign API"|alang}</a>
		<p>{"The API allows you to fully integrate your custom software &amp; services with your email marketing."|alang}</p></li>
		{/if}
		{/if}
	</ul>
</div>

{if $action == "form" && ac_admin_ismaingroup()}
	<div id="form_default_form" class="menu_section">
		<h5 class="headtitle">{"Default Form"|alang}<small class="help"><a data-placement="left" rel="tip" title="{"You can choose a form to be shown when someone visits your account URL."|alang}">{"What's this?"|alang}</a></small></h5>
		<div class="spaced">
			<div id="hasform">

				<select id="defaultform" onchange="form_setdefault(this.value)">
					<option value="0">{"Don't show any form by default"|alang}</option>
					{foreach from=$forms item=e}
						<option value="{$e.id}" {if isset($pconf.defaultform) and $pconf.defaultform == $e.id}selected{/if}>{$e.name|truncate:30}</option>
					{/foreach}
				</select>
			</div>
			<div id="hasnoform" style="display:none">
				{"Your account URL will not show any form by default."|alang}
				<a href="#" onclick="form_hasform(); return false">{"Enable"|alang}</a>
			</div>
		</div>
	</div>
{/if}

<div id="form_list_addmodal_div" class="ac_modal" align="center" style="display: none">
  <div class="ac_modal_inner">
		<h1>{"Create a new form"|alang}</h1>

		<div style="margin-top: 10px">
			{"Choose a list for this form"|alang}
		</div>

		<div style="margin-top: 10px">
			<select id="add_list">
				{foreach from=$listsList item=e}
					{if in_array($e.id, $admin.lists)}
						<option value="{$e.id}">{$e.name}</option>
					{/if}
				{/foreach}
			</select>
		</div>

		<div style="margin-top: 10px">
			{"Give this form a name"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="add_name" onkeypress="{literal}ac_dom_keypress_doif( event, 13, function() { form_add(); } );{/literal}">
		</div>

    <div style="margin-top: 10px">
			<input type="button" class="ac_button_ok" value="{"OK"|alang}" onclick="form_add()">
      <input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="$('form_list_addmodal_div').hide()" />
    </div>
  </div>
</div>
