<div class="menu_section" style="margin-top:0px;">
<h5 class="headtitle">{"Reports"|alang}</h5>
<ul>

    {if $admin.pg_reports_campaign || $admin.pg_reports_list || $admin.pg_reports_user}

        {if $admin.pg_reports_campaign}
                <li><a href="main.php?action=report">{"Campaign Reports"|alang}</a></li>
        {/if}
        {if $admin.pg_reports_list}
               <li><a href="main.php?action=report_list#general-01-0-0">{"List Reports"|alang}</a></li>
        {/if}
        {if $admin.pg_reports_user}
               <li><a href="main.php?action=report_user#general-01-0-0">{"User Reports"|alang}</a></li>
        {/if}

		{if $admin.pg_reports_trend}
			<li><a href="main.php?action=report_trend_read#general-01-0-0">{"Read Trends"|alang}</a></li>
			<li><a href="main.php?action=report_trend_client#general-01-0-0">{"Email Client Trends"|alang}</a></li>
		{/if}

    {/if}

</ul>
</div>


{if $action == 'report'}

{if $admin.pg_message_add || $admin.pg_message_edit || $admin.pg_message_delete}
<div class="menu_section">
	<h5 class="headtitle">
		<div class="captionsmall"><a href="#" onclick="folder_add_open();return false;" style="color:#777;">{"Create Folder"|alang}</a></div>
		{"Campaigns"|alang}
	</h5>
	<ul>
        <li class="stat-label"><a href="#" onclick="campaign_list_clear();campaign_list_search();return false;" ><span>{"All Campaigns"|alang}</span></a></li>

        {* pointless for reports
		{if $draft_campaigns > 0}
		<li class="stat-label indent">
			<a href="#" onclick="campaign_list_clear();$J('#JSStatusManager').val('0');campaign_list_search();return false;">
				<span style="font-weight:normal;">{"Drafts"|alang}</span>
				<div class="alert">{$draft_campaigns|numformat:0}</div>
			</a>
		</li>
		{/if}
		{if $scheduled_campaigns > 0}
		<li class="stat-label indent">
			<a href="#" onclick="campaign_list_clear();$J('#JSStatusManager').val('1');campaign_list_search();return false;">
				<span style="font-weight:normal;">{"Scheduled"|alang}</span>
				<div class="alert grey">{$scheduled_campaigns|numformat:0}</div>
			</a>
		</li>
		{/if}
		*}
		{if $rss_campaigns > 0}
		<li class="stat-label indent">
			<a href="#" onclick="campaign_list_clear();$J('#JSTypeManager').val('activerss');campaign_list_search();return false;">
				<span style="font-weight:normal;">{"RSS Based"|alang}</span>
				<div class="alert grey">{$rss_campaigns|numformat:0}</div>
			</a>
		</li>
		{/if}
		{if $responder_campaigns > 0}
		<li class="stat-label indent">
			<a href="#" onclick="campaign_list_clear();$J('#JSTypeManager').val('responder');campaign_list_search();return false;">
				<span style="font-weight:normal;">{"Auto-Responders"|alang}</span>
				<div class="alert grey">{$responder_campaigns|numformat:0}</div>
			</a>
		</li>
		{/if}

		{* this block has it's javascript counterpart in functions.js -- do not edit this without updating the other one as well *}
		{foreach from=$folders item=f}
		<li id="folder_{$f.id}" class="stat-label folder-name" onmouseover="$J('div.folderdelete', this).show();" onmouseout="$J('div.folderdelete', this).hide();">
			<div class="folderdelete" style="display:none;"><a href="#" onclick="folder_delete_id={$f.id};$J('#folderDeleteModal').modal('show');return false;">x</a></div>
			<a href="#" onclick="campaign_list_clear();campaign_folder_id={$f.id};campaign_list_search();return false;">
				<span>{$f.folder|truncate:30}</span>
				<div class="alert grey">{$f.count|numformat:0}</div>
			</a>
		</li>
		{/foreach}

		<li id="sidemenu_list" class="stat-label">
			<a href="#" onclick="$J('#sidemenu_list_filter').toggle();return false;"><span>{"Campaigns by List"|alang}</span></a>
			<div id="sidemenu_list_filter" style="border:1px solid #ccc; padding:8px; margin:10px; margin-left:25px;display:none;" align="center">
				<select name="listid" id="JSListManager" size="1" onchange="var x=this.value;campaign_list_clear();this.value=x;$J('#sidemenu_list_filter').show();campaign_list_search()">
					<option value="0">{"All Lists..."|alang}</option>
					{foreach from=$listsList item=p}
					<option value="{$p.id}">{$p.name|truncate:50}</option>
					{/foreach}
				</select>
			</div>
		</li>

		<li id="sidemenu_type" class="stat-label" style="display:none;">
			<a href="#" onclick="$J('#sidemenu_type_filter').toggle();return false;">{"Campaigns by Type"|alang}</a>
			<div id="sidemenu_type_filter" style="border:1px solid #ccc; padding:8px; margin:10px; margin-left:25px;display:none;" align="center">
				<select name="type" id="JSTypeManager" size="1" onchange="var x=this.value;campaign_list_clear();this.value=x;$J('#sidemenu_type_filter').show();campaign_list_search()" style="width:140px;">
					<option value="">{"Any Type..."|alang}</option>
					{foreach from=$types item=t key=k}
					<option value="{$k}">{$t}</option>
					{/foreach}
					<!--<option value="special">{"special"|alang}</option>-->
				</select>
			</div>
		</li>

		<li id="sidemenu_status" class="stat-label" style="display:none;">
			<a href="#" onclick="$J('#sidemenu_status_filter').toggle();return false;">{"Campaigns by Status"|alang}</a>
			<div id="sidemenu_status_filter" style="border:1px solid #ccc; padding:8px; margin:10px; margin-left:25px;display:none;" align="center">
				<select name="status" id="JSStatusManager" size="1" onchange="var x=this.value;campaign_list_clear();this.value=x;$J('#sidemenu_status_filter').show();campaign_list_search()" style="width:85px;">
					<option value="">{"Any Status..."|alang}</option>
					{foreach from=$campaign_statuses item=s key=k}
					<option value="{$k}">{$s}</option>
					{/foreach}
				</select>
			</div>
		</li>
	</ul>
</div>
{/if}

{/if}

<div id="folderAddModal" class="modal show" style="display:none;">
    <div class="modal-header">
        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
        <h3>{"Create New Campaign Folder"|alang}</h3>
    </div>

    <div class="modal-body">
        <div class="campaignfolder">
            <p>{"Create a new folder so that you can organize your campaign easier. To add a campaign to the folder, just drag it into it. You can then filter the campaigns list by selecting this folder and show only campaigns that are a part of it."|alang}</p>
        </div>
        <div class="campaignfolder">
            <p>{"Folder Name:"|alang}<br /><input type="text" /></p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
        <a href="#" onclick="folder_add('report'); return false" class="btn add">{"Add Folder"|alang}</a>
    </div>
</div>

<div id="folderDeleteModal" class="modal show" style="display:none;">
    <div class="modal-header">
        <a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
        <h3>{"Delete This Campaign Folder"|alang}</h3>
    </div>

    <div class="modal-body">
        <div class="campaignfolder">
            <p>{"By deleting this campaign folder, all campaigns will be disassociated with this folder."|alang}</p>
        </div>
        <div class="campaignfolder">
            <p>{"Are you sure you wish to delete this campaign folder?"|alang}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Cancel"|alang}</a>
        <a href="#" onclick="folder_delete(); return false" class="btn delete">{"Delete Folder"|alang}</a>
    </div>
</div>
