<div>
	<div id="importRunNotice" align="center">
		<div id="progressBar" class="ac_progressbar"></div>
		<div>{"Your import has been started... "|alang}</div><br />
		<div style="color:#999999;">{"You can monitor the progress here or leave this page and let it run in the background."|alang}</div>

	</div>

	<div id="importRunResult" style="display:none" align="center">
		<div>{"Your import has been completed."|alang}</div><br />
		<div>
			<a href="main.php?action=subscriber">{"Manage Subscribers"|alang}</a>
			&nbsp; | &nbsp;
			<a href="main.php?action=subscriber_import">{"Import More Subscribers"|alang}</a>
			&nbsp; | &nbsp;
			<a href="#" onclick="return import_report();">{"View Report"|alang}</a>
{if $admin.pg_message_add}
			&nbsp; | &nbsp;
			<a href="main.php?action=campaign_new">{"Create a Campaign"|alang}</a>
{/if}
		</div>
	</div>

	<iframe id="importRunFrame" name="importRunFrame" style="display:none;border:0px;" width="100%" height="300" scrolling="auto" src="about:blank" border="0"></iframe>
	<script>/* register iframe for autoexpand here */</script>
</div>

<div class="bottom_nav_options" id="buttons">
	<input id="import_back" type="button" value="&laquo; {"Back"|alang}" onclick="import_back();" />
{if !$demoMode}
	<input id="import_test" style="display:none" type="button" value="{"Test"|alang}" onclick="import_run(true);" />
	<input id="import_next" class="ac_button_import" type="button" value="{"Import"|alang}" onclick="import_run(false);" />
{else}
	<span class="demoDisabled2">{"Disabled in demo"|alang}</span>
{/if}
</div>
