<div id="search" class="ac_modal_search" align="center" style="display:none">
  <div class="ac_modal_inner">
    <h1>{"Search Subscribers"|alang}</h1>
    <form method="GET" onsubmit="subscriber_search(); return false">
      <table border="0" cellspacing="0" cellpadding="5" width="100%">
        <tr>
          <td width="75">{"Search for"|alang}</td>
          <td>
            {include file='autocomplete.inc.htm' fieldPrefix='subscriber' fieldID='search_content' fieldName='content' fieldStyle='width:99%;'}
          </td>
        </tr>
        <tr valign="top">
          <td>{"Search in"|alang}</td>
          <td>
            {foreach from=$search_sections item=s}
            <input type="checkbox" name="section[]" value="{$s.col}"> {$s.label}<br/>
            {/foreach}
			<input type="checkbox" name="custom" value="1"> {"Custom fields"|alang}<br/>
          </td>
        </tr>
        <tr valign="top">
          <td>{"In Lists"|alang}</td>
          <td>
            <select name="listid" id="JSListFilter" size="4" multiple>
{foreach from=$listsList item=p}
              <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
             </select>

            <div>

              {"Select:"|alang}
              <a href="#" onclick="return ac_form_select_multiple_all($('JSListFilter'));">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return ac_form_select_multiple_none($('JSListFilter'));">{"None"|alang}</a>
			  {"Notice: Hold CTRL to select multiple lists."|help}
            </div>
          </td>
        </tr>
        <tr valign="top">
          <td>{"With Statuses"|alang}</td>
          <td>
            <select name="status" id="JSStatusFilter" size="4" multiple style="width:99%;"/>
              <option value="">{"- All Statuses -"|alang}</option>
              <option value="1">{"Active"|alang}</option>
              <option value="0">{"Unconfirmed"|alang}</option>
              <option value="2">{"Unsubscribed"|alang}</option>
              <option value="3">{"Bounced"|alang}</option>
{*
              <option value="3">{"Excluded"|alang}</option>
              <option value="4">{"Globally Excluded"|alang}</option>
*}
             </select>

            <div>
              {"Select:"|alang}
              <a href="#" onclick="return ac_form_select_multiple_all($('JSStatusFilter'), true);">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return ac_form_select_multiple_none($('JSStatusFilter'));">{"None"|alang}</a>
			  {"Notice: Hold CTRL to select multiple statuses."|help}
            </div>
          </td>
        </tr>
      </table>
    </form>
    <br/>

    <div>
      <input type="button" value='{"Search"|alang}' onclick="subscriber_search()" class="ac_button_ok" />
      <input type="button" value='{"Cancel"|alang}' onclick="ac_dom_toggle_display('search', 'block'); ac_ui_anchor_set(subscriber_list_anchor())"/>
    </div>
  </div>
</div>
<script type="text/javascript">
  subscriber_search_defaults();
</script>
