<form method="POST">
  <div id="delete" class="ac_modal_delete" align="center" style="display: none">
	<div class="ac_modal_inner">
	  <h1 id="delete_header">{"Delete Subscriber"|alang}</h1>
	  <span id="delete_message"></span>
	  <br />
	  <br />
	  <!-- showing subscribers here: deleting multiple subscribers -->
	  <ul id="delete_list" style="margin-top: 10px; max-height: 100px; overflow: scroll;"></ul>
	  <br />
	  <div>
		<input type="button" class="ac_button_ok" value="{"OK"|alang}" onclick="subscriber_delete(subscriber_delete_id)" />
		<input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="ac_dom_toggle_display('delete', 'block'); ac_ui_anchor_set(subscriber_list_anchor())" />
	  </div>
	</div>
  </div>
</form>
