<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script "text/javascript">
  {include file="subscriber.js"}
</script>
{* load javascript calendar *}
{ac_calendar base=".."}

<h1>{"Subscribers"|alang}<span id="subscriber_list_count" class="ac_hidden"></span></h1>

{include file="subscriber.list.htm"}
{include file="subscriber.exportlist.htm"}
{include file="subscriber.form.htm"}
{include file="subscriber.delete.htm"}
{include file="subscriber.search.htm"}
{include file="subscriber.optin.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(subscriber_process, true);
</script>
