<div id="list">

	<div id="filterList" {if count($imports) == 0}style="display:none"{/if}><a class="drop" href=""><span>{"View Recent Imports"|alang}</span></a>
		<ul class="importListDropdown">
			{foreach from=$imports item=e}
			<li>
				<div class="listName">{$e->name}</div>
				<div class="statusInfo">
					{if $e->percent() == 100}
					<a href="#" onclick="subimport.showresults({$e->id})">{"View Results"|alang}</a>
					{else}
					<div class="graphcont">
						<div class="graph">
							<strong class="bar" style="width:{$e->percent()}%;">{$e->percent()}%</strong>
						</div>
					</div>
					{/if}
				</div>
			</li>
			{/foreach}
		</ul>
	</div>
	
	<div id="resultsModal" class="modal show" style="display:none">
		<div class="modal-header">
			<a href="#" onclick="return false;" class="close" data-dismiss="modal">x</a>
			<h3>{"Import Results"|alang}</h3>
		</div>
		<div class="modal-body" style="max-height:400px; overflow-y:scroll;">
			<p>{"Successful rows"|alang}: <strong><span id="successnum">0</span></strong></p>
			<p>{"Failed rows"|alang}: <strong><span id="failnum">0</span></strong></p>

			<div id="failures">
				<hr>
				<p>{"Below are some examples of the failed rows in this import."|alang}</p>
				<textarea rows="8" cols="80" disabled id="failrows" style="width:99%; height:200px;" wrap="off"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" onclick="return false;" class="btn cancel" data-dismiss="modal">{"Close"|alang}</a>
		</div>
	</div>

	<form id="importCfgForm" name="importCfgForm" action="main.php?action=subscriber_import" enctype="multipart/form-data" method="post">

		<input type="hidden" name="from" id="from" value="{if isset($from)}{$from}{/if}" />

		<div id="subscriberImport" class="wrap">
		
			<div class="subscriberColmLeft">
				<div id="file_option">
                
					<div class="heading">{"Import from a file"|alang}{if $__ishosted} <a id="importAlert" href="javascript:void(0);" style="color:#999; font-weight:normal;">({"What can I import?"|alang})</a>{/if}</div> 

				  <div id="error_importfrom_file" style="{if isset($submitResult) && $submitResult.section == "importfrom_file"}{else}display: none;{/if}">
						<div class="importAlert">
							{if isset($submitResult) && $submitResult.section == "importfrom_file"}
								{$submitResult.message|escape}
							{/if}
						</div>
				  </div>

					<input type="file" id="fileInput" name="file" class="file_input" onclick="import_type = 'file';" />
				</div>
				<div id="copy_option" style="display: none;">
                <div class="heading">{"Import by pasting your data in"|alang}</div>
					<script>var removedInitialText = false;</script>
					<textarea id="copyPaste" name="text" rows="15" wrap="off" onfocus="if(removedInitialText)return;this.value='';this.style.color='#000';removedInitialText=true;">
{"Type or paste your existing subscribers into this box using the following format"|alang}:

bob@bobsmith.com
rob@robsmith.com

     - {"or"|alang} -

"Bob Smith", "bob@bobsmith.com", "some custom field value"
"Rob Smith", "rob@robsmith.com", "some custom field value"

</textarea>
				</div>
        <div id="copy_option_link" class="copy_option">
        	<a href="#" onclick="toggle_import_type('text');">{"or import by pasting your data in"|alang}</a>
        </div>
        <div id="file_option_link" class="copy_option" style="display: none;">
        	<a href="#" onclick="toggle_import_type('file');">{"or import by uploading a file"|alang}</a>
        </div>
	</div><!--//subscriberColmLeft-->
	
	<div class="ortext" style="opacity:1!important;"><span>{"or"|alang}</span><div class="divider"></div></div><!--//ortext-->
	
	<div class="subscriberColmRight">
        <div class="heading">{"Import from a service"|alang}</div>
				<input type="hidden" name="external" id="external" />
			
				{if !$__ishosted && ac_admin_ismaingroup() && !$all_external_sources_supported}
					<div id="error_importfrom_file">
						<div class="importAlert" style="margin-top:0!important;">
							{"Not all external sources are available, based on your server configuration. To use more external sources, try enabling:"|alang}
							<ul>
								{foreach from=$external_sources_check key=requirement item=info}
									{if !$info.supported}
										<li>{$info.name}</li>
									{/if}
								{/foreach}
							</ul>
						</div>
					</div>
				{/if}
				<ul class="externalServices">
					{foreach from=$external_sources key=source item=info}
						{if $info.supported}<li id="external_li_{$source}"><a href="javascript:void(0);" onclick="set_external('{$source}');" id="external_div_{$source}" class="import_external_source_notselected"><img src="images/import-{$info.image}" /></a></li>{/if}
					{/foreach}
				</ul>
			</div><!--//subscriberColmRight-->

		</div><!--/subscriberImport-->

		<div id="external_box_configs"  style="display:none;">
	
		  <h1>{"External Source Settings"|alang}</h1>
	
		  <div class="ac_blockquote">
	
				<div id="external_box_hr" class="formfieldwrap" style="display:none">
				  <div id="external_form_hr">
					<div class="ac_help_inline" style="margin-bottom: 15px;">
					  {"Highrise is a contact management and CRM tool for small businesses and entrepenuers to manage their customer relationships."|alang} <a href="http://highrisehq.com/" target="blank">{"Learn More"|alang}</a>
					</div>
					<fieldset>
						<label for="hr_url">{"Highrise URL"|alang}</label>
					  	<input type="text" name="hr_url" id="hr_url" class="form_input_name" value="{if isset($external_sources.hr.form_values.hr_url)}{$external_sources.hr.form_values.hr_url}{/if}" />
					</fieldset>
					<fieldset>
						<label for="hr_api">{"API Token"|alang}</label>
					  	<input type="text" name="hr_api" id="hr_api" class="form_input_name" value="{if isset($external_sources.hr.form_values.hr_api)}{$external_sources.hr.form_values.hr_api}{/if}" />
					</fieldset>
					{*
					<div>
					  <input type="button" value="{'Connect'|alang}" onclick="connect2external('hr');" />
					</div>
					*}
				  </div>
				  <div id="external_config_hr" style="display:none"></div>
				</div>
		
				<div id="external_box_google_contacts" class="formfieldwrap" style="display:none">
				  <div id="external_form_google_contacts">
						<div class="ac_help_inline" style="margin-bottom: 15px;">
						  {"Google Contacts are stored in each users Google Account; most Google services have access to the contact list."|alang} <a href="http://mail.google.com/support/bin/topic.py?hl=en&topic=12867" target="blank">{"Learn More"|alang}</a>
						</div>
						<fieldset>
						{if !$google_contacts_token}
							<a class="btnsmall" href="{$google_contacts_oauth_url}">{"Authorize Google Contacts access"|alang}</a>
							<input type="hidden" name="google_contacts_connected" id="google_contacts_connected" value="0" />
						{else}
							<span style="color: green; font-weight: bold;">{"Google Contacts access authorized"|alang} <a class="btnsmall" href="main.php?action=subscriber_import&google_contacts_logout=1">{"Revoke"|alang}</a></span>
							<input type="hidden" name="google_contacts_connected" id="google_contacts_connected" value="1" />
						{/if}
						</fieldset>
				  </div>
				  <div id="external_config_google_contacts" style="display:none"></div>
				</div>
		
				<div id="external_box_google_spreadsheets" class="formfieldwrap" style="display:none">
				  <div id="external_form_google_spreadsheets">
						<div class="ac_help_inline" style="margin-bottom: 15px;">
						  {"Google Docs are part of each Google Account, and allow you to add and modify documents online."|alang} <a href="http://docs.google.com/" target="blank">{"Learn More"|alang}</a>
						</div>
						<fieldset>
							{if !$google_spreadsheets_token}
								<a class="btnsmall" href="{$google_spreadsheets_oauth_url}">{"Authorize Google Spreadsheets access"|alang}</a>
								<input type="hidden" name="google_spreadsheets_connected" id="google_spreadsheets_connected" value="0" />
							{else}
								<span style="color: green; font-weight: bold;">{"Google Spreadsheets access authorized"|alang} <a class="btnsmall" href="main.php?action=subscriber_import&google_spreadsheets_logout=1">{"Revoke"|alang}</a></span>
								<input type="hidden" name="google_spreadsheets_connected" id="google_spreadsheets_connected" value="1" />
							{/if}
						</fieldset>
				  </div>
				  <div id="external_config_google_spreadsheets" style="display:none"></div>
				</div>
		
				<div id="external_box_freshbooks" class="formfieldwrap" style="display:none">
				  <div id="external_form_freshbooks">
						<div class="ac_help_inline" style="margin-bottom: 15px;">{"Freshbooks helps simplify invoicing and time tracking services that help you manage your business."|alang} <a href="https://campaign.freshbooks.com/refer/www" target="blank">{"Learn More"|alang}</a></div>
						{if !$freshbooks_account && !$freshbooks_token}
							<fieldset>
								<label for="freshbooks_account">{"Account URL"|alang}</label>
								<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://myaccount.freshbooks.com)"|alang}</div>
								<div class="inputwrap">http:// <input style="width:300px;" type="text" name="freshbooks_account" id="freshbooks_account" />.freshbooks.com</div>
								<div style="margin:12px 0 0 31px;">
									<input type="button" value="{"Authorize"|alang}" onclick="import_freshbooks_authorize();" />
								</div>
							</fieldset>
							<input type="hidden" name="freshbooks_connected" id="freshbooks_connected" value="0" />
						{else}
							<span style="color: green; font-weight: bold; margin-left: 20px;">{"Freshbooks access authorized"|alang} <a class="btnsmall" href="main.php?action=subscriber_import&freshbooks_logout=1">{"Revoke"|alang}</a></span>
							<input type="hidden" name="freshbooks_connected" id="freshbooks_connected" value="1" />
						{/if}
				  </div>
				  <div id="external_config_freshbooks" style="display:none"></div>
				</div>
				<div id="external_box_zendesk" class="formfieldwrap" style="display: none;">
				  <div id="external_form_zendesk">
						<div class="ac_help_inline" style="margin-bottom: 15px;">{"Powerful yet simple multi-channel customer service software."|alang} <a href="http://www.zendesk.com/" target="blank">{"Learn More"|alang}</a></div>
						<fieldset>
							<label for="zendesk_account">{"Account URL"|alang}</label>
							<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://myaccount.zendesk.com)"|alang}</div>
							<div class="inputwrap">https:// <input type="text" name="zendesk_account" id="zendesk_account" style="width:290px;" value="{if isset($external_sources.zendesk.form_values.zendesk_account)}{$external_sources.zendesk.form_values.zendesk_account}{/if}" tabindex="1" />.zendesk.com</div>
						</fieldset>
						<fieldset>
							<label for="zendesk_username">{"Username"|alang}</label>
							<input type="text" name="zendesk_username" id="zendesk_username" class="form_input_name" style="width:290px;" value="{if isset($external_sources.zendesk.form_values.zendesk_username)}{$external_sources.zendesk.form_values.zendesk_username}{/if}" tabindex="1" />
							<label style="margin-top:10px;" for="zendesk_password">{"Password"|alang}</label>
							<input type="password" name="zendesk_password" id="zendesk_password" autocomplete="off" style="width:290px;" class="form_input_name" value="{if isset($external_sources.zendesk.form_values.zendesk_password)}{$external_sources.zendesk.form_values.zendesk_password}{/if}" tabindex="2" />
						</fieldset>
				  </div>
				  <div id="external_config_zendesk" style="display:none"></div>
				</div>
				
				<div id="external_box_wufoo" class="formfieldwrap" style="display: none;">
				  <div id="external_form_wufoo">
						<div class="ac_help_inline" style="margin-bottom: 15px;">{"Wufoo is a web application that helps anybody build amazing online forms."|alang} <a href="http://www.wufoo.com/" target="blank">{"Learn More"|alang}</a></div>
						<fieldset>
							<label for="wufoo_account">{"Account"|alang}</label>
							<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://ACCOUNT.wufoo.com)"|alang}</div>
							<div class="inputwrap">https:// <input type="text" name="wufoo_account" id="wufoo_account" style="width:290px;" value="{if isset($external_sources.wufoo.form_values.wufoo_account)}{$external_sources.wufoo.form_values.wufoo_account}{/if}" tabindex="1" />.wufoo.com</div>
						</fieldset>
						<fieldset>
							<label for="wufoo_apikey">{"API Key"|alang}</label>
							<div class="campaign_help">{"To obtain your key, log in to your Wufoo account, head to the Form Manager or Forms tab, and click the Code button beneath the name of the form for the form you want to integrate. Click the API Information button to access your API credentials."|alang}</div>
							<input type="text" name="wufoo_apikey" id="wufoo_apikey" class="form_input_name" style="width:290px;" value="{if isset($external_sources.wufoo.form_values.wufoo_apikey)}{$external_sources.wufoo.form_values.wufoo_apikey}{/if}" tabindex="1" />
						</fieldset>
				  </div>
				  <div id="external_config_wufoo" style="display:none"></div>
				</div>

				<div id="external_box_salesforce" class="formfieldwrap" style="display:none">
				  <div id="external_form_salesforce">
					<div class="ac_help_inline" style="margin-bottom: 15px;">{"Salesforce is the leader in customer relationship management (CRM) & cloud computing."|alang} <a href="http://www.salesforce.com/" target="blank">{"Learn More"|alang}</a></div>
					<fieldset>
						<label for="salesforce_token">{"Security Token"|alang}</label>
						<div class="campaign_help">{"You can obtain your security token by logging into Salesforce, and going to YOUR NAME | Setup | Reset your security token (under My Personal Information). You will then be emailed your security token."|alang}</div>
						<input type="text" name="salesforce_token" id="salesforce_token" class="form_input_name" value="{if isset($external_sources.salesforce.form_values.salesforce_token)}{$external_sources.salesforce.form_values.salesforce_token}{/if}" tabindex="3" />
					</fieldset>
					<fieldset>
						<label for="salesforce_username">{"Username"|alang}</label>
						<input type="text" name="salesforce_username" id="salesforce_username" style="width:290px;" class="form_input_name" value="{if isset($external_sources.salesforce.form_values.salesforce_username)}{$external_sources.salesforce.form_values.salesforce_username}{/if}" tabindex="1" />
						<label style="margin-top:10px;" for="salesforce_password">{"Password"|alang}</label>
						<input type="password" name="salesforce_password" id="salesforce_password" style="width:290px;" autocomplete="off" class="form_input_name" value="{if isset($external_sources.salesforce.form_values.salesforce_password)}{$external_sources.salesforce.form_values.salesforce_password}{/if}" tabindex="2" />
					</fieldset>
				  </div>
				  <div id="external_config_salesforce" style="display:none"></div>
				</div>
		
				<div id="external_box_sugarcrm" class="formfieldwrap" style="display:none">
				  <div id="external_form_sugarcrm">
					<div class="ac_help_inline" style="margin-bottom: 15px;">{"SugarCRM helps companies communicate with prospects, share sales information, close deals and keep customers happy."|alang} <a href="http://www.sugarcrm.com/crm/" target="blank">{"Learn More"|alang}</a></div>
					<fieldset>
						<label for="sugarcrm_url">{"Account URL"|alang}</label>
						<div class="campaign_help">{"Your unique URL to your SugarCRM installation. Example:"|alang} <code>http://trial.sugarcrm.com/emnvovq3634</code>. {"Do not include index.php on the end."|alang}</div>
						<input type="text" name="sugarcrm_url" id="sugarcrm_url" class="form_input_name" value="{if isset($external_sources.sugarcrm.form_values.sugarcrm_url)}{$external_sources.sugarcrm.form_values.sugarcrm_url}{/if}" tabindex="1" />
					</fieldset>
					<fieldset>
						<label for="sugarcrm_username">{"Username"|alang}</label>
						<input type="text" name="sugarcrm_username" id="sugarcrm_username" style="width:290px;" class="form_input_name" value="{if isset($external_sources.sugarcrm.form_values.sugarcrm_username)}{$external_sources.sugarcrm.form_values.sugarcrm_username}{/if}" tabindex="2" />
						<label style="margin-top:10px;" for="sugarcrm_password">{"Password"|alang}</label>
						<input type="password" name="sugarcrm_password" id="sugarcrm_password" style="width:290px;" autocomplete="off" class="form_input_name" value="{if isset($external_sources.sugarcrm.form_values.sugarcrm_password)}{$external_sources.sugarcrm.form_values.sugarcrm_password}{/if}" tabindex="3" />
					</fieldset>
				  </div>
				  <div id="external_config_sugarcrm" style="display:none"></div>
				</div>
		
				<div id="external_box_zohocrm" class="formfieldwrap" style="display:none">
				  <div id="external_form_zohocrm">
					<div class="ac_help_inline" style="margin-bottom: 15px;">{"Zoho CRM aligns your Sales and Marketing by integrating sales with campaigns, leads, sales pipeline, forecasts, etc."|alang} <a href="http://www.zoho.com/crm" target="blank">{"Learn More"|alang}</a></div>
					<fieldset>
						<label for="zohocrm_username">{"Username"|alang}</label>
						<input type="text" name="zohocrm_username" id="zohocrm_username" style="width:290px;" class="form_input_name" value="{if isset($external_sources.zohocrm.form_values.zohocrm_username)}{$external_sources.zohocrm.form_values.zohocrm_username}{/if}" tabindex="2" />
						<label style="margin-top:10px;" for="zohocrm_password">{"Password"|alang}</label>
						<input type="password" name="zohocrm_password" id="zohocrm_password" style="width:290px;" class="form_input_name" value="{if isset($external_sources.zohocrm.form_values.zohocrm_password)}{$external_sources.zohocrm.form_values.zohocrm_password}{/if}" tabindex="3" />
					</fieldset>
				  </div>
				  <div id="external_config_zohocrm" style="display:none"></div>
				</div>

				<div id="external_box_capsule" class="formfieldwrap" style="display:none">
				  <div id="external_form_capsule">
					<div class="ac_help_inline" style="margin-bottom: 15px;">{"Use Capsule to keep track of the people and companies you do business with, communications with them, opportunities in the pipeline, and what needs to be done when."|alang} <a href="http://capsulecrm.com/" target="blank">{"Learn More"|alang}</a></div>
					<fieldset>
						<label for="capsule_app">{"Account URL"|alang}</label>
						<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://myaccount.capsulecrm.com)"|alang}</div>
						<div class="inputwrap">https:// <input type="text" name="capsule_app" id="capsule_app" style="width:180px;" value="{if isset($external_sources.capsule.form_values.capsule_app)}{$external_sources.capsule.form_values.capsule_app}{/if}" tabindex="1" />.capsulecrm.com</div>
					</fieldset>
					<fieldset>
						<label for="capsule_token">{"API Token"|alang}</label>
						<div class="campaign_help">{"You can find your API token from the More | My Settings page in Capsule"|alang}</div>
						<input type="text" name="capsule_token" id="capsule_token" class="form_input_name" value="{if isset($external_sources.capsule.form_values.capsule_token)}{$external_sources.capsule.form_values.capsule_token}{/if}" tabindex="2" />						
					</fieldset>
				  </div>
				  <div id="external_config_capsule" style="display:none"></div>
				</div>
		
				<div id="external_box_tactile" class="formfieldwrap" style="display:none">
				  <div id="external_form_tactile">
						<div class="ac_help_inline" style="margin-bottom: 15px;">{"Tactile CRM lets you easily record every email, telephone call, note, activity and meeting, so that you and your colleagues can quickly see every interaction."|alang} <a href="http://tactilecrm.com/" target="blank">{"Learn More"|alang}</a></div>
						<fieldset>
							<label for="tactile_app">{"Account URL"|alang}</label>
							<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://myaccount.tactilecrm.com)"|alang}</div>
							<div class="inputwrap">https:// <input type="text" name="tactile_app" id="tactile_app" style="width:180px;" value="{if isset($external_sources.tactile.form_values.tactile_app)}{$external_sources.tactile.form_values.tactile_app}{/if}" tabindex="1" />.tactilecrm.com</div>
						</fieldset>
						<fieldset>
							<label for="tactile_token">{"API Token"|alang}</label>
						<div class="campaign_help">{"You can generate your API token from the User Preferences page in Tactile CRM"|alang}</div>
						<input type="text" name="tactile_token" id="tactile_token" class="form_input_name" value="{if isset($external_sources.tactile.form_values.tactile_token)}{$external_sources.tactile.form_values.tactile_token}{/if}" tabindex="2" />
						</fieldset>
					</div>
				  <div id="external_config_tactile" style="display:none"></div>
				</div>
		
				<div id="external_box_batchbook" class="formfieldwrap" style="display:none">
				  <div id="external_form_batchbook">
						<div class="ac_help_inline" style="margin-bottom: 15px;">{"Batchbook allows you to keep track of your business, personal, and social networking contacts and share them with the rest of your team."|alang} <a href="http://www.batchblue.com/" target="blank">{"Learn More"|alang}</a></div>
						<fieldset>
							<label for="batchbook_version">{"Version"|alang}</label>
							<div class="inputwrap">
								<select id="batchbook_version" name="batchbook_version" onchange="import_batchbook_version_change(this.value);">
									<option value="new"{if isset($batchbook_version) && $batchbook_version == "new"} selected="selected"{/if}>{"New"|alang}</option>
									<option value="classic"{if isset($batchbook_version) && $batchbook_version == "classic"} selected="selected"{/if}>{"Classic"|alang}</option>
								</select>
							</div>
						</fieldset>
						<fieldset id="batchbook_version_new">
							<label for="batchbook_account">{"Account URL"|alang}</label>
							<div class="campaign_help">{"Your account name, as it appears in the URL. Example: https://myaccount.batchbook.com. Only include the MYACCOUNT portion."|alang}</div>
							<div class="inputwrap">https:// <input type="text" name="batchbook_account_new" id="batchbook_account_new" style="width:180px;" value="{if isset($external_sources.batchbook.form_values.batchbook_account)}{$external_sources.batchbook.form_values.batchbook_account}{/if}" tabindex="1" />.batchbook.com</div>
							<br />
							<br />
							<label for="batchbook_token">{"API Key"|alang}</label>
							<div class="campaign_help">{"You can find your API key under the Preferences section in Batchbook"|alang}</div>
							<input type="text" name="batchbook_token_new" id="batchbook_token_new" class="form_input_name" value="{if isset($external_sources.batchbook.form_values.batchbook_token)}{$external_sources.batchbook.form_values.batchbook_token}{/if}" tabindex="2" />
						</fieldset>
						<fieldset id="batchbook_version_classic" style="display: none;">
							<label for="batchbook_account">{"Account URL"|alang}</label>
							<div class="campaign_help">{"Your account name, as it appears in the URL. (Example: https://myaccount.batchbook.com)"|alang}</div>
							<div class="inputwrap">https:// <input type="text" name="batchbook_account" id="batchbook_account" style="width:180px;" value="{if isset($external_sources.batchbook.form_values.batchbook_account)}{$external_sources.batchbook.form_values.batchbook_account}{/if}" tabindex="1" />.batchbook.com</div>
							<br />
							<br />
							<label for="batchbook_token">{"API Token"|alang}</label>
							<div class="campaign_help">{"You can generate your API token from the User Preferences page in Batchbook CRM"|alang}</div>
							<input type="text" name="batchbook_token" id="batchbook_token" class="form_input_name" value="{if isset($external_sources.batchbook.form_values.batchbook_token)}{$external_sources.batchbook.form_values.batchbook_token}{/if}" tabindex="2" />
						</fieldset>	
				  </div>
				  <div id="external_config_batchbook" style="display:none"></div>
				</div>
		
				<div id="external_box_heapcrm" class="formfieldwrap" style="display:none">
				  <div id="external_form_heapcrm">
						<div class="ac_help_inline" style="margin-bottom: 15px;">{"Heap CRM keeps all of your contacts, messages, e-mails, files, events, tasks and much more all together."|alang} <a href="http://heap.wbpsystems.com/" target="blank">{"Learn More"|alang}</a></div>
						<div style="margin:0 12px;">
							<label for="heapcrm_webhook_url">{"WebHook URL"|alang}</label>
							<div class="campaign_help">{"Your Heap CRM WebHook URL. You can find this under the Help section, then choose FAQs About Integration."|alang} {"Example"|alang}: <code>https://activecampaign.crmondemand.biz/webhooks.php?token=%641%24C6vEPyYi%34jT7I&loginid=4168</code></div>
							<input type="text" name="heapcrm_webhook_url" id="heapcrm_webhook_url" class="form_input_name" value="{if isset($external_sources.heapcrm.form_values.heapcrm_webhook_url)}{$external_sources.heapcrm.form_values.heapcrm_webhook_url}{/if}" tabindex="1" />
						</div>
				  </div>
				  <div id="external_config_heapcrm" style="display:none"></div>
				</div>
	
		  </div><!--/ac_blockquote-->
	
		</div><!--/external_box_configs-->
		
		<h1>{"Select Lists to Import"|alang} <span><a href="#" onclick="advanced_options_toggle(); return false;" style="position:relative; margin-left:5px; color:#999; font-weight:100!important; font-size:11px;">{"Advanced Importing Options"|alang}</a></span></h1>
	
		<div id="advanced" style="display:none; margin-left:0;">
	
			<div class="campaign_input">
				<select name="status" id="status" size="1" style="width:250px;" onchange="subimport.advoption(this.value)">
					<option value="1" selected="selected">{"Import As Active Subscriber"|alang}</option>
					<option value="2">{"Import As Unsubscribed Subscriber"|alang}</option>
					<option value="3">{"Import As Excluded Email Address"|alang}</option>
				</select>
			</div>
	
			<div class="ac_help_inline" style="margin: 10px 0;"><B>{"NOTICE"|alang}: </b>{"The following options will slow down your import process."|alang}</div>
			
			<div class="campaign_help">
				{"By checking this box, any subscribers in this import process which are already present in the system will be updated with any new subscriber information that is found during the import process. If this box is not checked, those subscribers will be skipped during the import (their subscriber details will not be updated)."|alang}
			</div>
			
			<div class="campaign_input">
				<label>
					<input type="checkbox" name="update" value="1" id="update" />
					{"Update existing subscribers while importing"|alang}
				</label>
			</div>
			
			<br />
			
			{if $campaigns_sent and !$__ishosted}
				<div class="campaign_help">
					{"When this option is checked the last campaign you sent will be sent to each subscriber as they are imported."|alang}
				</div>
				<div class="campaign_input">
					<label>
						<input type="checkbox" name="sendlast" value="1" id="sendlast" />
						{"Send the last sent campaign to each new subscriber when importing"|alang}
					</label>
				</div>
				<br />
			{/if}
			
			<div class="campaign_help" style="display: none;">
				{"If you turn off this option, the subscribers you are importing now will never receive any auto-responders; now nor in the future."|alang}
			</div>
			<div class="campaign_input" style="display: none;">
				<label>
					<input type="checkbox" name="sendresponder" value="1" id="sendresponder" checked="checked" />
					{"Send future auto-responders to these subscribers"|alang}
				</label>
			</div>
	
			{if $responders}
				<div class="campaign_help">
					{"The imported subscribers will be marked as already received these auto-responders, so these will not be sent to them."|alang}
				</div>
				<div class="campaign_input" style="display:none;">
					<label>
						<input type="checkbox" name="sentresponders" value="1" id="sentresponders" onclick="ac_dom_toggle_class('responderslist', 'ac_blockquote', 'ac_hidden');" />
						{"Mark these auto-responders as already sent"|alang}
					</label>
				</div>
				<div id="responderslist" style="display:none;">
					<div class="ac_checkboxlist">
						{foreach from=$responders item=responder}
							<div>
								<label>
									<input type="checkbox" name="responders[{$responder.id}]" value="{$responder.id}" />
									{$responder.name}
								</label>
							</div>
						{/foreach}
					</div>
				</div>
			{/if}
		</div>
	
		<div class="selectListImport">
			<ul>
				<li id="all_lists" style="display: none;"><input type="checkbox" id="check_0" name="into[0]" class="checkInput" value="0" /><label for="check_0">{"All Lists"|alang}</label></li>
				{foreach from=$lists item=list}
					<li><input type="checkbox" id="check_{$list.id}" name="into[{$list.id}]" class="checkInput" value="{$list.name}" /><label for="check_{$list.id}">{$list.name}</label></li>
				{/foreach}
			</ul>
			<div class="clear"></div>
		</div><!--/selectListImport-->
		
		{if isset($external_options)}
			<input type="hidden" name="external_options" id="external_options" value="{$external_options_step}" />
			<div id="import_loader_external_options" class="ac_modal" align="center">
			  <div class="ac_modal_inner">
				<h1>{"Import Filters"|alang}</h1>
				<p>
					<b>{"(Optional)"|alang}</b> {"Supply filters to narrow down the data imported. Leave empty/blank to request all data from the external source."|alang}
				</p>
				<table cellspacing="4" cellpadding="0" border="0" style="width: 90%">
					<tr>
						<th>{"Field"|alang}</th>
						<th>{"Filter value (optional)"|alang}</th>
					</tr>
					{foreach from=$external_options_fields key=field_name item=field_info}
						<tr>
							<td>
								{if is_array($field_info)}
									{$field_info.label}:
									{if isset($field_info.extra)}
										{$field_info.extra|help}
									{/if}
								{else}
									{$field_info}:
								{/if}
							</td>
							<td>
								{if is_array($field_info)}
									{if $field_info.type == "text"}
										<!--  plain text? -->
									{/if}
									{if $field_info.type == "textbox"}
										<input type="text" name="external_options_filters[{$field_name}]" />
									{/if}
									{if $field_info.type == "select"}
										<select name="external_options_filters[{$field_name}]" {if isset($field_info.onchange)}onchange="{$field_info.onchange}"{/if} style="width: 220px;">
											{foreach from=$field_info.options key=value item=option}
												<option value="{$value}">{$option}</option>
											{/foreach}
										</select>
									{/if}
									{if $field_info.type == "checkbox"}
										<input type="checkbox" name="external_options_filters[{$field_name}]" />
									{/if}
								{else}
									<input type="text" name="external_options_filters[{$field_name}]" />
								{/if}
							</td>
						</tr>
					{/foreach}
				</table>
			    <p style="margin-top: 35px;">
			      <input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="window.location = 'main.php?action=subscriber_import';" />
			      <input type="button" class="ac_button_next" value="{"Continue"|alang}" onclick="import_submit_step_filters(); return;" style="margin-left: 150px;" />
			    </p>
			  </div>
			</div>
			<script type="text/javascript">
				//import_set_from( $("from_external") );
				set_external('{$external}');
				{if $external == "google_spreadsheets"}
					var selects = $("import_loader_external_options").getElementsByTagName("select");
					var options = selects[0].getElementsByTagName("option");
					google_spreadsheets_toggle(options[0].value);
				{/if}
			</script>
		{else}
			<input type="hidden" name="external_options" value="1" />
		{/if}
	
	</form><!--/importCfgForm-->
	
	<div id="listingFooter" class="clearfix">
		<a class="btn" href="#" onclick="import_submit_step1_new(); return;">{"Next"|alang}</a>
	</div>
	
</div><!--/list-->

<div id="import_loader_filters" class="ac_modal" align="center" style="display: none">
  <div class="ac_modal_inner">
	  <h1>{"Processing Your Import"|alang}</h1>
		<p>
			{"Please wait while your data is fetched and parsed."|alang}
			{"On the next step you will be able to supply filters for your import."|alang}
		</p>
    <div style="margin: 20px 0;text-align:center;font-weight:bold;">
    	{"Please wait..."|alang}
    </div>
    <div style="margin: 20px 0;text-align:center;">
    	<img src="images/import-loading.gif" border="0" />
    </div>
  </div>
</div>

<div id="import_loader" class="ac_modal" align="center" style="display: none">
  <div class="ac_modal_inner">
    <h1>{"Processing Your Import"|alang}</h1>
		<p>
			{"Please wait while your data is fetched and parsed."|alang}
			{"On the next step you will be able to map found fields into this application."|alang}
		</p>
    <div style="margin: 20px 0;text-align:center;font-weight:bold;">
    	{"Please wait..."|alang}
    </div>
    <div style="margin: 20px 0;text-align:center;">
    	<img src="images/import-loading.gif" border="0" />
    </div>
    <br />
    <div>
      <input type="button" class="ac_button_close" value="{"Restart"|alang}" onclick="window.location.reload(true);" />
    </div>
  </div>
</div>

<script type="text/javascript">
{literal}

function lists_uncheck() {
	$J(".checkInput").each(function() {
		if (this.id != "check_0" && this.checked) {
			//alert("lists_uncheck(): " + this.id);
			$J("#" + this.id).click();
		}
	});
}

$J(document).ready(function(){
	$J(".subscriberColmLeft").addClass("selected").click(function() {
		$J(this).siblings().fadeTo(325, 0.4);
		$J(this).fadeTo(325, 1);
		$J("#external_box_configs").hide();
		$J(".import_external_source_selected").removeClass("import_external_source_selected");
	});
	$J(".subscriberColmRight, .externalServices li").addClass("selected").click(function() {
		$J(this).siblings().fadeTo(325, 0.4);
		$J(this).fadeTo(325, 1);
	});
	$J("#importAlert").click(function(){
		$J("#importNotify").slideToggle(100);
        return false;
    });
	$J('body').click(function(event) {
		if (!$J(event.target).closest('#importNotify').length) {
			$J('#importNotify').hide(100);
		};
	});

	// Dim the right area by default.
	$J(".subscriberColmLeft").click();
	
	$J("#filterList a.drop").click(function(e) {
		e.preventDefault();
		$J(".importListDropdown").toggle();
		$J(".drop").toggleClass("dropActive");

		ac.wait(5, function() {
			subimport.refreshimports();
		});
	});
	$J(".importListDropdown").mouseup(function() {
		return false;
	});
	$J(document).mouseup(function(e) {
		if($J(e.target).parent("a.drop").length==0) {
			$J(".drop").removeClass("dropActive");
			$J(".importListDropdown").hide();
		}
	});
	
	// source select (if &source= is in the URL)
	// file, text, or external
	if (source_select != null) {
		if (source_select == "file" || source_select == "text") {
			toggle_import_type(source_select);
		}
		else {
			$J("#external_li_" + source_select).click();
			set_external(source_select);
		}
	}
	
	$J(".checkInput").button();
	
	$J(".checkInput").change(function() {
			if (this.checked) {
				// if "All Lists" is checked
				if (this.id == "check_0") {
					// UNcheck all other lists
					lists_uncheck();
				}
				else {
					// if a specific list is checked (not "All Lists"), UNcheck "All Lists" (if it is checked)
					if ($J("#check_0").attr("checked") == "checked") {
						$J("#check_0").click();
					}
				}
			}
		});
	
	// pre-select any lists on page load? (IE: pass &listids=1,3 in URL)
	lists_select = lists_select + ""; // make it a string (if only one list ID)
	// check for multiple list ID's
	if (lists_select.match(/,/) != "null") {
		var lists_select_ = lists_select.split(",");
		for (var i = 0; i < lists_select_.length; i++) {
			var c = lists_select_[i]; 
			$J("#check_" + c).click();
		}
	}
	else {
		// one list
		var lists_select_ = lists_select;
		$J("#check_" + lists_select_).click();
	}
});
{/literal}
</script>
