<div id="list" class="ac_hidden">
  <form action="main.php?action=subscriber_action" method="GET" onsubmit="subscriber_action_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="ac_table_header_options">
        <td>
			    <select name="listid" id="JSListManager" size="1" onchange="subscriber_action_list_search()">
			      <option value="0">{"List Filter..."|alang}</option>
						{foreach from=$listsList item=p}
							<option value="{$p.id}"{if $listid == $p.id} selected="selected"{/if}>{$p.name|truncate:50}</option>
						{/foreach}
			    </select>
        </td>
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="subscriber_action_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="subscriber_action_list_clear()" />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td width="50">{"Options"|alang}</td>
          <td>{ac_headercol action="subscriber_action" id="01" label="Name"|alang}</td>
          <td>{ac_headercol action="subscriber_action" id="02" label="Type"|alang}</td>
		  <td>{ac_headercol action="subscriber_action" id="03" label="List"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="ac_hidden">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="subscriber_action_list_tabelize" paginate="subscriber_action_list_paginate"}
    </div>
    <div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="ac_hidden">
      <span class="ac_hidden">{"All items are now selected."|alang}</span>
      <span class="ac_hidden">{"All items on this page are now selected."|alang}</span>
      <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
  {if $admin.pg_subscriber_add and $admin.pg_subscriber_delete}
  {if count($listsList) < 2}
  {"You cannot add subscription rules if you have only one list."|alang}
  {else}
  <input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
  {/if}
  {/if}
  {if $admin.pg_subscriber_add and $admin.pg_subscriber_delete}
  <input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
  {/if}
</div>
