<div id="search" class="ac_modal_search" align="center" style="display:none">
  <div class="ac_modal_inner">
    <form method="GET" onsubmit="subscriber_action_search(); return false">
      <table border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>{"Search for"|alang}</td>
          <td><input type="text" name="content" id="search_content"/></td>
        </tr>
        <tr valign="top">
          <td>{"Search in"|alang}</td>
          <td>
            {foreach from=$search_sections item=s}
            <input type="checkbox" name="section[]" value="{$s.col}"> {$s.label}<br/>
            {/foreach}
          </td>
        </tr>
        <tr valign="top">
          <td>{"Involving Lists"|alang}</td>
          <td>
            <select name="listid" id="JSListFilter" size="5" multiple>
{foreach from=$listsList item=p}
              <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
             </select>
            {"Notice: Hold CTRL to select multiple lists."|help}
            <div>
              {"Select:"|alang}
              <a href="#" onclick="return ac_form_select_multiple_all($('JSListFilter'));">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return ac_form_select_multiple_none($('JSListFilter'));">{"None"|alang}</a>
            </div>
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <br/>
    <div>
      <input type="button" value='{"Search"|alang}' onclick="subscriber_action_search()" class="ac_button_ok" />
      <input type="button" value='{"Cancel"|alang}' onclick="ac_dom_toggle_display('search', 'block'); ac_ui_anchor_set(subscriber_action_list_anchor())"/>
    </div>
  </div>
</div>
<script type="text/javascript">
  subscriber_action_search_defaults();
</script>
