<div id="sublimit" class="ac_modal" style="display:none">
  <div class="ac_modal_inner">
	{if $__ishosted}
	<h1>{"Unable to delete at this time..."|alang}</h1>

	<p>{"We have noticed a substantial amount of deletions taking place--well over two times your subscriber limit, to be precise."|alang}</p>

	<p>{"This type of importing and deleting subscribers automatically flags your account as a potential sending risk.  You should never need to delete and re-import your subscribers multiple times within a given month."|alang}</p>

	<p>{"This deletion limit will be reduced with your next billing cycle--but if a lot of importing/deleting occurs in the near future it could subject your account to suspension."|alang}</p>

	<input type="button" onclick="$('sublimit').hide()" value='{"OK"|alang}' class="ac_button_ok">
	{/if}
  </div>
</div>

<div id="list" class="ac_hidden">

{if $segmentname|default:'' != ''}
<div style="text-align: center; font-size:13px;" class="ac_help_inline">
  <b>{"Showing subscribers that match segment"|alang} "<a href="main.php?action=filter#form-{$segmentid}">{$segmentname}</a>"</b> (<a href="main.php?action=subscriber">{"Show All Subscribers"|alang}</a>)
</div>
{/if}

  <form action="main.php?action=subscriber" method="GET" onsubmit="subscriber_list_search(); return false">
	<table cellspacing="0" cellpadding="0" width="100%">
	  <tr class="ac_table_header_options">
		<td>
		  <select name="listid" id="JSListManager" size="1" onchange="subscriber_list_search()">
				<option value="0">{"All Subscribers"|alang}</option>
				{foreach from=$listsList item=p}
				<option value="{$p.id}">{$p.name|truncate:50}</option>
				{/foreach}
		  </select>
		  <select name="status" id="JSStatusManager" size="1" onchange="subscriber_list_search()">
			<option value="1" {1|ac_isselected:$statfilter}>{"Active"|alang}</option>
			<option value="0" {0|ac_isselected:$statfilter}>{"Unconfirmed"|alang}</option>
			<option value="2" {2|ac_isselected:$statfilter}>{"Unsubscribed"|alang}</option>
			<option value="3" {3|ac_isselected:$statfilter}>{"Bounced"|alang}</option>
			{*
			<option value="3" {3|ac_isselected:$statfilter}>{"Excluded"|alang}</option>
			<option value="4" {4|ac_isselected:$statfilter}>{"Globally Excluded"|alang}</option>
			*}
			<option value="" {''|ac_isselected:$statfilter}>
			  {"All Subscribers"|alang}
			</option>
		  </select>
		</td>
		<td align="right">
		  <div>
			{include file='autocomplete.inc.htm' fieldPrefix='subscriber' fieldID='list_search' fieldName='qsearch' fieldValue=$filter_content}
			<input type="button" value='{"Search"|alang}' onclick="subscriber_list_search()" />
			<input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="subscriber_list_clear();" />
			&nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
		  </div>
		</td>
	  </tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="list_head">
		<tr class="ac_table_header">
		  <td align="center" width="20">
			<input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
		  </td>
		  <td style="width: 95px;">{"Options"|alang}</td>
		  <td>{ac_headercol action="subscriber" id="01" label="Email"|alang}</td>
		  <td>{ac_headercol action="subscriber" id="02" label="Name"|alang}</td>
		  <td width="70">{ac_headercol action="subscriber" id="03" label="Date Added"|alang}</td>
		  {foreach from=$fields item=f}
		  {if $f.show_in_list and ($listfilter > 0 and ($f.relid == $listfilter or $f.relid == 0))}
		  <td>{$f.title}</td>
		  {/if}
		  {/foreach}
		</tr>
	  </thead>
	  <tbody id="list_table">
	  </tbody>
	</table>
	<div id="list_noresults" class="ac_hidden">
	  <div align="center">{"Nothing found."|alang}</div>
	</div>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" tabelize="subscriber_list_tabelize" paginate="subscriber_list_paginate" limitize="subscriber_list_limitize"}
	</div>
	<div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
	<span id="selectXPageAllBox" class="ac_hidden">
	  <span class="ac_hidden">{"All subscribers are now selected."|alang}</span>
	  <span class="ac_hidden">{"All subscribers on this page are now selected."|alang}</span>
	  <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
	</span>
  </form>

  <br />
  <div>
	{if $canAddSubscriber}
		<input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
	{/if}

	{if $admin.pg_subscriber_delete}
		<input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
	{/if}
	&nbsp;&nbsp;&nbsp;
	{if $canAddSubscriber and $statfilter == 0 and $listfilter > 0 and $optins > 0}
		<input type="button" id="list_optin_button" value="{"Send Email Reminder"|alang}" onclick="ac_ui_anchor_set('optin_multi')" />
	{/if}
	&nbsp;&nbsp;&nbsp;
	{if $canImportSubscriber}
		<input type="button" value="{"Import"|alang}" onclick="window.location = 'main.php?action=subscriber_import';" />
	{/if}

	{if $admin.pg_subscriber_export}
		<input type="button" value="{"Export..."|alang}" onclick="subscriber_list_export();" />
		<span id="list_button_newlist" style="display:none">
		  <input type="button" value="{'Export to New List'|alang}" onclick="window.location.href = '#exportlist-' + subscriber_list_filter.toString(); return false" />
		</span>
	{else}
		<span id="list_button_newlist" style="display:none"></span>
	{/if}



	<div id="exportOffer" class="ac_hidden">
	  <div class="ac_modal" align="center">
		<div class="ac_modal_inner">
		  <h1>{"Export Subscribers"|alang}</h1>
		  <div>
			{"Format:"|alang}<br />
			<select id="list_export_type" name="type" size="1" onchange="subscriber_list_exportformat(this.value)">
			  <option value="csv" selected>{"Comma Seperated (CSV)"|alang}</option>
			  <option value="xls">{"Microsoft Excel (XLS)"|alang}</option>
			  <option value="xml">{"XML"|alang}</option>
			</select>
		  </div>
		  <div><br />

			<div>{"Fields:"|alang}</div>

			<div class="subscriber_export_fieldlist">

			  <div>
				<label><input type="checkbox" name="fields[]" value="id" checked /> {"ID#"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="email" checked /> {"E-mail"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="listname" checked /> {"List Name"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="first_name" checked /> {"First Name"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="last_name" checked /> {"Last Name"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="status" checked /> {"Status"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="cdate" checked /> {"Date Added"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="sdate" checked /> {"Date Subscribed"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="udate" /> {"Date Unsubscribed"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="ip" checked /> {"IP Address"|alang}</label>
			  </div>
			  <div>
				<label><input type="checkbox" name="fields[]" value="ua" checked /> {"User Agent"|alang}</label>
			  </div>
			  {foreach from=$fields item=f}
			  <div>
				<label><input type="checkbox" name="fields[]" value="{$f.id}" checked /> {$f.title}</label>
			  </div>
			  {/foreach}
			  <div id="exportFields"></div>
			</div>
			<br clear="left" />
		  </div>
		  <br />
		  <div>
			{"How Many:"|alang}<br />
			<select name="what" id="exportOfferWhat" size="1">
			  <option value="page">{"This Page Only"|alang}</option>
			  <option value="list" selected id="exportOfferAllPages">{"All Pages"|alang}</option>
			</select>
		  </div>
		  <br />

		  <div>
			<input type="button" value="{"Export"|alang}" onclick="subscriber_list_export_build();" class="ac_button_ok" />
			<input type="button" value="{"Close"|alang}" onclick="subscriber_list_export(); ac_ui_anchor_set(subscriber_list_anchor())" />
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
