<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="subscriber_action.js"}
</script>

<h1>{"Subscriber Actions"|alang}<span id="subscriber_action_list_count" class="ac_hidden"></span></h1>

{include file="subscriber_action.list.htm"}
{include file="subscriber_action.form.htm"}
{include file="subscriber_action.delete.htm"}
{include file="subscriber_action.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(subscriber_action_process, true);
</script>
