<div>
	{if $templates_context == "campaign"}
		<div class="tpl_selector_head">
			<div style="float: right">
				<input id="searchkey" type="text" value="{"Search..."|alang}" onkeyup="{$templates_js_prefix}typesearch(this.value);" onclick="this.value=''; this.style.color='#000'; {$templates_js_prefix}typesearch(this.value);" style="color:#ccc;" />
			</div>

			<div style=" height:17px; padding-top:5px;">
				<div style=" padding-right: 20px; float: right; font-size: 12px"><a href="#" onclick="{$templates_js_prefix}template_view('list'); return false"><span id="span_list" class="campaign_template_textnotselected">{"List"|alang}</span></a></div>
				<div style="padding-right: 20px; float: right; font-size: 12px"><a href="#" onclick="{$templates_js_prefix}template_view('images'); return false"><span id="span_images" class="campaign_template_textselected">{"Images"|alang}</span></a></div>
			</div>
	  </div>

		<div class="tpl_selector" style="height:600px; overflow:hidden;">

			<div class="tpl_selector_nav">
				<a href="#" onclick="{$templates_js_prefix}template_switch('tdisplay'); return false"><span id="span_tdisplay" class="campaign_template_textselected">{"All templates"|alang}</span></a>
				<div style="padding-top:8px;">
					<a href="#" onclick="{$templates_js_prefix}template_switch('cdisplay'); return false"><span id="span_cdisplay" class="campaign_template_textnotselected">{"Past campaigns"|alang}</span></a>
				</div>

				<div style="margin-top: 16px; padding-top: 10px; border-top: 1px dotted #ccc; color: #999; {if count($tags) == 0}display:none{/if}">
					{"Template categories:"|alang}
					<br />
					<br />
					<ul id="taglist" style=" padding-left:15px; font-size:12px; list-style:none;">
						{foreach from=$tags item=e}
							{if $e.count > 0}
								<li style="margin-bottom:8px;"><a href="#" onclick="{$templates_js_prefix}template_usetag({$e.id})" style="color:#999;"><span id="tag_{$e.id}">{$e.tag|capitalize}</span></a> <span style="color:#999">({$e.count})</span></li>
							{/if}
						{/foreach}
					</ul>
				</div>
			</div>

			<div style="background:#fff; height: 600px; overflow-y: scroll;">
				<div style="padding:15px;">
					<div id="choices"></div>

					<div id="emptysearch" style="display:none;">
						{"There are no results for your search terms."|alang}
					</div>
					
					<div id="emptylist" style="padding-bottom:20px;display:none;">
						{"You currently do not have any templates that you can edit."|alang}
					</div>

					<div id="emptylist_c" style="padding-bottom:20px;display:none;">
						{"There are no items to choose from."|alang}
					</div>

					<div id="loadmore" onclick="{$templates_js_prefix}template_loadmore()" style="background:#f2f1ed; padding:10px; font-size:15px; color:#aba89b; text-align: center; clear: both; cursor: pointer">
						{"Load more..."|alang}
					</div>
				</div>
			</div>

		</div>
	{else}
		{* TEMPLATE CONTEXT *}
		<div>
			<div id="choices" style=" padding-left:5px"></div>

			<div id="emptysearch" style="padding-bottom:10px;display:none;">
				{"There are no results for those filters."|alang}
			</div>

			<div id="emptylist" style="padding-bottom:10px;display:none;">
				{"You currently do not have any templates that you can edit."|alang}
			</div>

			<div id="loadmore" onclick="{$templates_js_prefix}template_loadmore()" style="background:#f2f1ed; padding:10px;padding-bottom:30px; font-size:15px; color:#aba89b; text-align: center; clear: both; cursor: pointer">
				{"Load more..."|alang}
			</div>
		</div>
	{/if}

</div>
