<div id="import" class="ac_hidden">
  <form method="POST" onsubmit="template_import_save(); return false">
    <table border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td>
          <label for="nameImportField">{"Template Name"|alang}</label>
        </td>
        <td>
          <input type="text" name="name" id="nameImportField" value="" size="45" />
          {"Brief Description for you to recognize. Does NOT affect your actual template."|help}
        </td>
      </tr>
		  {if ac_admin_ismaingroup()}
			  <tr>
					<td>{"Visibility"|alang}:</td>
					<td>
						<input type="radio" name="template_scope2" id="template_scope_all2" value="all" onclick="template_import_lists_toggle_scope(this.value);" />
						<label for="template_scope_all2">{"Available for all lists and users"|alang}</label>
						<br />
						<input type="radio" name="template_scope2" id="template_scope_specific2" value="specific" onclick="template_import_lists_toggle_scope(this.value);" />
						<label for="template_scope_specific2">{"Available for specific lists"|alang}</label>
					</td>
			  </tr>
		  {else}
			  <tr>
					<td></td>
					<td>
						<div style="display: none;">
							<input type="radio" name="template_scope2" id="template_scope_all2" value="all" />
							<input type="radio" name="template_scope2" id="template_scope_specific2" value="specific" />
						</div>
					</td>
			  </tr>
		  {/if}
		  <tbody id="template_import_lists">
	      <tr valign="top">
	        <td>{"Used in Lists:"|alang}</td>
	        <td>

						<input id="parentsList2" type="checkbox" value="p[]" checked="checked" style="display: none;" />
						<div class="ac_checkboxlist">
							{foreach from=$listsList item=p}
								<div>
									<label>
										<input type="checkbox" id="p_{$p.id}" name="p[]" value="{$p.id}" {if count($listsList) == 1}checked="checked"{/if} />
										{$p.name|truncate:50}
									</label>
								</div>
							{/foreach}
						</div>
						<div align="right" style="width: 300px;">
							<a href="javascript: $('parentsList2').checked = true; ac_form_check_all($('parentsList2'));">{"Select All"|alang}</a>
							|
							<a href="javascript: $('parentsList2').checked = false; ac_form_check_all($('parentsList2'));">{"Select None"|alang}</a>
						</div>

	        </td>
	      </tr>
      </tbody>
      <tr>
        <td valign="top">
          <label for="import_file">{"Upload File"|alang}</label>
        </td>
        <td id="template_import_upload_td"></td>
      </tr>
    </table>

    <div id="template_import_upload_div" class="ac_hidden">
      {ac_upload id='import_file' name='import' action='template_import' limit=1}
			<div class="external_form_help">
			  {"Must be an XML file formatted specifically for importing into this mailing software."|alang}
			</div>
    </div>

    <br />
    <div>
      <input type="button" id="import_submit" class="ac_button_import" value="{"Import"|alang}" onclick="template_import_save()" />
      <input type="button" id="import_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    	{if ac_admin_ismaingroup()}
	    	<span style="float: right;">
	    		<input type="button" value="{"Re-Import Stock Templates"|alang}" onclick="template_import_stock();" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px;" />
	    		{"This button will re-import all stock templates. PLEASE NOTE: This will only import global stock templates you are missing. If you already have some stock templates, but have modified them, it will NOT overwrite customizations made."|help}
	    	</span>
    	{/if}
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>
