<div id="form" class="ac_hidden">
	<form method="POST" onsubmit="template_form_save(template_form_id); return false">
		<input type="hidden" name="id" id="form_id" />



		<div class="campaign_help">
			{"Enter your template name.  This is only used for your own reference.  Your visitors will not see this."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<input type="text" tabindex="1" name="name" id="nameField" class="form_input_name" value=""  />
		</div>

		<h2 style="margin-top:20px;">{"Subject & Message"|alang}</h2>
		<div class="campaign_help">
			{"A subject is optional.  You will be able to set a subject when creating a campaign using this template."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<input type="text" tabindex="2" name="subject" id="subjectField" class="form_input_name" />




			<div id="templatehtml" class="ac_hidden" style="margin-top:20px;">
				<div style="position:relative; margin:0px; padding-bottom:0px; width:100%; overflow:hidden;">

					<div style="position:absolute; right:0; top:18px; width:auto; z-index:10;">
						<div align="right" style="vertical-align: middle;">
							{* if $templatesCnt}
							<a href="#" onclick="form_editor_template_open('html', 'templateEditor');return false;" style="padding:2px; background:url(images/editor_template.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Template'|alang}</a>
							{/if *}
							<a href="#" onclick="form_editor_activerss_open('html', 'templateEditor');return false;" style="padding:2px; background:url(images/editor_activerss.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert RSS'|alang}</a>
							<a href="#" onclick="form_editor_conditional_open('html', 'templateEditor');return false;" style="padding:2px; background:url(images/editor_conditional.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Conditional Content'|alang}</a>
							<a href="#" onclick="form_editor_personalize_open('html', 'templateEditor'); return false;" style=" margin-right:8px; padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
						</div>
					</div>

					<ul id="navtabs">
						<li id="templateEditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
						<a href="#" onclick="return toggleEditor('template', true, ac_editor_init_word_object);" style="border-bottom:0px;"><span>{"Visual Editor"|alang}</span></a>
						</li>
						<li id="templateEditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
						<a href="#" onclick="return toggleEditor('template', false, ac_editor_init_word_object);" style="border-bottom:0px;"><span>{"Code Editor"|alang}</span></a>
						</li>
					</ul>

					<div id="templateEditorLinkDefault" class="ac_hidden" style="margin:-13px 0 0!important; padding:20px 16px!important; font-size:12px; color:#333; border:1px solid #ccc!important; border-bottom:0!important; background:#fff!important;">
						<a href="#" onclick="return setDefaultEditor('template');" style="color:#666666;">{"Set as default editor mode"|alang}</a>
					</div>
				</div>
				<textarea tabindex="3" name="html" id="templateEditor" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px; border:1px solid #CCCCCC; margin:0px;"></textarea>
				{if $admin.htmleditor}<script>toggleEditor('template', true, ac_editor_init_word_object);</script>{/if}
			</div>
		</div>

		<h2 style="margin-top:20px;">{"Where will this template be available?"|alang}</h2>
		<div class="campaign_input" style="margin-bottom:20px;">
			<table border="0" cellspacing="0" cellpadding="5">
				
				{if ac_admin_ismaingroup()}
					<tr>
						<td>
							<input type="radio" name="template_scope" id="template_scope_all" value="all" onclick="template_form_lists_toggle_scope(this.value);" />
							<label for="template_scope_all">{"Available for all lists and users"|alang}</label>
							<br />
							<input type="radio" name="template_scope" id="template_scope_specific" value="specific" onclick="template_form_lists_toggle_scope(this.value);" />
							<label for="template_scope_specific">{"Available for specific lists"|alang}</label>
						</td>
					</tr>
				{else}
					<tr>
						<td>
							<div style="display: none;">
								<input type="radio" name="template_scope" id="template_scope_all" value="all" />
								<input type="radio" name="template_scope" id="template_scope_specific" value="specific" />
							</div>
						</td>
					</tr>
				{/if}
				<tbody id="template_form_lists">
					<tr valign="top">
						<td>

							<div id="parentsList_div" class="ac_checkboxlist">
								{foreach from=$listsList item=p}
								<div>
									<label>
										<input type="checkbox" id="p_{$p.id}" class="parentsList" name="p[]" value="{$p.id}" {if count($listsList) == 1}checked="checked"{/if} />
										{$p.name|truncate:50}
									</label>
								</div>
								{/foreach}
							</div>
							<div>
								{"Select:"|alang}
								<a href="#" onclick="parents_box_select(1, 0); return false;">{"All"|alang}</a>
								&middot;
								<a href="#" onclick="parents_box_select(0, 0); return false;">{"None"|alang}</a>
							</div>

							{* when we removed the format field, there were still some JS global functions referencing the below elements *}
							<input type="hidden" id="templateformatField" />
							<input type="hidden" id="templatetext" />
							<input type="hidden" id="templatetextField" />

						</td>
					</tr>
				</tbody>

			</table>
		</div>

		<h2 style="margin-top:20px;">{"Tags"|alang}</h2>
		<div class="campaign_help">
			{"Enter tags to categorize this template.  Tags are like categories.  Examples: Holiday, Travel, Sale etc.."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<span id="tags_hidden" style="display: none;"></span>
			<input name="tags" id="tags" value="" />
		</div>
		<h2 style="margin-top:20px;">{"Test your template"|alang}</h2>
		<div class="campaign_input" style="margin-bottom:20px;">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td>

						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									{include file='autocomplete.inc.htm' fieldPrefix='subscriber' fieldID='subscriberEmailTestField' fieldName='testemail' fieldSize='25' fieldValue=$admin.email fieldStyle='width:250px;'}
									<script>$('subscriberEmailTestField').onkeypress = ac_ui_stopkey_enter;</script>

									<input type="hidden" name="testemailtype" value="mime">
									<input type="hidden" name="testemailsplit" value="">
									<input type="button" value='{"Send Test"|alang}{if $demoMode} (Disabled){/if}' onclick="template_form_save(template_form_id, template_form_save_dummy); ac.wait(1, template_send_emailtest);" class="ac_button_ok" {if $demoMode}disabled="disabled"{/if} style=" font-size:11px;" />
								</td>
							</tr>
						</table>                    
					</td>
					<td align="right"><a href="#" id="btnadd" onclick="template_form_save(template_form_id, template_form_save_dummy); ac.wait(1, template_open_inboxpreview); return false" style="text-decoration:none; font-size:11px;">{"Email Preview"|alang}</a> <a href="#" id="btnadd" onclick="template_form_save(template_form_id, template_form_save_dummy); ac.wait(1, template_run_spamcheck); return false" style="text-decoration:none;  font-size:11px;">{"Spam Filters"|alang}</a></td>
				</tr>
			</table>
		</div>




		<div id="template_check_spam" class="ac_modal" align="center" style="display:none;">
			<div class="ac_modal_inner" align="left">
				<div id="spamcheck_result">{"Checking your email against spam filters..."|alang}</div>
				<div id="spamcheck_details" style="display:none;">
					<div>{"Things that could cause your message to be flagged as spam:"|alang}</div>
					<div id="spamcheck_table"></div>
				</div>

				<div class="spaced">
					<input type="button" value='{"OK"|alang}' onclick="$('template_check_spam').hide()">
				</div>
			</div>
		</div>



		<div style="margin-top:20px;">
			<div id="template_form_options_other" style="display: none; float: right">
				<input id="form_export_button" class="ac_inline" type="button" onclick="template_export_check(template_form_id);" value="{"Export"|alang}">
				{if $admin.pg_template_delete}
				<input id="form_delete_button" class="ac_inline" type="button" onclick="template_delete_check(template_form_id);" value="{"Delete"|alang}">
				{/if}
			</div>

			<input type="button" id="form_submit" class="ac_button_add" value="{"Save Changes"|alang}" onclick="template_form_save(template_form_id)" />
			<input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
		</div>

		<input type="submit" style="display:none"/>
	</form>
</div>
