<div id="preview_" style="display: none;">
	{include file="template.list.inc.htm"}
	<input type="hidden" name="basetemplateid" id="basetemplateid" value="0" />
	<input type="hidden" name="basemessageid" id="basemessageid" value="0" />
	
	<script type="text/javascript">
		template_display();
	</script>
	
	<div id="template_clearfix" class="clearfix"></div>
	
	{if $admin.pg_template_add}
		<input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
		<input type="button" value="{"Import"|alang}" onclick="ac_ui_anchor_set('import')" />
	{/if}

</div>