
{if $admin.id == 1 and isset($site.adminsMax) and isset($site.adminsCnt) and isset($site.adminsLeft)}
<div class="ac_help_inline" style="margin-bottom:20px; height:30px; line-height:30px;">
  {if $admin.id == 1 and !$site.limited}

  <div style="position:absolute; top:3px; right:0;">
	<form id="checkupdateform" method="post" action="http://www.activatelicense.com/reg/usru.php" style="border:none!important;">
	  <input name="dl_d" type="hidden" id="dl_d" value="{$site.d_r}">
	  <input name="dl_h" type="hidden" id="dl_h" value="{$site.d_h}">
	  <input name="t" type="hidden" id="t" value="{$app_id}">
	  <input name="u" type="hidden" id="u" value="1">
	  <input name="ac" type="hidden" id="ac" value="{$site.ac}">
	  <input name="dl_s" type="hidden" id="dl_s" value="{$site.serial}">
	  <input name="dl_url" type="hidden" id="dl_url" value="{$site.p_link}">
	  <input type="button" value="{"Purchase More User Spots"|alang}" onclick="window.open('http://www.activecampaign.com/support/manage.php');">
	  <input type="button" value="{"Check For Updated Licenses"|alang}" onclick="checkupdate(); this.disabled='true';">
	</form>
  </div>
  <script type="text/javascript">
	var checkupdate_notenough = '{"Internal error: the update check result is not properly formatted."|alang}';
	{literal}
	function checkupdate() {
	  var post = ac_form_post("checkupdateform");
	  post.xml = 1;
	  ac_ajax_proxy_call_url(ac_str_url(".."), "http://www.activatelicense.com/reg/usru.php", post, ac_ajax_cb(checkupdate_cb));
	}

	function checkupdate_cb(ary) {
	  ary = ary.message.toString().split("|");

	  // The first component of ary is the result message, and the second is
	  // the acu code.  It may not be the hash if something went wrong.

	  if (ary.length < 2)
		alert(checkupdate_notenough);
	  else if (ary[1] == "0")
		alert(ary[0]);
	  else
		updateacu(ary[0], ary[1]);
	}

	function updateacu(msg, acu) {
	  ac_ajax_post_cb("api.php", "site_updateacu", ac_ajax_cb(updateacu_cb), { msg: msg, acu: acu });
	}

	function updateacu_cb(ary) {
	  alert(ary.message);
	  //window.location.href = ac_str_url("main.php?action=user");
	}
	{/literal}
  </script>
  {/if}
  {"You have a total of %d admin user spots. %d admin user spots are left and %d admin user spots have been used."|alang:$site.adminsMax:$site.adminsLeft:$site.adminsCnt}
</div>
{/if}
