._form {
	position:relative;
	background:#fff;
	width:400px;/*F*/
	padding:0!important;
	text-align:left;
}
._form em {
	color:#9a9a9a;
}
._form a {
	margin-left:3px;
}
._form ._field,
._form ._field ._label,
._form ._type_radio,
._form ._type_checkbox,
._form ._type_captcha,
._form ._field table {
	background:none;
}
._form ._field  {
	position:relative;
	width:100%;
	cursor:move;
	font-style:normal;
	margin:1.2em 0;
	padding:0;
	overflow:hidden;
}
._form ._field input[type="text"] {
	width:95%;
	padding:8px;
	font-size:16px;
	border:1px solid #b6b6b6;
}
._form ._field ._label {
	display:block;
	margin:0 0 0.5em;
	padding:0!important;
	font-size:15px;
}
._form ._field ._option input[type="checkbox"],
._form ._field ._option input[type="radio"] {
	position:relative;
	width:13px;
	height:13px;
	margin:-4px 0 0;
	cursor:pointer;
	vertical-align:middle;
	background:#fff;
}
._form ._field ._option input[type="submit"],
._form ._field ._option input[type="button"] {
	margin:0;
	cursor:pointer;
	height:35px;
	width:auto;
	font-size:15px;
}
._form ._field ._option select {
	display:block;
	margin:0;
	padding:0;
	width:auto;
	font-size:15px;
	border:1px solid #b6b6b6;
}
._form ._type_radio ._option,
._form ._type_checkbox ._option {
	font-size:13px;
	font-weight:normal;
	line-height:1.8;
}
._form ._type_date ._option input[type="text"] {
	float:left;
	width:100px;
}
._form ._type_date ._option input[type="button"] {
	width:37px;
	height:36px;
	margin-left:5px;
	padding:20px;
	background:url(../images/icon_calendar.gif) no-repeat 0 0;
	border:none;
	outline:none;
	text-indent:-9999px;
}
._form ._type_captcha img {
	float:left;
	margin:0 6px 0 0;
	width:70px;
	height:33px;
	border:1px solid #b6b6b6;
}
._form ._type_captcha input[type="text"] {
	margin:-14px 0 0 0!important;
	width:25%;
}
._form ._field table  {
	width:100%!important;
}
._form ._field table tbody tr td  {
	width:50%!important;
	font-size:15px;
}
