*{margin:0; padding:0; background:#000000;}
#actstream #streamview tr td {padding:8px 14px!important;}
#actstream #streamview tr td.streaminfo {width:22%;}
#actstream #streamview tr td.viewer {width:30%; text-align:left;}
#actstream #streamview tr td.viewer div.avatarstream {}