
.theme_container{
	width:97%;

}

.theme_top_bar{
	font-size:12px;
	padding:0px;
	text-align:right;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:0px;
	padding-right:0px;
	color:#999;
	background:#E3E1D7;
	margin-bottom:15px;

}
.theme_top_bar a, .theme_top_bar a:visited{
	padding:6px;
	padding-left:8px;
	padding-right:8px;
	background:#edece7;
	margin-left:10px;
	text-decoration:none;
	color:#999;
	z-index:999;

}

.theme_top_bar a:hover{
	background:#fff;
	color:#333;
	z-index:999;
	padding-bottom:10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;

}

.theme_header{
		
	background:#0E3E75;
	margin-top:0px;
	color:#FFFFFF;
	padding:25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-box-shadow: 3px 3px 4px #E0DFDC;
	-webkit-box-shadow: 3px 3px 4px #E0DFDC;
	box-shadow: 3px 3px 4px #E0DFDC;
	padding-bottom:20px;
	margin-top:15px;
	

}
.theme_navigation{
	background:#0E3E75;
	padding-left:25px;
	font-size:17px;
	color:#0E3E75;
}

.menu_integration_tab {
	margin-right:10px !important;
	float:right !important;
}

.theme_navigation div.menu_integration_tab_on a,
.theme_navigation div.menu_integration_tab_on a:visited {
	color: #0E3E75;
}

.menu_settings_tab {
	margin-right:25px !important;
	float:right !important;
}

.theme_navigation div.menu_settings_tab_on a,
.theme_navigation div.menu_settings_tab_on a:visited {
	color: #0E3E75;
}


.theme_navigation div{
	float:left;
	background:#305988;
	padding:8px;
	padding-left:13px;
	padding-right:13px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	margin-right:10px;

}
.theme_navigation div a, .theme_navigation div a:visited{
	text-decoration:none;
	color:#fff;
}
.theme_navigation div a:hover{
	color:#EBFF9D;
}
.theme_navigation .selected a, .theme_navigation .selected a:visited, .theme_navigation .selected a:hover{
	color:#0E3E75;
}

.theme_header_software{
	font-size:20px;
	font-family:Helvetica;
	letter-spacing:-1;
	font-weight:normal;
	text-shadow: #000 1px 1px 1px;
}

.theme_header_software a, .theme_header_software a:visited{
	color:#fff;
	text-decoration:none;
}

.theme_content{
	background:#fff;
	padding:25px;
	padding-top:15px;
	-moz-box-shadow: 3px 3px 4px #E0DFDC;
	-webkit-box-shadow: 3px 3px 4px #E0DFDC;
	box-shadow: 3px 3px 4px #E0DFDC;
	border:1px solid #E0DFDC;
	border-top:0px;
	min-height:350px;
}

h1{
	font-size:21px;
	font-family:Helvetica;
	font-weight:normal;
	margin:0px;
	margin-bottom:10px;
}
h1>select{
	font-size:21px;
	font-family:Helvetica;
	font-weight:normal;
	margin:0px;
	margin-bottom:10px;
}
h2{
	font-size:17px;
	font-family:Helvetica;
	font-weight:normal;
	margin:0px;
	margin-bottom:10px;
}

.group_selector{
	background:url(../images/group_selector_blue.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:10px;

}
.theme_footer{
	margin-top:15px;
	margin-bottom:10px;
}
.theme_footer_box{
	background:#F3F3F0;
	padding:25px;
	padding-top:15px;
	-moz-box-shadow: 3px 3px 4px #EAE9E4;
	-webkit-box-shadow: 3px 3px 4px #EAE9E4;
	box-shadow: 3px 3px 4px #EAE9E4;
	border:1px solid #EAE9E4;
	border-top:0px;
	color:#999;
}

.theme_footer h2{
	font-size:16px;
	font-family:Helvetica;
	font-weight:normal;
	margin:0px;
	margin-bottom:10px;
	color:#999999;
}

.theme_footer_copyright{
	font-size:10px;
	margin-top:15px;
	padding-left:25px;
	padding-right:25px;
	color: #afafaf;
	margin-bottom:10px;
}
.theme_footer_copyright a, .theme_footer_copyright a:visited{
	color: #afafaf;
}

.search{
	float:right;
	color:#FFFFFF;
	padding:20px;
	padding-top:18px;
	padding-bottom:0px;
	width:196px;
}
.search_input{
	float:left;
	background:#fff;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	padding-left:5px;
	overflow:hidden;
	width:165px;

}
.search_input input{
	border:0px;
	font-size:11px;
	height:20px;
	width:195px;
}

.search_button{
	float:right;
	
	padding:4px;
height:14px;
	padding-left:8px;
	padding-right:8px;
	background:#E7EDF4;
	color:#636971;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	cursor:pointer;
	font-weight:normal;
}
.create_campaign_button{
	float:right;
	padding:4px;
	height:14px;
	padding-left:8px;
	padding-right:8px;
	background:#E7EDF4;
	color:#636971;
	margin-left:15px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	cursor:pointer;
}

.create_campaign_button a, .create_campaign_button a:visited{
	text-decoration:none;
	color:#636971;	
	font-weight:normal;
	font-style:normal;
	font-size:11px;
}
.create_campaign_button a:hover{
	text-decoration:none;
	color:#000;	
	font-weight:normal;
	font-style:normal;
	font-size:11px;
}
.group_emulator{
	position:relative;
	background:#fff;
	width:150px;
	border:1px solid #E0DFDC;
	border-bottom:0px;
	margin-top:3px;

}
.group_emulator a, .group_emulator a:visited{
	padding:3px;
	padding-left:8px;
	padding-right:8px;
	background:#fff;
	display:block;
	margin-left:0px;
	text-decoration:none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	font-size:11px;
	border-bottom:1px solid #E0DFDC;
}
.group_emulator a:hover{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:#fff;
	color:#333;
}
#admin_side{
	float:right;
	min-height:300px;
	margin-left:25px;
	width:160px;

}
.side_nav{
	border-left:1px solid #E0DFDC;
	background:url(../images/side_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
	border-bottom:1px solid #EBEBEB;

}
.side_nav_section{
	background:#E0DFDC;
	padding:7px;
	font-size:12px;
	padding-left:15px;
	color:#666;
	text-shadow: #FAFAF8 1px 1px 1px;
}
.side_nav_options{
	padding-top:5px;
	padding-bottom:5px;
}
.side_nav_options a, .side_nav_options a:visited{
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	font-size:12px;
}

.side_nav_button{
	padding:10px;
	font-size:14px;
	text-align:center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom:15px;
	font-weight:bold;
	text-shadow: #5D9224 1px 1px 1px;
	background-color:#68A428;

}
.side_nav_button_hover{
	box-shadow: 0 0 10px #B1FF2A;
	-webkit-box-shadow: 0 0 10px #B1FF2A;
	-moz-box-shadow: 0 0 10px #B1FF2A;
}

.side_nav_button a, .side_nav_button a:visited{
	color:#FFFFFF;
	text-decoration:none;
	display:block;

}
#admin_content{ text-align:left; display:block; overflow:hidden; min-height:250px; }
.side_nav_section_advanced{
	margin-top:15px;
	background:#EAEAEA;
	padding:7px;
	font-size:12px;
	padding-left:15px;
	color:#999;
	text-shadow: #FAFAF8 1px 1px 1px;
}

.advanced a, .advanced a:visited{
	color:#999999;
}
.advanced a:hover{
	color:#666;
}
.help_links{
	font-size:11px;

	color:#999999;
}
.help_links a, .help_links a:visited{
	color:#999;
}
.help_links a:hover{
	color:#666;
}
.help_tip{
	line-height:200%;
	color: #575757;
	font-size: 13px;
	margin: 0 0 10px 13px;
}
.help_connect_icons{
	margin-top:10px;
}

.ac_checkboxlist{
	border:1px solid #E0DFDC;
	padding-top:2px;
	padding-bottom:2px;
	overflow:scroll;
	font-size:12px;
	width:300px;

}
.ac_checkboxlist label{
	display:block;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:1px solid #EFEFED;
}
.ac_button_next{
	font-size:14px;
	font-weight:bold;
}

.campaign_help{
	padding:10px;
	font-size:12px;
	background:#fbfced;
	border:1px solid #f2f1ea;
	border-bottom: 1px dotted #ccc;
	color:#a8a98d;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
}
.border_top_5{
		border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;

}
.border_bottom_5{
		border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;

}
.border_5{
		border-radius: 5px;
	-moz-border-radius: 5px;

}
.campaign_help a, .campaign_help a:visited{
	color:#a8a98d;
}
.campaign_input{
	padding:10px;
	background:#f2f1ea;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;

}
.campaign_label{
	font-size:14px;
}

.campaign_summary{
	margin-bottom: 10px; padding: 10px; 
	background-color: #f2f1ea; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size:13px;
	color:#5b5b59;
}

.campaign_summary_green{
	margin-bottom: 10px; padding: 10px; background-color: #d8f4b0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size:13px;
	color:#538609;
}
.campaign_summary_red{
	margin-bottom: 10px; padding: 10px; background-color: #fee3d9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size:13px;
	color:#9d553c;
}
.campaign_summary_green_top{
	padding: 10px; background-color: #d8f4b0;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	font-size:13px;
	color:#538609;
}
.campaign_summary_red_top{
	padding: 10px; background-color: #fee3d9;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	font-size:13px;
	color:#9d553c;
}
.campaign_summary_top{
	padding: 10px; background-color: #edece7;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	font-size:13px;
	color:#5b5b59;
}
.campaign_summary_green_bottom{
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #d8f4b0;
	border-top:0px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	background:#ebfad6;
	font-size:13px;
	color:#7aac31;
}
.campaign_summary_red_bottom{
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #fee3d9;
	border-top:0px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	background:#fff6f2;
	font-size:13px;
	color:#9d553c;
}
.campaign_summary_bottom{
	margin-bottom: 10px;
	padding: 10px;
	border:1px solid #edece7;
	border-top:0px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	background:#f6f5f2;
	font-size:13px;
	color:#5b5b59;
}
.campaign_summary_options{
	float: right;
	font-size:11px;
	padding-top:1px;
}

.campaign_summary_options a, .campaign_summary_options a:visited{
	color:#999;
}


.campaign_summary_green .campaign_summary_options a,
.campaign_summary_green .campaign_summary_options a:visited{
	color:#6d9e27;
}

.campaign_summary_green_top .campaign_summary_options a,
.campaign_summary_green_top .campaign_summary_options a:visited{
	color:#6d9e27;
}


.campaign_summary_red .campaign_summary_options a,
.campaign_summary_red .campaign_summary_options a:visited{
	color:#9d553c;
}

.campaign_summary_red_top .campaign_summary_options a,
.campaign_summary_red_top .campaign_summary_options a:visited{
	color:#9d553c;
}
.tpl_selector_head{
	padding: 10px; background-color: #edece7; 
		border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;

 font-size:13px; color:#5b5b59;	
}
.tpl_selector{
	border: 2px solid #edece7;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	 font-size:13px; color:#5b5b59;	
}
.tpl_selector_nav{
	float: left; width: 175px; height: 600px; background:#f6f6f6; padding:15px;	
}
.tpl_selector_name{
background:#edece7;	
color:#aeada7;
font-size:11px;
padding:3px;
padding-left:5px;
padding-right:5px;
}
/*
.tpl_selector_name img{
position:relative;
margin-top:-250px;
border:2px solid #EDECE7
z-index:99909;
}
.tpl_selector_name div div{
}
*/
